<div class="field">
	<label for="email-server" translate>Email Server</label>
	<input type="text" id="email-server" placeholder="{{:: 'Email Server'|translate }}"
      ng-model="provider.config.server" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="email-server-port" translate>Email Server Port</label>
	<input type="text" id="email-server-port" placeholder="{{:: 'Email Server Port'|translate }}"
      ng-model="provider.config.port" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="email-server-user" translate>User</label>
	<input type="text" id="email-user" placeholder="{{:: 'Email User'|translate }}"
      ng-model="provider.config.user" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="email-server-password" translate>Password</label>
	<input type="password" id="email-user=password" placeholder="{{:: 'Email Password'|translate }}"
      ng-model="provider.config.password" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="email-server-mailbox" translate>Mailbox</label>
	<input type="text" id="email-user=mailbox" placeholder="{{:: 'Email mailbox'|translate }}"
      ng-model="provider.config.mailbox" required
      ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="email-server-filter" translate>Filter</label>
  	<input type="text" id="email-user=filter" placeholder="{{:: 'Email Filter'|translate }}"
      ng-model="provider.config.filter" required
      ng-change="$parent.setConfig(provider)">
</div>