<div class="filter-tab">
    <fieldset class="clearfix">
        <div class="multiple">
            <div class="field">
                <label translate>Headline</label>
                <input type="text" class="fullwidth-input" ng-model="rule.filter.headline">
            </div>
            <div class="field">
                <label translate>Keyword</label>
                <input type="text" class="fullwidth-input" ng-model="rule.filter.slugline">
            </div>
            <div class="field">
                <label translate>Body</label>
                <input type="text" class="fullwidth-input" ng-model="rule.filter.body">
            </div>
        </div>
    </fieldset>

    <div class="field">
        <label>
            <span translate>Subjects</span>
            <a class="btn btn-info add" ng-click="showNewSubject = true;">
                <i class="icon-plus-small icon-white"></i>
            </a>
        </label>
        <ul class="pills-list clearfix">
            <li class="pull-left" ng-repeat="subject in rule.filter.subject">
                <div class="name right-pad">{{subject.name}}</div>
                <div class="actions">
                    <button ng-click="removeSubject(subject)" title="{{:: 'Remove subject' | translate }}"><i class="icon-trash"></i></button>
                </div>
            </li>
        </ul>
        <div ng-show="showNewSubject" sd-typeahead items="subjects" term="subjectTerm" search="searchSubjects(term)" select="selectSubject(item);showNewSubject = false">
            <ul>
                <li typeahead-item="s" ng-repeat="s in filteredSubjects">
                    <span ng-show="s.path">{{s.path}} </span>{{s.name}}
                </li>
            </ul>
        </div>
        <button ng-show="showNewSubject" class="btn" ng-click="showNewSubject = false" translate>Cancel</button>
    </div>


    <div class="field">
        <label>
            <span translate>Categories</span>
            <a class="btn btn-info add" ng-click="showNewCategory = true;">
                <i class="icon-plus-small icon-white"></i>
            </a>
        </label>
        <ul class="pills-list clearfix">
            <li class="pill-small pull-left" ng-repeat="category in rule.filter.category">
                <div class="name right-pad">{{category.name}}</div>
                <div class="actions">
                    <button ng-click="removeCategory(category)" title="{{:: 'Remove category' | translate }}"><i class="icon-trash"></i></button>
                </div>
            </li>
        </ul>
        <div ng-show="showNewCategory" sd-typeahead items="categories" term="categoryTerm" search="searchCategories(term)" select="selectCategory(item);showNewCategory = false">
            <ul>
                <li typeahead-item="c" ng-repeat="c in filteredCategories">
                    <span ng-show="c.path">{{c.path}} </span>{{c.name}}
                </li>
            </ul>
        </div>
        <button ng-show="showNewCategory" class="btn" ng-click="showNewCategory = false" translate>Cancel</button>
    </div>

    <div class="field">
        <label>
            <span translate>Genres</span>
            <a class="btn btn-info add" ng-click="showNewGenre = true;">
                <i class="icon-plus-small icon-white"></i>
            </a>
        </label>
        <ul class="pills-list clearfix">
            <li class="pill-small pull-left" ng-repeat="genre in rule.filter.genre">
                <div class="name right-pad">{{genre}}</div>
                <div class="actions">
                    <button ng-click="removeGenre(genre)" title="{{:: 'Remove genre' | translate }}"><i class="icon-trash"></i></button>
                </div>
            </li>
        </ul>
        <div ng-show="showNewGenre" sd-typeahead items="genres" term="genreTerm" search="searchGenres(term)" select="selectGenre(item);showNewGenre = false">
            <ul>
                <li typeahead-item="g" ng-repeat="g in filteredGenres">
                    {{g.name}}
                </li>
            </ul>
        </div>
        <button ng-show="showNewGenre" class="btn" ng-click="showNewGenre = false" translate>Cancel</button>
    </div>

    <div class="field">
        <label translate>Item types</label>
        <div class="type-filter-box">
            <button class="btn btn-light pull-left"
                tooltip="{{typeLookup[type]|translate}}" tooltip-placement="bottom"
                ng-repeat="type in typeList"
                ng-click="toggleType(rule, type)"
                ng-class="{active: isTypeChecked(rule, type)}">
                    <i class="filetype-icon-{{type}}"></i>
            </button>
        </div>
    </div>

</div>
