<div class="schedule-tab">

    <div class="field">
        <label translate>Days</label>
        <div class="day-filter-box clearfix" sd-weekday-picker data-model="rule.schedule.day_of_week"></div>
    </div>

    <div class="field">
        <label translate>Start Time (inclusive)</label>
        <span
            sd-timepicker-alt
            no-utc-convert="true"
            data-model="rule.schedule.hour_of_day_from"></span>
    </div>

    <div class="field">
        <label translate>End Time (exclusive)</label>
        <span
            sd-timepicker-alt
            no-utc-convert="true"
            data-model="rule.schedule.hour_of_day_to"></span>
    </div>

    <div class="field">
        <label translate>Time Zone</label>
        <div class="control" ng-hide="rule.schedule.time_zone">
            <ul sd-typeahead
                items="matchingTimeZones"
                term="tzSearchTerm"
                search="searchTimeZones(term)"
                select="selectTimeZone(item)"
                always-visible="tzSearchTerm">
                <li
                    typeahead-item="tz"
                    ng-repeat="tz in matchingTimeZones track by tz"
                    >{{ ::tz }}</li>
                <li ng-show="tzSearchTerm && matchingTimeZones.length === 0"
                    class="no-match"
                    translate>(no matches)</li>
            </ul>

            <p class="discreet" translate>
                If not set, the UTC+0 time zone is assumed.
            </p>
        </div>

        <ul class="pills-list clearfix" ng-show="rule.schedule.time_zone">
            <li class="pull-left">
                <div class="name right-pad">{{rule.schedule.time_zone}}</div>
                <div class="actions">
                    <button
                        ng-click="clearSelectedTimeZone()"
                        title="{{:: 'Clear' | translate }}"
                        ><i class="icon-trash"></i></button>
                </div>
            </li>
        </ul>
    </div>

</div>
