<div class="schedule-tab">

    <div class="field">
        <label translate>Days</label>
        <div class="day-filter-box clearfix">
            <button class="btn btn-light pull-left"
                ng-repeat="day in dayList"
                ng-click="toggleDay(rule, day)"
                ng-class="{active: isDayChecked(rule, day)}">
                    {{dayLookup[day]|translate}}
            </button>
        </div>
    </div>

    <div class="field">
        <label translate>Start Time</label>
        <span sd-timepicker-alt data-model="rule.schedule.hour_of_day_from"></span>
    </div>

    <div class="field">
        <label translate>End Time</label>
        <span sd-timepicker-alt data-model="rule.schedule.hour_of_day_to"></span>
    </div>

</div>
