<div class="general-tab">
    <fieldset>
        <div class="field">
            <label translate>Rule name</label>
            <input type="text" class="half-input" placeholder="{{ 'Rule name'|translate }}" ng-model="rule.name" required>
            <button class="btn btn-info" ng-click="remove()">
                <i class="icon-trash icon-white"></i> <span translate>Delete Rule</span>
            </button>
        </div>
        <div class="field">
            <label translate>Summary</label>
            <fieldset>
                <div class="multiple summary">
                    <div class="field">
                        <label translate>Filter</label>
                        <div ng-show="rule.filter.headline">
                            <span class="title" translate>Headline</span>: {{rule.filter.headline}}
                        </div>
                        <div ng-show="rule.filter.slugline">
                            <span class="title" translate>Keyword</span>: {{rule.filter.slugline}}
                        </div>
                        <div ng-show="rule.filter.body">
                            <span class="title" translate>Body</span>: {{rule.filter.body}}
                        </div>
                        <div ng-show="rule.filter.subject">
                            <span class="title" translate>Subjects</span>:
                            <ul>
                                <li ng-repeat="subject in rule.filter.subject">
                                    - {{subject.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-show="rule.filter.category">
                            <span class="title" translate>Categories</span>:
                            <ul>
                                <li ng-repeat="category in rule.filter.category">
                                    - {{category.name}}
                                </li>
                            </ul>
                        </div>
                        <div ng-show="rule.filter.genre">
                            <span class="title" translate>Genres</span>:
                            <ul>
                                <li ng-repeat="genre in rule.filter.genre">
                                    - {{genre}}
                                </li>
                            </ul>
                        </div>
                        <div ng-show="rule.filter.type">
                            <span class="title" translate>Item types</span>:
                            <ul>
                                <li ng-repeat="itemType in rule.filter.type">
                                    - <span translate>{{typeLookup[itemType]}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        <label translate>Action</label>
                        <div ng-show="rule.actions.fetch">
                            <span class="title" translate>Fetch</span>:
                            <ul>
                                <li ng-repeat="fetchAction in rule.actions.fetch">
                                    - {{deskLookup[fetchAction.desk].name}} / {{stageLookup[fetchAction.stage].name}} / {{macroLookup[fetchAction.macro].label}}
                                </li>
                            </ul>
                        </div>
                        <div ng-show="rule.actions.publish">
                            <span class="title" translate>Publish</span>:
                            <ul>
                                <li ng-repeat="publishAction in rule.actions.publish">
                                    - {{deskLookup[publishAction.desk].name}} / {{stageLookup[publishAction.stage].name}}
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="title" translate>Exit</span>:
                            <span ng-show="rule.actions.exit" translate>On</span>
                            <span ng-hide="rule.actions.exit" translate>Off</span>
                        </div>
                    </div>
                    <div class="field">
                        <label translate>Schedule</label>
                        <div ng-show="rule.schedule.day_of_week">
                            <span class="title" translate>Days</span>:
                            <ul>
                                <li ng-repeat="day in rule.schedule.day_of_week">
                                    - <span translate>{{dayLookup[day]}}</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span class="title" translate>Start time</span>:
                            <span translate>{{rule.schedule.hour_of_day_from|insert:2:':'}}</span>
                        </div>
                        <div>
                            <span class="title" translate>End time</span>:
                            <span translate>{{rule.schedule.hour_of_day_to|insert:2:':'}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </fieldset>
</div>