<div class="split-content">
    <div class="header">
        <h2 translate>Ingest sources</h2>
        <button class="btn btn-info pull-right" ng-click="edit()">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Source</span>
        </button>
    </div>

    <div class="content">
        <ul class="pills-list provider-list">
            <li ng-repeat="provider in providers._items" class="clearfix">
                <div class="header">
                    <h6>{{ provider.name }}<span class="label offProvider" ng-if="provider.is_closed" translate>closed</span></h6>
                    <div class="last-updated" ng-if="provider.last_updated">
                        <span translate>Last updated</span> {{ provider.last_updated | reldate }}
                    </div>
                    <div class="actions">
                        <button ng-click="gotoIngest(provider.source)" title="{{:: 'Go to items' | translate }}"><i class="icon-external"></i></a>
                        <button ng-click="edit(provider)" title="{{:: 'Edit source' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(provider)" ng-show="!provider.last_item_update" title="{{:: 'Remove source' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div sd-modal data-model="provider" class="ingestsource-modal moz-scroll-fix modal-large">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="provider._id" translate>Edit Source "{{ origProvider.name }}"</h3>
        <h3 translate ng-hide="provider._id" translate>Add New Source</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" ng-submit="save()">
            <fieldset>
                <tabset>
                    <tab heading="General" class="TabContent">
                        <div class="field">
                            <label class="right">
                                {{:: 'Status' | translate }}
                                <span tooltip="{{ provider.is_closed ? 'Open' : 'Close'  | translate }}" tooltip-placement="right">
                                    <span sd-switch-inverted ng-model="provider.is_closed"></span>
                                </span>
                            </label>
                        </div>
                        <div class="field">
                            <label for="provider-type" translate>Source Type</label>
                            <select id="provider-type" required ng-model="provider.type" ng-options="key as val.label for (key, val) in types"></select>
                        </div>

                        <div class="field">
                            <label for="provider-name" translate>Provider Name</label>
                            <input type="text" id="provider-name" ng-model="provider.name" required>
                        </div>

                        <div class="field">
                            <label for="source-name" translate>Source Name</label>
                            <input type="text" id="source-name" ng-model="provider.source" required>
                        </div>

                        <div class="field">
                                <label for="schedule-minutes" translate>Update every</label>
                                <select id="schedule-minutes" class="input-mini"
                                    ng-model="provider.update_schedule.minutes"
                                    ng-options="min as min for min in minutes"
                                ></select> <span translate>min</span>
                                <select class="input-mini"
                                    ng-model="provider.update_schedule.seconds"
                                    ng-options="sec as sec for sec in seconds"
                                ></select> <span translate>sec</span>
                        </div>

                        <div class="field">
                                <label for="idle-hours" translate>Notify when idle for more than</label>
                                <select id="idle-hours" class="input-mini"
                                    ng-model="provider.idle_time.hours"
                                    ng-options="hrs as hrs for hrs in hours"
                                ></select> <span translate>hrs</span>
                                <select id="idle-minutes" class="input-mini"
                                    ng-model="provider.idle_time.minutes"
                                    ng-options="min as min for min in minutes"
                                ></select> <span translate>min</span>
                        </div>

                        <div sd-content-expiry data-item="provider" data-preview="false" data-expiryfield="content_expiry" data-header="Content Expiry"></div>

                        <div class="field credentials">
                            <div ng-include="types[provider.type].templateUrl"></div>
                        </div>

                        <div class="field">
                            <label for="ruleset" translate>Ruleset</label>
                            <select id="ruleset" ng-model="provider.rule_set" ng-options="r._id as r.name for r in rulesets">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="field">
                            <label for="routing" translate>Routing Scheme</label>
                            <select id="routing" ng-model="provider.routing_scheme" ng-options="rs._id as rs.name for rs in routingScheme">
                                <option value=""></option>
                            </select>
                        </div>
                    </tab>
                    <tab heading="Notification" class="TabContent">
                        <div class="field">
                            <label>
                                {{ :: 'Update' | translate}}
                                <span sd-switch ng-model="provider.notifications.on_update"></span>
                            </label>
                        </div>
                        <div class="field">
                            <label>
                                {{ :: 'Close' | translate}}
                                <span sd-switch ng-model="provider.notifications.on_close"></span>
                            </label>
                        </div>
                        <div class="field">
                            <label>
                                {{ :: 'Open' | translate}}
                                <span sd-switch ng-model="provider.notifications.on_open"></span>
                            </label>
                        </div>
                        <div class="field">
                            <label>
                                {{ :: 'Error' | translate}}
                                <span sd-switch ng-model="provider.notifications.on_error"></span>
                            </label>
                        </div>
                    </tab>

                     <tab heading="Critical Errors" class="TabContent" ng-show="provider.type" ng-click="fetchSourceErrors()">
                        <div class="content privileges-settings">
                            <div class="horizontal">
                                <div class="roles-list">
                                    <div ng-repeat="(key, val) in provider.source_errors | orderBy:name" class="field">
                                        <label>
                                            {{key}}: {{val}}
                                            <span sd-switch ng-model="provider.critical_errors[key]"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid" translate>Save</button>
    </div>
</div>
