<div class="split-content">

    <div class="header">
        <h2 translate>Ingest Rule sets</h2>
        <button class="btn btn-info pull-right" ng-click="edit({})">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Ruleset</span>
        </button>
    </div>

    <div class="content">
        <ul class="pills-list ruleset-list">
            <li ng-repeat="ruleset in rulesets">
                <div class="header">
                    <div class="name">{{ruleset.name}}</div>

                    <div class="actions">
                        <button ng-click="edit(ruleset)" title="{{:: 'Edit rule set' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(ruleset)" title="{{:: 'Remove rule set' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div sd-modal data-model="editRuleset" class="ruleset-modal modal-strech">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="editRuleset._id" translate>Edit Rule set</h3>
        <h3 translate ng-hide="editRuleset._id" translate>Add New Rule Set</h3>
    </div>

    <div class="modal-body">
        <form name="rulesetForm">
            <div class="split-content">
                <header>
                    <input type="text" class="input-xlarge" placeholder="{{ 'Rule set name'|translate }}" ng-model="editRuleset.name" required>
                    <button class="btn btn-info pull-right" ng-disabled="!rulesetForm.$valid" ng-click="addRule()"><i class="icon-plus-small icon-white"></i> {{:: 'Add rule' | translate}}</button>
                </header>
                <div class="content">
                    <ul sd-sortrules class="rule-list">
                        <li ng-repeat="rule in editRuleset.rules">
                            <div class="order">#{{$index}}</div>
                            <fieldset>
                                <div class="multiple">
                                    <div class="field">
                                        <input type="text" placeholder="old" ng-model="rule.old" required>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="new" ng-model="rule.new">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions">
                                <button ng-click="removeRule(rule)"><i class="icon-trash"></i></button>
                            </div>
                        </li>
                    </ul>
                    <p ng-if="!editRuleset.rules" translate>No rules defined in a set.</p>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save(editRuleset)" ng-disabled="!rulesetForm.$valid" translate>Save</button>
    </div>
</div>