<div class="field">
	<label for="reuters_url" translate>Feed URL</label>
	<input type="text" id="reuters_url" placeholder="{{ 'feed url'|translate }}" ng-model="provider.config.url" required ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="reuters_auth_url" translate>URL for Authentication</label>
	<input type="text" id="reuters_auth_url" placeholder="{{ 'authentication url'|translate }}" ng-model="provider.config.auth_url" required ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="reuters_username" translate>Username</label>
	<input type="text" id="reuters_username" placeholder="{{ 'username'|translate }}" ng-model="provider.config.username" required ng-change="$parent.setConfig(provider)">
</div>
<div class="field">
	<label for="reuters_password" translate>Password</label>
	<input type="text" id="reuters_password" placeholder="{{ 'password'|translate }}" ng-model="provider.config.password" required ng-change="$parent.setConfig(provider)">
</div>
