<div class="field">
  <label for="rss_url" translate>Host</label>
  <input type="url" id="rss_url"
      placeholder="{{:: 'RSS Feed URL'|translate }}"
      ng-model="provider.config.url" required
      ng-change="$parent.setConfig(provider)">
</div>

<div class="field">
<label for="auth_required" translate>
  <input type="checkbox" id="auth_required"
      ng-model="provider.config.auth_required"
      ng-change="$parent.setRssConfig(provider)"
    >Requires Authentication</label>
</div>

<fieldset ng-show="provider.config.auth_required" class="separated">
  <legend translate>Authentication Info</legend>
  <div class="field">
    <label for="feed_username" translate>Username</label>
    <input type="text" id="feed_username"
        placeholder="{{:: 'Username'|translate }}"
        ng-model="provider.config.username"
        ng-required="provider.config.auth_required"
        ng-change="$parent.setConfig(provider)">
  </div>
  <div class="field">
    <label for="feed_password" translate>Password</label>
    <input type="password" id="feed_password"
        placeholder="{{:: 'Password'|translate }}"
        ng-model="provider.config.password"
        ng-required="provider.config.auth_required"
        ng-change="$parent.setConfig(provider)">
  </div>
</fieldset>

<fieldset class="separated">
  <legend translate>Content fields</legend>
  <div class="flex-group header">
    <div class="flex-field">
      <label for="" translate>Content field</label>
    </div>
    <div class="flex-field">
      <label for="" translate>Alias</label>
    </div>
    <div class="flex-field-empty">
    </div>
  </div>
  <div class="flex-group">
    <div class="flex-field">
      <select ng-model="" ng-options="">
        <option value="">dfsfdsf</option>
        <option value="">some text</option>
        <option value="">Lorem ipsum dolor sit amet</option>
      </select>
    </div>
    <div class="flex-field">
      <input type="text" id=""
          placeholder="Type field alias"
          ng-model=""
          ng-required="">
    </div>
    <button class="btn btn-default" ng-click="">
      <i class="icon-close-small"></i>
    </button>
  </div>
  <div class="flex-group">
    <div class="flex-field">
      <select ng-model="" ng-options="">
        <option value="">dfsfdsf</option>
        <option value="">some text</option>
        <option value="">Lorem ipsum dolor sit amet</option>
      </select>
    </div>
    <div class="flex-field">
      <input type="text" id=""
          placeholder="Type field alias"
          ng-model=""
          ng-required="">
    </div>
    <button class="btn btn-default" ng-click="">
      <i class="icon-close-small"></i>
    </button>
  </div>
  <div class="flex-group">
    <div class="flex-field">
      <select ng-model="" ng-options="">
        <option value="">dfsfdsf</option>
        <option value="">some text</option>
        <option value="">Lorem ipsum dolor sit amet</option>
      </select>
    </div>
    <div class="flex-field">
      <input type="text" id=""
          placeholder="Type field alias"
          ng-model=""
          ng-required="">
    </div>
    <button class="btn btn-info" ng-click="">
      <i class="svg-icon-plus"></i>
    </button>
  </div>
</fieldset>