<div id="ingest-settings" sd-settings-view ng-init="tab = 'sources'">

    <div class="split-content">
        <ul class="nav nav-tabs">
            <li ng-class="{active: tab === 'sources'}" ng-show="showIngest">
                <button ng-click="tab = 'sources'" translate>Sources</button>
            </li>
            <li ng-class="{active: tab === 'rulesets'}" ng-show="showRuleset">
                <button ng-click="tab = 'rulesets'" translate>Rule sets</button>
            </li>
            <li ng-class="{active: tab === 'routing'}" ng-show="showRouting">
                <button ng-click="tab = 'routing'" translate>Routing</button>
            </li>
        </ul>  
        
        <div class="content">
            <div ng-if="tab === 'sources'" sd-ingest-sources-content></div>
            <div ng-if="tab === 'rulesets'" sd-ingest-rules-content></div>
            <div ng-if="tab === 'routing'" sd-ingest-routing-content></div>
        </div>
    </div>
</div>
