/app/scripts/.project
/npm-debug.log
/.settings
/.project
node_modules
dist
*.swp
*.swo
*.swn
.tmp
.sass-cache
app/scripts/bower_components
app/styles/css/bootstrap.css
po/
report/
screenshots/
coverage/
Thumbs.db
test-results.xml
.idea/
.vagrant/
.bower.json
e2e-test-results/
*.sublime-workspace
*.sublime-project
nbproject/
coveralls.json
lcov.info
