<div class="subnav subnav-fixed">

    <a class="btn btn-medium btn-info pull-right"><span class="medium-icon-add"></span> {{ 'Add Media'|translate }}</a>

    <div class="btn-group source-select">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Sources
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu sf-dropdown">
            <li><input type="checkbox" class="sf-checkbox" set-bg="1" ><i class="dropdown-icon-local"></i>Local Archive</li>
            <li><input type="checkbox" class="sf-checkbox" set-bg="1" ><i class="dropdown-icon-flickr"></i>Flickr</li>
            <li><input type="checkbox" class="sf-checkbox" set-bg="1" ><i class="dropdown-icon-instagram"></i>Instagram</li>
            <li><input type="checkbox" class="sf-checkbox" set-bg="1" ><i class="dropdown-icon-googleimg"></i>Google Images</li>
            <li><input type="checkbox" class="sf-checkbox" set-bg="1"><i class="dropdown-icon-reuters"></i>Reuters</li>
      </ul>
    </div>

    <input type="text" sd-searchbar />
</div>  

<section class="main-section">
    <div class="main-content">
        <div class="main-content-topnav">

            <span class="title" translate>All sources</span>
            <span class="info" ng-show="items.total_length">({{ items.total_length|number }})</span>
            
        
            <div class="btn-group pull-right">
                <a class="btn" ng-click="gridview=true"><i class="icon-th"></i></a>
                <a class="btn" ng-click="gridview=false"><i class="icon-th-list"></i></a>
            </div>
            
            

        </div>
        <div class="main-content-subnav">
            <div sd-pagination data-model="items"></div>
        </div>
        <div class="main-content-inner scroller" ng-class="{'grid-view':gridview, 'list-view': !gridview }">
           
           <div class="media-box" ng-class="{image: item.type == 'picture', selected : item.selected}" ng-repeat="item in items._items">
            
            <div class="list-field">
                <div sd-check ng-model="item.selected" ng-show="!gridview"></div>
            </div>
            

            <figure ng-if="item.renditions.thumbnail && gridview">
                <img ng-src="{{ item.renditions.thumbnail.href }}" alt="" title="{{ item.description }}" />
                <figcaption>{{ item.creditline }}</figcaption>
            </figure>
            <figure ng-show="item.type == 'text' && gridview">
                <small title="{{ item.headline }}">{{ item.headline }}</small>
            </figure>

            <div class="media-info" ng-if="gridview">
                <h5>{{ item.slugline }}</h5>
                <dl>
                    <dt translate>Source</dt>
                    <dd>{{ item.provider }}</dd>

                    <dt translate>Urgency</dt>
                    <dd>{{ item.urgency }}</dd>

                    <dt translate>Created</dt>
                    <dd><time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time></dd>
                </dl>
            </div>

            <div class="media-info"  ng-if="!gridview">
                <span class="list-field type-icon"><i class="filetype-icon-{{item.type}}"></i></span>
                <h5 class="list-field"  ng-click="edit(item)"><span class="item-provider">{{ item.provider }}</span>{{ item.headline }}
                </h5>

                <div class="item-right list-field">
                    <time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time>
                    <div class="item-functions">
                        <a class="list-field" ng-click="open('/archive/{{ item._id }}')"><i class="icon-pencil"></i></a>
                        <a class="list-field"><i class="icon-assign"></i></a>
                        <a class="list-field"><i class="icon-list-alt"></i></a>
                        <a class="list-field"><i class="icon-eye-open"></i></a>
                        <a class="list-field"><i class="icon-expand-thin"></i></a>
                        <a class="list-field"><i class="icon-dots"></i></a>

                    </div>
                </div>


            </div>
          </div>
          <div class="alert alert-info" ng-show="!items._items.length" translate>No results found.</div>
        </div>
    </div>
    
</section>



<div style="width: 820px; margin-left: -410px;" class="modal in" id="editDetailsModal" ng-show="editItem.type == 'text'">
    <div class="modal-header" style="overflow: hidden">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeEdit()">×</button>
        <h3 style="line-height: 2em" title="{{ editItem.headline }}">{{ editItem.headline }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <figure ng-if="editItem.renditions.viewImage">
                  <img ng-src="{{ editItem.renditions.viewImage.href }}" alt="" title="{{ editItem.description }}" />
                  <figcaption>&copy; {{ editItem.creditline }}</figcaption>
                </figure>

                <blockquote ng-if="editItem.body_html" sd-html ng-model="editItem.body_html">
                  <small ng-show="editItem.creditline">{{ editItem.creditline }}</small>
                </blockquote>

                <dl class="line-borders clearfix" ng-show>
                    <dt>File name</dt>
                    <dd>andromeda și câți alții.jpg</dd>
                    <dt>File size</dt>
                    <dd>163.44 KB</dd>
                </dl>
            </div>
            

            <div class="span6" ng-show>
                <fieldset>
                    <div class="metadata-language shadow-target" shadow-id="5" id="language-shadow" >
                        <select class="span2 edit-metadata-select" name="Language">
                            <option value="1" selected="selected">English</option>
                            <option value="2">Romanian</option>
                        </select>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn pull-right" ng-click="closeEdit()" translate>Cancel</button>
    </div>
</div>




<div class="modal lightbox-preview" id="viewDetailsModal" ng-show="editItem.type == 'picture'">
    <section class="lightbox-top">
        <a class="btn btn-dark" href="" ><i class="icon-pencil icon-white"></i> {{ 'Edit'|translate }}</a>
        <a class="btn btn-dark" href="" ><i class="icon-download-alt icon-white"></i> {{ 'Download'|translate }}</a>
        <a class="btn btn-dark" href="" ><i class="icon-trash icon-white"></i> {{ 'Delete'|translate }}</a>
        <a href="" class="lightbox-close" data-dismiss="modal" ng-click="closeEdit()"></a>
    </section>
    <section class="lightbox-left">
        <figure class="lightbox-large-preview">
            <img ng-src="{{ editItem.renditions.viewImage.href }}" alt="" title="{{ editItem.description }}" />
            <figcaption>&copy; {{ editItem.creditline }}</figcaption>
        </figure>
        <div class="lightbox-caption">{{ editItem.headline }}</div>
    </section>
    <section class="lightbox-right">
        <header>
            <h5 class="lightbox-title">{{ editItem.slugline }}</h5>
            <span class="lightbox-modified-info">{{ 'Modified:'|translate }} {{ editItem.versioncreated|date:'medium' }}</span>
            <span class="lightbox-media-type filetype-icon-photo"></span>
        </header>
        <div class="lightbox-media-data" >
            <div class="lightbox-descritpion">{{ editItem.description }}</div>
            <div class="tabmodule">
                <div class="tabmodule-header">
                    <i class="icon-chevron-down toggle-module-close"></i>
                    <i class="icon-chevron-right toggle-module-open"></i>
                    <span class="tabmodule-title" translate>Details</span>
                </div>
                <div class="tabmodule-content">
                    <dl class="metadata-details-new clearfix">
                        <dt>Conformance</dt><dd>Power</dd>
                        <dt>Rights info</dt><dd>AP</dd>
                        <dt>Provider</dt><dd>AP</dd>
                        <dt>Title</dt><dd>Sarcozy</dd>
                        <dt>Creator</dt><dd>John N. Doe</dd>
                        <dt>Contributor</dt><dd>John N. Doe, Jane F. Doe</dd>
                        <dt>Creditline</dt><dd>Aliquet massa nunc</dd>
                        <dt>Subject</dt><dd>French elections</dd>
                        <dt>City</dt><dd>Paris</dd>
                        <dt>Country</dt><dd>France</dd>
                        <dt>Date created</dt><dd>23.01.2011</dd>
                        <dt>Time created</dt><dd>06:30</dd>
                        <dt>Keywords</dt><dd>Sarcozy, france, french elections, elections</dd>
                        <dt>Headline</dt><dd>Lorem Ipsum dossier</dd>
                        <dt>Description</dt><dd>Habitasse porta sociis pottitor magnis natoque ac et, magna mus lacus</dd>
                        <dt>Caption</dt><dd>Pulvinar vel enim tristique</dd>
                    </dl>
                </div>
            </div>
            <a class="btn" href=""><i class="icon-list-alt"></i> {{ 'Edit metadata'|translate }}</a>
        </div>
    </section>
</div>
