<div class="subnav">

	<div class="button-stack">
		<div class="navbtn dropdown" sd-user-desks data-desk="desk"></div>
    </div>

</div>
<section class="main-section workspace-stream">
	<div class="activity-container">
		<div class="activity-log">
			<ul class="activity-list card-list">
				<li class="activity with-date" ng-repeat="activity in activities._items">
					<div class="date" ng-show="showDateHeader(activity)"><span>{{ activity._created | reldate }}</span></div>
	                <div>
	                    <figure class="avatar">
	                        <img sd-user-avatar data-src="user.picture_url">
	                    </figure>
	                    <div class="activity-content">
	                        <p><b>{{ activity.user.display_name }} </b>{{ activity.display_message }}</p>
	                    </div>
	                    <div class="activity-date "><time datetime="{{ activity._created }}" title="{{ activity._created | reldate}}" >{{ activity._created | reldate }}</time></div>
	                </div>
	            </li>
	            <li class="activity with-date"><div class="date"><span>09. June</span></div>
	                <div>
	                    <figure class="avatar">
	                        <img sd-user-avatar data-src="user.picture_url" >
	                    </figure>
	                    <div class="activity-content">
	                        <p><b>admin</b> created desks</p>
	                    </div>
	                    <div class="activity-date "><time datetime="2014-06-10T08:05:56.858Z" title="Tuesday, June 10 2014 10:05 AM" >one day ago</time></div>
	                </div>
	            </li>
			</ul>
		</div>
		<button class="btn activity-load-more" translate>Load more</button>
	</div>

	<div sd-workqueue></div>
	
</section>