<div ng-controller="IngestStatsConfigController" class="widget-config">
    <form class="form-horizontal">
        <fieldset>

            <div class="field">
                <label translate>Select source</label>
                <div class="control">
                    <select ng-model="configuration.source" class="input-medium">
                        <option value="source" translate>Source stats</option>
                        <option value="urgency" translate>Urgency stats</option>
                        <option value="type" translate>Item type stats</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label translate>Select color</label>
                <div class="control">
                    <select class="input-medium" ng-model="configuration.colorScheme" ng-options="scheme.name as scheme.name for scheme in schemes"></select>
                </div>
            </div>

        </fieldset>

    </form>

</div>