<form name="importForm" ng-submit="importForm.$valid && importUser(model)">

<div class="modal-header">
    <h3 class="pull-left">{{ activity.label | translate }}</h3>
    <button type="button" class="close" ng-click="reject()"><i class="icon-close-small"></i></button>
</div>

<div class="modal-body">
    <div class="editmode">
        <div class="details-info form-flat" ng-class="{shifted : error}">
            <div class="title" translate>Your Credentials</div>
            <fieldset>
                <div sd-info-item>
                  <label for="username" translate>username</label>
                  <input type="text" name="username" id="username" ng-model="model.username" required>
                </div>

                <div sd-info-item>
                  <label for="password" translate>password</label>
                  <input type="password" name="password" id="password" ng-model="model.password" required>
                </div>

                <div class="error-holder" ng-if="error.credentials">
                  <p class="alert alert-error" translate>{{error.message || 'Invalid credentials.'}}</p>
                </div>
            </fieldset>
            
            <div class="title" translate>User Profile to Import</div>
            <fieldset>
                <div sd-info-item>
                  <label for="profile" translate>profile</label>
                  <input type="text" name="profile" id="profile" ng-model="model.profile_to_import" required>
                </div>

                <div class="error-holder" ng-if="error.profile_to_import">
                  <p class="alert alert-error" translate>{{error.message || 'Profile Not found'}}</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn submit" ng-disabled="!importForm.$dirty || !importForm.$valid" translate>Import</button>
</div>

</form>