<div class="item-globalsearch" ng-if="flags.enabled">
    <div class="separator-handler"></div>
    <div class="popup advanced-globalsearch">
        <div class="content dropdown">
            <div class="advanced" ng-click="$event.stopPropagation()">
            	<button class="close" tabindex="4" ng-click="close();"><i class="icon-close-small"></i></button>
        		<div class="content">
        			<form>
                        <fieldset>
                            <div class="field">
                               <label>Story Name</label>
                               <div class="control">
                                   <input type="text" ng-keyup="openOnEnter($event)" ng-model="meta.unique_name" tabindex="1" sd-autofocus ng-if="flags.enabled">
                               </div>
                            </div>
                        </fieldset>
        			</form>
                    <div class="actions">
                        <button class="btn btn-info pull-right" ng-click="search()" tabindex="2" id="searchItemByNameBtn" translate>Go</button>
                        <button class="btn pull-right" ng-click="close();" tabindex="3" translate>Cancel</button>
                    </div>
        		</div>
            </div>
        </div>
    </div>
</div>