<form>
    <fieldset ng-if="context">
        <label> 
            <input type="radio" value="local" ng-model="repo.search"> 
            In Superdesk
        </label>
        <div ng-show="repo.search == 'local'">
            <div class="field">
                <label for="ingest-collection">
                    {{:: 'Ingest' | translate}}
                    <input type="checkbox" id="ingest-collection" ng-model="repo.ingest" ng-checked="repo.ingest">
                </label>
            </div>
            <div class="field">
                <label for="archive-collection">
                    {{:: 'Production' | translate}}
                    <input type="checkbox" id="archive-collection" ng-model="repo.archive" ng-checked="repo.archive">
                </label>
            </div>
            <div class="field">
                <label for="published-collection">
                    {{:: 'Published' | translate}}
                    <input type="checkbox" id="published-collection" ng-model="repo.published" ng-checked="repo.published">
                </label>
            </div>
            <div class="field">
                <label for="archived-collection">
                    {{:: 'Archived' | translate}}
                    <input type="checkbox" id="archived-collection" ng-model="repo.archived" ng-checked="repo.archived">
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset ng-if="context">
        <div ng-repeat="provider in providers">
            <label ng-if="provider.type == 'search'"> 
                <input type="radio" ng-value="provider.source" ng-model="repo.search"> 
                {{:: provider.name}}
            </label>
        </div>
    </fieldset>
    <fieldset ng-show="repo.search === 'local'">
        <div class="field">
            <label for="search-headline">
                {{:: 'Headline' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-headline" ng-model="meta.headline">
            </div>
        </div>

        <div class="field">
            <label for="search-slugline">
                {{:: 'Slugline' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-slugline" ng-model="meta.slugline">
            </div>
        </div>

        <div class="multiple">
            <div class="field">
                <label for="search-storyname">
                    {{:: 'Story Name' | translate}}
                </label>
                <input type="text" id="search-storyname" ng-model="meta.unique_name">
            </div>
            <div class="field">
                <label for="search-storytext">
                    {{:: 'Story Text' | translate}}
                </label>
                <input type="text" id="search-storytext" ng-model="meta.body_html">
            </div>
        </div>

        <div class="field" ng-if="repo.archive">
            <label for="search-creator">
                {{:: 'Creator' | translate}}
            </label>
            <input type="text" id="search-creator" ng-model="meta.original_creator">
        </div>

        <div class="field">
            <label for="search-subject">
                {{:: 'Subject' | translate}}
            </label>
            <div class="control" id="search-subject">
                <div sd-meta-terms data-item="subjectitems" data-field="subject" data-unique="qcode" data-list="subjectcodes" data-change="subjectSearch(subjectitems)"></div>
            </div>
        </div>
        <div class="field">
            <label for="from-desk">
                {{:: 'From Desk' | translate}}
            </label>
            <select
                id="from-desk" name="from-desk"
                ng-options="d._id as d.name for d in desks._items"
                ng-model="selectedDesk.from" ng-change="deskSearch()">
                <option value="" label=""></option>
            </select>
        </div>

        <div class="field">
            <label for="to-desk">
                {{:: 'To Desk' | translate}}
            </label>
            <select
                id="to-desk" name="to-desk"
                ng-options="d._id as d.name for d in desks._items"
                ng-model="selectedDesk.to" ng-change="deskSearch()">
                <option value="" label=""></option>
            </select>
        </div>

    </fieldset>
    <fieldset ng-show="repo.search === 'aapmm'">      
        <div class="field">
            <label for="search-slugline">
                {{:: 'Slugline' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-slugline" ng-model="meta.slugline">
            </div>
        </div>       
        <div class="field">
            <label for="search-decsription">
                {{:: 'Description' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-description" ng-model="meta.description">
            </div>
        </div>
            <div class="field">
            <label for="search-aapkeyword">
                {{:: 'AAP Image Keyword' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-aapkeyword" ng-model="meta.aapkeyword">
            </div>
        </div>       
    </fieldset>    
</form>
<div class="actions">
    <button class="btn btn-info pull-right" ng-click="search()" ng-disabled="!isSearchEnabled()" translate>Go</button>
    <button class="btn pull-right" ng-click="focusOnSearch();" translate>Cancel</button>
</div>