<div class="item-searchbar" ng-class="{focused: focused}" ng-click="$event.stopPropagation();">

    <label for="search-input" class="button search-icon"></label>

    <input id="search-input"
    	type="text"
    	placeholder="{{ 'Search'|translate }}"
    	ng-keyup="searchOnEnter($event)"
    	ng-model="query"
    	tabindex="1"
        ng-focus="focused = true">

    <button class="search-cancel" ng-click="cancel();" ng-if="query && focused">
        <i class="icon-close-small icon-white"></i>
    </button>

    <button id="search-button" ng-click="search();" class="button trigger" ng-if="focused" tabindex="2">
        <i class="svg-icon-right"></i>
    </button>

</div>