<form>
    <fieldset ng-if="context">
        <label> 
            <input type="radio" value="local" ng-model="repo.search"> 
            In Superdesk
        </label>
        <div ng-show="repo.search == 'local'">
            <div class="field">
                <label for="ingest-collection">
                    {{:: 'Ingest' | translate}}
                    <input type="checkbox" id="ingest-collection" ng-model="repo.ingest" ng-checked="repo.ingest" tabindex="4">
                </label>
            </div>
            <div class="field">
                <label for="archive-collection">
                    {{:: 'Production' | translate}}
                    <input type="checkbox" id="archive-collection" ng-model="repo.archive" ng-checked="repo.archive" tabindex="5">
                </label>
            </div>
            <div class="field">
                <label for="published-collection">
                    {{:: 'Published' | translate}}
                    <input type="checkbox" id="published-collection" ng-model="repo.published" ng-checked="repo.published" tabindex="6">
                </label>
            </div>
            <div class="field">
                <label for="text_archive-collection">
                    {{:: 'Text Archive' | translate}}
                    <input type="checkbox" id="text_archive-collection" ng-model="repo.text_archive" ng-checked="repo.text_archive" tabindex="7">
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset ng-if="context">
        <div ng-repeat="provider in providers">
            <label ng-if="provider.type == 'search'"> 
                <input type="radio" ng-value="provider.source" ng-model="repo.search"> 
                {{:: provider.name}}
            </label>
        </div>
    </fieldset>
    <fieldset>
        <div class="field">
            <label for="search-headline">
                {{:: 'Headline' | translate}}
            </label>
            <div class="control">
                <input type="text" id="search-headline" ng-model="meta.headline" tabindex="6">
            </div>
        </div>

        <div class="field">
            <label for="search-slugline">
                {{:: 'Keyword' | translate}}

            </label>
            <div class="control">
                <input type="text" id="search-slugline" ng-model="meta.slugline" tabindex="8">
            </div>
        </div>

        <div class="multiple">
            <div class="field">
                <label for="search-storyname">
                    {{:: 'Story Name' | translate}}
                </label>
                <input type="text" id="search-storyname" ng-model="meta.unique_name" tabindex="9">
            </div>
            <div class="field">
                <label for="search-storytext">
                    {{:: 'Story Text' | translate}}
                </label>
                <input type="text" id="search-storytext" ng-model="meta.body_html" tabindex="10">
            </div>
        </div>

        <div class="field" ng-if="repo.archive">
            <label for="search-creator">
                {{:: 'Creator' | translate}}
            </label>
            <input type="text" id="search-creator" ng-model="meta.original_creator" tabindex="12">
        </div>

        <div class="field">
            <label for="search-subject">
                {{:: 'Subject' | translate}}
            </label>
            <div class="control">
                <div sd-meta-terms data-item="subjectitems" data-field="subject" data-unique="qcode" data-list="subjectcodes" data-change="subjectSearch(subjectitems)"></div>
            </div>
        </div>
    </fieldset>
</form>
<div class="actions">
    <button class="btn btn-info pull-right" ng-click="search()" tabindex="13" translate>Go</button>
    <button class="btn pull-right" ng-click="focusOnSearch();" tabindex="14" translate>Cancel</button>
</div>