<div class="multi-action-bar" ng-if="multi.count">
	<button class="btn" ng-click="multi.reset()">cancel</button>
	<span id="multi-select-count"
		translate
		translate-n="multi.count"
		translate-plural="{{ multi.count }} Items selected">{{ multi.count }} Item selected</span>

	<div class="pull-right" ng-if="type === 'archive'">
		<button class="navbtn" ng-click="multiedit()" tooltip="{{ :: 'Multiedit' | translate }}" tooltip-placement="bottom">
    		<i class="big-icon-multiedit"></i>
        </button>
	</div>
</div>