<div class="multi-action-bar" ng-if="multi.count">
	<button class="btn" ng-click="multi.reset()">cancel</button>
	<span id="multi-select-count"
		translate
		translate-n="multi.count"
		translate-plural="{{ multi.count }} Items selected">{{ multi.count }} Item selected</span>

    <div class="pull-right" ng-if="type === 'archive' && state !== 'spiked'">
        <button class="navbtn strict" ng-click="action.createPackage()" title="{{ :: 'Create Package' | translate }}">
            <i class="big-icon-package-create"></i>
        </button>
        <button class="navbtn strict" ng-if="isOpenItemType('composite')" ng-click="action.addToPackage()" title="{{ :: 'Add to Current Package' | translate }}">
            <i class="big-icon-package-add"></i>
        </button>
    </div>
    
    <div class="dropdown strict highlights-dropdown pull-right" ng-if="type === 'archive' && state !== 'spiked'" title="{{ :: 'Mark item' | translate }}" dropdown>
         <button class="dropdown-toggle navbtn" dropdown-toggle>
            <i class="big-icon-marked-star"></i>
         </button>
         <ul class="dropdown-menu pull-right" sd-multi-mark-highlights-dropdown></ul>
    </div>

	<div class="pull-right" ng-if="type === 'archive'">
		<button class="navbtn strict" ng-click="action.multiedit()" ng-if="state !== 'spiked'" title="{{ :: 'Multiedit' | translate }}">
    		<i class="big-icon-multiedit"></i>
        </button>
        <button class="navbtn strict" ng-click="action.spikeItems()" title="{{ :: 'Spike' | translate }}"
        	ng-if="!spike && !publish && action.canSpikeItems()">
        	<i class="big-icon-spike"></i>
        </button>
        <button class="navbtn strict" ng-click="action.unspikeItems()" title="{{ :: 'Unspike' | translate }}" ng-if="state === 'spiked'">
        	<i class="big-icon-unspike"></i>
        </button>
	</div>

	<div class="pull-right" ng-if="type === 'ingest'">
		<button id="fetch-all-btn" class="navbtn strict" title="{{ :: 'Fetch' | translate }}" ng-click="action.send()">
			<i class="big-icon-fetch"></i>
		</button>
		<button id="fetch-all-as-btn" class="navbtn strict" title="{{ :: 'Fetch to' | translate }}" ng-click="action.sendAs()">
			<i class="big-icon-fetch-as"></i>
		</button>
    </div>
</div>