<div class="save-search" ng-hide="editSearch || edit && !editingSearch">
	<div ng-if="!editingSearch">
		<a id="clear_filters" class="save-search__link" ng-click="clear()" translate>Clear filters</a>
		<button id="save_search_init" class="btn btn-info" ng-click="editItem()" translate>Save Search</button>
	</div>
	<div ng-if="editingSearch">
		<button id="saveas_search_init" class="btn" ng-click="saveas()" translate ng-if="editingSearch">Save As</button>
		<button id="save_search_init" class="btn btn-info" ng-click="editItem()" ng-if="!editingSearch" translate>Save Changes</button>
		<button id="save_search_init" class="btn btn-info" ng-click="save(edit)" ng-if="editingSearch" translate>Save Changes</button>
	</div>
</div>

<div class="save-search-panel" ng-if="edit && activateSearchPane">
	<div class="save-search-panel__title" translate>Save search</div>
	<div class="search-content">
		<form name="viewsForm">
			<fieldset>
				<div class="field">
        	<input id="search_name" type="text" class="fullwidth-input line-input" ng-model="edit.name" placeholder="{{:: 'Name' | translate}}" required>
				</div>
				<div class="field">
					<textarea id="search_description" class="line-input" sd-auto-height ng-model="edit.description" placeholder="{{:: 'Description' | translate}}"></textarea>
				</div>
				<div class="field">
            <span id="search_global" sd-switch ng-model="edit.is_global"></span>
            <label class="label--inline" translate>Make global</label>
        </div>
			</fieldset>
		</form>
	</div>
	<div class="pull-right">
		<button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
		<button id="search_save" class="btn btn-primary" ng-click="save(edit)" ng-disabled="!viewsForm.$valid" translate>Ok</button>
	</div>
</div>
