
<div class="search-within-filter">
	<input id="search_saved_searches" type="text" placeholder="{{'Search saved searches' | translate}}">
	<button id="search_saved_searches_button" ng-click="searchSavedSearches()">
		<i class="svg-icon-right"></i>
	</button>
</div>   

<div class="list">
	<ul>
	    <li ng-repeat="view in views | orderBy:'name' " ng-click="select(view)" ng-class="{active: view == selected}">
	    	{{ view.name }}
	    	<button class="delete" ng-click="remove(view); $event.stopPropagation();"><i class="icon-trash"></i></button>
	    </li>
	</ul>
</div>

