<div>
    <div class="header">
        <div class="icon" ng-click="flags.facets = !flags.facets">
            <i class="icon-filter-large"></i>
        </div>
        <ul>
            <li ng-class="{active: sTab}" ng-click="sTab = true" translate>Advanced Search</li>
            <li ng-show="privileges.saved_searches == 1" ng-class="{active: !sTab}" ng-click="sTab = false" translate>Saved</li>
        </ul>
        <div class="doopen" ng-click="flags.facets = false"><i class="icon-backward-thin"></i></div>
    </div>
    <div class="content" ng-if="sTab">

        <div sd-search-within></div>

        <div sd-toggle-box data-title="{{ 'Parameters' | translate }}" data-open="false" data-mode="pane">
            <div sd-item-search data-repo="repo" data-context="context" class="pull-left"></div>
        </div>

        <div sd-toggle-box data-title="{{ 'Filters' | translate }}" data-open="true" data-mode="pane">
            <div sd-toggle-box data-title="{{ 'Content types' | translate }}" ng-hide="isEmpty('type')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.type">
                        <i class="filetype-icon-{{key}}"></i>
                        <input type="checkbox" ng-checked="hasFilter('type',key)" ng-click="toggleFilter('type', key)">
                        <span>{{ key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Desks' | translate }}" ng-hide="isEmpty('desk')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.desk">
                        <input type="checkbox" ng-checked="hasFilter('desk', value.id)" ng-click="toggleFilter('desk', value.id)">
                        <span>{{key | translate}} <i>{{ value.count }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Stages' | translate }}" ng-hide="isEmpty('stage')" data-open="true" >
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.stage">
                        <!-- <button ng-click="setFilter('stage', value.id)">{{key | translate}} <i>{{ value.count }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('stage', key)" ng-click="toggleFilter('stage', value.id)">
                        <span>{{key | translate}} <i>{{ value.count }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Sources' | translate }}" ng-hide="isEmpty('source')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.source">
                        <!-- <button ng-click="setFilter('source', key)">{{key | translate}} <i>{{ value }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('source',key)" ng-click="toggleFilter('source', key)">
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Categories' | translate }}" ng-hide="isEmpty('category')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.category">
                        <!-- <button ng-click="setFilter('category', key)">{{key | translate}} <i>{{ value }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('category',key)" ng-click="toggleFilter('category', key)">
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Urgency' | FacetLabels }}" ng-hide="isEmpty('urgency')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.urgency">
                        <!-- <button ng-click="setFilter('urgency', key)">News Value: {{key | translate}} <i>{{ value }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('urgency',key)" ng-click="toggleFilter('urgency', key)">
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'States' | translate }}" ng-hide="isEmpty('state')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.state">
                        <!-- <button ng-click="setFilter('state', key)">{{key | translate}} <i>{{ value }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('state',key)" ng-click="toggleFilter('state', key)">
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Dates' | translate }}" data-open="true">
                <ul class="filter-box">
                    <li class="stage-label ng-scope" ng-class="{active: spike}" style="max-width:33.333333333333336%" ng-repeat="(key,value) in aggregations.date">
                        <!-- <button ng-click="setDateFilter(key)">{{key}} <i>{{ value }}</i></button> -->
                        <input type="checkbox" ng-checked="hasFilter('date',key)" ng-click="toggleFilter('date', key)">
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
                <ul class="date-filter">
                    <li sd-date-param data-location="beforefirstcreated">
                        <label for="created_before" translate>Created before</label>
                       <div sd-datepicker ng-model="date"></div>
                    </li>
                    <li sd-date-param data-location="afterfirstcreated">
                        <label for="created_after" translate>Created after</label>
                        <div sd-datepicker ng-model="date"></div>
                    </li>
                </ul>
                <ul class="date-filter">
                    <li sd-date-param data-location="beforeversioncreated">
                        <label for="modified_before" translate>Modified before</label>
                        <div sd-datepicker ng-model="date"></div>
                    </li>
                    <li sd-date-param data-location="versioncreated">
                        <label for="modified_after" translate>Modified after</label>
                        <div sd-datepicker ng-model="date"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content views" ng-if="!sTab">
        <div sd-saved-searches></div>
    </div>
</div>
