<div>
    <div class="header">
        <div class="icon" ng-click="flags.facets = !flags.facets">
            <i class="icon-filter-large"></i>
        </div>
        <ul>
            <li ng-class="{active: sTab}" ng-click="sTab = true" translate>Advanced Search</li>
            <li ng-show="privileges.saved_searches == 1" ng-class="{active: !sTab}" ng-click="sTab = false" translate>Saved</li>
        </ul>
        <div class="doopen" ng-click="flags.facets = false"><i class="icon-backward-thin"></i></div>
    </div>
    <div class="content" ng-if="sTab">

        <div sd-search-within></div>

        <div sd-toggle-box data-title="{{ 'Parameters' | translate }}" data-open="false" data-mode="pane">
            <div sd-item-search data-repo="repo" data-context="context" class="pull-left"></div>
        </div>

        <div sd-toggle-box data-title="{{ 'Filters' | translate }}" data-open="true" data-mode="pane">
            <div sd-toggle-box data-title="{{ 'Content types' | translate }}" ng-hide="isEmpty('type')" data-open="true">
                <ul class="filter-box content-type-filters">
                    <li ng-repeat="(key,value) in aggregations.type" ng-click="toggleFilter('type', key)" ng-class="{checked: hasFilter('type',key)}">
                        <span class="hover-box">
                            <i class="filetype-icon-{{key}}"></i>
                            <span class="sd-checkbox" ng-checked="hasFilter('type',key)"></span>
                        </span>
                        <span>{{ key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Desks' | translate }}" ng-hide="isEmpty('desk')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.desk" ng-click="toggleFilter('desk', value.id)">
                        <span class="sd-checkbox" ng-checked="hasFilter('desk', value.id)"></span>
                        <span>{{key | translate}} <i>{{ value.count }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Stages' | translate }}" ng-hide="isEmpty('stage')" data-open="true" >
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.stage" ng-click="toggleFilter('stage', value.id)">
                        <span class="sd-checkbox" ng-checked="hasFilter('stage', key)"></span>
                        <span>{{key | translate}} <i>{{ value.count }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Sources' | translate }}" ng-hide="isEmpty('source')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.source" ng-click="toggleFilter('source', key)">
                        <span class="sd-checkbox" ng-checked="hasFilter('source',key)"></span>
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Categories' | translate }}" ng-hide="isEmpty('category')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.category" ng-click="toggleFilter('category', key)">
                        <span class="sd-checkbox" ng-checked="hasFilter('category',key)"></span>
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Urgency' | FacetLabels }}" ng-hide="isEmpty('urgency')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.urgency" ng-click="toggleFilter('urgency', key)">
                        <span class="sd-checkbox" ng-checked="hasFilter('urgency',key)"></span>
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'States' | translate }}" ng-hide="isEmpty('state')" data-open="true">
                <ul class="filter-box">
                    <li ng-repeat="(key,value) in aggregations.state" ng-click="toggleFilter('state', key)">
                        <span class="sd-checkbox" ng-checked="hasFilter('state',key)"></span>
                        <span>{{key | translate}} <i>{{ value }}</i></span>
                    </li>
                </ul>
            </div>

            <div sd-toggle-box data-title="{{ 'Dates' | translate }}" data-open="true">

               <form class="date-filter">
                    <div class="predefined-dates">
                        <div ng-repeat="(key,value) in aggregations.date" >
                            <button ng-click="toggleFilter('date', key)"
                                class="btn btn-mini" ng-class="{active: hasFilter('date',key)}"
                                >{{key}}</button>
                        </div>
                    </div>
                    <fieldset>
                        <div class="multiple">
                            <div class="field" sd-date-param data-location="beforefirstcreated">
                                <label for="created_before" translate>Created before</label>
                                <div sd-datepicker ng-model="date"></div>
                            </div>
                            <div class="field" sd-date-param data-location="afterfirstcreated">
                                 <label for="created_after" translate>Created after</label>
                                <div sd-datepicker ng-model="date"></div>
                            </div>
                        </div>
                        <div class="multiple">
                            <div class="field" sd-date-param data-location="beforefirstcreated">
                                <label for="modified_before" translate>Modified before</label>
                                <div sd-datepicker ng-model="date"></div>
                            </div>
                            <div class="field" sd-date-param data-location="afterfirstcreated">
                                <label for="modified_before" translate>Modified before</label>
                                <div sd-datepicker ng-model="date"></div>
                            </div>
                        </div>
                    </fieldset>

               </form>
            </div>
        </div>
    </div>
    <div class="content views" ng-if="!sTab">
        <div sd-saved-searches></div>
    </div>
</div>
