<div class="search-tags">
    <ul>
        <li ng-repeat="(type,keys) in tags.selectedFacets">
            <div ng-repeat="key in keys">
                <span>{{type| FacetLabels}}:</span>{{key}}<button ng-click="removeFilter(type, key)"><i class="icon-close-small icon-white"></i></button>
            </div>
        </li>
        <li ng-repeat="parameter in tags.selectedParameters">
            <div>
                <span>{{parameter}}</span><button ng-click="removeParameter(parameter)"><i class="icon-close-small icon-white"></i></button>
            </div>
        </li>
        <li ng-repeat="parameter in tags.selectedKeywords">
            <div>
                <span>{{parameter}}</span><button ng-click="removeParameter(parameter)"><i class="icon-close-small icon-white"></i></button>
            </div>
        </li>
    </ul>
</div>