<div class="split-content">
    <div class="header">
        <h2 translate>Destination Groups</h2>
        <button class="btn btn-info pull-right" ng-click="edit()">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Destination Group</span>
        </button>
    </div>
    
    <div class="content">
        <ul class="pills-list provider-list">
            <li ng-repeat="destinationGroup in destinationGroups._items" class="clearfix">
                <div class="header">
                    <h6>{{ destinationGroup.name }}</h6>
                    <div class="actions">
                        <button ng-click="edit(destinationGroup)" title="{{:: 'Edit Destination Group' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(destinationGroup)" title="{{:: 'Remove Destination Group' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<div sd-modal data-model="destinationGroup" class="output-channel-modal">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="destinationGroup._id" translate>Edit Destination Group "{{ origDestinationGroup.name }}"</h3>
        <h3 translate ng-hide="destinationGroup._id" translate>Add New Destination Group</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" ng-submit="save()">
            <fieldset>
                <div class="field">
                    <label for="destinationGroup-name" translate>Name</label>
                    <input type="text" id="destinationGroup-name" required ng-model="destinationGroup.name">
                </div>

                <div class="field">
                    <label for="destinationGroup-description" translate>Description</label>
                    <input type="text" id="destinationGroup-description" ng-model="destinationGroup.description">
                </div>

                <div class="field">
                    <label translate>Output channels</label>
                    <div sd-output-channels-list data-target="selectedOutputChannels" data-selector-target="selectorCodes">
                </div>

                <div class="field">
                    <label translate>Destination groups</label>
                    <div sd-search-list
                        data-endpoint="destination_groups"
                        data-label-key="name"
                        data-search-key="name"
                        data-disabled-items="[destinationGroup]"
                        data-selected-items="selectedDestinationGroups">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid" translate>Save</button>
    </div>
</div>
