<div>
    <input placeholder="{{'Search'|translate}}" ng-model="keyword">
    <div class="multi-select">
        <ul>
            <li ng-repeat="group in target">
                <span class="text">{{group.name}}</span>
                <span><button translate ng-click="removeGroup(group)">Remove</button></span>
            </li>
            <li ng-repeat="group in destinationGroups" ng-if="isSelected(group)">
                <span class="text">{{group.name}}</span>
                <span><button translate ng-click="addGroup(group)">Add</button></span>
            </li>
        </ul>
    </div>
</div>
