<div class="field">
    <label for="http_host" translate>Resource URL</label>
    <input type="text" id="http_host" placeholder="{{ :: 'Resource URL'|translate }}" ng-model="destination.config.resource_url" required ng-change="$parent.setConfig(destination)">
</div>
<div class="field">
    <label for="http_host" translate>Item URL</label>
    <input type="text" id="http_host" placeholder="{{ :: 'Item URL'|translate }}" ng-model="destination.config.item_url" required ng-change="$parent.setConfig(destination)">
</div>
