<div class="split-content">
    <div class="header">
        <h2 translate>Output Channels</h2>
        <button class="btn btn-info pull-right" ng-click="edit()">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Output Channel</span>
        </button>
    </div>
    
    <div class="content">
        <ul class="pills-list provider-list">
            <li ng-repeat="outputChannel in outputChannels._items" class="clearfix">
                <div class="header">
                    <h6>{{ outputChannel.name }}</h6>
                    <div class="actions">
                        <button ng-click="edit(outputChannel)" title="{{:: 'Edit Output Channel' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(outputChannel)" title="{{:: 'Remove Output Channel' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div sd-modal-view data-model="outputChannel" class="output-channel-modal">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="outputChannel._id" translate>Edit Output Channel "{{ origOutputChannel.name }}"</h3>
        <h3 translate ng-hide="outputChannel._id" translate>Add New Output Channel</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" ng-submit="save()">
            <fieldset>
                <div class="field">
                    <label for="outputChannel-name" translate>Name</label>
                    <input type="text" id="outputChannel-name" required ng-model="outputChannel.name">
                </div>

                <div class="field">
                    <label for="outputChannel-description" translate>Description</label>
                    <input type="text" id="outputChannel-description" ng-model="outputChannel.description">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid" translate>Save</button>
    </div>
</div>
