<div class="selector-code-edit">
    <label translate>Selector codes</label>
    <ul>
        <li ng-repeat="code in data.codes[item._id]">
            <input style="width: 50px;" maxlength="3" ng-model="code">
            <a ng-disabled="data.codes[item._id][$index] === code" ng-click="data.codes[item._id][$index] = code" title="{{::'Update'|translate}}">
                <i class="icon-pencil"></i>
            </a>
            <a type="button" ng-click="data.remove(item._id, code)" title="{{::'Remove'|translate}}">
                <i class="icon-trash"></i>
            </a>
        </li>
        <li>
            <input style="width: 50px;" maxlength="3" ng-model="newCode" placeholder="{{::'New'|translate}}">
            <a type="button" ng-click="data.add(item._id, newCode);newCode = null" title="{{::'Add'|translate}}" ng-disabled="!newCode">
                <i class="icon-plus"></i>
            </a>
        </li>
    </ul>
</div>