<div class="split-content">
    <div class="header">
        <h2 translate>Output Channels</h2>
        <button class="btn btn-info pull-right" ng-click="edit()">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Output Channel</span>
        </button>
    </div>

    <div class="content">
        <ul class="pills-list provider-list">
            <li ng-repeat="outputChannel in outputChannels._items" class="clearfix">
                <div class="header">
                    <h6>{{ outputChannel.name }}</h6>
                    <div class="actions">
                        <button ng-click="edit(outputChannel)" title="{{:: 'Edit Output Channel' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(outputChannel)" title="{{:: 'Remove Output Channel' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div sd-modal data-model="outputChannel" class="output-channel-modal modal-large">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="outputChannel._id" translate>Edit Output Channel "{{ origOutputChannel.name }}"</h3>
        <h3 translate ng-hide="outputChannel._id" translate>Add New Output Channel</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" ng-submit="save()">
            <fieldset>
                <tabset>
                    <tab heading="General" class="TabContent">
                        <div class="field">
                            <label class="right">
                                {{:: 'Status' | translate }}
                                <span tooltip="{{ outputChannel.is_active ? 'Deactivate' : 'Activate'  | translate }}" tooltip-placement="right">
                                    <span class="pull-right" id="outputChannel-active" sd-switch ng-model="outputChannel.is_active"></span>
                                </span>
                            </label>
                        </div>

                        <div class="field">
                            <label for="outputChannel-name" translate>Name</label>
                            <input type="text" id="outputChannel-name" required ng-model="outputChannel.name">
                        </div>

                        <div class="field">
                            <label for="outputChannel-description" translate>Description</label>
                            <input type="text" id="outputChannel-description" ng-model="outputChannel.description">
                        </div>

                        <div class="field">
                            <label translate>Format</label>
                            <select id="outputChannel-format" class="input" required ng-model="outputChannel.format">
                                <option value="nitf" translate>NITF</option>
                                <option value="newsml12" translate>NewsML 1.2</option>
                                <option value="AAP IPNEWS" translate>AAP IPNEWS</option>
                                <option value="AAP ANPA" translate>AAP ANPA</option>
                                <option value="ninjs" translate>NINJS</option>
                            </select>
                        </div>

                        <div class="field">
                            <label for="outputChannel-sequence_num_settings" translate>Sequence Number Settings</label>
                            <span translate>Minimum</span>
                            <input type="number" class="input-mini" ng-model="outputChannel.sequence_num_settings.min" min ="1"
                                   id="outputChannel-sequence_num_settings.min" ng-disabled="!can_update_seq_num_settings">
                            <span translate>Maximum</span>
                            <input type="number" class="input-mini" ng-model="outputChannel.sequence_num_settings.max" min ="1"
                                   id="outputChannel-sequence_num_settings.max" ng-disabled="!can_update_seq_num_settings">
                        </div>

                        <div class="field">
                            <label translate>Type</label>
                            <select id="outputChannel-type" class="input" required ng-model="outputChannel.channel_type">
                                <option value="metadata" translate>Metadata</option>
                                <option value="address" translate>Address</option>
                            </select>
                        </div>

                        <div class="field">
                          <label class="right">
                            {{:: 'Digital' | translate }}
                            <span tooltip="{{ outputChannel.is_digital ? 'Non-Digital' : 'Digital'  | translate }}" tooltip-placement="right">
                              <span class="pull-right" id="outputChannel-digital" sd-switch ng-model="outputChannel.is_digital"></span>
                            </span>
                          </label>
                        </div>

                        <div class="field">
                            <label>
                                <span translate>Subscribers</span>
                            </label>
                            <ul class="pills-list clearfix">
                                <li class="pull-left" ng-repeat="subscriber in outputChannel.destinations">
                                    <div class="name right-pad">{{subscriberLookup[subscriber].name}}</div>
                                    <div class="actions">
                                        <button type="button" ng-click="removeSubscriber(subscriber)" title="{{:: 'Remove subscriber' | translate }}"><i class="icon-trash"></i></button>
                                    </div>
                                </li>
                            </ul>
                            <select ng-show="newSubscriber._id" class="input" ng-model="newSubscriber._id" ng-change="saveNewSubscriber()">
                                <option ng-repeat="s in subscribers._items" ng-if="!isIncluded(s)" value="{{s._id}}" translate>{{:: s.name}}</option>
                            </select>
                            <button type="button" class="btn btn-info" ng-click="cancelNewSubscriber()" ng-show="newSubscriber._id">
                                <span translate>Cancel</span>
                            </button>
                            <button type="button" class="btn btn-info" ng-click="addNewSubscriber()" ng-hide="newSubscriber._id">
                                <i class="icon-plus-sign icon-white"></i>
                                <span translate>Add</span>
                            </button>
                        </div>
                    </tab>


                    <tab heading="Critical Errors" class="TabContent">
                        <div class="content privileges-settings">
                            <div class="horizontal">
                                <div class="roles-list">
                                    <div ng-repeat="(key, val) in all_errors | orderBy:name" class="field">
                                        <label>
                                            {{::key}}: {{::val}}
                                            <span sd-switch ng-model="outputChannel.critical_errors[key]"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid" translate>Save</button>
    </div>
</div>
