<div class="subnav">
    <h3 class="page-nav-title" translate>Publish Queue</h3>
</div>
<section class="main-section ingest-dashboard">
	<button ng-click="reload()">Refresh</button><i style="float:right;">Last refreshed at: {{ lastRefreshedAt | date:'dd-MM-yyyy HH:mm:ss' }}</i>
	<hr />
	<table class="table">
		<thead>
			<tr>
				<td>Sequence No</td>
				<td>Queue Id</td>
				<td>Article Id</td>
				<td>Formatted Article Id</td>
				<td>Output Channel</td>
				<td>Subscriber</td>
				<td>Destination</td>
				<td>Queued At</td>
				<td>Scheduled</td>
				<td>Transmit Started At</td>
				<td>Transmit Completed At</td>
				<td>Status</td>
				<td>Message</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="queue_item in publish_queue" class="{{queue_item.state | queueStatus}}">
				<td>{{formattedItemLookup[queue_item.formatted_item_id].published_seq_num}}</td>
				<td>{{queue_item._id}}</td>
				<td>{{queue_item.item_id}}</td>
				<td>{{queue_item.formatted_item_id}}</td>
				<td>{{outputChannelLookup[queue_item.output_channel_id].name}}</td>
				<td>{{subscriberLookup[queue_item.subscriber_id].name}}</td>
				<td>{{queue_item.destination.name}}</td>
				<td>{{queue_item._created | dateTimeString}}</td>
				<td>{{queue_item.publish_schedule | dateTimeString}}</td>
				<td>{{queue_item.transmit_started_at | dateTimeString}}</td>
				<td>{{queue_item.completed_at | dateTimeString}}</td>
				<td>{{queue_item.state}}</td>
				<td>{{queue_item.error_message}}</td>
			</tr>
		</tbody>
	</table>
</section>

