<div id="publish-settings" sd-settings-view ng-init="tab = 'subscribers'">

    <div class="split-content">
        <ul class="nav nav-tabs">
            <li ng-class="{active: tab === 'subscribers'}" ng-show="showSubscribers">
                <button ng-click="tab = 'subscribers'" translate>Subscribers</button>
            </li>
			<li ng-class="{active: tab === 'filter_conditions'}" ng-show="showFilterConditions">
                <button ng-click="tab = 'filter_conditions'" translate>Filter Conditions</button>
            </li>
            <li ng-class="{active: tab === 'publish_filters'}" ng-show="showFilterConditions">
                <button ng-click="tab = 'publish_filters'" translate>Publish Filters</button>
            </li>
            <li ng-class="{active: tab === 'filter_search'}">
                <button ng-click="tab = 'filter_search'" translate>Filter Search</button>
            </li>
        </ul>
        
        <div class="content">
            <div ng-if="tab === 'subscribers'" sd-admin-pub-subscribers></div>
            <div ng-if="tab === 'filter_conditions'" ng-include="'scripts/superdesk-publish/filters/view/filter-conditions.html'"></div>
            <div ng-if="tab === 'publish_filters'" sd-publish-filter></div>
            <div ng-if="tab === 'filter_search'">
                <div>
                    <div sd-filter-search data-search="search"></div>
                </div>
            </div>
        </div>
    </div>
</div>
