<article class="main-article" tabindex="0"><form name="articleEdit">
    <div class="editbar clearfix">
        <button class="btn btn-info pull-right"
            type="button"
            ng-click="save(item, articleEdit)"
            ng-disabled="articleEdit.$pristine && !item._autosave"
            translate>Save</button>
        <button class="btn btn-light pull-right"
            type="button"
            ng-click="remove(item)"
            translate>Remove Item</button>
    </div>
    <fieldset sd-article-edit></fieldset>
</form></article>
