<article class="main-article" tabindex="0"><form name="articleEdit">
    <div class="editbar clearfix">
        <button class="btn btn-info pull-right"
            type="button"
            ng-hide="isPublished(item)"
            ng-click="save(item, articleEdit)"
            ng-disabled="articleEdit.$pristine && !item._autosave"
            translate>Save</button>
        <button class="btn btn-light pull-right"
            type="button"
            ng-click="remove(item)"
            translate>Remove Item</button>
    </div>
    <div>
        <div class="state-label state-{{item.state}}">{{item.state}}</div>
        <fieldset ng-disabled="isPublished(item)" sd-article-edit></fieldset>
    </div>
</form></article>
