<div class="multiedit-menu">
    <ul>
        <li ng-repeat="item in items">
            <button ng-click="toggle(item._id); $event.stopPropagation();" ng-class="{disabled: item._id === current}">
                <span ng-show="item.headline">{{ item.headline }}</span>
                <span ng-show="!item.headline">{{ :: 'Untitled' | translate }}</span>
                <i class="icon-ok" ng-if="selected(item._id)"></i>
            </button>
        </li>
        <li ng-if="items.length === 0"><button translate>NO SUGGESTIONS.</button></li>
    </ul>
</div>
<div class="fieldset">
    <button class="btn btn-info btn-medium" ng-click="open(); $event.stopPropagation();" translate>Ok</button>
    <button class="btn btn-medium" translate>Cancel</button>
</div>