<ul class="stages-list">
    <li ng-click="stageSelect()" class="stage-label" 
		ng-class="{active: !stages.selected && !spike && !published}"
		style="max-width:{{100/(stages.stages.length + 3)}}%"
        ng-if="stages.stages.length">
		<a href="" translate>any</a>
	</li>
    <li ng-repeat="stage in stages.stages" ng-click="stageSelect(stage)" 
    	ng-class="{active: stage == stages.selected && !spike && !published}" class="stage-label" 
    	style="max-width:{{100/(stages.stages.length + 3)}}%"
        ng-if="stages.stages.length">
    	<a href="">{{ stage.name }}</a>
    </li>
    <li ng-if="type === 'archive'" class="stage-label" 
    	ng-class="{active: spike}"
    	style="max-width:{{100/(stages.stages.length + 3)}}%">
    	<a href="" ng-click="toggleSpike()" translate>Spiked</a>
    </li>
    <li ng-if="type === 'archive' && stages.stages.length" class="stage-label" 
        ng-class="{active: published}"
        style="max-width:{{100/(stages.stages.length + 3)}}%">
        <a href="" ng-click="togglePublished()" translate>Published</a>
    </li>
</ul>