<div class="subnav">
    <div class="button-stack right-stack">
        <button class="navbtn sd-create-btn" ng-click="create()"></button>
    </div>
</div>

<section class="main-section workspace-tasks">
    <div class="preview-layout" ng-class="{closed: !selected.preview}">
        <div class="list-pane task-list">
            <header>
            </header>
            <div class="content">
                <div class="stages">
                    <div class="board-holder"
                        sd-task-kanban-board
                        data-items="scheduled._items"
                        data-label="{{ :: 'UPCOMING' | translate }}"
                        data-css-class="todo"></div>

                    <div class="board-holder"
                        ng-repeat="stage in stages track by stage._id"
                        sd-task-kanban-board
                        data-items="stageItems[stage._id]"
                        data-label="{{ :: stage.name }}"
                        data-css-class="in_progress"
                        data-selected="selected"></div>

                    <div class="board-holder"
                        sd-task-kanban-board
                        data-items="published._items"
                        data-label="{{ :: 'DONE' | translate }}"
                        data-css-class="done"
                        data-selected="selected"></div>
                </div>
            </div>
        </div>
        <div class="preview-pane" ng-if="selected.preview" sd-task-preview data-item="selected.preview" data-onclose="preview()"></div>
    </div>
</section>

<div sd-modal data-model="newTask" class="create-task-popup modal-static modal-body-grey">

    <div class="modal-header"> <button class="close" ng-click="close()"><i class="icon-close-small"></i></button>
        <h3 translate>Create New Task</h3>
    </div>

    <div class="modal-body" ng-if="newTask">
        <form>
            <fieldset class="full">
                <textarea
                    sd-autoexpand
                    class="title"
                    ng-model="newTask.slugline"
                    placeholder="{{ :: 'Add content slugline' | translate}}"
                    tabindex="1"
                    sd-autofocus
                ></textarea>
            </fieldset>

            <fieldset>
                <textarea
                    sd-autoexpand
                    class="description"
                    ng-model="newTask.description_text"
                    placeholder="{{ :: 'Add task description' | translate}}"
                    tabindex="2"
                ></textarea>

                <div class="assignee-focus" sd-assignee-box data-desk-id="newTask.task.desk" data-user-id="newTask.task.user" tabindex="3"></div>
            </fieldset>

            <fieldset class="due">
                <div class="break"></div>
                <label translate>Due</label>
                <div class="clear field">
                    <div sd-datepicker ng-model="newTask.task.due_date"></div>
                </div>
                <div class="field">
                    <div sd-timepicker ng-model="newTask.task.due_time">
                </div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
        <button class="btn btn-primary" ng-disabled="!newTask.task.desk || !newTask.slugline" ng-click="save()" translate>Save</button>
    </div>

</div>
