<div class="widget-container" ng-controller="AggregateCtrl as agg">
    <div class="main-list" ng-class="{wrap: agg.selected}">
        <div class="search-box">
            <input type="text" placeholder="{{ :: 'Search' | translate }}"
                   ng-model="query"
                   ng-model-options="{debounce: 500}"
                   ng-change="agg.search(query)">
        </div>

        <div class="content-list content-list-holder" ng-if="!agg.loading">
            <div sd-shadow>
                <div class="desk" ng-repeat="group in agg.getGroups()">
                    <div class="stage" ng-if="group.type === 'stage'" ng-show="total" ng-init="open = true">

                        <div class="stage-header clearfix">
                            <div class="line"></div>
                            <button class="toggle pull-left" ng-class="{closed: !open}" ng-click="open = !open">
                                <i class="icon-chevron-down"></i>
                            </button>
                            <div  class="stage-name pull-left">
                                {{agg.deskLookup[agg.stageLookup[group._id].desk].name}} : <span>{{agg.stageLookup[group._id].name}} {{group.type}}</span>
                            </div>
                            <span class="label pull-right">{{total}}</span>
                        </div>

                        <div class="stage-content" ng-show="open"
                             sd-stage-items
                             data-stage="group._id"
                             data-total="total"
                             data-allowed="true"
                             data-show-empty="false"
                             data-action="agg.preview(item)"
                             data-selected="agg.selected"
                             data-filter="agg.query">
                        </div>
                    </div>

                    <div class="stage" ng-if="group.type === 'search'" ng-show="total" ng-init="open = true">

                        <div class="stage-header clearfix">
                            <div class="line"></div>
                            <button class="toggle pull-left" ng-class="{closed: !open}" ng-click="open = !open">
                                <i class="icon-chevron-down"></i>
                            </button>
                            <div class="stage-name pull-left">
                                {{agg.searchLookup[group._id].name}}
                            </div>
                            <span class="label pull-right">{{total}}</span>
                        </div>

                        <div class="stage-content" ng-show="open"
                             sd-stage-items
                             data-saved-search="agg.searchLookup[group._id]"
                             data-total="total"
                             data-allowed="true"
                             data-show-empty="false"
                             data-action="agg.preview(item)"
                             data-selected="agg.selected"
                             data-filter="agg.query">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="preview preview-widget" ng-init="contenttab = true" ng-class="{wrap: !agg.selected}">
        <div class="nav">
            <button class="backlink" href="" ng-click="agg.preview()" translate=""><span class="ng-scope">Back</span></button>
        </div>
        <ul class="nav nav-tabs">
            <li ng-class="{active: contenttab}">
                <button ng-click="contenttab = true" translate>Content</button>
            </li>
            <li ng-class="{active: !contenttab}">
                <button ng-click="contenttab = false" translate>Metadata</button>
            </li>
        </ul>
        <div class="content-item-preview" ng-if="agg.selected">
            <div class="content" ng-if="contenttab"
                 sd-media-preview-widget data-item="agg.selected"></div>
            <div ng-if="!contenttab"
                 sd-media-metadata data-item="agg.selected"></div>
        </div>
    </div>
</div>
