// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// Body reset
// ----------

body {
	margin: 0;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @sd-text;
	background-color: @sd-background;
	overflow: hidden;
	height:100%;
}

// Links
// -----

a {
	color: @linkColor;
	text-decoration: none;
}
a:hover {
	color: @linkColorHover;
	text-decoration: underline;
}



// Layouts
// --------------------------------------------

// main container
// ------------------------------------
#main-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding-top: @topspace;
	.box-sizing(border-box);
	background: @background-main;
	overflow: hidden;
	.transition(all 0.3s ease);

	&.menu {
		left: @sf-main-menu-width;
	}

        &.authoring {
            #workspace-container {
                box-shadow: 2px 0 10px 0 rgba(0,0,0,0.3);
                right: 44%;
                z-index:100;
                .transition(all .5s);
                @media only screen and (max-width : 1430px) {
                    right: 54%;
                }
            }

            #authoring-container {
                width: 44%;
                .transition(width .5s);
                @media only screen and (max-width : 1430px) {
                    width: 54%;
                }
                .content-item-preview {
                    display: block;
                }
            }
        }
        &.hideMonitoring {
            #workspace-container {
                right: 100%;
                margin-left: -44%;
            }
            #authoring-container {
                width: calc(~'100% - '@sidebar-width);
            }
            .content-item-preview {
            	display: none;
            }
        }
}

// authoring sidebar container
#workspace-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: @authoring-opened-articles;
        left: @sidebar-width;
        background-color: @sd-background;
}

#authoring-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

// Main section
// ------------------------------------

.main-section {
	position:absolute;
	top: @subnav-height+@topspace;
	bottom:0; left:0; right:0; 
	margin:0;
	padding:0;
	z-index:1;
	padding-bottom:35px !important; /* because of scratchpad*/
	&.with-subnav {
		.preview-layout {
			top : @nav-height;
			.preview-pane {
				.actions {
					padding: 15px 20px;
					height: 28px;
				}
				.user-details-pane {
					top: 40px;
				}
			}
		}
	}
}
.main-section.filter {
	top: @subnav-height+@topspace;
	bottom:0; left:0; right:0; 
	margin:0;
	padding:0;
	z-index:1;
	padding-bottom:35px !important; /* because of scratchpad*/
	&.with-subnav {
		.preview-layout {
			top : @nav-height;
			.preview-pane {
				.actions {
					padding: 15px 20px;
					height: 28px;
				}
				.user-details-pane {
					top: 40px;
				}
			}
		}
	}
}

.main-section.search {
	top: @topspace;
}


// Preview layout
// ------------------------------------
.action-bar { //overhidding the header of preview layout
	position: absolute;
	top: -96px;
	left: 0; right: 0;
	height: 48px;
	background: #fff;
	z-index: 1;
	.border-box();
	padding: 10px;
	.transition(all ease 0.35s);
	border-bottom: 1px solid #dfdfdf;
	&.show {
		top: -48px;
	}
}

.preview-layout {
	position: absolute;
	top: 0; right: 0;
	left: 0; bottom: 0;
	.transition(right ease 0.2s);
	.list-pane, .preview-pane {
		> header {
			height: @nav-height;
			.border-box();
			//border-bottom: 1px solid #dfdfdf;
			position: absolute;
			left: 0; right: 0; top: 0;
			.box-shadow(0 1px 0 0 rgba(0,0,0,0.1));
		}
		> .content {
			position: absolute;
			top: @nav-height + 1;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	.list-pane {
		position:absolute;
		background: @background-main;
		top: 0;
		right: 0;
		left: 0; bottom:0;
		border-right: 1px solid #d0d0d0;
		z-index: 1;
		.transition(right ease 0.2s);
		.shadow-list-holder {
			padding: 20px;
		}
		> header {
			background-color:@sd-background;
		}
		> .content {
			overflow: auto;
			right: @sidepreview-width;
	        @media only screen and (max-width : 1430px) {
	            right: @sidepreview-width - 40;
	        }
		}
	}
	.preview-pane {
		position: absolute;
		width: @sidepreview-width; 
		top: 48px;
		right: 0; bottom: 0;
		background: #fff;
		overflow-y: auto;
		.transition(right ease 0.2s);
		z-index: 2;
		.box-shadow(inset 2px 0 3px -1px #d8d8d8);
		> header {
			padding: 0 20px;
			position: relative;
			.btn {
				margin-top: 10px;
			}
			.close-preview {
				position: absolute;
				top: 14px; right: 14px;
				.opacity(60);
				background: none;
				border: 0;
				padding: 0;
				&:hover {
					.opacity(80);
				}
			}
		}
		> .content {
			.additional-info {
				border-bottom: 1px solid #dfdfdf;
				padding: 10px 20px;
			}
			.action-menu {
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
			}
		}
	}

	&.closed {
		.transition(right ease 0.2s);
		.list-pane {
			border-right: 0;
			> .content {
				right: 0 !important;
			}
		}
	}

    .content-item-preview {
        position: absolute;
        top:50px;
        right: 0;
        bottom: 0;
        @media only screen and (max-width : 1430px) {
            width: @sidepreview-width - 40;
        }
    }
}

.authoring {
    .preview-layout {
    	.list-pane {
			> .content {
		        @media only screen and (max-width : 1630px) {
		            right: @sidepreview-width - 40;
		        }
	            @media only screen and (max-width : 1430px) {
	                right: 0;
	            }
			}
		}
        .content-item-preview {
            @media only screen and (max-width : 1630px) {
	            width: @sidepreview-width - 40;
	        }
            @media only screen and (max-width : 1430px) {
                width: @sidepreview-width - 80;
                box-shadow: inset 4px 0 8px -5px rgba(0,0,0,0.9), 0 1px 12px 2px rgba(0,0,0,0.3), 0 1px 2px 1px rgba(0,0,0,0.3);
            }
        }
		&.closed {
			.content-item-preview {
	            @media only screen and (max-width : 1430px) {
	                box-shadow: none;
	            }
	        }
		}
    }
}

// Slide pane
// ---------------------------------------------

//Variables
@slide-pane-width: 400px;

.slide-pane {
    position: absolute;
    top: 1px; bottom: 0;
    right: -@slide-pane-width;

    width: @slide-pane-width;
    background-color: @white;
    z-index: @zindexSlidePane;
    .border-box();

    &.slide-pane--inset { 
        top: @nav-height * 2; 
        bottom: 30px; 
    }
    &.open { right: 0; }

    > .slide-pane__header {
        height: @nav-height;
        border-bottom: 1px solid #424242;
        padding: 0 20px;
        h3 {
            font-size: 20px;
            line-height: @nav-height;
            color: @black;
            .text-light();
            float: left;
        }
        .close {
            margin-top: 14px;
        }
    }

    > .slide-pane__content {
        position: absolute;
        width: 100%;
        top: @nav-height;
        bottom: 120px;
        overflow: auto;
        padding: 20px 15px 0 20px;
        .border-box();

        .dropdown {
            margin-bottom: 20px;
            .dropdown-toggle, .dropdown-menu {
                width: 100%;
            }
        }
    }

    > .slide-pane__footer {
        position: absolute;
        width: 100%;
        padding: 15px 15px 0 15px;
        bottom: 0;
        border-top: 1px solid #424242;
        .border-box();

        button {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            padding: 12px 15px;
        }
        
        .btn-list li { padding-bottom: 0; }
    }

    .btn-list {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            width: 48.5%;
            padding: 0 0 3%;
            &:nth-child(2n) { margin-left: 3%; }
            &.full-width { width: 100%; margin-left: 0; }
            input { min-height: 35px; }
            .btn__check { width: 100%; }
        }
    }

    // Stylings for slide pane
    &.slide-pane--dark {
        background-color: #3b3b3b;
        > .slide-pane__header {
            h3 {
                color: @white;
            }
        }
    }
}

// Split content
// ------------------------------------
.split-content {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	> .nav, > .header, > header {
		position: absolute;
		top: 0; left: 0; right: 0;
		height: @nav-height;
		border-bottom: 1px solid #f0f0f0;
		.border-box();
	}
	> .content {
		position: absolute;
		top: @nav-height; left: 0; right: 0; bottom: 0;
		overflow: auto;
		overflow-x: hidden;
		padding: 20px;
		background-color: #f8f8f8;
	}
}


// Tablist and tabpanes
// ------------------------------------

.tablist {
	.transition( all 0.3s ease);
	width:@tablist-width;
	position:absolute;
	top:0;
	bottom:0;
	z-index:20;
	background: @tablist-background;
	overflow:hidden;
	&.left-tablist {
		left:0;
                overflow: visible;
		.box-shadow(inset -8px 0 7px -6px #888);
	}
	&.right-tablist {
		right:0;
                overflow: visible;
		.box-shadow(inset 8px 0 7px -6px #888);
	}
	.navigation-tabs {
		margin: 0;
		border: 0;
		list-style-type: none;
		> li {
			position:relative;
			float:none;
			.btn {
				display:block;
				box-sizing: border-box;
				width: @tablist-width;
				height: @tablist-width;
				text-align: center;
				padding: 0;
				margin:0;
				.border-radius(0px);
				border: 1px solid #898989;
				border-width: 0 0 1px 0 !important;
				background: none;
				.box-shadow(none);
				&:hover {
					background: #b7b7b7;
					border: 1px solid #898989;
					border-width: 0 0 1px 0 !important;
				}
			}
			&.active {
				.btn {
					background: #b8b8b8;
				}
			}
		}	
	}
}
.tabpane {
	position:absolute;
	width:@tabpane-width;
	top:0;
	bottom:0;
	background: @tabpane-background;
	border-color:@tabpane-border;
	border-style: solid;
	z-index:10;
	.box-sizing(border-box);
	.transition( all 0.3s ease);
	&.left-tabpane {
		left:-@tabpane-width;
		border-width: 0 3px 0 0;
		.box-shadow(2px 0px 8px 0px rgba(50,50,50,.35));

		&.open-tabpane {
			left:@tablist-width;
		}
	}
	&.right-tabpane {
		right:-@tabpane-width;
		border-width: 0 0 0 3px;
		.box-shadow(-2px 0px 8px 0px rgba(40,50,50,.35));
		&.open-tabpane {
		 	right:@tablist-width;
		}
	}
	.tabcontent {
		padding:@tabcontent-padding;
		padding-bottom: @tabcontent-padding + 30px; //because of scratchpad
		.box-sizing(border-box);
		position: absolute;
		bottom: 0;
		top: 0;
		left:1px;
		right:1px;
	 	overflow: hidden;
	}
}


// Notificaton pane
// ---------------------------------------------

.notification-pane {
	position: fixed;
	top: @nav-height; 
	bottom: 0; 
	right: -@notification-pane-width;
	width: @notification-pane-width;
	.box-sizing(border-box);
	background: #313131;
	z-index: 2000;
	.transition(right ease 0.3s);
	&.show {
		right: 0;
	}
	> .header {
		height: 65px;
		width: 100%;
		background: #212121;
		.box-shadow(inset 0 4px 4px -2px #000);
		border-botom: 1px solid #313131;
		.avatar {
			margin: 12px 16px;
		}
		.user-info {
			margin-left: 60px;
			height: 40px;
			padding: 12px 10px 2px 10px;
			.box-sizing(border-box);
			.name {
				color: #c5c5c5;
				font-size: 12px;
				display: block;
				line-height: 12px;
			}
			.displayname {
				font-size: 11px;
				color: #727272;
				display: block;
				line-height: 12px;
				margin-top: 2px;
			}
		}
		.actions {
			margin-left: 70px;
			height: 20px;
			.box-sizing(border-box);
			button {
				.reset-button();
			}
			a, button {
				font-size: 10px;
				color: #8d8d8d;
				text-decoration: none;
				text-transform: uppercase;
				.box-sizing(border-box);
				line-height: 20px;
				padding-right:16px;
				padding-left: 0;
				display: inline-block;
				margin: 0 !important;
				&:last-child {
					border:0;
				}
				&:hover {
					color: #ccc;
				}
			}
		}

	}
	> .content {
		position: absolute;
		top: 65px;
		left: 0; right: 0; bottom: 0;
		border-top: 2px solid #464646;
		.box-shadow(inset 4px 0 4px -2px #202020);
		.module {
			margin-top: 20px;
			.title {
				font-size: 16px;
				color:#f8f8f8;
				padding: 10px;
				.text-light();
			}
			.notification-list {
				right: 0; left: 0;
			}
		}
	}
}


// Default card box styling
// ---------------------------------------------


//color variables
@main-item-color:        #607d8b;

.card-box {
    .box-sizing(border-box);
    position: relative;
    .border-radius(2px);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    background-color: white;	
    font-size: 13px;
    color: #333;
    .card-box__header {
        background-color: @main-item-color;
        padding: 0;
        .border-radius (2px 2px 0 0);
        color: white;
        .box-sizing(border-box);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 8px;
            background-color: rgba(0,0,0,.2);
            .border-radius (2px 2px 0 0);
        }
        .dropdown {
            float: right;
            margin-top: 8px;
            .dropdown-menu {
            	margin-top: 0;
            }
            .dropdown-toggle {
                border: none;
                outline: none;
                padding: 0 8px;
                display: block;
                color: #fff;
                background: transparent;
                height: 42px;
                text-align: center;
                line-height: 0;
                font-size: 15px;
                position: relative;
                z-index: 2;
                opacity: .3;
                &:hover {
                    opacity: .5;
                }
            }
            &.open {
                .dropdown-toggle {
                    opacity: 1;
                }
            }
        }
    }
    .card-box__heading {
        padding: 20px 16px 12px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        .box-sizing(border-box);
    }
    .card-box__sub-heading {
        background-color: #9daeb7;
        font-size: 11px;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        padding: 4px 16px;
        &.success {
            background-color: #8bc34a;
        }
    }
    .card-box__thumbnail {
        padding-top: 8px;
        line-height: 0;
        & + .heading {
            background-color: white;
            font-weight: 500;
            text-align: center;
            color: #333;
            padding: 10px 16px;
        }
    }
    .card-box__content {
        padding: 16px;
        .box-sizing(border-box);
        h4 {
            text-transform: uppercase;
            font-size: 11px;
            color: rgba(0,0,0,.5);
            letter-spacing: 0.04em;
            margin-bottom: 4px;
            &.with-value {
            	margin-bottom: 0;
            }
            .label {
                float: right;
                box-sizing: border-box;
                height: 15px;
                margin: auto 0;
                padding: 3px 5px 0;
                border-radius: 8px;
                color: rgba(255,255,255,1);
                background: rgba(0,0,0,.25);
                font-size: 10px;
                line-height: 100%;
                letter-spacing: .06em;
                font-weight: 400;
            }
            .value-label {
            	float: right;
            	font-size: 13px;
            	color: #333;
            	font-weight: 400;
            	text-transform: none;
            	letter-spacing: 0em;
            }
        }

    }
    .card-box__content-list {
        margin: -16px;
        padding: 0;
        list-style: none;
        li {
            padding: 16px;
            border-bottom: 1px solid #ebebeb;
            &:last-child {
                border: none;
            }
        }
        .creation-time {
        	display: block;
        	font-size: 12px;
        	color: #999;
        	i {
        		display: inline-block;
        		opacity: 0.5;
        		margin-top: -2px;
        	}
        }
        .button__view-all {
            border-bottom: 1px dotted #5598B4;
            color: #5598B4;
            cursor: pointer;
        }
    }
    .card-box__footer {
        padding: 14px 16px;
        border-top: 1px solid #eee;
        background-color: #f8f8f8;
        .border-radius (0 0 2px 2px);
    }
}


// Flex grid
// ---------------------------------------------

.flex(@grow, @shrink, @basis) {
    -webkit-flex: @grow @shrink @basis;
    	-ms-flex: @grow @shrink @basis;
        	flex: @grow @shrink @basis;
}

@flex-grid-gap:          16px; // space between items is @flex-grid-gap*2
@flex-grid-box-bg:       white;

// grid

.flex-grid {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
	.flex-item {
		.box-sizing(border-box);
		position: relative;		

	}
    &.wrap-items {
    	flex-wrap: wrap;
    }
    &.content-center {
    	justify-content: center;
    }
	&.two-lines-heading {
		.header {
			min-height: 72px;
		}
	}	
	&.box {
		.flex-item {
			margin: @flex-grid-gap;
			background-color: @flex-grid-box-bg;
		}
	}
	// default grid setup (mobile first), calc for 1-6 columns

	&.box.small {
		&-6 {
			.flex-item {
				.flex(0, 0, calc(~'16.6666% -' @flex-grid-gap*2));
			}
		}		
		&-5 {
			.flex-item {
				.flex(0, 0, calc(~'20% -' @flex-grid-gap*2));
			}
		}
		&-4 {
			.flex-item {
				.flex(0, 0, calc(~'25% -' @flex-grid-gap*2));
			}
		}
		&-3 {
			.flex-item {
				.flex(0, 0, calc(~'33.3333% -' @flex-grid-gap*2));
			}
		}
		&-2 {
			.flex-item {
				.flex(0, 0, calc(~'50% -' @flex-grid-gap*2));
			}
		}
		&-1 {
			.flex-item {
				.flex(0, 0, calc(~'100% -' @flex-grid-gap*2));
			}
		}
	}
	&.small {
		&-6 {
			.flex-item {
				.flex(0, 0, 16.6666%);
			}
		}		
		&-5 {
			.flex-item {
				.flex(0, 0, 20%);
			}
		}
		&-4 {
			.flex-item {
				.flex(0, 0, 25%);
			}
		}
		&-3 {
			.flex-item {
				.flex(0, 0, 33.3333%);
			}
		}
		&-2 {
			.flex-item {
				.flex(0, 0, 50%);
			}
		}
		&-1 {
			.flex-item {
				.flex(0, 0, 100%);
			}
		}
	}
}

// medium screen media query /40em = 640px/
@media only screen and (min-width: 40em) {
	.flex-grid {
		&.box.medium {
			&-6 {
				.flex-item {
					.flex(0, 0, calc(~'16.6666% -' @flex-grid-gap*2));
				}
			}			
			&-5 {
				.flex-item {
					.flex(0, 0, calc(~'20% -' @flex-grid-gap*2));
				}
			}
			&-4 {
				.flex-item {
					.flex(0, 0, calc(~'25% -' @flex-grid-gap*2));
				}
			}
			&-3 {
				.flex-item {
					.flex(0, 0, calc(~'33.3333% -' @flex-grid-gap*2));
				}
			}
			&-2 {
				.flex-item {
					.flex(0, 0, calc(~'50% -' @flex-grid-gap*2));
				}
			}
			&-1 {
				.flex-item {
					.flex(0, 0, calc(~'100% -' @flex-grid-gap*2));
				}
			}
		}
		&.medium {
			&-6 {
				.flex-item {
					.flex(0, 0, 16.6666%);
				}
			}			
			&-5 {
				.flex-item {
					.flex(0, 0, 20%);
				}
			}
			&-4 {
				.flex-item {
					.flex(0, 0, 25%);
				}
			}
			&-3 {
				.flex-item {
					.flex(0, 0, 33.3333%);
				}
			}
			&-2 {
				.flex-item {
					.flex(0, 0, 50%);
				}
			}
			&-1 {
				.flex-item {
					.flex(0, 0, 100%);
				}
			}
		}
	}
}
// large screen media query /75em = 1200px/
@media only screen and (min-width: 75em) {
	.flex-grid {
		&.box.large {
			&-6 {
				.flex-item {
					.flex(0, 0, calc(~'16.6666% -' @flex-grid-gap*2));
				}
			}			
			&-5 {
				.flex-item {
					.flex(0, 0, calc(~'20% -' @flex-grid-gap*2));
				}
			}		
			&-4 {
				.flex-item {
					.flex(0, 0, calc(~'25% -' @flex-grid-gap*2));
				}
			}
			&-3 {
				.flex-item {
					.flex(0, 0, calc(~'33.3333% -' @flex-grid-gap*2));
				}
			}
			&-2 {
				.flex-item {
					.flex(0, 0, calc(~'50% -' @flex-grid-gap*2));
				}
			}
			&-1 {
				.flex-item {
					.flex(0, 0, calc(~'100% -' @flex-grid-gap*2));
				}
			}
		}
		&.large {
			&-6 {
				.flex-item {
					.flex(0, 0, 16.6666%);
				}
			}			
			&-5 {
				.flex-item {
					.flex(0, 0, 20%);
				}
			}		
			&-4 {
				.flex-item {
					.flex(0, 0, 25%);
				}
			}
			&-3 {
				.flex-item {
					.flex(0, 0, 33.3333%);
				}
			}
			&-2 {
				.flex-item {
					.flex(0, 0, 50%);
				}
			}
			&-1 {
				.flex-item {
					.flex(0, 0, 100%);
				}
			}
		}
	}
}
