// MODALS
// ------

// Recalculate z-index where appropriate
.modal-open {
	.dropdown-menu {  z-index: @zindexDropdown + @zindexModal; }
	.dropdown.open { *z-index: @zindexDropdown + @zindexModal; }
	.popover       {  z-index: @zindexPopover  + @zindexModal; }
	.tooltip       {  z-index: @zindexTooltip  + @zindexModal; }
}

@modal-base-width : 460px;
@modal-large-width : 660px;
@modal-big-width : 820px;

@modal-border-radius: 4px;

@modal-header-height : @nav-height;
@modal-footer-height : 58px;
@modal-subnav-height : @nav-height;

// Background
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: @zindexModalBackdrop;
	background-color: @black;
	// Fade for backdrop
	&.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
	.opacity(30);
}

body:not(:-moz-handler-blocked) .modal{
	&.moz-scroll-fix{
		.modal-dialog{
			height: 100%;
		}
	}
}

// Base modal
.modal {
	position: fixed;
	left: 40px; right: 40px; top: 40px; bottom:40px;
	justify-content: center;
	align-items: flex-start;
	z-index: @zindexModal;
	display: none;
	&.in {
		display: flex !important;
	}
	&.fade{
		transition: none;
		-webkit-transition: none;
	}
	.modal-dialog {
		width: @modal-base-width + 20px;
		display: flex;
		max-height: 100%;
	}
	.modal-content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		flex: 1 1 auto;
		margin: 10px;
		.box-shadow(0 0 8px 2px rgba(0, 0, 0, 0.3));
		.modal-header, .modal-footer {
			flex: 0 0 auto;
			width: 100%;
			.border-box();
		}
		.modal-body {
			flex: 1 1 auto;
			width: 100%;
			.border-box();
		}
	}
        .modal-strech {
            width: 100%;
        }
        &.child-shadow {
            .modal-content {
                .box-shadow(0 0 0 0 rgb(0, 0, 0));
                > * {
                    .box-shadow(0 0 8px 2px rgba(0, 0, 0, 0.3));
                }
            }
        }
}
.modal-header {
	background-color: @white;
	padding: 9px 15px;
	border-bottom: 1px solid #e4e4e4;
	.box-sizing(border-box);
	height: @modal-header-height !important;
	.border-radius(@modal-border-radius @modal-border-radius 0 0);
	// Close icon
	.close {
		margin-top: 2px;
		border: 0;
		background: 0;
	}
	h3 {
		font-size: 18px;
		font-weight: 100;
	}
}

// Body (where all modal content resises)
.modal-body {
	background: @white;
	overflow-y: auto;
	//max-height: 400px;
	padding: 20px;
	position: relative;

	.nav-tabs {
		position: absolute;
		left: 0; right: 0; top: 0;
		border-bottom: 1px solid #e4e4e4;
		height: @modal-subnav-height;
		line-height: @modal-subnav-height - 20;
		padding: 0px 20px;
		.box-sizing(border-box);
		background: @sd-background;
	}
	.tab-content {
		margin-top: @modal-subnav-height;
	}

	.modal-screen {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 20px;
	}
}
// Remove bottom margin if need be
.modal-form {
	margin-bottom: 0;
}

// Footer (for actions)
.modal-footer {
	background-color: @white;
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right; // right align buttons
	border-top: 1px solid #e4e4e4;
	.border-radius(0 0 @modal-border-radius @modal-border-radius);
	.clearfix(); // clear it in case folks use .pull-* classes on buttons

	// Properly space out buttons
	.btn + .btn {
		margin-left: 5px;
		margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
	}
	// but override that for button groups
	.btn-group .btn + .btn {
		margin-left: -1px;
	}
}


.modal {
	&.modal-strech {
		.modal-dialog {
			height: 100%;
		}
		.modal-body {
			.tab-content {
				position: absolute;
				left: 0; right: 0; bottom: 0;
				top: @modal-subnav-height;
				margin: 0;
				padding: 20px;
				overflow: auto;
				display: block;
				width: auto;
			}
		}
	}
	&.modal-static {
		.modal-dialog {
			height: auto;
			.modal-body {
				height: 400px;
				max-height: 400px;
				.tab-content {
					position: absolute;
					left: 0; right: 0; bottom: 0;
					top: @modal-subnav-height;
					margin: 0;
					padding: 20px;
					overflow: auto;
					display: block;
					width: auto;
				}
			}
		}
	}
	&.modal-body-grey {
		.modal-body {
			background: @sd-background;
		}
	}
	&.modal-large {
		.modal-dialog {
			width: @modal-large-width + 20px;
		}
	}
	&.modal-big {
		.modal-dialog {
			width: @modal-big-width + 20px;
		}
	}
	&.modal-responsive {
		.modal-dialog {
			width: 100%;
			height: 100%;
			.modal-body {
				max-height: none;
			}
		}
	}
	&.with-subnav {
		.modal-dialog {
			height: 100%;
			.modal-body {
			}
		}
	}
}


.mini-modal {
	padding: 20px;
	border: 1px solid #9ecbde;
	.border-box();
	.box-shadow(0 0 2px 0 #bbb);
	background: #fff;
	width: 300px;
	margin-left: -150px;
	&.inline {
		position: relative;
		width: auto;
		margin-left: auto;
	}
	.title {
		font-size: 11px;
		.text-semibold();
		color: @black;
		text-transform: uppercase;
	}
	.close {
		position: absolute;
		right: 12px;
		top: 8px;
	}
	.content {
		margin: 15px 0;
		.field {
			margin-bottom: 10px;
		}
	}
	.footer {
		text-align: right;
	}
}


// SPLIT POPUP (left sidebar)
// > used for upload avatar task
@split-modal-sidebar : 230px;
.split-popup {
	.sidebar {
		position: absolute;
		top:0; left: 0; bottom: 0;
		width: @split-modal-sidebar;
		border-right: 1px solid #ddd;
	}
	.main {
		position: absolute;
		top:0; right: 0; bottom: 0;
		left: @split-modal-sidebar;
	}
}

.activity-choose-modal {
	.border-radius(0px);
	width: 300px;
	margin-left: -150px;
	margin-top: -100px;
	background: none;
	.box-shadow(none);
	border: 0;
	.list-group {
		margin-bottom: 10px;
		.list-group-item {
			border-color: #c0c0c0;
			&:hover, &.active {
				background: #e0e0e0;
			}
		}
	}
	.btn {
		.box-shadow(inset 0 1px 0 #707070);
	}
}