.env
/.project
/.pydevproject
*.pyc
*.swp
*.swo
*.pid
*#
.#*
*TAGS
.ropeproject
/data
static/*
upload/*
.coverage
cover
celerybeatschedule.db*
env/
bin/
lib/
man/
src/
dist/
node_modules
.settings
po/
report/
screenshots/
coverage/
e2e-test-results/
*.sublime-workspace
*.sublime-project
nbproject/
coveralls.json
lcov.info
build/
include/
.idea/
.vagrant/
/client/.tern-project
/server/.project
/server/.pydevproject
/server/.settings/org.eclipse.core.resources.prefs
/results/
/superdesk-content-api/
client/index.html
client/templates-cache.js
client/npm-debug.log
