/app/scripts/.project
/npm-debug.log
/.settings
/.project
node_modules
dist/*.*
dist/template/**
dist/scripts/**
!dist/scripts/main.js
!dist/scripts/superdesk-core.js
!dist/scripts/vendor.js
dist/styles/css/**
!dist/styles/css/app.css
!dist/styles/css/bootstrap.css
*.swp
.tmp
.sass-cache
app/scripts/bower_components
app/styles/css/bootstrap.css
po/
report/
screenshots/
coverage/
Thumbs.db
test-results.xml
.vagrant/
.bower.json