language: python

python: "3.5"

sudo: false
dist: trusty

services:
    - mongodb
    - elasticsearch
    - redis-server

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    packages:
    - mongodb-org-server

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.npm

before_install:
    - nvm install 6.10
    - nvm use 6.10
    - node --version
    - npm install -g npm@3
    - npm install -g grunt-cli

install:
    - cd server && pip install -r dev-requirements.txt && cd ..
    - cd client && npm install && cd ..

script:
    - cd server && flake8 && cd ..
    - cd client && node --max-old-space-size=4096 `which grunt` build && cd ..
    - cd server && python manage.py users:create -u test -p test -e test@localhost --admin && cd ..
