version: "3.2"
services:
  superdesk-server:
    build: ./server

  superdesk-client:
    build: ./client

  mongodb:
    ports:
        - "27017:27017"

  elastic:
    ports:
        - "9200:9200"

  redis:
    ports:
        - "6379:6379"