Cerberus==0.6
Events==0.2.1
Eve-Elastic==0.1.9
Eve-Docs==0.1.2
Flask==0.10.1
Flask-Bootstrap==3.1.1.2
Flask-PyMongo==0.3.0
Flask-Script==2.0.3
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
Pillow==2.4.0
tinys3==0.1.10
arrow==0.4.2
blinker==1.3
flake8==2.1.0
itsdangerous==0.24
mccabe==0.2.1
newrelic==2.18.1.15
nose==1.3.3
parse==1.6.4
pep8==1.5.6
pyelasticsearch==0.6.1
pyflakes==0.8.1
pymongo==2.7
python-dateutil==2.2
python-magic==0.4.6
pytz==2014.2
requests==2.3.0
simplejson==3.4.1
six==1.6.1
waitress==0.8.8

git+git://github.com/superdesk/eve@develop#egg=Eve==0.4
git+git://github.com/actionless/behave@master#egg=behave
git+git://github.com/actionless/wooper@0.1.0#egg=wooper==0.1.0
