Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.2.5
Flask-Script==0.6.2
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
behave==1.2.3
blinker==1.3
gunicorn==18.0
itsdangerous==0.23
nose==1.3.0
parse==1.6.2
pinject==0.10.2
pyelasticsearch==0.6
pymongo==2.6.2
requests==2.0.0
simplejson==3.3.0
six==1.4.1
git+git://github.com/petrjasek/flask-elasticsearch@master#egg=Flask-ElasticSearch
