Cerberus==0.7.2
Events==0.2.1
Flask==0.10.1
Flask-Bootstrap==3.1.1.2
Flask-Mail==0.9.0
Flask-PyMongo==0.3.0
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
Pillow==2.5.3
autobahn[asyncio]==0.8.15
arrow==0.4.4
asyncio==3.4.1
bcrypt==1.0.2
blinker==1.3
celery[redis]==3.1.13
flake8==2.2.3
honcho==0.5.0
itsdangerous==0.24
mccabe==0.2.1
nose==1.3.4
parse==1.6.4
pep8==1.5.7
pyelasticsearch==0.6.1
pyflakes==0.8.1
pymongo==2.7.2
python-dateutil==2.2
python-magic==0.4.6
pytz==2014.4
raven[flask]==5.0.0
requests==2.3.0
simplejson==3.6.3
six==1.7.3
httmock==1.2.2

git+git://github.com/petrjasek/eve-elastic@master#egg=Eve-Elastic==0.1.13
git+git://github.com/superdesk/eve@develop#egg=Eve==0.5-dev
git+git://github.com/actionless/behave@master#egg=behave
git+git://github.com/amagdas/tinys3@list-buckets#egg=tinys3
git+git://github.com/actionless/wooper@0.1.0#egg=wooper==0.1.0
-e hg+http://bitbucket.org/haypo/hachoir3/#egg=hachoir3
