
.close-desk-widget-content {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .space-eater {
        flex-grow: 1;
    }

    .simple-list {
        padding: 0;
    }
}

$widget_close-desk: #e55028;

.widget-list li.widget.close-desk .thumbnail {
    background-color: $widget_close-desk;
}

.widget-detail .thumbnail-box.close-desk {
    background-color: $widget_close-desk;
}
