<div class="metadata" ng-controller="MetadataWidgetCtrl">
	<ul class="basic-list">
		<li ng-if="item.byline">
			<div class="lbl" translate>By</div>
			<div class="data">{{item.byline}}</div>
		</li>
		<li ng-if="item.firstcreated">
			<div class="lbl" translate>First created</div>
			<div class="data" sd-reldate-complex ng-model="item.firstcreated"></div>
		</li>
		<li ng-if="item.versioncreated">
			<div class="lbl" translate>Last updated</div>
			<div class="data" sd-reldate-complex ng-model="item.versioncreated"></div>
		</li>
		<li ng-if="item.provider">
			<div class="lbl" translate>Provider</div>
			<div class="data">{{ item.provider }}</div>
		</li>
		<li ng-if="item.urgency">
			<div class="lbl" translate>Urgency</div>
			<div class="data">{{item.urgency}}</div>
		</li>
		<li ng-if="item.copyrightholder">
			<div class="lbl" translate>Copyright</div>
			<div class="data">{{item.copyrightholder}}</div>
		</li>
		<li ng-if="item.creditline">
			<div class="lbl" translate>Credit</div>
			<div class="data">{{item.creditline}}</div>
		</li>
	</ul>
	<div sd-toggle-box data-title="Subjects" data-open="true" ng-if="item.subject.length">
		<ul class="subject-terms">
			<li ng-repeat="term in item.subject">
				<span>{{term.name}}</span>
			</li>
		</ul>
	</div>
	<div sd-toggle-box data-title="Task details" data-open="true" ng-if="item.task">
		<ul class="basic-list task-info">
			<li ng-if="item.slugline" class="auto">
				<div class="lbl" translate>Title</div>
				<div class="data">{{item.slugline}}</div>
			</li>
			<li ng-if="item.description_text" class="auto">
				<div class="lbl" translate>Description</div>
				<div class="data">{{item.description_text}}</div>
			</li>
			<li ng-if="item.task.status">
				<div class="lbl" translate>Status</div>
				<div class="data">{{item.task.status}}</div>
			</li>
			<li ng-if="item.task.due_date" class="wider">
				<div class="lbl" translate>Due date</div>
				<div class="data" sd-reldate-complex ng-model="item.task.due_date"></div>
			</li>
			<li ng-if="item.task.desk">
				<div class="lbl" translate>Desk</div>
				<div class="data">{{deskLookup[item.task.desk].name}}</div>
			</li>
			<li ng-if="item.task.desk">
				<div class="lbl" translate>Creator</div>
				<div class="data">{{userLookup[item.original_creator].display_name}}</div>
			</li>
		</ul>
	</div>
</div>
