<div class="pull-right sf-pagination" ng-if="total">
    <div class="btn-group pull-right">
        <button class="btn" ng-disabled="page <= 0" ng-click="setPage(0)">
    		<i class="icon-backward-thin"></i>
    	</button>

        <button class="btn" ng-disabled="page <= 0" ng-click="setPage(page - 1)">
        	<i class="icon-chevron-left-thin"></i>
        </button>

        <button class="btn" ng-disabled="page >= lastPage" ng-click="setPage(page + 1)">
        	<i class="icon-chevron-right-thin"></i>
        </button>
        
        <button class="btn" ng-disabled="page >= lastPage" ng-click="setPage(lastPage)">
        	<i class="icon-forward-thin"></i>
        </button>
    </div>

    <div class="page-info pull-right" ng-show="page <= lastPage">{{ from }}-{{ to }} {{ 'of'|translate }} {{ total }}</div>
</div>