<div>
    <form>
    <fieldset sd-find-replace>
        <div class="form-group field">
            <label for="find-replace-what" translate>Find</label>
            <input type="text" class="form-control" id="find-replace-what"
                ng-model="from"
                ng-model-options="{debounce: 500}">
        </div>
        <div class="form-group field">
            <label for="find-replace-with" translate>Replace with</label>
            <input type="text" class="form-control" id="find-replace-with" ng-model="to">
        </div>

        <div class="btn-group pull-right" role="group">
            <button class="btn btn-default" ng-click="prev()" ng-disabled="!from">&laquo;</button>
            <button class="btn btn-default" ng-click="next()" ng-disabled="!from">&raquo;</button>
        </div>

        <div class="btn-group pull-left" role="group">
            <button class="btn btn-default" ng-click="replace()" ng-disabled="!from" translate>Replace</button>
            <button class="btn btn-default" ng-click="replaceAll()" ng-disabled="!from" translate>Replace All</button>
        </div>

        <div class="field clearfix"></div>

        <button class="btn btn-default" ng-click="closeWidget(widget)" translate>Done</button>
    </fieldset>
    </form>
</div>
