<div sd-authoring>
    <div class="subnav">
        <div class="clearfix pull-left">
            <span class="lock-info pull-left" ng-show="item._locked"><i class="icon-lock-red"></i></span>
            <span class="lock-text pull-left" ng-show="item._locked && isLockedByMe()" translate>This article is locked by you in another session.</span>
            <span class="lock-text pull-left" ng-show="item._locked && !isLockedByMe()" translate>This article is locked by <b>{{ item.lock_user | username }}</b></span>
        </div>
        <div class="button-stack right-stack">
            <button class="btn btn-medium pull-left" ng-if="item._locked && can_unlock()" ng-click="unlock()" translate>Unlock</button>
            <button class="btn btn-medium pull-left" ng-show="!_editable && !item._locked" ng-click="lock()" translate>Lock</button>
            <button class="btn btn-medium pull-left" ng-click="close()" translate>Close</button>

            <button class="btn btn-medium btn-info pull-left" type="submit"
                ng-click="save(item)"
                ng-show="_editable"
                ng-disabled="!save_enabled()"
                translate>Save</button>

            <button class="btn btn-medium btn-info pull-left"
                ng-click="exportHighlight(item)"
                ng-disabled="!_editable"
                ng-if="highlight"
                translate>Export</button>

            <div class="navbtn dropdown strict pull-left" dropdown>
                <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
                <ul class="dropdown-menu pull-right" sd-content-create></ul>
            </div>

        </div>
    </div>
    <div class="packaging-screen main-section">
        <div sd-authoring-widgets data-item="item">
            <div class="page-content-container">
                <div class="content main-article">                    
                    <div sd-package-edit></div>
                </div>
            </div>
            <div sd-workqueue data-active="item" data-update="articleSwitch()" data-close="close()"></div>
        </div>
    </div>
</div>
