<div class="package-edit-container">
	<ul class="package-edit" sd-sort-package-items>
		<li ng-repeat="group in list">
			<div class="group-info">
				<h6>{{ group.id }}</h6>
			</div>
			<ul id="{{ group.id | uppercase}}" class="package-edit-items clearfix" data-group="{{group.id}}">
				<li class="sort-item clearfix" ng-repeat="item in group.items">
					<div class="item-container">
						<div sd-package-item-preview></div>
						<button class="remove" ng-click="remove(group.id, item.residRef)"><i class="icon-close-small"></i></button>
					</div>
				</li>
				<li class="fake clearfix"><div></div></li>
			</ul>
		</li>
	</ul>
</div>