// world-clock.less
// Styling for ingest widget
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.sd-widget.activity {
	.activity-holder {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		.shadow-list-holder {
			padding: 0 10px;
		}
	}
	.activity-log {
		margin: 0 -10px;
		li.with-date {
			margin-top: 25px;
			.date {
				border-top:0;
				top:-15px;
				span {
					float: none;
					padding: 3px 5px;
					color: #333;
					text-transform: uppercase;
					font-size: 11px;
					.text-semibold();
				}
			}
		}
		li:hover {
			.box-shadow(none);
		}
	}
	
}