<div class="article-versions" ng-controller="HistoryWidgetCtrl">
    <ul class="versions-list card-list">
        <li class="item" ng-class="{selected: selected === version}" ng-repeat="version in versions">
            <div ng-show="version.operation == 'create'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: version.typeName }} {{ :: version.unique_id }}
                    <span ng-show='version.stage'>({{version.desk}}/{{version.stage}})</span>
                    {{ :: 'Created by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'duplicate'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Copied to' | translate }} {{ :: version.unique_id }}
                    <span ng-show='version.stage'>({{version.desk}}/{{version.stage}})</span>
                    {{ :: 'by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'update'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Updated by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'restore'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Restored by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'send' || version.operation === 'move'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Moved to' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'spike'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Spiked from' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'unspike'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Unspiked to' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'fetch'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Fetched as' | translate }} {{ :: version.unique_id }} to {{ version.desk }}/{{ version.stage }}
                    {{ :: 'by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'publish'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Published by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'correct'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Correction issued by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
            <div ng-show="version.operation == 'kill'" ng-click="openVersion(version)">
                <div class="header">
                    {{ :: 'Killed by' | translate }} {{ version.creator }}
                </div>
                <div class="footer">
                    <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                </div>
            </div>
        </li>
    </ul>
</div>