<div class="subnav" ng-if="!searchEnabled">
    <h3 class="subnav__page-title">Live Assistant</h3>
</div>

<div class="subnav" ng-if="searchEnabled">
    <div class="flat-searchbar monitoring-backlink">
        <button sd-tooltip="Back to original view" flow="right" class="navbtn navbtn--left" ng-click="closeSearch()">
            <i class="icon-arrow-left"></i>
        </button>
    </div>
    <div class="flat-searchbar extended">
        <div class="search-handler">
            <label class="trigger-icon"><i class="icon-search"></i></label>
            <input id="search-input" type="text" placeholder="Search" class="input-large live-input" ng-model="metasearch.query" ng-keyup="metasearch.search($event)">
            <button class="icn-btn search-close" ng-click="metasearch.reset()" ng-class="{visible: metasearch.query}"><i class="icon-remove-sign"></i></button>
        </div>
    </div>
    <div ansa-metasearch-dropdown></div>
</div>

<div class="main-section live-suggestions" ng-if="semantics && !searchEnabled">
    <section class="main">
        <h3 translate>Browse the web by SEO suggestions</h3>
        <div class="sd-column-box--2">
            <div class="sd-column-box__main-column sd-column-box__main-column--40">
                <dl class="definition-list">
                    <dt class="definition-list__term" ng-show="semantics.persons.length" translate>Person</dt>
                    <dd class="definition-list__item" ng-repeat="val in semantics.persons">
                        <a href="" ng-click="toggleInfo(val)">{{ val }}</a>
                    </dd>
        
                    <dt class="definition-list__term" ng-show="semantics.organizations.length" translate>Organisation</dt>
                    <dd class="definition-list__item" ng-repeat="val in semantics.organizations">
                        <a href="" ng-click="toggleInfo(val)">{{ val }}</a>
                    </dd>
        
                    <dt class="definition-list__term" ng-show="semantics.places.length" translate>Place</dt>
                    <dd class="definition-list__item" ng-repeat="val in semantics.places">
                        <a href="" ng-click="toggleInfo(val)">{{ val }}</a>
                    </dd>
        
                    <dt class="definition-list__term" ng-show="semantics.mainGroups.length" translate>Main Groups</dt>
                    <dd class="definition-list__item" ng-repeat="val in semantics.mainGroups">
                        <a href="" ng-click="toggleInfo(val)">{{ val }}</a>
                    </dd>
                </dl>
            </div>
            <div class="sd-column-box__main-column  sd-column-box__main-column--60">
                <dl class="definition-list sd-shadow--z1" sd-loading="loading" style="margin-left: 10px; padding:20px; width:90%; background: #fff; border-radius: 2px;">
                    <dt class="definition-list__term" translate>Suggestions</dt>
                    <dd class="definition-list__item" ng-repeat="term in suggestions">
                        <a href="" ng-click="startSearch(term)">{{ term }}</a>
                    </dd>
                    <dd class="definition-list__item" ng-show="!suggestions.length" translate>Click on an item on the left to start.</dd>
                </dl>
            </div>
        </div>
    </section>
    <hr class="hr--dotted">
    <section class="main">
        <h3 translate>Web related news by title or slugline</h3>
        <dl class="definition-list">
            <dt class="definition-list__term" ng-show="item.headline" translate>Headline</dt>
            <dd class="definition-list__item"><a href="" ng-click="startSearch(item.headline)">{{ item.headline }}</a></dd>
            <dt class="definition-list__term" ng-show="item.slugline" translate>Slugline</dt>
            <dd class="definition-list__item"><a href="" ng-click="startSearch(item.slugline)">{{ item.slugline }}</a></dd>
        </dl>
    </section>
    <hr class="hr--dotted">
    <section class="main">
        <h3 translate>Web search hints</h3>
        <span class="suggestion-link-list" ng-repeat="word in archiveQueries">
            <a href="" ng-click="startSearch(word)">{{ word }}</a>
        </span>
    </section>
</div>

<div class="main-section" ng-if="!item">
    <div class="panel-info">
        <div class="panel-info__icon">
            <i class="big-icon--text"></i>
        </div>
        <h3 class="panel-info__heading">No suggestions yet.</h3>
        <p class="panel-info__description">Please select an item for editing first.</p>
    </div>
</div>

<div class="main-section" ng-if="item && !semantics && !searchEnabled">
    <div class="panel-info">
        <div class="panel-info__icon">
            <i class="big-icon--text"></i>
        </div>
        <h3 class="panel-info__heading">There is no semantics info for current item.</h3>
    </div>
</div>

<div class="main-section" ng-if="searchEnabled">
    
    <div sd-loading="metasearch.loading">
        <section ansa-metasearch-results class="main-section"></section>
    </div>
</div>
