<div class="metasearch monitoring" ng-controller="MetasearchCtrl as metasearch">
    <div class="subnav">
        <h3 class="subnav__page-title subnav__page-title--no-grow">Metasearch</h3>
        <div class="subnav__spacer subnav__spacer--no-margin"></div>

        <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: metasearch.openSearch}">
            <div class="search-handler">
                <label for="search-input" class="trigger-icon"
                    ng-click="metasearch.toggle()"><i class="icon-search"></i></label>
                <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" class="input-large"
                    sd-autofocus
                    ng-model="metasearch.query"
                    ng-keyup="metasearch.search($event)">
                <button class="search-close icn-btn"
                    ng-click="metasearch.reset()"
                    ng-class="{visible: metasearch.query}"><i class="icon-remove-sign"></i></button>
            </div>
        </div>
        <div ansa-metasearch-dropdown></div>
    </div>
    <div sd-loading="metasearch.loading">
        <section ansa-metasearch-results class="main-section"></section>
    </div>
</div>
