<div ng-controller="PackagesWidgetCtrl">
    <div class="package-manager-content">
        <ul class="simple-list simple-list--dotted">
            <li class="simple-list__item" ng-repeat="pitem in contentItems track by pitem._id" ng-if="pitem._id !== item._id" title="{{ pitem.headline || pitem.slugline}}">
                <div class="basic item-block" ng-click="openPackage(pitem)">
                    <i class="filetype-icon-composite"></i>
                    <div class="content">
                        <span class="headline" ng-show="pitem.headline || pitem.slugline">
                            {{ pitem.headline || pitem.slugline | uppercase}}
                        </span>
                        <span class="headline" ng-hide="pitem.headline || pitem.slugline" translate>Blank headline received</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
