// login-screen.less
// Styling for login (auth) screen
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';


.login-screen {
	position: fixed;
	z-index: 9000;
	left: 0; right: 0; bottom: 0; top: 0;
	background-color: #323232;
	.logo-handler {
		margin-bottom: 60px;
	}
	.login-form-container {

		.box-sizing(border-box);
		width: 320px;
		height: 600px;
		padding: 0 15px;
		position: absolute;
		top: 50%; margin-top: -300px;
		left: 50%; margin-left: -125px;
		padding-top: 80px;

		.session-error {
			position: absolute;
			top:0;
			width: 240px;
			height: 44px;
			.border-radius(3px);
			color: #fff;
			font-size: 11px;
			background-color: #bc7c0e;
			text-align: center;
			margin:0;
		}

		.form-handler {
			width: 240px;
			.avatar {
				width: 160px;
				height: 160px;
				margin: 0 auto 35px;
				float: none;				
			}
			form {
				.inputs {
					input {
						margin-bottom: 18px;
						height: 38px;
						.border-radius(4px) !important;
						border: 1px solid #000 !important;
						.box-shadow-both(inset 0 2px 0 0 #ccc, 0 1px 0 0 #656565) !important;
						font-size: 13px;
						line-height: 25px;
					}
				}
				.buttons {
					button {
						width: 100%;
						padding: 8px 12px;
						text-transform: uppercase;
						.text-semibold();
						font-size: 14px;
						.box-shadow(inset 0 0 0 0 #000);
						position: relative;
					}
				}
			}
			.links {
				border-top: 1px solid #484848;
				padding-top: 10px;
			}
			.text {
				color: #898989;
				margin-bottom: 10px;
				display: block;
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
			.reset-info {
				color: #ccc;
				margin-bottom: 20px;
				i {
					vertical-align: sub;
				}
			}
			.validation-info {
				margin: -10px 0 10px;
				span {
					color: #f4c78b;
					font-size: 12px;
				}
			}
			.error-handler {
				.error {
					background: #9d0202;
					padding: 12px;
					color:#fff;
					font-size: 12px;
					line-height: 18px;
					.border-radius(4px);
				}
				.network-error {
					height: 44px;
					.border-radius(3px);
					span {
						width: 46px;
						height: 44px;
						float: left;
						.border-radius(3px 0 0 3px);
						background-repeat: no-repeat;
						background-position: 8px 7px;
						.opacity(60);
					}
					p {
						margin-left: 46px;
						color: #fff;
						padding: 6px;
						line-height: 16px;
						font-size: 12px;
					}
					&.red {
						background-color: #7a1212;
						span {
							background-color: #910707;
						}
					}
					&.yellow {
						background-color: #bc7c0e;
						span {
							background-color: #de8f05;
						}
					}
					&.green {
						background-color: #157310;
						span {
							background-color: #0c8507;
						}
					}
				}
			}
		}
	}


	.spinner {
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  text-align: center;
	  right: 9px;
	  top: 6px;
	  
	  -webkit-animation: rotate 2.0s infinite linear;
	  animation: rotate 2.0s infinite linear;
	}

	.dot1, .dot2 {
	  width: 60%;
	  height: 60%;
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  background-color: #fff;
	  border-radius: 100%;
	  
	  -webkit-animation: bounce 2.0s infinite ease-in-out;
	  animation: bounce 2.0s infinite ease-in-out;
	}

	.dot2 {
	  top: auto;
	  bottom: 0px;
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

	@-webkit-keyframes bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}
}
