// publish.less
// Styling for the superdesk publish module
// ----------------------------------------------------------------------------------------

@import 'mixins.less';
@import 'variables.less';


// Output Channels

.output-channel-modal {
    width: 450px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    .content {
        .field {
            margin-bottom: 10px;
            textarea {
                height: 22px;
            }
        }
    }
}

// Destination Groups

.destination-group-modal {
    width: 450px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    .content {
        .field {
            margin-bottom: 10px;
            textarea {
                height: 22px;
            }
        }
    }
}
