
<div sd-item-rendition data-item="item" data-rendition="thumbnail_small"></div>

<div class="media" ng-hide="item.Renditions.thumbnail_small">
    <small title="{{ item.Headline.en }}">{{ item.Headline.en }}</small>
</div>

<div class="media" ng-show="item.type == 'audio' || item.type == 'video'">
    <i class="filetype-icon-large-{{ item.type}}"></i>
</div>

<div class="media-info" >
    <h5 ng-show="item.Headline.en">{{ item.Headline.en || item.ContentType }} <small ng-show="item.ByLine">by {{ item.ByLine }}</small></h5>

    <dl>
        <dt class="source" translate>provider:</dt>
        <dd class="provider">&nbsp;{{ item.Provider }}</dd>
        <dt translate>created</dt>
        <dd><time datetime="{{ item.CreatedOn }}" title="{{ item.CreatedOn|date:'medium' }}">{{ item.CreatedOn|reldate }}</time></dd>
        <dt translate ng-show="item.subject">subject</dt>
        <dd ng-show="item.subject" class="subject-line">{{ item.subject | mergeWords}}</dd>
    </dl>

    <div class="status-label"
         ng-class="{'label-canceled': item.PubStatus=='canceled'}"
         ng-show="item.PubStatus && item.PubStatus!='usable'">
         {{ item.PubStatus | translate }}
    </div>
</div>
