<div class="loading-status" ng-show="!item.archived && item.archiving"></div>

<span class="state-border"></span>

<div class="list-field">
    <i class="urgency-icon-{{item.urgency}}"></i>
</div>

<div class="media-info">
    <div class="list-field type-icon">
        <i class="filetype-icon-{{item.type}}"></i>
        <span class="output-item-label  label-{{item.urgency}}" ng-show="extras.view == 'mlist'">{{ item.urgency }}</span>
    </div>
    <div class="list-field" ng-show="extras.view == 'compact'"><span class="output-item-label label-{{item.urgency}}">{{ item.urgency }}</span></div>

    <h5 class="list-field" ng-class="{'no-border': extras.view == 'compact'}" ng-click="preview(item,$index)">
        <div class="item-provider" ng-show="extras.view == 'compact'">{{ item.provider }}</div>
        <div class="main-title">
            <div class="status-label"
                 ng-class="{'label-canceled' : item.pubstatus=='canceled'}"
                 ng-show="item.pubstatus && item.pubstatus!='usable'">
                 {{ item.pubstatus | translate }}
            </div>
            {{ item.headline || item.type }}
        </div>
        <div class="meta-data-field" ng-show="extras.view == 'mlist'">
            <div class="item-provider">{{ item.provider }}</div>
            <span ng-show="item.subject">//</span> {{ item.subject | mergeWords}}
        </div>
    </h5>

    <div class="item-right list-field">
        <time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time>
        <div class="item-functions" sd-activity-list data-data="item" data-action="list"></div>
    </div>
</div>
