<a class="dropdown-toggle" data-toggle="dropdown" href="">
   {{ selected || 'Show all' | translate}} 
    <span class="caret"></span>
</a>
<ul class="dropdown-menu sf-dropdown sf-right">
    <li ng-repeat="provider in items._facets.provider.terms"><a href="" ng-click="setProvider(provider)">{{ provider.term }} <i>({{ provider.count }})</i></a></li>
    <li class="divider" ng-show="selected"></li>
    <li ng-show="selected">
        <a href="" ng-click="selected=null" translate>Show All</a>
    </li>
</ul>
