<div sd-settings-view>
	<div class="header">
		<div class="container">
			<h2 translate>Desk management</h2>
			<button class="btn btn-info pull-right" ng-click="openDesk('general')">
		        <i class="icon-plus-sign icon-white"></i> {{ 'Add New Desk' | translate }}
		    </button>
		</div>
	</div>
	

    
    <div class="settings-tab-content desk-settings">
    	<div sd-shadow>
			<div class="desk-config" ng-repeat="desk in desks._items">
				<div class="desk-header clearfix">
					<h6 class="pull-left">{{ desk.name }}</h6>
					<div class="dropdown pull-right">
                      <button class="dropdown-toggle"><i class="icon-settings"></i> <b class="caret"></b></button>
                      <ul class="dropdown-menu pull-right">
                        <li><button ng-click="openDesk('general', desk)"><i class="icon-pencil"></i> {{'Edit Desk' | translate}}</button></li>
                        <li><button ng-click="remove(desk)"><i class="icon-trash"></i> {{'Delete Desk' | translate }}</button></li>
                      </ul>
                  	</div>
				</div>
			</div>
		</div>
    </div>


    <div sd-modal-view data-model="modalActive" class="add-desk-popup responsive-popup hide" >
    
		<div class="modal-header"> 
			<a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
			<h3 ng-show="!desk.edit._id" translate>Add New Desk</h3>
			<h3 ng-show="desk.edit._id" translate>Edit Desk</h3>
		</div>
		
		<div class="modal-body" sd-wizard data-name="desks" data-current-step="step.current" data-finish="cancel()">
			
			<div sd-wizard-step data-title="{{ 'General' | translate }}" data-code="general">
				<div sd-deskedit-basic>
					<form name="generalStep">
						<div class="content">
							<fieldset>
								<div class="field">
									<label translate>Desk name</label>
									<input type="text" class="fullwidth-input" ng-model="desk.edit.name" required> 
								</div>
								<div class="field">
									<label translate>Desk description {{test}}</label>
									<textarea class="fullwidth-input" ng-model="desk.edit.description"></textarea>
								</div>
							</fieldset>
							<p ng-if="message">{{ message }}</p>
						</div>
						<div class="modal-footer">
						  	<button class="btn btn-primary" ng-click="save(desk.edit)" ng-disabled="!generalStep.$valid" translate>Next</button>
						</div>
					</form>
				</div>
			</div>

			<div sd-wizard-step data-title="{{ 'Stages' | translate }}" data-code="stages">
				<div sd-deskedit-stages>
					<div class="content">
						<div class="stages">
							<div class="header" translate>Work stages</div>
							<div class="content">
								<div class="stages-list clearfix">
									<div ng-repeat="stage in stages">
										<div class="stage" ng-class="{editable: editStage}">
											<span ng-click="setEditStage(stage)" ng-if="editStage !== stage">{{ stage.name }}</span>
											<span ng-if="editStage == stage">
												<input type="text" ng-model="editStage.name" ng-keyup="saveEditOnEnter($event)" />	
											</span>
											<i class="remove" ng-click="remove(stage)"></i>
										</div>
									</div>
									<div class="stage editable" ng-show="newStage.show">
										<input type="text" ng-model="newStage.model" ng-keyup="saveOnEnter($event)" />	
									</div>
									<a class="btn add" sd-focus-input ng-click="cancelEdit(); newStage.model = null; newStage.show = true" ><i class="icon-plus-small"></i></a>
								</div>
								<p ng-if="message">{{ message }}</p>
							</div>
						</div>
					</div>
					<div class="modal-footer"> 
					  	<button class="btn pull-left" ng-click="previous()" translate>Previous</button> 
					  	<button class="btn btn-primary" ng-click="next()" translate>Next</button>
					</div>
				</div>
			</div>

			<div sd-wizard-step data-title="{{ 'People' | translate }}" data-code="people">
				<div sd-deskedit-people>
					<div class="content people-stage">
						<div class="header">
							<form>
								<input type="text" ng-model="search" class="searchbar searchbar-large">
							</form>
							<div class="search-result" ng-show="search">
								<ul class="users-list-embed">
									<li ng-repeat="user in membersToSelect | filter:search" ng-click="add(user)">
										<figure class="avatar small"><img sd-user-avatar data-src="user.picture_url"></figure>
										<div class="name">{{user.display_name}}</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="content">
							<p ng-if="message">{{ message }}</p>
							<div class="member-list clearfix">
								<ul>
									<li ng-repeat="user in deskMembers">
										<i class="icon-close-small" ng-click="remove(user)"></i>
										<figure class="avatar"><img sd-user-avatar data-src="user.picture_url"></figure>
										<div class="name">{{user.display_name}}</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="modal-footer"> 
					  	<button class="btn pull-left" ng-click="previous()" translate>Previous</button> 
					  	<button class="btn btn-primary" ng-click="save()" translate>Done</button>
					</div>
				</div>
			</div>


		</div>

	</div>

</div>
