<div sd-settings-view>
	<button class="btn btn-info pull-right" ng-click="openDesk('general')">
        <i class="icon-plus-sign icon-white"></i> <span class="ng-scope">Add New Desk</span>
    </button>

    <h2 translate>Desk management</h2>
    <div class="settings-tab-content desk-settings">
    	<div sd-shadow>
			<div class="desk-config" ng-repeat="desk in desks._items">
				<div class="desk-header clearfix">
					<h6 class="pull-left">{{ desk.name }}</h6>
					<div class="dropdown pull-right">
                      <button class="dropdown-toggle"><i class="icon-settings"></i> <b class="caret"></b></button>
                      <ul class="dropdown-menu pull-right">
                        <li><button ng-click="openDesk('general', desk)"><i class="icon-pencil"></i> {{'Edit Desk' | translate}}</button></li>
                        <li><button ng-click="remove(desk)"><i class="icon-trash"></i> {{'Delete Desk' | translate }}</button></li>
                      </ul>
                  	</div>
				</div>
			</div>
		</div>
    </div>


    <div sd-modal-view data-model="modalActive" class="add-desk-popup responsive-popup hide" >
    
		<div class="modal-header"> 
			<a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
			<h3 ng-show="!desk.edit._id" translate>Add New Desk</h3>
			<h3 ng-show="desk.edit._id" translate>Edit Desk</h3>
		</div>
		
		<div class="modal-body" sd-wizard data-current-step="currentStep" data-finish="cancel()" ng-if="modalActive">
			
			<div sd-wizard-step data-title="{{ 'General' | translate }}" data-code="general">
				<div sd-deskedit-basic>
					<form name="generalStep">
						<div class="content">
							<fieldset>
								<div class="field">
									<label translate>Desk name</label>
									<input type="text" class="fullwidth-input" ng-model="desk.edit.name" required> 
								</div>
								<div class="field">
									<label translate>Desk description {{test}}</label>
									<textarea class="fullwidth-input" ng-model="desk.edit.description"></textarea>
								</div>
							</fieldset>
							<p ng-if="message">{{ message }}</p>
						</div>
						<div class="modal-footer">
						  	<button class="btn btn-primary" ng-click="save(desk.edit)" ng-disabled="!generalStep.$valid" translate>Next</button>
						</div>
					</form>
				</div>
			</div>

			<div sd-wizard-step data-title="{{ 'Stages' | translate }}" data-code="stages">
				<div sd-deskedit-stages>
					<div class="content">
						<div class="stages">
							<div class="header" translate>Work stages</div>
							<div class="content">
								<div class="stages-list">
									<div class="stage" ng-repeat="stage in stages">
										<span>{{ stage.name }}</span>
										<i class="remove" ng-click="remove(stage)"></i>
									</div>
									<div class="stage editable" ng-show="newStage.show">
										<input type="text" ng-model="newStage.model" ng-keyup="saveOnEnter($event)" />	
									</div>
									<a class="btn add" sd-focus-input ng-click="newStage.model = null; newStage.show = true" ><i class="icon-plus-small"></i></a>
								</div>
								<p ng-if="message">{{ message }}</p>
							</div>
						</div>
					</div>
					<div class="modal-footer"> 
					  	<button class="btn pull-left" ng-click="previous()" translate>Previous</button> 
					  	<button class="btn btn-primary" ng-click="done()" translate>Done</button>
					</div>
				</div>
			</div>


		</div>

	</div>

</div>
