<div ng-controller="DesksSettingsCtrl">
	<button class="btn btn-info pull-right" ng-click="edit()">
        <i class="icon-plus-sign icon-white"></i> <span class="ng-scope">Add New Desk</span>
    </button>

    <h2 translate>Desk management</h4>
    <div class="settings-tab-content ">
        <div class="config-page-container">

			<div class="desk-config" ng-repeat="desk in desks._items">
				<div class="desk-header">
					<div class="toggle-desk">
						<i class="icon-chevron-down toggle-desk-close"></i>
						<i class="icon-chevron-right toggle-desk-open"></i>
					</div>
					{{ desk.name }}
					<div class="dropdown pull-right">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <b class="caret"></b></a>
                      <ul class="dropdown-menu sf-dropdown-simple">
                        <li><a href="" ng-click="edit(desk)"><i class="icon-pencil"></i> {{'Edit Desk' | translate}}</a></li>
                        <li><a href="" ng-click="remove(desk)"><i class="icon-trash"></i> {{'Delete Desk' | translate }}</a></li>
                      </ul>
                  	</div>
				</div>

				<div class="desk-config-tab" ng-class="{'member-tab': !desk.viewCards, 'board-tab': desk.viewCards}">
					<div class="desk-subheader subnav">
						<ul class="nav nav-pills pull-left">
					      <li ng-class="{active: !desk.viewCards}"><a href="" ng-click="desk.viewCards = false" translate>Desk members</a></li>
					      <li ng-class="{active: desk.viewCards}"><a href="" ng-click="desk.viewCards = true" translate>Desk boards</a></li>
					    </ul>
					    <a class="btn btn-info pull-right" ng-show="!desk.viewCards"><span class="icon-plus-sign icon-white"></span> {{ 'Add Member' | translate}}</a>
					    <a class="btn btn-info pull-right" ng-show="desk.viewCards"><span class="icon-plus-sign icon-white"></span> {{ 'Add Board' | translate}}</a>
					</div>

					<div class="desk-config-tab-content" ng-show="!desk.viewCards">
						<ul class="plain-table user-list">
		                    <li ng-repeat="user in desk.members">
                              <figure class="user-pic"><img src="images/avatar_default.png"></figure>
		                      <span class="user-name" >{{ user.name }}</span>
		                      
		                      <div class="table-buttons">
		                        <a><i class="icon-remove"></i></a>
		                      </div>

		                    </li>
                            <li ng-show="!desk.members.length" translate>There are no members yet</li>
		                  </ul>
					</div>

					<div class="desk-config-tab-content" ng-show="desk.viewCards">
						<ul class="board-table plain-table">
		                    <li class="boardcolor-{{ card.color }}" ng-repeat="card in desk.cards">
		                    	
		                    	<span class="board-name">{{ card.name }}</span>

								<div class="dropdown board-status" style="min-width:100px">
									<a href="" class="dropdown-toggle" data-toggle="dropdown">
										<span ng-repeat="status in card.statuses">
											{{ status.key }}<span ng-show="!$last">, </span>
										</span> 
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu  sf-dropdown-simple sf-right">
									    <li ng-repeat="status in desk.statuses"><label><input type="checkbox"> {{ status.key }}</label></li>
									</ul>
								</div>

		                       	<div class="dropdown">
		                        	<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <b class="caret"></b></a>
		                        	<ul class="dropdown-menu sf-dropdown-simple sf-right">
		                        		<li><a href="" ng-click=""><i class="icon-trash"></i> {{'Delete' | translate}}</a></li>
		                        	</ul>
		                      	</div>

		                      <span class="board-limit">Limit:<input type="text" placeholder="none" class="no-bg" ng-model="card.limit"></span>
		                    </li>
                            <li ng-show="!desk.cards.length" translate>There are no cards yet</li>
		                </ul>
					</div>

				</div>
			</div>
		</div>
    </div>


    <div sd-modal-view data-model="editDesk">

    
	<div class="modal-header"> 
		<a href="" class="close" ng-click="cancel()">×</a>
		<h3 ng-show="!editDesk._id" translate>Add New Desk</h3>
		<h3 ng-show="editDesk._id" translate>Edit Desk</h3>
	</div>

	

	<div class="modal-body modal-body-min">
		<form name="deskForm">

			<div class="popup-subnav subnav">
				<ul class="nav nav-pills pull-left">
					<li class="active"><a href="" translate>General</a></li>
					<li ng-show><a href="" translate>Desk members</a></li>
					<li ng-show><a href="" translate>Desk boards</a></li>
				</ul>
			</div>
		
			<input type="text" placeholder="{{'Enter Desk name' | translate}}" class="fullwidth-input" ng-model="editDesk.name" required> 
		</form>
	</div>


	<div class="modal-footer"> 
	  	<a href="" class="btn" ng-click="cancel()" translate>Cancel</a> 
	  	<button class="btn btn-primary" ng-click="save(editDesk)" ng-disabled="!deskForm.$valid" translate>Save</button>
	  </div>

</div>


</div>
