// archive-filtering.less
// Styling for content archive filtering
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.archive-sidebar {
	position:absolute;
	top:0px;bottom:0px;
	left:0;
	width:@archive-sidebar-width;
	.box-sizing(border-box);
	background-color:@archive-sidebar-bg;
	.box-shadow(inset -1px 0px 6px 0px rgba(0,0,0,.1));
	.transition(left 0.2s ease);
	border-right: 2px solid #bbb;


	.header {
		height: @nav-height + 1;
		border-bottom: 1px solid #ddd;
		background-color: #f4f4f4;
		.border-box();
		.icon {
			width: 48px;
			height: @nav-height;
			float: left;
			text-align: center;
			line-height: 48px;
			.opacity(80);
		}
		ul {
			float: left;
			li {
				float: left;
				height: 48px;
				.border-box();
				margin: 0 15px;
				line-height: 48px;
				font-size: 14px;
				&:hover {
					cursor: pointer;
					border-bottom: 3px solid #bbb;
				}
				&.active {
					border-bottom: 3px solid @sd-blue;
				}
			}
		}
		.doopen {
			position: absolute;
			top: 13px;
			right: 8px;
			padding-left: 10px;
			padding-right: 10px;
			i {
				.opacity(60);
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	z-index: 10;

	.content {
		position: absolute;
		top:@nav-height; left:0px; bottom:0px; right:0px;
		padding: 20px; 
		overflow: auto;
		padding-bottom: @bottom-view-padding;
	}

	.toggle-box {
            .toggle-box__label {
                font-size: 12px;
                font-weight: 500;
                color: @gray;
            }
		&.pane {
			margin: 0 -20px;
			> .toggle-content {
				padding: 20px 15px;
			}
		}
                .term-editor {
                    + .dropdown-nested {
                        position: absolute;
                        right: 15px;
                        margin-top: -22px;
                        .dropdown-menu {
                            max-height: 170px;
                            .backlink {
                                margin-top: 0;
                            }
                            button {
                                font-size: 13px;
                                padding: 5px 7px;
                                color: #333333;
                                height: auto;
                                line-height: 18px;
                                i { 
                                    margin-top: -8px;
                                    margin-right: 0;
                                }
                            }
                            li {
                                padding: 0;
                                margin-left: 0;
                            }
                        }
                    }
                }
                .terms {
                    .user-select(none);
                    clear: both;
                    float: right;
                    padding-top: 10px;
                    margin-bottom: 15px;
                    .clearfix();
                    li {
                        background: rgba(0,0,0,0.06);
                        line-height: 26px;
                        height: 26px;
                        padding: 0 6px;
                        .border-radius(3px);
                        margin: 0 5px 5px 0;
                        float: left;
                        i {
                            vertical-align: sub;
                            margin-left: 5px;
                            .opacity(40);
                        }
                        &:hover {
                            cursor: pointer;
                            background: rgba(0,0,0,0.1);
                            i {
                                .opacity(70);
                            }
                        }
                    }
                }
	}


	.filter-box {
		li {
			display: block;
			margin-bottom: 1px;
			.border-radius(2px);
			padding: 0 3px 0 5px;
			margin-left: 5px;
			line-height: 22px;
			button {
				border: 0;
				background: none;
				display: block;
				width: 100%;
				padding: 0;
				color: #666;
				text-align: left;
				height: 22px;
				line-height: 22px;
				font-size: 12px;
			}
			i {
				&:not([class*="filetype-icon-"]) {
					line-height: 16px;
					margin-top: 3px;
					margin-left: 5px;
					color: @grayLight;
					font-size: 11px;
				}
			}
			.sd-checkbox {
				margin-top: 3px;
			}
			[class*="filetype-icon-"] {
				.opacity(40);
			}
			&:hover {
				cursor: pointer;
				background: #ddd;
			}
			&:active {
				background: #ccc;
			}
		}
	}

	.content-type-filters {
		li {
			position: relative;

			i[class*="filetype-icon-"] {
				margin-left: -8px;
			}
			.sd-checkbox {
				position: absolute;
				left: 5px;
				top: 0px;
				visibility: hidden;
				
			}

			.hover-box {
				&:hover {
					i[class*="filetype-icon-"] {
						visibility: hidden;
					}
					.sd-checkbox {
						visibility: visible;
					}
				}
			}
			
			&.checked {
				.sd-checkbox {
					visibility: visible;
				}
			}
		}
	}

	.search-within-filter {
		position: relative;
		margin: -19px -20px 20px -20px;
		height: @nav-height;
		input {
			height: @nav-height;
			border-width: 0 0 1px 0 !important;
			padding-left: 15px;
		}
		button {
			position: absolute;
			top: 0; right: 0;
			height: @nav-height;
			width: @nav-height - 15px;
			border: 0;
			background: none;
			i {
				width: 18px;
  				background-repeat: no-repeat;
  				margin-top: 5px;
			}
		}
	}

	.date-filter {

		.predefined-dates {
			display: flex;
			justify-content: space-between;
			margin-bottom: 15px;
			> div {
				flex: 1 1 auto;
				padding: 4px;
				.border-box();
				button {
					display: block;
					.border-box();
					width: 100%;
				}
			}	
		}
		.datepicker-input {
			min-width: initial;
		}
		
	}

	.views {
		padding: 0;
		.header {
			padding: 10px;
		}
		.list {
			top: @nav-height;
			position: absolute;
			left: 0; right: 0;
			bottom: @bottom-view-padding;
			overflow: auto;
			ul {
				> li {
					display: block;
					padding: 10px 15px 10px 20px;
					border-bottom: 1px solid #ddd;
					.delete {
						float: right;
						border: 0;
						background: 0;
						display: none;
					}
					&:hover {
						cursor: pointer;
						background: #f8f8f8;
						.delete {
							display: block;
						}
					}
					&.active {
						background: @sd-hover;
					}
				}
			}
		}
		.edit-saved-searches {
			position: absolute;
			margin-left: 0px;
			.content {
				position: static;
				padding: 0;
			}
		}
	}
}

.sidebar-open {
	.archive-content {
		left: @archive-sidebar-width !important;	
	}
}
