<div sd-settings-view>
    <button class="btn btn-info pull-right" ng-click="edit()">
        <i class="icon-plus-sign icon-white"></i> <span translate>Add New Source</span>
    </button>

    <h2 translate>Sources</h4>
    <div class="settings-tab-content ">
        <ul class="selection-list provider-list">

            <li ng-repeat="provider in providers._items" class="clearfix">

                <h6>{{ provider.name }}</h6>
                <span class="label ingest-count " ng-class="provider.ingested_count ? 'label-info' : 'label-warning'" title="{{ 'Ingested items count'|translate }}">{{ provider.ingested_count || 0 }}</span>
                <div class="last-updated" ng-show="provider.ingested_count">
                    <span translate>Last updated</span> {{ provider.updated|reldate }}
                </div>
           
                <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle"><i class="icon-cog"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="" ng-click="edit(provider)"><i class="icon-cog"></i> <span translate>Edit source</span></a></li>
                        <li><a href="" ng-click="remove(provider)" sd-confirm="{{ 'Please confirm you want to remove source.'|translate }}"><i class="icon-trash"></i> <span translate>Delete source</span></a></li>
                    </ul>
                </div>

                <a class="goto-items" ng-href="#/ingest/?provider={{ provider.type === 'reuters' ? 'reuters.com' : provider.type }}" translate><i class="icon-external"></i> Go to Items</a>

            </li>
        </ul>
    </div>

    <div sd-modal-view data-model="provider">
        <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
            <h3 translate ng-show="provider._id">Edit Source {{ origProvider.name }}</h3>
            <h3 translate ng-hide="provider._id">Add New Source</h3>
        </div>

        <div class="modal-body">
            <form name="editForm" ng-submit="save()">

            <div class="control-group">
                <label for="provider" translate>Source Type</label>
                <select id="provider" required ng-model="provider.type" ng-options="key as val.label for (key, val) in types"></select>
            </div>

            <div class="control-group">
                <input type="text" class="large-text-input blue-text" placeholder="{{ 'name'|translate }}" ng-model="provider.name">
            </div>

            <div class="control-group credentials">
                <div ng-include="types[provider.type].templateUrl"></div>
            </div>

            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
            <button class="btn btn-primary" ng-click="save()" ng-disabled="!editForm.$valid" translate>Save</button>
        </div>
    </div>
</div>
