<div sd-modal data-model="workspace">
    <div class="modal-header">
        <h3 ng-hide="workspace._id" translate>Create new Workspace</h3>
        <h3 ng-show="workspace._id" translate>Rename Workspace</h3>
    </div>

    <div class="modal-body">
        <fieldset>
            <div class="field">
                <label translate>Workspace name</label>
                <input type="text" class="fullwidth-input" ng-class="{error: errors.name}"
                    ng-model="workspace.name" required>
                <div class="error" ng-show="errors.name" translate>Sorry, given workspace name is in use</div>
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <button class="btn pull-left" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary"
            ng-disabled="!workspace.name"
            ng-click="save()" translate>Save</button>
    </div>
</div>
