<div class="title"translate>New group</div>

<div class="close" ng-click="cancel()" ng-if="!saving">
    <i class="icon-close-small"></i>
</div>
<div class="content">
    <form name="newGroupForm">
        <fieldset>
            <div class="field">
                <label for="group_name" translate>Name</label>
                <input id="group_name" name="group_name" type="text" ng-model="group_name" required>
            </div>
        </fieldset>
    </form>
</div>
<div class="footer">
    <button class="btn" ng-click="cancel()" ng-if="!saving" translate>Cancel</button>
    <button class="btn btn-info" ng-click="save(group_name)" ng-disabled="newGroupForm.$invalid" translate>Save</button>
</div>
