<div class="packaging-screen">
<section class="main-section" >
    <div sd-authoring-widgets data-item="item">
        <div class="main-package-container">
            <div class="package-edit-container">
                <div class="package-preview">
                    <div class="preview-pane content-item-preview" style="margin-top:10px;" ng-if="selected.preview">
                        <div class="content">
                            <div sd-media-preview></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
