<div class="modal-header">
    <h3 class="pull-left">{{ activity.label|translate }}</h3>
    <button type="button" class="close" ng-click="reject()"><i class="icon-close-small"></i></button>
</div>

<div class="modal-body split-popup">
    <aside class="sidebar">
        <ul>
            <li ng-repeat="method in methods" ng-click="activate(method)" ng-class="{active: active == this}">
                <i class="avatar-icon-{{ method.id }}"></i> {{ method.label }}
            </li>
        </ul>
    </aside>

    <section class="main" sd-image-preview="preview.url" data-file="preview.img" data-progress-width="progress.width">

        <div class="upload-progress" ng-show="progress.width">
            <div class="bar" style="width: {{ progress.width }}%;"></div>
        </div>

        <div class="computer" ng-if="active.id == 'upload' && !preview.url" ng-hide="progress.width">
            <div class="dropzone" ng-file-drop="preview.img = $files[0]">
                <div class="text" translate>Drop it here</div>
				<div class="input-holder">
	                <input type="file" accept="image/*;capture=camera" ng-file-select="preview.img = $files[0]">
				</div>
                <div class="info" translate>The minimum image resolution is 200x200 pixels.</div>
            </div>
        </div>

        <div class="camera" ng-if="active.id == 'camera' && !preview.url">
            <label translate>Click to capture using camera. Be sure that you allow camera accessibility.</label>
            <video autoplay sd-video-capture="preview.url" data-file="preview.img"></video>
        </div>

        <div class="web" ng-if="active.id == 'web' && (!preview.cords || progress.width)">
            <label translate>Enter web url</label>
            <input type="url" ng-model="url" ng-change="preview.url = url">
            <label translate ng-if="url">Provided image URL is not valid.</label>
        </div>

        <div class="preview" ng-if="preview.url" ng-hide="!preview.cords || progress.width">
            <label translate>Make sure you're looking the best</label>
            <div class="crop-area">
                <div class="original">
                    <div sd-crop
                        data-src="preview.url"
                        data-cords="preview.cords"
                        data-progress-width="progress.width"
                        data-file="preview.img"
                        data-max-file-size="2">
                    </div>
                </div>
                <div class="preview">
                    <div class="preview-large">
                        <img ng-src="{{preview.url}}" class="preview-target-1">
                    </div>
                    <div class="preview-round">
                        <img ng-src="{{preview.url}}" class="preview-target-2">
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="modal-footer">
    <button type="button" class="btn submit" ng-click="upload(preview)" ng-disabled="!preview.cords || progress.width" translate>Done</button>
</div>
