<div class="split-content">
    <div class="header">
        <h2 translate>Roles privileges</h2>
        <button class="btn btn-info pull-right" ng-click="saveAll(rolesForm)" ng-disabled="!rolesForm.$dirty" translate>Save</button>
    </div>
    <div class="content privileges-settings">
        <form name="rolesForm">
            <table class="table table--fixed-header">
                <thead>
                    <tr>
                        <th class="name"></th>
                        <th ng-repeat="role in roles">
                            {{ :: role.name }}
                            <span class="label default" ng-if="role.is_default" translate>default</span>
                        </th>
                        <th class="blank-field"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in privileges">
                        <td class="name">{{ :: p.label }}</td>
                        <td ng-repeat="role in roles">
                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="role.privileges[p.name]">
                        </td>
                        <td class="blank-field"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
