<form name="userPrefs">
    <div class="action-bar clearfix" ng-class="{show: userPrefs.$dirty }">
        <button class="btn btn-info pull-right" ng-disabled="!userPrefs.$dirty" ng-click="save()" translate>Save</button>
        <button class="btn pull-right" ng-click="cancel()" ng-disabled="!userPrefs.$dirty" translate>Cancel</button>
    </div>
    <div class="preferences form-flat inner-content" ng-init="val = true">
        <div class="title">User settings</div>
        <ul>
            <li class="fieldset" ng-repeat="(id, p) in preferences track by id" ng-if="p.category !== 'dateline'">
                <div class="legend">{{ p.category }}</div>
                <div sd-info-item>
                    <label translate>{{ :: p.label }}</label>
                    <span ng-hide="p.allowed" sd-switch ng-model="p.enabled"></span>
                    <span ng-show="p.allowed">
                        <label ng-repeat="i in p.allowed">
                            <input name="allowed" type="radio" ng-model="p.view" ng-value="i">{{ i }}
                        </label>
                    </span>
                </div>
            </li>
            <li class="fieldset terms-box">
                <div class="legend">{{ :: preferences['dateline:located'].category }}</div>
                <div sd-info-item>
                    <label translate>{{ :: preferences['dateline:located'].label }}</label>
                    <span sd-meta-locators data-list="cities" data-item="preferences['dateline:located']" data-field="located"
                          data-change="changeDatelinePreview(item, city)"></span>
                </div>
                <div class="dateline_preview">
                    <label translate>Preview</label>
                    <span>{{ datelinePreview | previewDateline:datelineSource}} </span>
                </div>
            </li>
        </ul>
    </div>
</form>