<li ng-repeat="user in users" ng-click="select(user)" ng-class="{selected: user === selected, 'inactive' : !user.is_enabled || !user.is_active}">
    <figure class="avatar avatar-with-info" ng-class="{'user-logged': isLoggedIn(user)}">
        <div class="logged-info"></div>
        <div class="user-image">
            <img sd-user-avatar data-src="user.picture_url">
        </div>
    </figure>

    <i class="admin-label icon-settings" ng-if="user.user_type == 'administrator'" tooltip="{{ :: 'admin'|translate}}" tooltip-placement="top"></i>

    <div class="row-wrapper" sd-col-width>
        <div class="name">
        	{{ user.display_name }}
            <span class="disabled-label" ng-if="!user.is_enabled" translate>disabled</span>
            <span class="disabled-label" ng-if="user.is_enabled && !user.is_active" translate>inactive</span>
            <span class="disabled-label" ng-if="user.is_enabled && user.is_active && user.needs_activation" translate>pending</span>
        </div>
        <div class="username">{{ user.username }}</div>
        <div class="role">{{ roles[user.role].name }}</div>
        <div class="email">{{ user.email }}</div>
        <div class="created">{{ user._created | reldate}}</div>
    </div>

    <div class="action">
        <ul class="item-functions"
            sd-activity-list
            data-item="user"
            data-type="user"
            data-action="edit"
            data-done="done">
        </ul>
    </div>
</li>

<li class="alert alert-info" ng-show="users.length == null"><p translate>Loading..</p></li>
<li class="alert alert-info" ng-show="users.length == 0"><p translate>Oops! There are no items.</p></li>
