<div class="login-popup modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="login" class="form-horizontal" ng-submit="authenticate()">
            <div class="modal-header">
                <h3 translate>Please authenticate to continue</h3>
            </div>
            <div class="modal-body">

                    <p class="alert alert-error" ng-show="loginError" translate>Login failed!</p>
                    <p class="alert alert-warning" data-is="expired-warn" ng-show="" translate>Login session expired!</p>
                    <p class="alert alert-info" style="margin-bottom:0" ng-show="loading" translate>Please wait..</p>

                    <fieldset>
                        <input type="text" id="username" ng-model="username" placeholder="{{ 'Username'|translate }}" class="fullwidth-input" />
                        <input type="password" id="password" ng-model="password" placeholder="{{ 'Password'|translate }}" class="fullwidth-input login-pass" />
                  
                        <label for="login-remember-me" class="checkbox remember-me"><input type="checkbox" value="1" id="login-remember-me" ng-model="rememberMe"> {{ 'Remember login'|translate }}</label>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button ng-disabled="loading" id="login-button" type="submit" class="btn btn-primary" translate>Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>