<div class="login-screen">
    <div class="login-form-container">
        <div class="logo-handler" ng-show="!identity.Avatar">
            <img src="images/superdesk-icon-large.png" alt="Superdesk Logo">
        </div>

        <div class="form-handler">
            <div class="avatar-handler" style="background-image:url('{{ identity.Avatar.href || 'images/avatar_default.png' }}')" ng-show="identity.Avatar">
            </div>
            <form name="loginForm" ng-submit="authenticate()">
                <fieldset class="inputs">
                    <input type="text" id="username" ng-model="username" ng-show="!identity" placeholder="{{ 'username'|translate }}" class="fullwidth-input" required />
                    <input type="password" id="password" ng-model="password" placeholder="{{ 'password'|translate }}" class="fullwidth-input login-pass" required />
                </fieldset>
                <fieldset class="buttons">
                    <button ng-disabled="isLoading || !loginForm.$valid" id="login-btn" type="submit" class="btn btn-green">
                        {{ 'Log In' | translate }}
                        <div class="spinner" ng-show="isLoading">
                          <div class="dot1"></div>
                          <div class="dot2"></div>
                        </div>
                    </button>
                </fieldset>
            </form>
            <div class="error-handler">
                <p class="error" ng-show="loginError" translate>Oops! Invalid Username or Password. Please try again.</p>
            </div>
            <div class="text" ng-click="identity = null; username = null" ng-show="identity">Sign in as different user</div>
        </div>
    </div>
</div>