<div class="widget-resize-width" ng-show="status">
    <div class="resize-left" ng-click="resizeWidget(widget, 'left')"></div>
    <div class="resize-right" ng-click="resizeWidget(widget, 'right')" ></div>
</div>

<div class="widget-resize-height" ng-show="status">
    <div class="resize-up" ng-click="resizeWidget(widget, 'up')" ></div>
    <div class="resize-down" ng-click="resizeWidget(widget, 'down')" ></div>
</div>

<div class="widget-close" ng-click="removeWidget()" ng-show="status"></div>

<div class="r{{widget.sizex}}{{widget.sizey}}" ng-transclude></div>
