<div class="widget-wrapper" 
    ng-class="{
        'active-right': active,
        'right-extended': active.extended
    }">
    <div class="tablist right-tablist" ng-if="item">
        <ul class="navigation-tabs">
            <li ng-repeat="widget in widgets | orderBy:'order'"
                ng-class="{active: widget === active}">
                <button class="btn" type="submit"
                    ng-click="activate(widget)"
                    ng-disabled="isLocked(widget)"
                    id="{{ :: widget.label }}"
                    tooltip="{{ :: widget.label }}" tooltip-placement="left">
                    <i class="big-icon-{{ :: widget.icon }}"></i>
                </button>
            </li>
        </ul>
    </div>

    <div class="tabpane right-tabpane open-tabpane widget-{{active._id}}"
        ng-if="active && !isLocked(active)">
        <section class="tabcontent" ng-init="widget=active">
            <div sd-widget data-widget="active">
                <div ng-include="active.template"></div>
            </div>
        </section>
    </div>

    <div ng-transclude></div>
</div>