<div class="subnav subnav-fixed">
    <div class="pull-right" sd-pagination data-adapter="items"></div>
    <div class="btn-group source-select" sd-provider-filter data-items="items"></div>
    <input type="text" sd-searchbar data-df="headline" />
</div>


<div class="archive-content">

<section class="main-section archive-content-inner"
    sd-list-view
    data-adapter="items"
    data-select="selectedItem = item">
    <div ng-include="'scripts/superdesk-items/views/media-box-list.html'"></div>
</section>

<div class="side-preview"
    sd-item-preview-static
    data-item="selectedItem"
></div>

</div>