<div class="archive-content">
    <div class="preview-layout" ng-class="{closed: !selected.preview}">
        <div class="list-pane {{ view }}-view">
            <header>
                <div class="pull-left fitler-trigger" ng-click="sidebarstick = true" ng-class="{hidden: sidebarstick === true}"><i class="icon-filter-large"></i></div>
                <div sd-searchbar></div>
                <div class="view-select pull-right">
                    <button title="{{ 'switch to grid view' | translate}}" ng-show="view !== 'mgrid'"><i class="icon-th" ng-click="setView('mgrid')"></i></button>
                    <button title="{{ 'switch to list view' | translate}}" ng-show="view !== 'compact'"><i class="icon-th-list" ng-click="setView('compact')"></i></button>
                </div>
                <div sd-pagination data-items="items" data-limit="25"></div>
            </header>
            <div class="content">
                <div class="loading-indicator" ng-show="loading">{{:: 'Loading' | translate }}</div>
                <div sd-shadow>
                    <div class="newest-items" ng-show="createdMedia.items.length">
                        <span translate>Recently added media</span>
                        <div
                            sd-list-view
                            data-items="createdMedia.items"
                            data-select="preview(item)"
                            data-extras="{view: view, activityFilter: {type: type}, api: api}">
                            <div sd-media-box 
                                ng-if="type === 'archive'"
                                data-item="item" 
                                class="drag-{{view}}"></div>
                            <div sd-media-box ng-if="type !== 'archive'"></div>
                        </div>
                    </div>

                    <div
                        sd-list-view
                        data-items="items._items"
                        data-select="preview(item)"
                        data-extras="{view: view, activityFilter: {type: spike ? 'spike' : type}, api: api}">
                        <div sd-media-box 
                            ng-if="type === 'archive'"
                            data-item="item" 
                            class="{{view}}-view" 
                            data-cursor="view !== 'mgrid'">
                        </div>
                        <div sd-media-box ng-if="type !== 'archive'"></div>
                    </div>
                </div>
            </div>                
        </div>

        <div class="preview-pane content-item-preview" ng-init="contentTab = true">
            <header>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: contentTab}">
                        <button ng-click="contentTab = true"><span translate>Content</span></button>
                    </li>
                    <li ng-class="{active: !contentTab}">
                        <button ng-click="contentTab = false"><span translate>Metadata</span></button>
                    </li>
                </ul>
                <button ng-click="preview(null)" class="close-preview">
                    <i class="icon-close-small"></i>
                </button>
            </header>
            <div class="content" ng-if="selected.preview">
                <div ng-if="contentTab" sd-media-preview data-item="selected.preview" data-display="openLightbox()" data-type="{{ spike ? 'spike' : type }}"></div>
                <div ng-if="!contentTab" sd-media-metadata data-item="selected.preview"></div>
            </div>
        </div>
    </div>
</div>
