<div class="item-locked" ng-if="lock && !lockbyme">
    <span class="lock-sign"><i class="icon-lock-red"></i></span>
   	<span class="text"><em translate>Locked by</em> {{ lock.user | username }}</span>
    <button class="btn btn-light pull-left" ng-click="unlock()">Unlock</button>
</div>
<div class="item-locked" ng-if="lockbyme">
    <span class="lock-sign"><i class="icon-lock-red"></i></span>
   	<span class="text"><em>Locked by you in another browser</em></span>
    <button class="btn btn-light pull-left" ng-click="unlock()" ng-if="privileges.unlock">Unlock</button>
</div>
