<div class="subnav subnav-fixed" sd-workflow>

    <div class="button-stack right-stack">
        <a class="navbtn navbtn-info" href="" ng-if="openUpload" ng-click="openUpload()">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Add media</span>
        </a>
    </div>

</div>

<div sd-media-view data-item="selected.view" data-items="items._items" ng-if="selected.view"></div>

<section sd-sidebar-layout class="archive main-section">
    <div class="archive-content-topnav" sd-beta>
        <ul class="basket-tabs pull-left clearfix">
            <li><a href="" class="active">Basket one <b>(108)</b></a></li>
            <li><a href="">Basket two <b>(223)</b><i>19</i></a></li>
            <li><a href="">Basket three <b>(141)</b><i>23</i></a></li>
        </ul>

        <div class="flat-field dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu sf-dropdown sf-right">
                <li><a href="" ng-click="view='mgrid'"><i class="icon-th"></i> {{ 'grid view' | translate}}</a></li>
                <li><a href="" ng-click="view='mlist'"><i class="icon-th-list"></i> {{ 'list view' | translate}}</a></li>
                <li><a href="" ng-click="view='compact'"><i class="icon-th-list"></i> {{ 'compact view' | translate}}</a></li>
                <li><a href="" ng-click="view='stats'"><i class="icon-signal"></i> {{ 'statistics' | translate}}</a></li>
            </ul>
        </div>

        <div class="flat-field pull-right">
            <a href=""><i class="icon-plus"></i></a>
        </div>
    </div>

    <div class="archive-content-subnav " ng-show="view !== 'stats'" ng-class="{'hidetop' : !beta}" >
        <div sd-searchbar></div>
        <div sd-pagination data-items="items" data-limit="25"></div>
    </div>

    <div class="preview-layout" ng-class="{'hidetop' : !beta}">
        <div class="archive-content-inner list-pane {{ view }}-view" sd-shadow>

            <div class="newest-items" ng-show="createdMedia.items.length">
                <span translate>Recently added media</span>
                <div ng-if="view !== 'stats'"
                    sd-list-view
                    data-items="createdMedia.items"
                    data-select="preview(item)"
                    data-extras="{view: view, type: type}">
                    <div sd-media-box ng-if="extras.type === 'archive'" sd-draggable data-item="item" data-container="'.scratchpad'"></div>
                    <div sd-media-box ng-if="extras.type !== 'archive'"></div>
                </div>
            </div>

            <div ng-if="view !== 'stats'"
                sd-list-view
                data-items="items._items"
                data-select="preview(item)"
                data-extras="{view: view, type: type}">
                <div sd-media-box ng-if="extras.type === 'archive'" sd-draggable data-item="item" data-container="'.scratchpad'"></div>
                <div sd-media-box ng-if="extras.type !== 'archive'"></div>
            </div>
        </div>
        


        <div class="preview-pane item-preview">
            <div class="actions" ng-if="selected.preview">
                <a ng-click="preview(null)" class="action">
                    <i class="icon-close-small"></i>
                    <i class="icon-close-small icon-white"></i>
                </a>
                <a ng-click="display(selected.preview)" class="action preview">
                    <i class="icon-fullscreen"></i>
                    <i class="icon-fullscreen icon-white"></i>
                </a>
            </div>
            
            <div ng-if="selected.preview">
                <div sd-media-preview data-item="selected.preview"></div>
            </div>
            
        </div>
    </div>
</section>