<div class="subnav">
	<div class="button-stack right-stack">

		<div class="navbtn dropdown views-settings">
    		<button class="dropdown-toggle condensed"><i class="svg-icon-settings"></i></button>
			<ul class="dropdown-menu pull-right">
				<li ng-repeat="view in views.views">
                    <span ng-click="views.edit(view)">{{ view.name }} <i class="icon-pencil"></i></span>
                </li>
                <li ng-hide="views.views.length"><a href="" ng-click="views.create()">start creating a view</a></li>
				<li><button class="full" ng-click="views.create()"><i class="svg-icon-add"></i><span translate>Create new view</span></button></li>
			</ul>
    	</div>

        <div class="navbtn dropdown strict">
            <button class="dropdown-toggle sd-create-btn"></button>
            <ul class="dropdown-menu pull-right">
                <li>
                    <button ng-click="content.create()">
                        <i class="icon-plus-small icon-round icon-white"></i> {{ :: 'Story' | translate }}
                    </button>
                </li>
                <li class="divider" ng-if="openUpload"></li>
                <li ng-if="openUpload">
                    <button ng-click="openUpload()">
                        <i class="icon-upload-blue"></i> {{ :: 'UPLOAD' | translate }}
                    </button>
                </li>
            </ul>
        </div>

        <button class="navbtn">
        	<i class="svg-icon-right"></i>
        </button>
    </div>

    <div class="button-stack left-stack">
        <div class="navbtn dropdown" sd-user-desks data-desk="selectedDesk"></div>
    </div>

    <div class="navbtn toggle-list desk-views clearfix" sd-desk-views ng-class="{autoheight: overload && show}"></div>
</div>

<div sd-media-view data-item="selected.view" data-items="items._items" ng-if="selected.view"></div>

<section class="archive main-section" ng-class="{'sidebar-open': sidebarstick}">

    <div class="archive-sidebar">
        <div class="header">
            <div class="title"><i class="icon-filter-large"></i>{{ 'Filters' | translate }}</div>
            <div class="doopen" ng-click="sidebarstick = false"><i class="icon-backward-thin"></i></div>
        </div>
        <div class="content">
            <div sd-toggle-box data-title="{{ 'Content type' | translate }}" data-open="true">
                <div sd-filter-contenttype data-items="items"></div>
            </div>
            <div class="info-tab filter-general">
                <form>
                <ul class="metadata">
                    <li>
                        <div class="lbl" translate>Urgency</div>
                        <div class="data urgency-data" sd-filter-urgency>
                            <slider floor="1" ceiling="5" precision="0" ng-model-low="urgency.min" ng-model-high="urgency.max" class="sd-slider urgency-slider"></slider>
                            <div class="urgency-range">{{urgency.min}} - {{urgency.max}}</div>
                        </div>
                    </li>
                    <li class="sublist">
                        <ul sd-date-range data-lte="lte" data-gte="gte">
                            <li>
                                <label for="created_before" translate>Created before</label>
                                <div class="data">
                                    <input id="created_before" type="date" ng-model="lte" class="form-control">
                                </div>
                            </li>
                            <li>
                                <label for="created_after" translate>Created after</label>
                                <div class="data">
                                    <input id="created_after" type="date" ng-model="gte" class="form-control">
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <div class="lbl">
                            <span translate>Source</span>
                        </div>
                        <div class="data data-provider">
                            <div class="dropdown source-select" sd-provider-menu data-items="items"></div>
                        </div>
                    </li>
                </ul>
                </form>
            </div>
        </div>
    </div>

    <div class="archive-content">
        <div class="preview-layout" ng-class="{closed: !selected.preview}">
            <div class="list-pane {{ view }}-view">
                <header ng-show="view !== 'stats'">
                    <div class="pull-left fitler-trigger" ng-click="sidebarstick = true" ng-class="{hidden: sidebarstick === true}"><i class="icon-filter-large"></i></div>
                    <div sd-searchbar></div>
                    <div class="view-select pull-right">
                        <button title="{{ 'switch to grid view' | translate}}" ng-show="view !== 'mgrid'"><i class="icon-th" ng-click="setView('mgrid')"></i></button>
                        <button title="{{ 'switch to list view' | translate}}" ng-show="view !== 'compact'"><i class="icon-th-list" ng-click="setView('compact')"></i></button>
                    </div>
                    <div sd-pagination data-items="items" data-limit="25"></div>
                </header>
                <div class="content">
                    <div sd-shadow>
                        <div class="newest-items" ng-show="createdMedia.items.length">
                            <span translate>Recently added media</span>
                            <div ng-if="view !== 'stats'"
                                sd-list-view
                                data-items="createdMedia.items"
                                data-select="preview(item)"
                                data-extras="{view: view, activityFilter: {type: type}, api: api}">
                                <div sd-media-box 
                                    ng-if="type === 'archive'"
                                    sd-draggable
                                    data-item="item" 
                                    data-container="'#scratchpad'" 
                                    class="drag-{{view}}"></div>
                                <div sd-media-box ng-if="type !== 'archive'"></div>
                            </div>
                        </div>

                        <div ng-if="view !== 'stats'"
                            sd-list-view
                            data-items="items._items"
                            data-select="preview(item)"
                            data-extras="{view: view, activityFilter: {type: type}, api: api}">
                            <div sd-media-box 
                                ng-if="type === 'archive'"
                                sd-draggable 
                                data-item="item" 
                                data-container="'#scratchpad'" 
                                class="{{view}}-view" 
                                data-cursor="view !== 'mgrid'"></div>
                            <div sd-media-box ng-if="type !== 'archive'"></div>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="preview-pane content-item-preview">
                <header>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <button><span translate>Content</span></button>
                        </li>
                        <li>
                            <button><span translate>Metadata</span></button>
                        </li>
                    </ul>
                    <button ng-click="preview(null)" class="close-preview">
                        <i class="icon-close-small"></i>
                    </button>
                </header>
                <div class="content" ng-if="selected.preview">
                    <div sd-media-preview data-item="selected.preview" data-display="display()" data-type="type"></div>
                </div>
                

            </div>
        </div>
    </div>
    <div sd-workqueue></div>
</section>

<div sd-modal-view data-model="views.edited" class="add-view-modal responsive-popup">
    <div class="modal-header"> <a href="" class="close" ng-click="views.cancel() && cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="views.edited._id">Edit View {{ origView.name }}</h3>
        <h3 translate ng-hide="views.edited._id">Add New View</h3>
    </div>

    <form name="editView">
    <div class="modal-body">
            <div class="popup-subnav">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': !views.flags.next}">
                        <button ng-click="views.flags.next=false" translate>General</button>
                    </li>
                    <li ng-class="{'active': views.flags.next}">
                        <button ng-click="views.flags.next=true" translate>Filters</button>
                    </li>
                </ul>
            </div>
            <div class="modal-screen" ng-if="!views.flags.next">
                <fieldset>
                    <div class="field">
                        <label translate>Name</label>
                        <input name="name" type="text" class="fullwidth-input" ng-model="views.edited.name" required />

                        <div ng-show="editView.name.$error.required" sd-valid-info>
                            <i class="icon-info-sign-warning"></i>
                            <span translate>name is required</span>
                        </div>
                    </div>
                    <div class="field">
                        <label translate>Description</label>
                        <textarea sd-auto-height ng-model="views.edited.description"></textarea>
                    </div>
                    <div class="field row" ng-hide="views.edited._id || !selectedDesk">
                        <input sd-check ng-model="views.flags.is_desk">
                        <label translate>Attach to current desk</label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-screen" ng-if="views.flags.next">
                <fieldset>
                    <div class="field">
                        <label translate>Filter query</label>
                        <input name="filter" type="text" class="fullwidth-input" ng-model="views.flags.query" required />

                        <div ng-show="editView.filter.$error.required" sd-valid-info>
                            <i class="icon-info-sign-warning"></i>
                            <span translate>filter is required</span>
                        </div>

                        <div ng-show="views._issues.filter && !views._issues.filter.required" sd-valid-info>
                            <i class="icon-info-sign-warning"></i>
                            <span translate>filter is not valid</span>
                        </div>
                    </div>
                </fieldset>
            </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="views.cancel() && cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="views.flags.next=true" ng-show="!views.flags.next" translate>Next</button>
        <button class="btn btn-primary" ng-click="views.save()" ng-show="views.flags.next" ng-disabled="editView.$invalid" translate>Save</button>
    </div>
    </form>
</div>
