<div class="archiving-progress" style="width:{{item.archivingProgress}}%" ng-show="!item.archived && item.archiving"></div>

<div class="error-box" ng-show="item.archiveError">
    <p class="message">There was an <b>error</b> archiving this item</p>
    <div class="buttons">

    </div>
</div>

<div sd-item-rendition data-item="item" data-rendition="thumbnail"></div>

<div class="media"  ng-show="item.type == 'text' || item.type == 'composite'">
    <small title="{{ item.headline }}">{{ item.headline }}</small>
</div>

<div class="media" ng-show="item.type == 'audio' || item.type == 'video'">
    <i class="filetype-icon-large-{{ item.type}}"></i>
</div>

<div class="media-info" >
    <h5 ng-show="item.slugline">{{ item.slugline }}</h5>
    <h5 ng-show="!item.slugline">{{ item.type | translate }}</h5>

    <dl>
        <dt class="source"><span translate>source:</span></dt>
        <dd class="provider" sd-meta-ingest data-provider="item.ingest_provider"></dd>
        <dt translate>updated</dt>
        <dd><time datetime="{{ item.versioncreated }}" title="{{ item.versioncreated|date:'medium' }}">{{ item.versioncreated|reldate }}</time></dd>
        <dt ng-show="item.is_spiked" translate>expires</dt>
        <dd ng-if="item.is_spiked"><time title="{{ item.expiry | date:'medium' }}">{{ item.expiry | reldate }}</time></dd>
    </dl>
</div>

<span class="type-icon"><i class="filetype-icon-{{item.type}}"></i></span>
<span class="urgency-label"><i class="urgency-icon-{{item.urgency}}"></i></span>

<div class="status-label"
     ng-class="{'label-canceled': item.pubstatus=='canceled'}"
     ng-show="item.pubstatus && item.pubstatus!='usable'">
     {{ item.pubstatus | translate }}
</div>

<div class="status-label" ng-show="item._type">{{ item._type }}</div>

<div class="action">
    <ul ng-if="extras.activity" class="item-functions"
        sd-activity-list
        data-item="item"
        data-type="{{ spike ? 'spike' : (type || item._type)}}"
        data-action="{{extras.activity.action}}">
    </ul>
</div>