<div class="archiving-progress" style="width:{{item.archivingProgress}}%" ng-show="!item.archived && item.archiving"></div>

<span class="state-border"></span>

<div class="list-field">
    <i class="urgency-icon-{{item.urgency}}"></i>
</div>

<div class="media-info">
    <div class="list-field type-icon">
        <i class="filetype-icon-{{item.type}}"></i>
        <span class="output-item-label label-{{item.urgency}}" ng-show="extras.view == 'mlist'">{{ item.urgency }}</span>
    </div>
    <div class="list-field" ng-show="extras.view == 'compact'"><span class="output-item-label label-{{item.urgency}}">{{ item.urgency }}</span></div>

    <h5 class="list-field" ng-class="{'no-border': extras.view == 'compact'}">
        <div class="item-provider" ng-if="extras.view == 'compact'">{{ item.provider }}</div>
        <div class="main-title">
            <div class="status-label"
                 ng-class="{'label-canceled': item.pubstatus=='canceled'}"
                 ng-show="item.pubstatustatus && item.pubstatus!='usable'">
                 {{ item.pubstatus | translate }}
            </div>
            {{ item.headline || item.type }}
        </div>
        <div class="meta-data-field" ng-if="extras.view == 'mlist'">
            <div class="item-provider">{{ item.provider }}</div>
            <span ng-show="item.subject">//</span> {{ item.subject | mergeWords}}
        </div>
    </h5>

    <div class="item-right list-field">
        <time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time>
        <div class="action">
            <ul ng-if="extras.activityFilter" class="item-functions"
                sd-activity-list
                data-data="{item: item, list: items, index: $index}"
                data-type="{{extras.activityFilter.type}}"
                data-action="{{extras.activityFilter.action}}">
            </ul>
        </div>
    </div>

    <div class="item-right" ng-if="item.expiry">
        <span translte>ttl:</span> <b>{{ item.expiry | reldate }}</b>
    </div>
</div>
