<div class="item {{type}}" ng-click="setitem({selected: item.residRef})">
    <div class="info">
	    <figure class="icons-holder" ng-if="type === 'composite' || type === 'text'">
	    	<i class="filetype-icon-large-{{type}}"></i>
	    </figure>
	    
		<div class="holder" ng-if="type !== 'composite' && type !== 'text'">
			<div class="loading" ng-show="!data && !error"></div>
			<div class="error-icon" ng-show="error">
				<i class="filetype-icon-large-{{type}}"></i>
			</div>
			<div ng-if="type === 'picture'" sd-item-rendition data-item="data" data-rendition="thumbnail"></div>
			<audio ng-if="type === 'audio'" controls="controls" sd-sources data-renditions="data.renditions" ng-show="data"></audio>
			<div ng-if="type === 'video'"><i class="filetype-icon-large-video"></i></div>
		</div>

        <div class="headline" ng-if="type !== 'composite'">
            <a ng-href="#/authoring/{{ item.guid }}?_id={{ item.guid }}" title="{{ item.headline }}">
                <div ng-show="item.headline">
                    {{ item.headline || item.description | uppercase}}
                </div>
                <div ng-hide="item.headline" translate>Blank headline received</div>
            </a>
        </div>
        <div class="headline" ng-if="type === 'composite'">
            <a ng-href="#/packaging/{{ item.guid }}" title="{{ item.headline }}">
                <div ng-show="item.headline">
                    {{ item.headline || item.description | uppercase}}
                </div>
                <div ng-hide="item.headline" translate>Blank headline received</div>
            </a>
        </div>

        <button ng-if="editmode" class="remove" ng-click="remove({item: item})"><i class="icon-close-small"></i></button>
	</div>

    <div class="alert alert-error" ng-show="error" translate>Problems occured while fetching data.</div>

</div>
