<div>
    <div class="header">
        <ul class="info-list pull-left">
            <li>{{ 'Provider:' | translate }} <span>{{ item.provider }}</span></li>
            <li>{{ 'Version:' | translate }} <span>{{ item.version }}</span></li>
        </ul>
    </div>
    <div class="preview-nav" ng-if="item.type === 'composite'">
       <div class="top">
           <span><i class="filetype-icon-large-composite"></i> {{ 'Package preview' | translate }}</span>
       </div> 
       <div class="nested" ng-show>
           <a ng-click="" href="">back</a>
           <span>Package</span>
       </div>
    </div>

    <div class="content" ng-class="{'with-nav': item.type === 'composite'}" sd-shadow>
        <div class="date">
            <p>{{ 'Created' | translate }} {{ item.firstcreated | reldate }}</p>
            <p>{{ 'Modified' | translate }} {{ item.versioncreated | reldate }}</p>    
        </div>
        <!-- item headline -->
        <p class="title">{{ item.headline }}</p>

        <div class="core-content">
            
            <!-- item rendition -->
            <div sd-item-rendition data-item="item" data-rendition="viewImage"></div>
            
            <div ng-if="item.type == 'audio'">
                <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
            </div>

            <div class="text" ng-show="item.body_html" sd-html-preview="item.body_html"></div>

            <div class="composite-preview" ng-if="item.type === 'composite'">
                <div class="subtitle" translate>Package content</div>
                <div class="items">

                    <div sd-package data-item="item"></div>
                    
                    <!--
                    <div ng-repeat="section in contents">
                        <div sd-toggle-box data-title="{{ section.type | translate }}" data-open="true" data-icon="filetype-icon-{{section.type}}">
                            <ul class="{{section.type}}">
                                
                                <li ng-repeat="p_item in section.items">
                                    <div ng-if="p_item.type === 'text'">
                                        <div class="headline">{{p_item.headline}}</div>
                                    </div>
                                    <div ng-if="p_item.type === 'picture'" class="holder">
                                        <div sd-item-rendition data-item="p_item" data-rendition="viewImage"></div>
                                        <div class="headline" ng-show="p_item.headline">{{p_item.headline}}</div>
                                    </div>
                                    <div ng-if="p_item.type === 'audio'">
                                        <audio controls sd-source="p_item.renditions.stream"></audio>
                                    </div>

                                    <div ng-if="p_item.type === 'video'" class="holder">
                                        <video controls sd-source="p_item.renditions.stream"></video>
                                    </div>
                                </li>

                            </ul>
                        </div>                        
                    </div>
                    -->

                </div>
            </div>
        </div>
    </div>
</div>
