<div>
    <div class="additional-info">
        <ul>
            <li class="date">
                <p>{{ 'Created' | translate }} {{ item.firstcreated | reldate }}</p>
                <p>{{ 'Modified' | translate }} {{ item.versioncreated | reldate }}</p>    
            </li>
            <li ng-if="item.provider">{{ 'Source:' | translate }} <span>{{ item.provider }}</span></li>
            <li ng-if="item.version">{{ 'Version:' | translate }} <span>{{ item.version }}</span></li>
        </ul>
    </div>
    <div class="preview-nav" ng-if="item.type === 'composite'">
       <div class="top">
           <span><i class="filetype-icon-large-composite"></i> {{ 'Package preview' | translate }}</span>
       </div> 
       <div class="nested" ng-show>
           <a ng-click="" href="">back</a>
           <span>Package</span>
       </div>
    </div>

    <div class="content-container">

        <div sd-item-lock data-item="item"></div>

        <!-- item headline -->
        <div class="title-holder">
            <p class="title">{{ item.headline }}</p>
            <div class="actions">
                <button ng-click="display()" class="fullscreen">
                    <i class="icon-fullscreen"></i>
                </button>
                <div class="dropdown">
                    <button class="dropdown-toggle"><i class="icon-dots-vertical"></i></button>
                    <div class="dropdown-menu pull-right"
                            sd-activity-list
                            data-data="{item: item}"
                            data-type="{{type}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="core-content">
            
            <!-- item rendition -->
            <div sd-item-rendition data-item="item" data-rendition="viewImage"></div>
            
            <div ng-if="item.type == 'audio'">
                <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
            </div>

            <div ng-if="item.type == 'video'">
                <video controls="controls" sd-sources data-renditions="item.renditions"></video>
            </div>

            <div class="text" ng-show="item.body_html" sd-html-preview="item.body_html"></div>

            <div class="composite-preview" ng-if="item.type === 'composite'">
                <div sd-package data-item="item"></div>
            </div>
        </div>
    </div>
</div>
