<div class="subnav subnav-fixed">

    <a class="navbtn pull-left active" ng-click="backToIngest()">
        <i class="left arrow"></i>
    </a>

    <h1 class="main-article-title">{{ item.headline|limitTo:80 }}</h1>

    <a class="btn btn-medium btn-info pull-right" href="" ng-click="save(item)">Save</a>
    <a class="btn btn-medium pull-right" ng-click="closeArticle()" translate>Close</a>
    
    <a class="btn btn-medium pull-right mobile-hide" style="margin-right: 20px;" href="" ng-click="mode.zen = !mode.zen">Zen mode</a>

</div>

<div class="editor-toolbar-placeholder subnav-fixed" ng-show="editmode">
        
</div>

<div class="zen-buttons">
    <a class="btn pull-right zen-close" href="" ng-click="mode.zen = false"><i class="icon-remove"></i></a>
    <a class="btn pull-right btn-info" href="" ng-click="save(item)" >Save</a>
</div>

    
<div class="article-edit-container">

    <div class="opened-articles">
        <ul>
            <li ng-repeat="article in articles" ng-class="{active : article._id == item._id}" ng-click="switchArticle(article._id)">{{article.headline}}</li>
        </ul>
    </div>

    <div class="tablist left-tablist" >
        <div class="fake-space"></div>
        <ul class="navigation-tabs">
            <li><a href="#" tooltip="Sources" tooltip-placement="right" tooltip-append-to-body="true" ><i class="big-icon-sources"></i></a></li>
            <li><a href="#" tooltip="Archive" tooltip-placement="right" tooltip-append-to-body="true" ><i class="big-icon-archive"></i></a></li>
        </ul>
    </div>
            
    <div class="tabpane left-tabpane">
        <section class="tabcontent" id="ingest-tab">
            <p>samole content</p>                
        </section>
        <section class="tabcontent" id="archive-tab">
            <p>samole content</p>   
        </section>
    </div>

    <div class="main-article-container">
        <article class="main-article">
            
            <section class="article-section">
                <header>
                    <span class="edit-label" translate>Slugline</span>
                </header>
                <div id="article-section">
                    <p>{{ item.slugline }}</p>
                </div>
            </section>

            <section class="article-date">
                <time datetime="{{ item.firstCreated }}" title="{{ item.firstCreated|date:'medium' }}">{{ item.firstCreated|reldate }}</time>
            </section>

            <section class="article-title">
                <header>
                    <span class="edit-label" translate>Headline</span>
                </header>
                <div id="article-title">
                    <p>{{ item.headline }}</p>
                </div>
            </section>

            <section ng-if="item.body_html" class="article-full-text">
                <header>
                    <span class="edit-label" translate>Body</span>
                    <span class="edit-words-info">{{ item.body_html|characterCount }} Characters / {{ item.body_html|wordCount }} Words</span> 
                </header>
                <div sd-html ng-model="item.body_html" ></div>
            </section>

        </article>
    </div>
    


    <div class="tablist right-tablist">
        <div class="fake-space"></div>
        <ul class="navigation-tabs">
            <li><a href="#" tooltip="Chat" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-chat"></i></a></li>
            <li><a href="#" tooltip="Editorial comments" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-editorial"></i></a></li>
            <li><a href="#" tooltip="Media" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-media"></i></a></li>
            <li><a href="#" tooltip="Switches" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-switches"></i></a></li>
            <li><a href="#" tooltip="Geolocation" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-geolocation"></i></a></li>
            <li><a href="#" tooltip="Comments" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-comments"></i></a></li>
            <li><a href="#" tooltip="Followup" tooltip-placement="left" tooltip-append-to-body="true" ><i class="big-icon-followup"></i></a></li>
        </ul>
    </div>

    <div class="tabpane right-tabpane" >
        <section class="tabcontent" id="chat-tab">
            <h3>Chat Tab</h3>
        </section>
        <section class="tabcontent temptabcont" id="editorial-tab">
            <h3>Editorial comments</h3>
        </section>
        <section class="tabcontent temptabcont" id="media-tab">
            <h3>Media Tab</h3>
        </section>
        <section class="tabcontent temptabcont" id="switches-tab">
            <h3>Switches Tab</h3>
        </section>
        <section class="tabcontent temptabcont" id="geolocation-tab">
            <h3>Geolocation Tab</h3>
            <p>Geolocation interface</p>
        </section>
        <section class="tabcontent temptabcont" id="comments-tab">
            <h3>Comments Tab</h3>
            <p>Displays reader’s comments/feedback, if available</p>
        </section>
        <section class="tabcontent temptabcont" id="followup-tab">
            <h3>Follow Up Tab</h3>
            <p>Add article follow up to the Forward Planning calendar</p>
        </section>
    </div>

</div>

