<div class="subnav subnav-fixed">

    <a class="navbtn pull-left active" ng-click="backToIngest()">
        <i class="left arrow"></i>
    </a>

    <h1 class="main-article-title">{{ item.headline|limitTo:80 }}</h1>

    <a class="btn btn-medium btn-info pull-right" href="" ng-click="save(item)">Save</a>
    <a class="btn btn-medium pull-right" ng-click="closeArticle()" translate>Close</a>
    
    <a class="btn btn-medium pull-right mobile-hide" style="margin-right: 20px;" href="" ng-click="mode.zen = !mode.zen">Zen mode</a>

</div>

<div class="editor-toolbar-placeholder subnav-fixed" ng-show="editmode">
        
</div>

<div class="zen-buttons">
    <a class="btn pull-right zen-close" href="" ng-click="mode.zen = false"><i class="icon-remove"></i></a>
    <a class="btn pull-right btn-info" href="" ng-click="save(item)" >Save</a>
</div>

    
<div class="article-edit-container" ng-class="{'editmode':editmode}">

    <div class="opened-articles">
        <ul>
            <li ng-repeat="article in articles" ng-class="{active : article._id == item._id}" ng-click="switchArticle(article._id)">{{article.headline}}</li>
        </ul>
    </div>

    <div class="main-article-container">
        <article class="main-article">
            
            <section class="article-section">
                <header>
                    <span class="edit-label" translate>Slugline</span>
                </header>
                <div id="article-section">
                    <p>{{ item.slugline }}</p>
                </div>
            </section>

            <section class="article-date">
                <time datetime="{{ item.firstCreated }}" title="{{ item.firstCreated|date:'medium' }}">{{ item.firstCreated|reldate }}</time>
            </section>

            <section class="article-title">
                <header>
                    <span class="edit-label" translate>Headline</span>
                </header>
                <div id="article-title">
                    <p>{{ item.headline }}</p>
                </div>
            </section>

            <section ng-if="item.body_html" class="article-full-text">
                <header>
                    <span class="edit-label" translate>Body</span>
                    <span class="edit-words-info">{{ item.body_html|characterCount }} Characters / {{ item.body_html|wordCount }} Words</span> 
                </header>
                <div sd-editor ng-model="item.body_html"></div>
            </section>

        </article>
    </div>
    
    <!-- side tab panes -->
    <div class="tablist left-tablist">
        <div class="fake-space"></div>
        <ul class="navigation-tabs">
            <li ng-repeat="pane in panes|filter:{position:'left', selected:true}" ng-class="{'active':pane.active}" ng-click="flipActive(pane, 'left')">
                <a href="" tooltip="{{pane.name}}" tooltip-placement="right" tooltip-append-to-body="true"><i class="big-icon-{{pane.icon}}"></i></a>
            </li>
        </ul>
    </div>
    <div class="tablist right-tablist">
        <div class="fake-space"></div>
        <ul class="navigation-tabs">
            <li ng-repeat="pane in panes|filter:{position:'right', selected:true}" ng-class="{'active':pane.active}" ng-click="flipActive(pane, 'right')">
                <a href="" tooltip="{{pane.name}}" tooltip-placement="left" tooltip-append-to-body="true"><i class="big-icon-{{pane.icon}}"></i></a>
            </li>
        </ul>
    </div>

    <div class="tabpane left-tabpane"  ng-class="{'open-tabpane':tabpaneIsOpen('left')}">
        <section ng-repeat="pane in panes|filter:{position:'left', selected:true}" ng-show="pane.active" ng-include="pane.template"></section>
    </div>
    <div class="tabpane right-tabpane" ng-class="{'open-tabpane':tabpaneIsOpen('right')}">
        <section ng-repeat="pane in panes|filter:{position:'right', selected:true}" ng-show="pane.active" ng-include="pane.template"></section>
    </div>

</div>

