<div class="modal lightbox-preview urgency-{{ item.urgency }}" ng-show="item.type">
    <section class="lightbox-top">
        <a class="btn btn-dark" href="" ><i class="icon-pencil icon-white"></i> {{ 'Edit'|translate }}</a>
        <a class="btn btn-dark" href="" ><i class="icon-download-alt icon-white"></i> {{ 'Download'|translate }}</a>
        <a class="btn btn-dark" href="" ><i class="icon-trash icon-white"></i> {{ 'Delete'|translate }}</a>
        <a href="" class="lightbox-close" data-dismiss="modal" ng-click="closeEdit()">
            <i class="icon-remove icon-white"></i>
        </a>
    </section>

    <!-- preview pane -->


        <!-- composite(package) preview -->

        <div class="lightbox-composite" ng-show="item.type == 'composite'">
            <ul>

                <li ng-repeat="ref in item.packageRefs" sd-ref class="{{refItem.type}}" ng-click="treepreview(refItem)">

                        <!-- text item -->
                        <div class="media" ng-if="refItem.type == 'text'">
                            {{ item.headline }}
                        </div>

                        <!-- picture item -->
                        <figure class="media" ng-if="refItem.type == 'picture'">
                            <img ng-src="{{ refItem.renditions.thumbnail.href }}"/>
                        </figure>

                        <!-- audio item -->
                        <div class="media" ng-if="refItem.type == 'audio'"></div>

                        <!-- video item -->
                        <div class="media" ng-if="refItem.type == 'video'"></div>

                </li>
            </ul>
        </div>


        <div ng-class="{'lightbox-composite-preview' : item.type == 'composite'}">

            <section class="lightbox-left">
                
                <!-- picture preview -->
                <figure class="lightbox-large-preview" ng-show="previewSingle.type == 'picture'">
                    <img ng-src="{{ previewSingle.renditions.baseImage.href }}" />
                </figure>
                <div class="lightbox-caption" ng-show="previewSingle.type == 'picture'">{{ previewSingle.headline }}</div>
                
                <!-- text preview -->
                <div class="lightbox-paper" ng-show="previewSingle.type == 'text'">
                    <div class="lightbox-text">
                        <div class="lightbox-title">{{ previewSingle.headline }}</div>
                        <figure ng-if="previewSingle.renditions.viewImage">
                            <img ng-src="{{ previewSingle.renditions.viewImage.href }}" title="{{ previewSingle.description }}" />
                        </figure>
                        <div class="lightbox-fulltext">
                            <small ng-show="previewSingle.slugline">{{ previewSingle.slugline || previewSingle.headline }}</small>
                            <div ng-show="previewSingle.body_html" sd-html ng-model="previewSingle.body_html" class="lightbox-fullcontent"></div>
                        </div>
                    </div>
                </div>

                <!-- audio preview -->
                <div class="lightbox-audio" ng-show="previewSingle.type == 'audio'">
                    <audio controls sd-source="previewSingle.renditions.stream"></audio>
                </div>

                <!-- video preview -->
                <div class="lightbox-video" ng-show="previewSingle.type == 'video'">
                    <video controls sd-source="previewSingle.renditions.stream"></video>
                </div>



            </section>

        </div>
    <!-- end of preview pane -->




    <!-- composite(package) preview -->
    <div ng-show="item.type == 'composite'">
        <div class="lightbox-composite">
            <ul>

                <li ng-repeat="ref in item.packageRefs" sd-ref class="{{refItem.type}}" ng-click="treepreview(refItem)">

                        <!-- text item -->
                        <div ng-if="refItem.type == 'text'">
                            {{ item.headline }}
                        </div>

                        <!-- picture item -->
                        <figure ng-if="refItem.type == 'picture'">
                            <img ng-src="{{ refItem.renditions.thumbnail.href }}"/>
                        </figure>

                </li>
            </ul>
        </div>
        <div class="lightbox-composite-preview">
            <section class="lightbox-left" ng-show="item.type == 'composite'">
                
                <div class="lightbox-paper" ng-show="treepreviewItem.type == 'text'">
                    <div class="lightbox-text">
                        <div class="lightbox-title">{{ treepreviewItem.headline }}</div>
                        <div class="lightbox-fulltext">
                            <small ng-show="treepreviewItem.slugline">{{ treepreviewItem.slugline || treepreviewItem.headline }}</small>
                            <div ng-show="treepreviewItem.body_html" sd-html ng-model="treepreviewItem.body_html" class="lightbox-fullcontent"></div>
                        </div>
                    </div>
                </div>

                <figure class="lightbox-large-preview" ng-show="treepreviewItem.type == 'picture'">
                    <img ng-src="{{ treepreviewItem.renditions.baseImage.href }}" />
                </figure>
                <div class="lightbox-caption" ng-show="treepreviewItem.type == 'picture'">{{ treepreviewItem.headline }}</div>

            </section>
        </div>
    </div>
    



    <section class="lightbox-right">
        <header>
            <h5 class="lightbox-title">{{ item.slugline || item.headline }}</h5>
            <span class="lightbox-modified-info">{{ 'Modified:'|translate }} {{ item.versioncreated|date:'medium' }}</span>
            
            <div class="status-label" 
                 ng-class="{'label-canceled' : item.pubstatus=='canceled'}"
                 ng-show="item.pubstatus  && item.pubstatus!='usable'">
                 {{ item.pubstatus | translate }}
            </div>
            <span class="urgency-label">{{ item.urgency }}</span>
            <span class="lightbox-media-type filetype-icon-{{item.type}}"></span>

            <div class="btn-group lightbox-actions">
              <button class="btn" ng-if="!item.archived" ng-click="$parent.archive(item)"><i class="icon-archive"></i> {{ 'Archive'|translate }}</button>
              <button class="btn disabled" ng-if="item.archived"><i class="icon-archive"></i> {{ 'Archive'|translate }}</button>
              <button class="btn"><i class="icon-list-alt"></i> {{ 'Edit metadata'|translate }}</a>
            </div>
            
        </header>
        <div class="lightbox-media-data" >
            <div class="lightbox-descritpion">
            </div>
            <div class="tabmodule" ng-class="{'tabmodule-open':toggleDetails}" ng-init="toggleDetails=true">
                <div class="tabmodule-header" ng-click="toggleDetails=!toggleDetails">
                    <i class="icon-chevron-down toggle-module-close"></i>
                    <i class="icon-chevron-right toggle-module-open"></i>
                    <span class="tabmodule-title" translate>Details</span>
                </div>
                <div class="tabmodule-content">
                    <dl class="metadata-details-new clearfix">
                        <dt translate>Provider</dt><dd>{{ item.provider }}</dd>
                        <dt translate ng-show="item.creditline">Creditline</dt><dd ng-show="item.creditline">&copy;{{ item.creditline }}</dd>
                        <dt translate ng-show="item.byline">By</dt><dd ng-show="item.byline">{{ item.byline }}</dd>
                        <dt translate>Item type</dt><dd>{{ item.type }}</dd>
                        <dt translate>GUID</dt><dd>{{ item.guid }}</dd>
                        <dt translate>First created</dt><dd>{{ item.firstcreated|reldate }}</dd>
                        <dt translate>Version created</dt><dd>{{ item.versioncreated|reldate }}</dd>
                        <dt translate ng-show="item.archived">Archived</dt><dd ng-show="item.archived">{{ item.archived|reldate }}</dd>
                        <dt translate ng-show="item.version">Version</dt><dd ng-show="item.version">{{ item.version }}</dd>
                        <dt translate ng-show="item.place">Place</dt><dd ng-show="item.place">{{ item.place | mergeWords }}</dd>
                        <dt translate ng-show="item.subject">Subject</dt><dd ng-show="item.subject">{{ item.subject | mergeWords }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</div>
