<div class="media-box media-{{item.type}} urgency-{{ item.urgency }}" 
     ng-class="{
     selected : item.selected, 
     'compact-item': ui.compact, 
     archived : item.archived!=null&&actions.archive,
     active : item ==previewItem
    }" >

    <div class="loading-status" ng-show="!item.archived && item.archiving"></div>

    <span class="urgency-border"></span>

    <div class="list-field">
        <div sd-check ng-model="item.selected"></div>
    </div>

    <div class="media-info">
        <div class="list-field type-icon">
            <i class="filetype-icon-{{item.type}}"></i>
            <span class="urgency-label" ng-show="!ui.compact">{{ item.urgency }}</span>
        </div>
        <div class="list-field" ng-show="ui.compact"><span class="urgency-label">{{ item.urgency }}</span></div>

        <h5 class="list-field" ng-click="preview(item,$index)">
            <div class="item-provider"  ng-show="ui.compact">{{ item.provider }}</div>
            <div class="main-title">
                <div class="status-label" 
                     ng-class="{'label-canceled' : item.pubstatus=='canceled'}"
                     ng-show="item.pubstatus && item.pubstatus!='usable'">
                     {{ item.pubstatus | translate }}
                </div>
                <div ng-show="item.headline">{{ item.headline }}</div>
                <div ng-show="!item.headline">{{ item.type }}</div>
            </div>
            <div class="meta-data-field" ng-show="!ui.compact"><div class="item-provider">{{ item.provider }}</div><span ng-show="item.subject">//</span> {{ item.subject | mergeWords}}</div>
        </h5>
        

        <div class="item-right list-field">
            <time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time>
            <div class="item-functions">
                <a class="list-field" 
                    ng-click="archive(item)" 
                    ng-show="actions.archive && !item.archived" 
                    tooltip-placement="bottom" tooltip="{{ 'archive' | translate }}" tooltip-append-to-body="true">
                        <i class="icon-archive"></i>
                </a>
                <a class="list-field disabled" 
                    ng-click="archive()" 
                    ng-show="actions.archive && item.archived" 
                    tooltip-placement="bottom" tooltip="{{ 'already in Archive' | translate }}" tooltip-append-to-body="true">
                        <i class="icon-archive"></i>
                </a>
                
            </div>
        </div>
    </div>
</div>