<div class="media-box media-{{item.type}} urgency-{{ item.urgency }}" 
     ng-class="{selected : item.selected, 'compact-item': ui.compact}" >

    <div class="list-field">
        <div sd-check ng-model="item.selected"></div>
    </div>

    <div class="media-info">
        <div class="list-field type-icon">
            <i class="filetype-icon-{{item.type}}"></i>
            <span class="urgency-label" ng-show="!ui.compact">{{ item.urgency }}</span>
        </div>
        <div class="list-field" ng-show="ui.compact"><span class="urgency-label">{{ item.urgency }}</span></div>

        <h5 class="list-field"  ng-click="preview(item)">
            <div class="item-provider"  ng-show="ui.compact">{{ item.provider }}</div>
            <div class="main-title">{{ item.headline }}</div>
            <div class="meta-data-field" ng-show="!ui.compact"><div class="item-provider">{{ item.provider }}</div>// {{ item.subject | mergeWords}}</div>
        </h5>

        <div class="item-right list-field">
            <time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time>
            <div class="item-functions">
                <a class="list-field" ng-click="preview(item)" ng-show="actions.preview"><i class="icon-eye-open"></i></a>
                <a class="list-field" ng-click="archive(item)" ng-show="actions.archive"><i class="icon-expand-thin"></i></a>
                <a class="list-field"><i class="icon-dots"></i></a>
            </div>
        </div>
    </div>
</div>