<div class="media-box media-{{item.type}} urgency-{{ item.urgency }}"
     ng-class="{ selected : item.selected}"
     ng-mouseenter="hoverItem(item)" >

    <figure class="media" ng-if="item.renditions.thumbnail">
        <img ng-src="{{ item.renditions.thumbnail.href }}" alt="" title="{{ item.description }}" />
        <figcaption class="caption">{{ item.creditline }}</figcaption>
    </figure>

    <div class="media"  ng-show="item.type == 'text' || item.type == 'composite'">
        <small title="{{ item.headline }}">{{ item.headline }}</small>
    </div>

    <div class="media-info" >
        <h5>{{ item.slugline }}</h5>
        <dl class="clearfix">
            <dt class="source"></dt>
            <dd class="provider">{{ item.provider }}</dd>

            <dt translate>created</dt>
            <dd><time datetime="{{ item.firstcreated }}" title="{{ item.firstcreated|date:'medium' }}">{{ item.firstcreated|reldate }}</time></dd>
            <dt translate>subject</dt>
            <dd class="subject-line">
                {{ item.subject | mergeWords}}
            </dd>
        </dl>
    </div>

    <span class="type-icon"><i class="filetype-icon-{{item.type}}"></i></span>
    <span class="urgency-label">{{ item.urgency }}</span>
    <span class="urgency-line"></span>
</div>