<div class="notification-pane" ng-class="{show: flags.notifications}">
    <div class="header" ng-if="flags.notifications">
        <figure class="avatar medium">
            <img sd-user-avatar data-src="currentUser.picture_url">
        </figure>
        <div class="user-info">
            <span class="name">{{currentUser.display_name }}</span>
            <span class="displayname">{{currentUser.username }}</span>
        </div>
        <div class="actions">
            <a href="#/profile/" ng-click="flags.notifications = false" translate>Profile</a>
            <button ng-click="logout()" translate>SIGN OUT</button>
        </div>
    </div>
    <div class="content" ng-if="flags.notifications">
        <section class="module">
            <header class="title" translate>Notifications</header>
            <div class="notification-list">
                <ul>
                    <li ng-repeat="notification in notifications._items" ng-class="{unread: notification._unread}" sd-mark-as-read>
                        <figure class="avatar">
                            <img sd-user-avatar data-src="notification.user.picture_url" />
                        </figure>
                        <div class="content" ng-if="notification.name == 'notify'">
                            <time sd-datetime data-date="notification._created"></time>
                            <p class="text"><b>{{ notification.user.display_name || notification.user.username }}</b> <span translate>commented on</span> <i><a ng-href="#/authoring/{{ notification.item.guid }}?_id={{ notification.item.guid }}&comments={{ notification.data.comment_id }}" title="{{ notification.item.headline }}">{{ notification.item.slugline || notification.item.headline }}</a></i>:<br>{{ notification.data.comment }}</p>
                        </div>
                        <div class="content" ng-if="notification.name != 'notify'">
                            <time sd-datetime data-date="notification._created"></time>
                            <p class="text"><b>{{ notification.user.display_name || notification.user.username || "System" }}</b>: <span sd-activity-message data-activity="notification"></span></p>
                        </div>                        
                    </li>
                    <div class="info" ng-show="notifications._items.length === 0" translate>All good so far.</div>
                    <div class="info" ng-show="notifications._items == null" translate>loading..</div>
                </ul>
            </div>
        </section>
    </div>
</div>
