<div class="subnav" ng-if="type !== 'ingest'">
	<div class="button-stack right-stack">
        <div class="navbtn dropdown strict" dropdown ng-if="type === 'archive'">
            <button tooltip="{{ :: 'Create' | translate }}" tooltip-placement="left" class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
            <ul class="dropdown-menu pull-right" sd-content-create></ul>
        </div>
    </div>
    <div class="desk-stages">
        <div class="navbtn toggle-list" sd-desk-stages></div>
    </div>
</div>
<div class="subnav subnav--plain" ng-class="{'subnav--archive': type === 'archive'}">
	<header class="search-page-header">
			<div class="filter-trigger" title="{{ :: 'Filters' | translate }}" ng-click="flags.facets = !flags.facets" ng-class="{'filter-trigger--active': flags.facets}"><i class="icon-filter-large"></i></div>

			<div sd-item-searchbar data-repo="repo" data-context="context" class="searchbar-flex-handler"></div>
			<div sd-item-sortbar></div>

			<div class="view-select">
					<button title="{{ :: 'Switch to grid view' | translate }}" ng-show="view !== 'mgrid'" ng-click="setview('mgrid')"><i class="icon-th"></i></button>
					<button title="{{ :: 'Switch to list view' | translate }}" ng-show="view !== 'compact'" ng-click="setview('compact')"><i class="icon-th-list"></i></button>
			</div>
			<div sd-multi-action-bar></div>
	</header>
</div>

<div sd-media-view data-item="selected.view" data-items="items._items" ng-if="selected.view" data-close="closeLightbox()"></div>

<section sd-search-container class="main-section search-page-container {{type}}-container" ng-class="{'sidebar-open': flags.facets}">
    <div sd-search-facets class="archive-sidebar" data-items="items" data-desk="selected.desk"></div>
    <div sd-content-results class="archive-content"></div>
</section>
