<div class="related-item-view">
    <ul>
        <li ng-repeat="relatedItem in relatedItems._items">
            <div class="related-item" ng-click="open(relatedItem)">
                <i class="type-icon filetype-icon-{{relatedItem.type}}"></i>
                <span class="keyword" ng-if="relatedItem.slugline">{{ relatedItem.slugline }}</span>
                <span sd-item-container data-item="relatedItem" class="container"></span>
                <span class="state-label state-{{relatedItem.state}}">{{ relatedItem.state }}</span>
                <div class="item">
                    <span ng-href="" title="{{ relatedItem.headline }}" class="headline">
						{{ relatedItem.headline || relatedItem.description}}
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>