<div class="production-dashboard">
    <div class="list-pane" ng-class="production.view">
        <div class="subnav">
            <button class="btn pull-right"
                ng-disabled="production.view.min"
                ng-click="production.closeList()">&lt;</button>
        </div>
        <div ng-if="!production.view.min" sd-production-agg-widget class="widget-aggregate"></div>
        <div ng-if="production.view.min" ng-click="production.openList()" class="widget-aggregate"></div>
    </div>

    <div class="item-pane" ng-if="!production.view.max" ng-class="production.view">
        <div sd-authoring class="prod-screen">
            <div sd-authoring-topbar></div>
            <section class="main-section" ng-class="{'auth-sendto': views.send}">
                <div class="page-content-container" ng-click="views.send = false">
                    <article class="theme-container" ng-class="{preview: !_editable}">
                        <button class="proofread-toggle btn btn-light" ng-click="proofread = !proofread">
                            <span class="button-lable" translate>Mode: </span>
                            <span ng-show="proofread" translate>Proofread</span>
                            <span ng-show="!proofread" translate>Normal</span>
                        </button>

                        <span sd-theme-select ng-if="proofread" data-key="proofreadTheme"></span>
                        <span sd-theme-select ng-if="!proofread" data-key="theme"></span>

                        <div class="fieldset" sd-article-edit></div>
                    </article>
                </div>
            </section>
            <div sd-authoring-sidebar></div>
        </div>
    </div>
</div>

<div sd-workqueue-production></div>
