<div class="production-dashboard">
    <div class ="tabpane left-tabpane open-tabpane widget-aggregate">
        <div class="tabcontent">
            <div class="widget-content" style="top:50px;">
                <div sd-production-agg-widget></div>
            </div>
        </div>
    </div>

    <div class="default-view" ng-if="viewdefault">
        <div class="subnav">
            <h3 class="page-nav-title" translate>Authoring - opened articles</h3>
            <div class="button-stack right-stack">      
                <div class="navbtn dropdown strict" dropdown>
                    <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
                    <ul class="dropdown-menu pull-right" sd-content-create></ul>
                </div>
            </div>
        </div>

        <div sd-dashboard-articles></div>
    </div>
</div>
    <div ng-if="!viewdefault">
        <div sd-authoring class="prod-screen">
        <div sd-authoring-topbar></div>
            <section class="main-section" ng-class="{'auth-sendto': views.send}">

                <div class="page-content-container" ng-click="views.send = false">
                    <article class="theme-container" ng-class="{preview: !_editable}">
                        <button class="proofread-toggle btn btn-light" ng-click="proofread = !proofread">
                            <span class="button-lable" translate>Mode: </span>
                            <span ng-show="proofread" translate>Proofread</span>
                            <span ng-show="!proofread" translate>Normal</span>
                        </button>

                        <span sd-theme-select ng-if="proofread" data-key="proofreadTheme"></span>
                        <span sd-theme-select ng-if="!proofread" data-key="theme"></span>

                        <div class="fieldset" sd-article-edit></div>
                    </article>
                </div>

        </section>

        <div sd-authoring-sidebar></div>
        </div>
    </div>

<div sd-workqueue></div>
