<div class="subnav">
    <h3 class="page-nav-title" translate></h3>

    <div class="button-stack right-stack">		
        <div class="navbtn dropdown strict" dropdown>
	        <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
	        <ul class="dropdown-menu pull-right" sd-content-create></ul>
	    </div>
    </div>
</div>
<section class="main-section production-dashboard">
    <div class ="tabpane left-tabpane open-tabpane widget-aggregate">
        <div class="tabcontent">
            <div class="widget-content">
                <div sd-production-agg-widget></div>
            </div>
        </div>
    </div>
    <div sd-dashboard-articles></div>
</section>
    <!-- <div class="tabpane left-tabpane open-tabpane">
        <section class="tabcontent">
            <div sd-widget>
                <div sd-production-agg-widget></div>
                <div ng-include="active.left.template"></div>
            </div>
        </section>
    </div>
    <div class="main-section production-dashboard">
        <div sd-dashboard-articles></div>
    </div> -->

<div sd-workqueue></div>
