<div>
	<div class="clocks-contianer clearfix">
		<sd-clock ng-repeat="clock in wclock" wtime="clock"></sd-clock>
	</div>

	<div class="widget-footer">
		<div class="slider">
			<span class="arrow left" ng-click="skipPrev()" ng-class="{'disable': !showleft}"></span>
			<span class="arrow right" ng-click="skipNext()" ng-class="{'disable': !showright}"></span>
		</div>
	</div>

	<div class="dropdown widget-settings">
	    <a class="dropdown-toggle"><i class="icon-cog"></i></a>
	    <ul class="dropdown-menu sf-dropdown-simple pull-right">
	      <li translate> Configure position</li>
	      <li translate> Add new clock</li>
	      <li translate> Remove widget</li>
	    </ul>
	</div>
</div>
