{% extends "email_layout.html" %}

{% block content %}
<h1>Saved Searches Report</h1>
<p>This is a report for search saved as "<strong>{{search.name|e}}</strong>"</p>
{% if not docs %}
<p><strong>No document found with this search</strong></p>
{% else %}
<p>Here are the found documents:
    <ul>
        {% for doc in docs %}
        <li>
            {% if doc.get('dateline') and doc['dateline'].get('text') %}
                {{doc['dateline']['text']}}
            {% endif %}
            <strong>{{doc.headline|e}}</strong>
            {% if doc.get('extra') and doc['extra'].get('subtitle') %}
            <br />{{doc['extra']['subtitle']|e}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</p>
{% endif %}
{% endblock %}
