@charset "utf-8";
/* CSS Document */

	
ul.treeview {
	margin: 0;
	padding: 0;
}
.treeview ul { 
	margin: 0;
	padding: 0;
}

.treeview li { 
	width:auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	height:21px;
	background-color:#dcdcdc;
	list-style-type: none;
	padding-left: 17px;
	margin-bottom: 3px;
	cursor:pointer;
	position:relative;
	&.selected { 
		background-color:#8acc5e;
	}
	&.submenu {
		background:none;
		height:auto;
		width:auto;
		overflow:visible;
		position:relative;
		padding-left:0px;
		&.parent {
			width:auto;
			.border-radius(4px);
			height:21px !important;
			background-color:#dcdcdc;
			list-style-type: none;
			padding-left: 0px;
			margin-bottom: 3px;
			cursor:pointer;
			position:relative;
			line-height:18px;
		}
		&.selected {
			&.parent {
				background-color:#8acc5e;
			}
			&.half.parent {
				background-color:#aace92;
			}
		}
		ul {
			display: none; 
			padding-left:9px;
			height:auto;
			position:relative;
			li {
				background:url(../../images/sf_treemenu/indent.png) no-repeat 0px 0px;
				height:21px;
				padding-left:11px;
				.border-radius(0);
				&:last-child {
					background:url(../../images/sf_treemenu/indent-last.png) no-repeat 0px 0px;
				}
				.child-content {
					width:auto;
					.border-radius(4px);
					height:21px;
					line-height:21px;
					list-style-type: none;
					padding-left: 8px;
					margin-bottom: 3px;
					cursor:pointer;
					position:relative;
					background-color: #dcdcdc;
				}
				&.selected .child-content {
					background-color:#8acc5e;
				}
			}
		}
	}
	input.check {
		float:right;
		margin:4px 5px;
	}
}

.tree-entry {
	width:17px;
	height:21px;
	display:inline-block;
	background:url(../../images/sf_treemenu/plus-icon.png) no-repeat 5px 6px;
	position:relative;
	float:left;
}


.treemenuicon {
	font-family:Arial, Helvetica, sans-serif;
	height:21px;
	display:inline-block;
	color:#333333;
	padding-left:32px;
	font-size:13px;
	line-height:21px;
	background:url(../../images/sf_treemenu/file-types-icons.png) no-repeat;
	vertical-align:top;
	position:relative;
	float:left;
}
.treemenuicon.photo {
	background-position: 0px 0px;
}
.treemenuicon.video {
	background-position: 0px -21px;
}
.treemenuicon.slideshow {
	background-position: 0px -42px;
}
.treemenuicon.audio {
	background-position: 0px -63px;
}
.treemenuicon.file {
	background-position: 0px -84px;
}
.treemenuicon.maps {
	background-position: 0px -105px;
}
.treemenuicon.calendar {
	background-position: 0px -126px;
}
.treemenuicon.other {
	background-position: 0px -84px; /* same as file */
}



