//theme
@background-main:     #f8f8f8;

//positioning
@topspace : 40px;
@subnav-height: 53px;  /*was 65*/
@subnav-mobile-height: 45px;

@subnav-level2: 40px;
@main-content-padding: 20px;

//tablists
@tablist-width : 48px;
@tablist-background:  #a1a1a1;



body {
  background: @background-main;
  height:100%;
  overflow: hidden;
}

/*
====================================================
  Webkit scroll
====================================================
*/


::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	margin: -1px 0;
}
::-webkit-scrollbar:hover {
	background-color: #e8e8e8;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
}
::-webkit-scrollbar-thumb:hover {
	background: #777;
	cursor: pointer;
}

/*
====================================================
  Navbar
====================================================
*/
.navbar {

	.brand {
	  /* Live blog */
	  width: 85px;
	  height: 22px;
	  margin: 6px 20px 5px 0;
	  padding: 0;
	  background-size: 85px 22px;
	  text-indent: -9999px;
	  white-space: nowrap;
	  overflow: hidden;
	  
	}

	.nav.main > li > a {
		font-weight:bold;
		font-size:12px;
		text-transform:uppercase;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	    color:#fff;
	    &:hover{
	    	color:#aaa;
	    	.caret {
	    	.opacity(50);
	    	}
	    }
	    .caret {
	    	.opacity(100);
	    }
	}

	.nav.pull-right li > a {
		color: #fff;
		font-size: 12px;
		&.user-profile {
			position: relative;
			background-size: 23px;
			.text-semibold();
			.avatar {
				width: 22px;
				height: 22px;
				float: left;
				margin-right: 10px;
			}
			.notifications-count {
				position: absolute;
				width: 21px;
				height: 13px;
				background: #4aa8eb;
				.border-radius(5px);
				line-height: 13px;
				text-align: center;
				left: -4px;
				top: 4px;
				font-size: 10px;
			}
		}
	}

	.nav-header {
		color: #b8b8b8;
		text-shadow: 1px 1px 2px rgba(0,0,0,1.0);
	}

	.dropdown-menu .divider {
		background-color: #212121;
		border-color: #666;  
	}

}


.navbar-fixed-top {
	position:fixed !important; 
	.navbar-inner {
		height: 40px;
	}
	.container {
		margin-left: 20px;
		width:auto;
	}

	.loader { 
		display: none; 
		width: 80px;
		div { 
			margin-top:11px; 
    		color: #777;
	    	margin-top: 11px;
    	}
	}


}

.version {
	height: 10px;
	font-size: 10px;
	padding: 2px 5px;
	margin-right: 20px;
	.border-radius(2px);
	&.stable {
		background: #111;
		color: #777;
	}
	&.beta {
		background: #009360;
		color: #fff;
	}
}
.beta-hide {
	display: none !important;
}


/*
====================================================
  Content containers
====================================================
*/
.main-background-container {
  position:absolute;
  top:0;
  right: 0;
  left:0;
  padding-top:@topspace;
  .box-sizing(border-box);
  height:100%;
  background: @background-main;
  overflow-y:visible;
  .transition( all 0.3s ease);
  overflow-x:hidden; 
  &.sf-menu-open {
    left: @sf-main-menu-width !important;
  	.subnav-fixed {
  		left: @sf-main-menu-width !important;
  		right: 0 !important;
  	}
  }
}

@media screen and (max-width: 1180px) {
	.main-background-container {
	  &.sf-menu-open {
	  	right: -@sf-main-menu-width !important;
	  	.subnav-fixed {
	  		right: -@sf-main-menu-width !important;
	  	}
	  }
	}
}
@media screen and (max-width: 320px) { 
	.main-background-container {
	  &.sf-menu-open {
	  	left: 260px !important;
	  	right: -260px !important;
	  	.subnav-fixed {
	  		left: 260px !important;
	  		right: -260px !important;
	  	}
	  }
	}
}

.subnav {
  top:@topspace;
  height:@subnav-height !important;
  background: rgba(245,245,245,0.90);
  .box-sizing(border-box);
  border: 1px solid #e5e5e5;
  .subnav-title {
    font-size: 20px;
	float: left;
  }

  .button-stack {
  	height:@subnav-height !important;
  	position: relative;
  	height: 53px;
  	margin: -10px 20px 0 -20px;
  	float: left;
  	&.right-stack {
		float: right;
		margin: -10px -20px 0 20px;
		float: right;
  	}
  	.navbtn {
  		float: left;
  		padding: 0 15px;
  		width: auto;
  		background: #f5f5f5;
  		color:#333;
  		height: 52px;
  		display: block;
  		text-align: center;
  		line-height: 52px;
  		text-decoration: none !important;

  		&.navbtn-info {
  			background: #5ea9c8;
  			color: #fff;
  		}

  		&:hover {
  			background: #e0e0e0;
  			&.navbtn-info {
	  			background:  lighten(#5ea9c8, 5%);
	  		}
  		}

  		i {
  			vertical-align: middle;
  		}
  		.title {
  			text-transform: uppercase;
  		}

  		i + .title {
  			margin-left: 10px;
  		}
  		&.navbtn-hover {
	  		.title {
	  			display: none;
	  		}
	  		&:hover {
	  			.title {
	  				display: inline;
	  			}
	  		}
  		}

  		&.dropdown {
  			.dropdown-toggle {
  				padding: 0;
				.border-radius(0);
				line-height: 48px;
				&:hover {
					background: none;
				}
	  		}
	  		&.open .dropdown-toggle {
	  			background: none;
	  		}
	  		.sf-dropdown-simple {
	  			margin-top: 0;
	  			.border-radius(0px) !important;
	  			border:1px solid #e0e0e0;
	  			background: #f0f0f0;
	  			min-width: 200px;
	  			.box-shadow(2px 2px 5px 0 #f0f0f0);
	  			&.sf-right {
	  				.box-shadow(-2px 2px 5px 0 #f0f0f0);
	  			}
	  			li {
	  				padding: 10px 15px;
	  				height: 35px;
	  			}
	  		}
  		}
  		
  	}
  }
  .navbtn {
  	
  	
  	&.disabled {
  		background: #e1e1e1;
  		&:hover {
  			background: #e1e1e1;
  			cursor: default;
  		}
  		.arrow {
  			display: none;
  		}
  	}
  	&.active {
  		background: #62b0d0;
  		cursor: pointer;
  	}
  	&.large {
  		width: auto;
  		padding: 0 20px;
  		span {
  			text-transform: uppercase;
  			color: #fff;
  		}
  		span + i {
  			margin-left: 10px;
  		}
  	}
  }
  &.subnav-level2 {
    	top:@subnav-height+@topspace;
    	height:@subnav-level2 !important;
    	padding:5px 20px !important;
    	z-index: 1000 !important;
    	.box-shadow(0 0 0 0 #000);
    	.btn-toolbar {
    		margin: 0;
    	} 
	}
}
.subnav-fixed {
    width:auto;
    position: fixed;
    top: 40px;
    padding:10px 20px;
    left: 0;
    right: 0;
    z-index: 1001; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    .border-radius(0px);
    .box-shadow-both(inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1));
    .transition( all 0.3s ease);
    //page title placed in subnav-fixed
    .page-nav-title {
		color: #666;
		font-size: 18px;
		line-height: 34px;
		float: left;
		font-weight:400;
		span {
			font-weight: 600;
			color: #666;
		}
    }
}

.subnav .nav {
  margin-bottom: 0;
  border: 1px solid #cecece;
  .border-radius(4px);
  .gradientBar(#f7f6f7, #eae9ed);
  .box-shadow(inset 0px 1px 0px rgba(255,255,255,1));
  .box-shadow(0px 1px 0px rgba(255,255,255,1));
  li {
  	a {
	  	margin: 0;
		padding-top: 8px;
		padding-bottom: 8px;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
		color:#4f4f4f;	
		.border-radius(0px);
		.gradientBar(#f7f6f7, #eae9ed);
		.box-shadow(inset 0px 1px 0px rgba(255,255,255,1));
		border-left: 1px solid #fff;
		border-right: 1px solid #cecece;
  		&:hover {
	  		color: #333333;
	  		text-decoration: none;
	  		.gradientBar(#f1f0f1, #dddae1);
	  		.transition(background-position 0.1s linear);
	  		border-left: 1px solid #fff;
			border-right: 1px solid #cecece;
  		}
  		&:active {
  			color: #333333;
			text-decoration: none;
			padding-left: 13px;
			color: #282828;
			background: #eae8ed;
			border-right-color: #cecece;
			border-left: 0;
			.box-shadow(inset 0px 2px 3px rgba(0,0,0,.1));
  		}
  		&.primary {
	  		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			color:#fff;	
			.border-radius(0px);
			.gradientBar(#0088cc, #0055cc);
			.box-shadow(inset 0px 1px 0px rgba(255,255,255,0.2));
			border-left: 1px solid #fff;
			border-right: 1px solid #cecece;
	  	}
  	}
  	
  	&:first-child {
  		a, a:hover {
  			border-left: 0;
			padding-left: 12px;
			.border-radius(3px 0px 0px 3px);
  		}
  	}
  	&:only-child {
  		a, a:hover {
  			border-left: 0 none;
			border-right: 0 none;
		    .border-radius(2px) !important;
		    padding-left: 12px;
  		}
  	}
  	&:last-child {
  		a, a:hover {
  			border-right: 0 none;
		    padding-right: 12px;
		    .border-radius(0px 3px 3px 0px);
		}
  	}
  }
  .active {
  		a , a:hover {
  			padding-left: 13px;
			color: #282828;
			background: #eae8ed;
			border-right-color: #cecece;
			border-left: 0;
			.box-shadow(inset 0 2px 3px rgba(0,0,0,.1));
  		}
  }
}
.popup-subnav {
	margin: -15px -15px 0 -15px;
	border-width: 0 0 1px 0;
	height: 48px !important;
	padding: 10px;
	margin-bottom: 15px;
	.nav-pills li a {
		padding: 6px 10px !important;
	}
}

.navbar-fixed-top .navbar-inner {
    padding: 0;
    .box-shadow(none);
}

.subnav	.form-inline {margin-bottom:0;}

.subnav .form-inline select {
	height:32px;
}
.subnav	.form-inline input[type="text"] {
	height:22px;
	font-size:16px;
}

.main-section {
	position:absolute;
	top: @subnav-height+@topspace;
	bottom:0; left:0; right:0; 
	margin:0;
	padding:0;
	z-index:1;
	padding-bottom:35px !important; /* because of scratchpad*/
}


.tab-background-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom:0;
	
	.tab-content {
		display: block;
		position: absolute;
		top:45px; //content-topnav is 45px high
		left:20px; right: 0px; bottom:0px;
		padding-right: 20px;
		width: auto !important;
		overflow-y: auto;
		overflow-x: hidden;
		padding-bottom: 20px;  
	}
}

/*
//used for liveblog side tabs
.side-tab-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 60px;
	left: 0;
	background:#8f8f8f;
	.box-shadow(inset -4px 0 8px rgba(0, 0, 0, .1));
	overflow: hidden;

	.nav-tabs {
		top:0px; 
	}

	.tabmove {
		position: absolute;
		left:0;
		width: 60px;
		height: 35px;
		text-align: center;
		padding: 10px 0;
		.box-sizing(border-box);
		background: #282828;
		z-index: 1001;
		display: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&.tabmove-up {
			top:0;
		}
		&.tabmove-down {
			bottom:0;
		}
		&:hover {
			cursor: pointer;
			background: #000;
		}
	}

	&.compact-tabs {
		.tabmove {
			display: block;
		}
		.nav-tabs {
			top:35px; 
		}
	}
}
*/



/* layouts */

/**/

@sidepreview-width : 440px;
.preview-layout {
	position: absolute;
	top: 0; right: 0;
	left: 0; bottom: 0;
	.list-pane {
		position:absolute;
		background: @background-main;
		top: 0;
	    right: @sidepreview-width; //sidebar preview static + scrollbar rigth space
	    left: 0; bottom:0;
	    border-right: 1px solid #d0d0d0;
		.box-shadow(3px 0 5px -2px #d8d8d8);
		padding: 20px;
		overflow: auto;
		overflow-x: hidden;
		z-index: 1;
		.transition(right ease 0.2s);
	}
	.preview-pane {
		position: absolute;
		width: @sidepreview-width; 
		top: 0;
		right: 0; bottom: 0;
		background: #fff;
		.transition(right ease 0.2s);
	}
	&.closed {
		.list-pane {
			right: 0;
			border-right: 0;
		}
		.preview-pane {
			right: -@sidepreview-width;
		}
	}
}



/* ====================================== */
  // Context menu for sidepreview

.preview-backdrop {
	position: absolute;
	width: @sidepreview-width; 
	top: @archive-inner-topnav-height + @archive-inner-subnav-height;
	right: 0; bottom: 0;
	background: #fff;
	.opacity(0);
	.transition(all ease 0.2s);
	&.show {
		.opacity(80);
	}
}


.context-menu {
		position: absolute;
		right: @sidepreview-width;
		width: 250px;
		top: @archive-inner-topnav-height + @archive-inner-subnav-height;
		bottom: 0;
		background: #fff;
		border-right: 1px solid #dbdbdb;
		.box-shadow(2px 0 3px 0 #e8e8e8);
		.transition(all ease 0.3s);
		&.show {
			right: @sidepreview-width - 250;
		}
		.title {
			font-size: 17px;
			.text-light();
			color: #333;
			padding: 10px 15px;
		}
		.context-list {
			padding: 10px 15px 20px;
			li {
				border : 1px solid #fff;
				border-bottom: 1px solid #e5e5e5;
				background: #e9f4f8;
				padding: 6px 13px;
				height: 21px;
				line-height: 21px;
				margin-bottom:7px;
				font-size: 14px;
				color: #333;
				.border-radius(2px);
				i {
					font-style: normal;
					color: #676565;
					.text-light();
				}
				&:hover, &.selected {
					background: #b3daf2;
					border-color: #4aa8eb;
					cursor: pointer;
				}
			}
		}
	}
/* ====================================== */







/*
====================================================
  Sidebar tabs - tablist
====================================================
*/

.tablist {
  .transition( all 0.3s ease);
  width:@tablist-width;
  position:absolute;
  top:0;
  bottom:0;
  z-index:20;
  background: @tablist-background;
  overflow:hidden;
    &.left-tablist {
      left:0;
      .box-shadow(inset -8px 0 7px -6px #888);
    }
    &.right-tablist {
      right:0;
      .box-shadow(inset 8px 0 7px -6px #888);
    }
    .navigation-tabs {
      margin:-1px 0 0;
      border:0;
      list-style-type:none;
        li {
          position:relative;
          float:none;
          margin-bottom:-1px;
            a {
              display:block;
              width: @tablist-width;
              min-width: @tablist-width;
              height: @tablist-width - 2;
              line-height: @tablist-width - 2;
              text-align: center;
              padding: 0;
              margin-bottom: 0;
              margin-right: 0;
              .border-radius(0px);
              border: 1px solid #898989;
              border-width: 1px 0 !important;
              -khtml-user-drag: element;
              -webkit-user-drag: element;
                &:hover {
                	background: #b7b7b7;
                	border: 1px solid #999999;
					border-width: 1px 0 !important;
					&.tab-li-hov {
						background:@background-main;
						border: 1px solid #7c7c7c;
						border-width: 1px 0 !important;
					}
                }
            }
            &.active {
              a {
                background: #b8b8b8;
              }
            }
        }
    }
}


/*
=========================================
COMPONENT ANIMATIONS
=========================================
*/
.fade {
  .transition(opacity .15s linear);
  opacity: 0;
  &.in {
    opacity: 1;
  }
}

.collapse {
  .transition(height .35s ease);
  position:relative;
  overflow:hidden;
  height: 0;
  &.in {
    height: auto;
  }
}

/*
=========================================
Close icons
=========================================
*/
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: @baseLineHeight;
  color: @black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  .opacity(20);
  &:hover {
    color: @black;
    text-decoration: none;
    .opacity(40);
    cursor: pointer;
  }
  i {
  	vertical-align: middle;
  }
}

/*
=========================================
UTILITY CLASSES
=========================================
*/

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}




/*
=========================================
Notifications
=========================================
*/

@notif-holder-w : 340px;
.notification-holder {
	position: fixed;
	z-index: 2011;
	width: @notif-holder-w;
	top: -5px;
	left: 50%;
	margin-left: -@notif-holder-w/2;
	overflow: hidden;
    padding: 0 10px 10px;
	.alert {
		.box-sizing(border-box);
		.border-radius(5px);
		.box-shadow(0 2px 3px -2px #666);
		padding: 15px 30px;
		margin: 0 0 10px;
		.opacity(98);
		&.success {
			border-color:#a6d5a2;
		}
	}
}
.zen-mode {
	.notification-holder {
		background:none;
	}
}


/*
=========================================
Popover override
=========================================
*/
.popover {
	&.right .arrow {
		border-right-color: #7e7e7e;
	}
	.popover-inner {
		padding: 3px;
		width: 280px;
		overflow: hidden;
		background: #7e7e7e;
		.border-radius(3px);
		.box-shadow(0 3px 7px rgba(50, 50, 50, 0.3))
	}
	.popover-title {
		padding: 9px 15px;
		line-height: 1;
		background-color: #333333;
		color:#fff;
		border-bottom: 1px solid #eee;
		font-size:14px;
		.border-radius(2px 2px 0 0 );
	}
	.popover-content {
		padding: 14px;
		background-color: #ffffff !important;
		.border-radius(0 0 2px 2px);
		.background-clip(padding-box);
	}
}



.hard-error {
	position: fixed;
	top: 0;
	right: 200px;
	z-index: 9999;
	width: auto;
	max-width: 400px;

	
	.alert {
		.border-radius(0);
		border: 0;
		.box-sizing(border-box);
		height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 40px;
		padding: 0 15px;
	}

	.alert-error { 
		background-color: #612525;
		color: #cc7c7b;
		text-shadow: none;
	}

	&:hover {
		.alert {
			height: auto;
			line-height: 20px;
			padding: 10px 15px;
			overflow: visible;
			white-space: pre-wrap;
		}
	}
}

/*
=========================================
Login screen
=========================================
*/


.login-screen {
	position: fixed;
	z-index: 9999;
	left: 0; right: 0; bottom: 0; top: 0;
	background-color: #323232;
	.logo-handler {
		margin-bottom: 60px;
	}
	.login-form-container {

		.box-sizing(border-box);
		width: 320px;
		height: 500px;
		padding: 0 15px;
		position: absolute;
		top: 50%; margin-top: -260px;
		left: 50%; margin-left: -125px;
		padding-top: 80px;

		.session-error {
			position: absolute;
			top:0;
			width: 240px;
			height: 44px;
			.border-radius(3px);
			color: #fff;
			font-size: 11px;
			background-color: #bc7c0e;
			text-align: center;
			margin:0;
		}

		.form-handler {
			width: 240px;
			.avatar-handler {
				width: 160px;
				height: 160px;
				margin: 0 auto 35px;
				.border-radius(80px);
				overflow: hidden;
				background-size: cover;
				background-position: center;
				
			}
			form {
				.inputs {
					input {
						margin-bottom: 18px;
						height: 38px;
						.border-radius(4px) !important;
						border: 1px solid #000 !important;
						.box-shadow-both(inset 0 2px 0 0 #ccc, 0 1px 0 0 #656565) !important;
						font-size: 13px;
						line-height: 25px;
					}
				}
				.buttons {
					button {
						width: 100%;
						padding: 8px 12px;
						text-transform: uppercase;
						.text-semibold();
						font-size: 14px;
						.box-shadow(inset 0 0 0 0 #000);
						position: relative;
					}
				}
			}
			.text {
				color: #898989;
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
			.error-handler {
				.error {
					background: #9d0202;
					padding: 12px;
					color:#fff;
					font-size: 12px;
					line-height: 18px;
					.border-radius(4px);
				}
				.network-error {
					height: 44px;
					.border-radius(3px);
					span {
						width: 46px;
						height: 44px;
						float: left;
						.border-radius(3px 0 0 3px);
						background-repeat: no-repeat;
						background-position: 8px 7px;
						.opacity(60);
					}
					p {
						margin-left: 46px;
						color: #fff;
						padding: 6px;
						line-height: 16px;
						font-size: 12px;
					}
					&.red {
						background-color: #7a1212;
						span {
							background-color: #910707;
						}
					}
					&.yellow {
						background-color: #bc7c0e;
						span {
							background-color: #de8f05;
						}
					}
					&.green {
						background-color: #157310;
						span {
							background-color: #0c8507;
						}
					}
				}
			}
		}
	}


	.spinner {
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  text-align: center;
	  right: 9px;
	  top: 6px;
	  
	  -webkit-animation: rotate 2.0s infinite linear;
	  animation: rotate 2.0s infinite linear;
	}

	.dot1, .dot2 {
	  width: 60%;
	  height: 60%;
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  background-color: #fff;
	  border-radius: 100%;
	  
	  -webkit-animation: bounce 2.0s infinite ease-in-out;
	  animation: bounce 2.0s infinite ease-in-out;
	}

	.dot2 {
	  top: auto;
	  bottom: 0px;
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
	@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

	@-webkit-keyframes bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}
}


/*
=========================================
Notifications
=========================================
*/

@notification-pane-width: 300px;
.notification-pane {
	position: fixed;
	top: @topspace; 
	bottom: 0; 
	right: -@notification-pane-width;
	width: @notification-pane-width;
	.box-sizing(border-box);
	background: #313131;
	z-index: 2000;
	.transition(right ease 0.3s);
	&.show {
		right: 0;
	}
	> .header {
		height: 65px;
		width: 100%;
		background: #212121;
		.box-shadow(inset 0 4px 4px -2px #000);
		border-botom: 1px solid #313131;
		.avatar-holder {
			float: left;
			width: 40px;
			height: 40px;
			.border-radius(20px);
			overflow: hidden;
			margin: 12px;
			img {
				width: 40px;
				height: 40px;
			}
		}
		.user-info {
			margin-left: 65px;
			height: 45px;
			border-left: 1px solid #313131;
			border-bottom: 1px solid #313131;
			padding: 10px;
			.box-sizing(border-box);
			.name {
				color: #c5c5c5;
				font-size: 12px;
				display: block;
				line-height: 12px;
			}
			.displayname {
				font-size: 11px;
				color: #727272;
				display: block;
				line-height: 12px;
				margin-top: 2px;
			}
		}
		.actions {
			margin-left: 65px;
			height: 20px;
			border-left: 1px solid #313131;
			background: #252525;
			button {
				.reset-button();
			}
			a, button {
				font-size: 10px;
				color: #8d8d8d;
				text-decoration: none;
				width: 33%;
				text-transform: uppercase;
				.box-sizing(border-box);
				line-height: 20px;
				text-align: center;
				float: left;
				display: inline-block;
				border-right: 1px solid #313131;
				&:last-child {
					border:0;
				}
				&:hover {
					background: #303030;
					color: #ccc;
				}
			}
		}

	}
	> .content {
		position: absolute;
		top: 65px;
		left: 0; right: 0; bottom: 0;
		border-top: 2px solid #464646;
		.box-shadow(inset 4px 0 4px -2px #202020);
		.module {
			margin-top: 20px;
			.title {
				font-size: 16px;
				color:#f8f8f8;
				padding: 10px;
				.text-light();
			}
		}
	}
}



.notification-list {
  margin: 0;
  list-style-type: none;
  padding: 0 10px;
  height: 100%;
  overflow-y: auto;

  li {
  	border: 1px solid #393939;
  	background: #393939;
    padding: 10px 5px;
    .box-sizing(border-box);
    .border-radius(4px);
    width: 100%;
    min-height: 45px;
    margin:0 0 7px 0;
    .box-shadow(0 1px 1px 0 #202020);

    .avatar-holder {
      float: left;
      width: 24px;
      height: 24px;
      overflow: hidden;
      .border-radius(12px);
      img {
      	width: 24px;
      	height: 24px;
      }
    }
    .content {
      padding-left: 35px;
      .text {
        margin:0;
        font-size: 12px;
        overflow: hidden;
        color: #d7d7d7;
      }
      .date {
        font-size: 11px;
        color: #848484;
        margin-top: -3px;
        display: block;
      }
    }
    &.unread {
    	border-color: #545454;
    	background: #2c2c2c;
    }
    &.important {
      border: 1px solid #a60101 !important;
      .box-shadow-both(inset 0px 0px 1px 1px #e4b2b2, 0px 2px 2px 0px #d8d8d8) !important;
    }
    &.personal, &.important {
      border: 1px solid #c8c8c8;
      .border-radius(3px);
      background: #fff;
      padding: 5px;
      margin-bottom: 7px;
      .box-shadow(0px 2px 2px 0 #d8d8d8);
      + li {
        border-top-width: 0;
        &.personal, &.important {
          border-top-width: 1px;
        } 
      }
    }
    
  } 
}





/*RESPONSIVE*/

.ipad-hide {
  display:block !important;  
}
.ipad-show {
  display:none !important;
}


.mobile-hide {
  display:block !important;
}

@media (max-width: 1024px) {

  .ipad-show {
    display:block !important;
    .dropdown-toggle {
      padding: 9px 20px !important;
    }
  }
  .ipad-hide {
    display:none !important;
  }
  .navbar .nav.main > li > a {
    font-size:11px !important;
  }

  .navbar .nav.pull-right li .user-profile {
    background-size: 23px;
    .text-semibold();
    line-height: 23px;
    display: inline-block;

    .avatar {
		width: 22px;
		height: 22px;
		float: left;
		margin-right: 10px;
		.border-radius(11px);
	}

  }

}

@media (max-width: 480px) {
  
  .mobile-hide {
    display:none !important;
  }
  
  .main-background-container .subnav {
    padding:5px !important;
    height:@subnav-mobile-height !important;
  }


}

