/*
======================================
single uploader
======================================
*/
.uploader {
	width: 300px;
	height: 300px;
	border: 3px dashed #c8c8c8;
	padding: 2px;
	margin: 0 auto;
	.uploader-area {
		height: 100%;
		background: #f8f8f8;
		text-align: center;
		p {
			font-size: 18px;
			font-weight: bold;
			padding: 100px 0 20px;
			color: #b8b8b8; 
		}
	}
	.fileinput-button {
		position: relative;
		overflow: hidden;
	}
	.fileinput-button input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		-ms-filter: 'alpha(opacity=0)';
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
		display: block !important;
	}
	.progress {
		height: 2px;
		width: 300px;
		margin-top: -2px;
		margin-bottom: 0;
		.box-shadow(none);
		.bar {
			height: 2px;
			.box-shadow(none);

		}
	}
	canvas {
		display: block;
	}
	.temp {
		display: block;
		margin-top: 10px;
	}
	&.preview {
		border-color: #fff;
		.progress {
			margin-top: 0;
		}
	}

}

/*
======================================
user avatar uploader
======================================
*/
.upload-avatar {
	width: 680px;
	margin-left: -340px;
	margin-top: -280px;
	.modal-body {
		height: 400px;
		position: relative;
	}
	.sidebar {
		z-index: 1;
		ul {
			margin-top: 50px;
			li {
				border-top: 1px solid #ddd;
				border-right: 1px solid #ddd;
				padding: 7px 20px;
				height: 32px;
				width: @split-modal-sidebar+1;
				color: #3599b6;
				font-size: 13px;
				.box-sizing(border-box);
				&:last-child {
					border-bottom: 1px solid #ddd;
				}
				&:hover {
					cursor: pointer;
					background: #f4f4f4;
				}
				&.active {
					color: #333;
					border-right: 1px solid #fff;
					&:hover {
						background: #fff;
					}
				}
			}
		}
	}
	.main {
		padding: 20px;
		overflow: visible;
		.preview {
			.original {
				.box-sizing(border-box);
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 80%;
			}
		}

	}
}


