<div class="filter-tab">

    <div class="field">
        <label>
            <span translate>Content Filter</span>
            <a class="btn btn-info add"
               ng-click="showNewFilter = true;"
               ng-show="!selectedFilter">
                <i class="icon-plus-small icon-white"></i>
            </a>
        </label>

        <ul class="pills-list clearfix" ng-if="selectedFilter">
            <li class="pull-left">
                <div class="name right-pad">{{selectedFilter.name}}</div>
                <div class="actions">
                    <button
                        ng-click="clearSelectedFilter()"
                        title="{{:: 'Remove filter' | translate }}"
                        ><i class="icon-trash"></i></button>
                </div>
            </li>
        </ul>

        <div sd-typeahead
             ng-show="showNewFilter"
             items="matchingFilters" term="filterSearchTerm"
             search="searchFilters(term)"
             select="selectFilter(item);showNewFilter = false">
            <ul>
                <li typeahead-item="filter"
                ng-repeat="filter in matchingFilters track by filter._id">
                    {{::filter.name}}
                </li>
            </ul>
        </div>

        <button
            ng-show="showNewFilter" class="btn"
            ng-click="showNewFilter = false" translate>Cancel</button>
    </div>

</div>
