<dl ng-if="desks.length">
	<dt translate>fetched in</dt>
    <dd ng-repeat="desk in desks track by desk.desk._id">
        <a ng-if="$first" ng-click="selectFetched(desk)">{{desk.desk.name.substring(0,10)}}{{desk.desk.name.length>10 ? '...' : ''}}  ({{desk.count}})</a>
        <dd ng-if="desks.length>1" class="dropdown dropup more-actions" dropdown>
            <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots"></i></button>
            <div class="dropdown-menu">
                <ul>
                    <li ng-repeat="desk in desks track by desk.desk._id">
                        <a ng-if="!$first" ng-click="selectFetched(desk)">{{desk.desk.name}} ({{desk.count}})</a>
                    </li>
                </ul>
            </div>
        </dd>  
    </dd>
</dl>
