<div class="item-locked" ng-if="lock.user && !lock.lockbyme">
    <div class="locked-content">
        <span class="lock-sign"><i class="icon-lock-red"></i></span>
       	<span class="text"><em translate>Locked by</em> {{ lock.user | username }}</span>
        <button class="btn btn-light pull-left" ng-click="unlock()" ng-if="can_unlock()" translate>Unlock</button>
    </div>
    <time sd-datetime data-date="item.lock_time"></time>
</div>
<div class="item-locked" ng-if="lock.lockbyme">
    <div class="locked-content">    
        <span class="lock-sign"><i class="icon-lock-red"></i></span>
       	<span class="text"><em translate>Locked by you in another browser</em></span> 
       	<button class="btn btn-light pull-left" ng-click="unlock()" translate>Unlock</button>
    </div>    
   	<time sd-datetime data-date="item.lock_time"></time>
</div>
