<div class="subnav">
	<div class="button-stack right-stack">   
	    <div class="navbtn dropdown" dropdown sd-package-highlights-dropdown ng-if="type === 'archive' && selected.desk">
        </div>         
        <div class="navbtn dropdown strict" dropdown ng-if="type === 'archive'">
            <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
            <ul class="dropdown-menu pull-right" sd-content-create></ul>
        </div>
        <button class="navbtn">
        	<i class="svg-icon-right"></i>
        </button>
    </div>

    <div class="button-stack left-stack">
        <div class="navbtn toggle-list" sd-desk-stages ng-if="stages.stages.length"></div>

        <div class="navbtn toggle-list" ng-if="type === 'archive'">
            <ul class="stages-list">
                <li class="stage-label" ng-class="{active: spike}"><a href="" ng-click="toggleSpike()" translate>Spiked</a></li>
            </ul>
        </div>
    </div>
</div>

<div sd-media-view data-item="selected.view" data-items="items._items" ng-if="selected.view" data-close="closeLightbox()"></div>

<section sd-search-container class="archive main-section" ng-class="{'sidebar-open': flags.facets}">
    <div sd-search-facets class="archive-sidebar" data-items="items" data-desk="selected.desk"></div>
    <div sd-search-results class="archive-content"></div>
    <div sd-workqueue></div>
</section>
