<div class="subnav">
	<div class="button-stack right-stack">   
	    <div class="navbtn dropdown strict highlights-dropdown" 
            dropdown sd-package-highlights-dropdown 
            ng-if="type === 'archive' && selected.desk">
        </div>
        <div class="navbtn dropdown strict" dropdown ng-if="type === 'archive'">
            <button tooltip="{{ :: 'Create' | translate }}" tooltip-placement="left" class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
            <ul class="dropdown-menu pull-right" sd-content-create></ul>
        </div>
    </div>

    <div class="desk-stages">
        <div class="navbtn toggle-list" sd-desk-stages></div>
    </div>
</div>

<div sd-media-view data-item="selected.view" data-items="items._items" ng-if="selected.view" data-close="closeLightbox()"></div>

<section sd-search-container class="archive main-section search-page-container" ng-class="{'sidebar-open': flags.facets}">
    <div sd-search-facets class="archive-sidebar" data-items="items" data-desk="selected.desk"></div>
    <div sd-search-results class="archive-content"></div>
</section>
