<div class="archiving-progress" style="width:{{ _progress }}%" ng-if="_progress"></div>

<div ng-click="clickAction(item)">
    <div class="error-box" ng-show="item.archiveError">
        <p class="message" translate>There was an error archiving this item</p>
        <div class="buttons"></div>
    </div>

    <div class="media multi" ng-show="item.type == 'text' || item.type == 'composite' || item.type == 'preformatted' || item.type == 'picture'" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <div sd-item-rendition data-item="item" data-rendition="thumbnail"></div>
        <span class="text">
            <small title="{{ item.headline }}">{{item.headline | limitTo: 90}}</small>
            <span sd-item-container data-item="item" class="container"></span>
        </span>

        <div class="selectbox" ng-show="hover || item.selected">
            <span sd-check ng-model="item.selected" ng-change="toggleSelected(item)"></span>
        </div>
    </div>

    <div class="media" ng-show="item.type == 'audio' || item.type == 'video'">
        <i class="filetype-icon-large-{{ item.type}}"></i>
    </div>

    <div class="media-info">

        <span ng-if="item.highlights" sd-highlights-title data-item="item"></span>

        <h5 ng-class="{'shifted' : item.highlights}">
            <span ng-show="item.slugline">{{ item.slugline }}</span>
            <span ng-show="!item.slugline">{{ item.type | translate }}</span>
        </h5>

        <dl>
            <dt class="source"><span translate>source:</span></dt>
            <dd class="provider" sd-meta-ingest data-item="item"></dd>
            <dt translate>updated</dt>
            <dd><time datetime="{{ item.versioncreated }}" title="{{ item.versioncreated|date:'medium' }}">{{ item.versioncreated|reldate }}</time></dd>
            <dt ng-show="item.is_spiked" translate>expires</dt>
            <dd ng-if="item.is_spiked"><time title="{{ item.expiry | date:'medium' }}">{{ item.expiry | reldate }}</time></dd>
        </dl>

        <div ng-if="item.marked_for_not_publication" class="state-label not-for-publication" translate>Not for publication</div>       

        <div ng-if="item.archived" class="fetched-desk"><div sd-fetched-desks data-item="item"></div></div>
    </div>

    <span class="type-icon"><i class="filetype-icon-{{item.type}}"></i></span>
    <span class="urgency-label"><i class="urgency-icon-{{item.urgency}}"></i></span>

    <div class="state-label state-{{item.state}}">{{item.state}}</div>
</div>

<div class="action">
    <ul ng-if="extras.activity" class="item-functions"
        sd-activity-list
        data-item="item"
        data-type="{{ spike ? 'spike' : ((type || item._type) === 'published'? 'archive': (type || item._type))}}"
        data-action="{{extras.activity.action}}">
    </ul>
</div>
