<div id="{{ :: item._id }}" class="media-box media-{{ :: item.type}}"
    sd-media-box
    sd-mouse-hover="focused"
    ng-class="{selected: item._id === selected._id, archived: item.archived || item.created, locked: lock.isLocked}">

<div class="archiving-progress" style="width:{{ _progress }}%" ng-if="_progress"></div>

<div ng-click="clickAction(item)">
    <div class="error-box" ng-if="item.archiveError">
        <p class="message">{{ :: 'There was an error archiving this item' | translate }}</p>
        <div class="buttons"></div>
    </div>

    <div class="media multi" ng-if=":: item.type == 'text' || item.type == 'composite' || item.type == 'picture'">
        <figure class="media" ng-if=":: item.renditions.thumbnail">
            <img ng-src="{{ :: item.renditions.thumbnail.href }}">
        </figure>

        <span class="text">
            <small title="{{ :: item.headline }}">{{ :: item.headline | limitTo:90 }}</small>
            <span sd-item-container data-item="item" class="container"></span>
        </span>

        <div class="selectbox" ng-if="item._type !== 'legal_archive' && item._type !== 'archived'" ng-show="hover || item.selected">
            <span sd-check ng-model="item.selected" ng-change="toggleSelected(item)"></span>
        </div>
    </div>

    <div class="media" ng-if=":: item.type == 'audio' || item.type == 'video'">
        <i class="filetype-icon-large-{{ :: item.type}}"></i>
    </div>

    <div class="media-info">
        <h5>
            <span ng-if="item.slugline">{{ :: item.slugline }}</span>
            <span ng-if="!item.slugline">{{ :: item.type | translate }}</span>
        </h5>

        <dl>
            <dd class="provider" sd-meta-ingest data-item="item"></dd>
            <dd><time sd-datetime data-date="item.versioncreated"></time></dd>
            <dt ng-if="item.is_spiked">{{ :: 'expires' | translate }}</dt>
            <dd ng-if="item.is_spiked"><time sd-datetime data-date="item.expiry"></time></dd>
        </dl>

        <div ng-if="item.flags.marked_for_not_publication" class="state-label not-for-publication" translate>Not for publication</div>

        <div ng-if="item.flags.marked_for_legal" class="state-label legal" translate>Legal</div>      

        <div ng-if="item.archived" class="fetched-desk"><div sd-fetched-desks data-item="item"></div></div>
        
        <div sd-highlights-info data-item="item"></div>
    </div>

    <span class="type-icon"><i class="filetype-icon-{{ :: item.type }}"></i></span>

    <span ng-if="item.priority" class="priority-label priority-label--{{ :: item.priority }}">{{ :: item.priority }}</span>

    <span ng-if="item.urgency" class="urgency-label urgency-label--{{item.urgency}}">{{ item.urgency }}</span>

    <span class="broadcast-status" tooltip="{{item.broadcast.status}}" ng-if="item.broadcast.status">!</span>

    <div class="state-label state-{{ item.state }}" ng-if="item.state" ng-class="{state_embargo: item.embargo}">{{ item.state }}</div>
</div>

<div ng-if="focused" class="item-right toolbox"
    sd-item-actions-menu data-item="item" data-active="focused"></div>

</div>
