<div class="archiving-progress" style="width:{{ _progress }}%" ng-if="_progress"></div>

<div ng-click="clickAction(item)">
    <span class="state-border"></span>

    <div class="list-field type-icon">
        <i class="filetype-icon-{{item.type}}"></i>
    </div>

    <div class="list-field urgency">
        <i class="urgency-icon-{{item.urgency}}"></i>
        <span class="output-item-label label-{{item.urgency}}">{{ item.urgency }}</span>
    </div>

    <div class="list-field word-count-box">
        <span class="word-count">{{ item.word_count }}</span>
        <div ng-show="item.highlights" >
			<div sd-highlights-title data-highlights="item.highlights"></div>
		</div>
        <span class="signal" ng-if="item.signal">{{ item.signal }}</span>
    </div>
    <div class="item-info">
        <div class="line">
            <div class="state-label state-{{item.state}}">{{item.state}}</div>
            <div class="headline">
                <span class="keyword" title="{{ item.slugline }}" ng-if="item.slugline">{{ item.slugline | truncateString: 40}}</span>
                <span title="{{ item.headline }}">{{ item.headline | truncateString: 90 || item.type }}</span> 
                <span sd-item-container data-item="item" title="{{ item.container }}" class="container"></span>
            </div>
            <time sd-datetime data-date="item.versioncreated"></time>
        </div>
        <div class="line">
            <div class="takekey" ng-if="item.anpa_take_key">{{ item.anpa_take_key }}</div>
            <div class="category" ng-if="item['anpa-category'].name">{{ item['anpa-category'].name }}</div>
            <div class="provider" ng-if="item.ingest_provider" sd-meta-ingest data-provider="item.ingest_provider"></div>
            <div class="expires" ng-if="item.is_spiked"><span translate>expires</span> {{ item.expiry | reldate }}</div>
            <div ng-if="type !== 'archive'"><div sd-fetched-desks data-item="item"></div></div>
        </div>
    </div>
</div>

<div class="item-right list-field" ng-if="focused">
    <div class="action">
        <ul ng-if="extras.activity" class="item-functions"
            sd-activity-list
            data-item="item"
            data-type="{{ spike ? 'spike' : (type || item._type)}}"
            data-action="{{extras.activity.action}}">
        </ul>
    </div>
</div>
