<div>
    <div class="content-container">

        <div class="composite-nav" ng-if="selected.preview.type === 'composite'">
           <div class="top">
               <span><i class="filetype-icon-large-composite"></i> {{ selected.preview.slugline }}</span>
           </div>
        </div>

        <div ng-hide="hideActions()" class="action-menu">
            <button ng-click="openLightbox()" class="fullscreen">
                <i class="icon-fullscreen"></i>
            </button>
            <div class="dropdown dropdown-big" dropdown>
                <button class="dropdown-toggle condensed" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                <div class="dropdown-menu pull-right"
                        sd-activity-list
                        data-item="selected.preview"
                        data-type="{{ spike ? 'spike' : selected.preview._type }}"
                        data-single="true"
                        data-preview="true">
                </div>
            </div>
        </div>

        <div id="locked" class="clearfix" sd-item-lock data-item="selected.preview"></div>

        <p class="title" ng-if="selected.preview.headline" ng-class="{condensed: !lock}">{{ selected.preview.headline }}</p>

        <p class="nav-space" ng-if="!selected.preview.headline && !lock"></p>

        <div class="state-label state-{{selected.preview.state}}">{{selected.preview.state}}</div>

		<div ng-if="selected.preview.highlights">
			<div sd-highlights-title data-item="selected.preview"></div>
		</div>

        <div class="core-content">

			<p ng-if="selected.preview.is_spiked" class="alert alert-warning expires">
                <span translate>expires</span> <time sd-datetime data-date="selected.preview.expiry"></time>
			</p>

            <!-- item rendition -->
            <div class="picture-preview" sd-item-rendition data-item="selected.preview" data-rendition="viewImage"></div>

            <div ng-if="selected.preview.type == 'audio'">
                <audio controls="controls" sd-sources data-renditions="selected.preview.renditions"></audio>
            </div>

            <div ng-if="selected.preview.type == 'video'">
                <video controls="controls" sd-sources data-renditions="selected.preview.renditions"></video>
            </div>

            <div class="text abstract" ng-show="selected.preview.abstract" sd-html-preview="selected.preview.abstract"></div>

            <div class="text body-text" ng-show="selected.preview.type !== 'preformatted' && selected.preview.body_html" sd-html-preview="selected.preview.body_html"></div>

            <div class="text body-text" ng-show="selected.preview.type === 'preformatted' && selected.preview.body_html" sd-html-preview="'<pre class=wrap>' + selected.preview.body_html + '</pre>'"></div>

            <div class="composite-preview" ng-if="selected.preview.type === 'composite'">
                <div sd-package data-item="selected.preview" data-setitem="openSingleItem(selected)"></div>
            </div>
        </div>
    </div>
</div>
