<div class="condensed-preview">

    <!-- audio preview -->
    <div class="full-preview" ng-if="item.type == 'audio'">
        <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
    </div>

     <!-- picture preview -->
    <div class="full-preview" ng-if="item.type == 'picture'" sd-ratio-calc>
        <div class="rendition" sd-item-rendition data-item="item" data-ratio="ratio" data-rendition="baseImage"></div>
    </div>
    
    <!-- text preview -->
    <div class="lightbox-paper" ng-show="item.type == 'text'">
        <div class="lightbox-text">
            <div class="lightbox-title">{{ item.headline }}</div>
            <div class="lightbox-fulltext">
                <small ng-show="item.slugline">{{ item.slugline || item.headline }}</small>
                <div ng-show="item.body_html" class="lightbox-fullcontent" sd-html-preview="item.body_html"></div>
            </div>
        </div>
    </div>

    <!-- composite preview -->
    <div class="full-preview composite" ng-show="item.type == 'composite'">
        <div sd-package data-item="item" data-mode="flat" data-setitem="setitem({selected: selected})"></div>
    </div>

    <div class="lightbox-caption">{{ item.headline }}</div>
    
</div>


