<div class="modal-header">
    <h3 class="pull-left">{{ activity.label|translate }}</h3>
    <button type="button" class="close" ng-click="cancel()" ng-hide="saving"><i class="icon-close-small"></i></button>
</div>

<div class="modal-body" ng-init="dragshow = false">

    <div class="drag-area" ng-show="!items.length || dragshow" ng-file-drop="addFiles($files)" ng-class="{compact: dragshow && items.length}">
        <div class="title" translate>Drag Your Files Here</div>
        <div class="upload-manual">
            <div class="or-label" translate>or</div>
            <label class="btn" for="images-input">{{ 'Select them from folder' | translate }}</label>
            <input id="images-input" type="file" ng-file-select="addFiles($files)" multiple class="hide">
        </div>
    </div>
	<div class="upload-error" ng-show="failed">
		<span translate>There are failed uploads.</span><span class="action" ng-click="tryAgain()" translate>Try again</span>
	</div>
    <div class="upload-edit" ng-show="items.length" ng-class="{compact: dragshow, error: failed}">
        <div class="upload-error" ng-if="errorMessage">
            <span class="action" translate>Error: {{ :: errorMessage}}</span>
        </div>        
        <ul class="upload-thumbs">
            <li ng-repeat="item in items">
                <div class="thumb" sd-image-preview="item.url" data-file="item.file">
                    <div class="holder">
                        <i class="filetype-icon-large-{{item.cssType}}" ng-hide="item.url && item.cssType === 'image'"></i>
                        <img ng-src="{{ item.url }}" ng-if="item.cssType === 'image'"/>
                        <div class="failed" ng-if="item.model === false"></div>
                    </div>
                    <span class="remove" ng-click="cancelItem(item, $index)"><i class="icon-close-small"></i></span>
                </div>

                <div class="info">
                    <div class="upload-progress" ng-show="item.progress">
                        <div class="bar" style="width:{{ item.progress }}%"></div>
                    </div>

                    <div class="row"><input type="text" placeholder="Add a headline *" ng-model="item.meta.headline"></div>
                    <div class="other-info">
                        <div class="row"><input type="text" placeholder="Add a description *" ng-model="item.meta.description"></div>
                        <div class="row"><input type="text" placeholder="Add a slugline *" ng-model="item.meta.slugline"></div>
                        <div class="row"><input type="text" placeholder="Add author / photographer" ng-model="item.meta.byline"></div>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>

    <div class="optional-drag-holder" ng-class="{open: dragshow}" ng-show="items.length" >
        <div class="optional-drag" ng-click="dragshow = !dragshow">
            <i class="icon-chevron-up-thin" ng-show="!dragshow"></i>
            <i class="icon-chevron-down-thin" ng-show="dragshow"></i>
            <span class="add-more-files" translate >Add more files</span>
        </div>
    </div>

</div>

<div class="modal-footer">
    <span class="pull-left">* fields are required</span>
    <button class="btn btn-primary pull-right" ng-click="save()" ng-disabled="saving || !enableSave">Save</button>
    <button class="btn btn-default pull-right" ng-click="cancel()" ng-disabled="saving || !enableSave" translate>Cancel</button>
</div>
