<div class="monitoring" ng-controller="AggregateCtrl as aggregate">
    <div class="subnav">
        <span class="flat-searchbar monitoring-backlink" ng-if="monitoring.singleGroup">
            <button class="backlink" ng-click="monitoring.viewSingleGroup(null)"></button>
            <div class="separator-handler"></div>
        </span>
        <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: aggregate.monitoringSearch}">
            <div class="search-handler">
                <label for="search-input" class="trigger-icon" ng-click="aggregate.monitoringSearch = !aggregate.monitoringSearch"></label>
                <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" ng-model="query" ng-model-options="{debounce: 500}" ng-change="aggregate.search(query)">
                <button class="search-close" ng-click="aggregate.search(query = null)" ng-class="{visible: query}"><i class="icon-close-small"></i></button>
            </div>
            <div class="separator-handler"></div>
        </div>
        <h3 class="page-nav-title">
            <span ng-if="!monitoring.singleGroup && type === 'monitoring'" translate>Monitoring</span>
            <span ng-if="type === 'spike'" translate>Spiked Items</span>
            <span ng-if="type === 'personal'" translate>Personal Items</span>
            <div ng-if="type === 'highlights'" sd-highlight-label data-highlight="monitoring.queryParam.highlight"></div>
            <span ng-if="monitoring.singleGroup">
                {{monitoring.singleGroup.header}} / {{monitoring.singleGroup.subheader}} {{monitoring.singleGroup.type}}
            </span>
        </h3>

        <div sd-multi-action-bar></div>

        <div class="button-stack right-stack">
            <div class="pull-left-10x" ng-if="type === 'highlights'" sd-create-highlights-button data-highlight="monitoring.queryParam.highlight"></div>
            <div class="dropdown navbtn strict" ng-if="type === 'monitoring'" dropdown>
                <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <button ng-click="aggregate.edit()">
                            <i class="icon-settings"></i> {{ :: 'Settings' | translate }}
                        </button>
                    </li>
                </ul>
            </div>

            <div class="dropdown navbtn strict" ng-if="!state.opened" title="{{ :: 'Create' | translate }}" dropdown>
                <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
                <ul class="dropdown-menu pull-right" sd-content-create></ul> 
            </div>
        </div>          
    </div>

    <section class="main-section search-page-container"
             ng-class="monitoring.state">

        <div class="subnav">
            <ul class="filtertype-icon-list">
                <li ng-repeat="fileType in aggregate.fileTypes" ng-click="aggregate.setFileType(fileType)" ng-class="{active: aggregate.hasFileType(fileType)}" title="{{fileType}}">
                    <a href="" ng-if="fileType=='all'" class="filetype-icon-{{fileType}}" translate>all</a>
                    <i ng-if="fileType!='all'" class="filetype-icon-{{fileType}}"></i>
                </li>
            </ul>
            <div sd-item-sortbar></div>
        </div>
        <div class="preview-layout monitoring-preview-layout">
            <div class="content-list" ng-if="!aggregate.loading">   
                <div ng-if="!monitoring.singleGroup && type === 'monitoring'">
                    <div ng-repeat="group in aggregate.groups track by group._id"
                        sd-monitoring-group data-group="group" data-view-type="'monitoring'"></div>
                </div>
                <div ng-if="type === 'spike'">
                    <div ng-repeat="group in aggregate.spikeGroups track by group._id | orderBy: name"
                        sd-monitoring-group data-group="group" data-view-type="'spiked'"></div>
                </div>
                <div ng-if="monitoring.singleGroup">
                    <div sd-monitoring-group class="single-group" data-group="monitoring.singleGroup" data-num-items="10" data-view-type="'single_monitoring'"></div>
                </div>
                <div ng-if="type === 'personal'">
                    <div sd-monitoring-group data-group="{'type': 'personal', 'query': query, 'fileType': aggregate.getSelectedFileTypes()}"></div>
                </div>
                <div ng-if="type === 'highlights'">
                    <div sd-monitoring-group data-group="{'type': 'highlights', 'query': query, 'fileType': aggregate.getSelectedFileTypes()}"
                    data-view-type="'highlights'"></div>
                </div>
            </div>

            <div sd-item-preview
                 data-item="monitoring.previewItem"
                 data-close="monitoring.closePreview()"></div>

            <div sd-send-item 
                 data-mode="{{type}}"></div>
        </div>
        
	    <div sd-aggregate-settings 
	         data-modal-active="aggregate.modalActive"
	         data-desks="aggregate.desks" 
	         data-desk-stages="aggregate.deskStages"
	         data-searches="aggregate.searches"
	         data-desk-lookup="aggregate.deskLookup" 
	         data-stage-lookup="aggregate.stageLookup"
	         data-search-lookup="aggregate.searchLookup"
	         data-groups="aggregate.groups"
	         data-edit-groups="aggregate.editGroups"
	         data-onclose="aggregate.refreshGroups()">
	    </div>
    </section>
</div>

 
