<div class="monitoring">
    <div class="subnav">
        <h3 class="page-nav-title">
            <span ng-if="!monitoring.singleGroup" translate>Monitoring</span>
            <span ng-if="monitoring.singleGroup">
                <button class="btn btn-light" ng-click="monitoring.viewSingleGroup(null)">
                    <i class="icon-chevron-left-thin"></i>
                </button>
                {{monitoring.singleGroup.header}} / {{monitoring.singleGroup.subheader}} {{monitoring.singleGroup.type}}
            </span>
        </h3>
    </div>

    <section
        class="main-section search-page-container"
        ng-class="monitoring.state"
        ng-controller="AggregateCtrl as aggregate">

        <div class="preview-layout">
            <div class="content-list" ng-if="!aggregate.loading">
                <div ng-if="!monitoring.singleGroup">
                    <div ng-repeat="group in aggregate.getGroups() track by group._id"
                        sd-monitoring-group data-group="group"></div>
                </div>
                <div ng-if="monitoring.singleGroup">
                    <div sd-monitoring-group data-group="monitoring.singleGroup" data-num-items="10"></div>
                </div>
            </div>

            <div sd-item-preview
                data-item="monitoring.previewItem"
                data-close="monitoring.closePreview()"></div>
        </div>
    </section>
</div>
