<div class="stage-header clearfix">
    <span class="stage-name" ng-if="group.subheader && group.singleViewType == null">
        <a href="" ng-click="viewSingleGroup(group, 'desk')">{{ :: group.header }}</a>
        <span>/</span>
        <a href="" ng-click="viewSingleGroup(group, 'stage')">
        	<span>{{ :: group.subheader }} </span> {{ :: group.type}}
        </a>
    </span>
    <span class="stage-name" ng-if="group.singleViewType === 'desk'">
        <a href="">
            {{ :: group.header }} {{ :: group.singleViewType}}
        </a>
    </span>
    <span class="stage-name" ng-if="group.singleViewType === 'stage'">
        <a href="">
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} </span> {{ :: group.singleViewType}}
        </a>
    </span>
    <span class="stage-name" ng-if="!group.subheader">
        <a href="" ng-click="viewSingleGroup(group)">
            {{ :: group.header }} {{ :: group.type}}
        </a>
    </span>
    <span class="label label-total">{{ total }}</span>
    <div>
	    <div ng-if="group.type === 'stage'" class="dropdown dropright dropdown-hover monitoring-dropdown"
	         dropdown sd-desk-notifications data-stage="group._id">
	    </div>
    </div>
</div>
