<div class="stage-header clearfix">
    <span class="stage-name">
        <a href="" ng-click="viewSingleGroup(group)">
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} </span> {{ :: group.type}}
        </a>
    </span>
    <span class="label label-total">{{ total }}</span>
    <div>
	    <div ng-if="group.type === 'stage'"class="dropdown dropright dropdown-hover monitoring-dropdown"
	         dropdown sd-desk-notifications data-stage="group._id">
	    </div>
    </div>
</div>
