<div class="stage">
    <div sd-monitoring-group-header ng-if="group.header"></div>
    <div class="stage-content group" ng-class="{limited: limited}" tabindex="0">
        <ul class="inline-content-items compact-view list-view" ng-class="{'list-without-items' : total === 0}">
            <li ng-if="total === 0" translate>There are currently no items in this group</li>
            <li ng-repeat="item in items track by uuid(item)"
                class="list-item-view"
                tabindex="0">
                <div sd-media-box data-view-type="viewType"
                    ng-class="{active: item === selected, archived: item.archived || item.created, locked: lock.isLocked}"
                    ng-dblclick="edit(item, true)"
                    ng-click="select(item)"></div>
            </li>
        </ul>
    </div>
</div>