<div class="destination-box">
    <fieldset>
        <div class="field">
            <label for="destination-name" translate>Name</label>
            <input type="text" id="destination-name" ng-model="destination.name">
        </div>

        <div class="field">
            <label for="destination-format" translate>Format</label>
            <select id="destination-format" class="input" required ng-model="destination.format">
                <option value=""></option>
                <option value="{{format.value}}" ng-selected="format.value === destination.format" ng-repeat="format in $parent.formats track by format.value">{{:: format.name | translate}}</option>
            </select>
        </div>

        <div class="field">
            <label for="destination-delivery-type" translate>Delivery type</label>
            <select id="destination-delivery-type" required ng-model="destination.delivery_type" ng-options="key as val.label for (key, val) in types"></select>
        </div>

        <div class="field credentials">
            <div ng-include="types[destination.delivery_type].templateUrl"></div>
        </div>

        <div class="field" ng-if="actions">
            <button type="button" class="btn" ng-repeat="action in actions" ng-click="action.fn(destination)">
                <span>{{:: action.label | translate}}</span>
            </button>
        </div>
    </fieldset>
</div>
