<div class="field">
	<label for="file-path" translate>Output file path</label>
	<input type="text" id="file-path" placeholder="{{:: 'Output file path'|translate }}"
      ng-model="destination.config.file_path" required
      ng-change="$parent.setConfig(file_path)">
</div>
<div class="field">
	<label for="file-extension" translate>File Extension</label>
	<input type="text" id="file-extension" placeholder="{{:: 'File Extension'|translate }}"
      ng-model="destination.config.file_extension" required
      ng-change="$parent.setConfig(file_extension)">
</div>