<div>
    <div class="backdrop"></div>
    <div class="widget-select modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" ng-click="status = false;">x</a>
                    <h3 translate>Add new widget</h3>
                </div>
                <div ng-show="!selectedWidget">
                    <div class="modal-body">
                        <div class="popup-subnav subnav">
                            <label translate>Category: </label>
                            <div class="dropdown dropdown-simple">
                                <a href="#" class="dropdown-toggle">All <b class="caret"></b></a>
                                <ul class="dropdown-menu sf-dropdown-simple sf-dropdown-left">
                                    <li translate>Article widgets</li>
                                    <li translate>Desk widgets</li>
                                    <li translate>Social widgets</li>
                                    <li translate>Media widgets</li>
                                    <li translate>Smart widgets</li>
                                    <li translate>Other widgets</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="widget-list">
                            <li ng-repeat="(wcode, data) in widgetList" ng-click="selectedWidget = wcode">
                                <div class="thumbnail">
                                    <img ng-src="{{data.thumbnail}}">
                                </div>
                                <div class="title">
                                    {{data.name}}
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="modal-footer">
                        <button class="btn pull-left" ng-click="goPrev()"><i class="icon-chevron-left"></i> <span translate>Previous</span></button>
                        <button class="btn" ng-click="goNext()"><span translate>Next</span> <i class="icon-chevron-right"></i></button>
                    </div>
                </div>

                <div class="widget-detail" ng-show="selectedWidget">
                    <div class="modal-body">
                        <div class="popup-subnav subnav">
                            <a href="" class="backlink" ng-click="selectedWidget = null" translate>Back to overview</a>
                        </div>
                        <div class="thumbnail-box">
                            <img ng-src="{{ widgetList[selectedWidget].thumbnail }}">
                        </div>
                        <div class="title">
                            {{ widgetList[selectedWidget].name }}
                        </div>
                        <div class="description">
                            {{ widgetList[selectedWidget].description }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn" ng-click="status = false;" translate>Cancel</button>
                        <button class="btn btn-primary" ng-click="addWidget(selectedWidget); selectedWidget = null" translate>Add Widget</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>