<div class="subnav subnav-fixed">

	<div class="button-stack right-stack">
        <button class="navbtn" href="">
            <i class="svg-icon-add"></i>
        </button>
        <button class="navbtn" href="">
            <i class="svg-icon-settings"></i>
        </button>
    </div>

    <div class="button-stack">
    	
    	<div class="navbtn dropdown">
    		<button class="dropdown-toggle">My Tasks <b class="caret"></b></button>
			<ul class="dropdown-menu sf-dropdown-simple">
				<li><a href="">My Tasks</a></li>
				<li><a href="">News desk Tasks</a></li>
				<li><a href="">Sports desk Tasks</a></li>
				<li><a href="">Finance desk Tasks</a></li>
				<li><a href="">Photo desk Tasks</a></li>
			</ul>
    	</div>
		
		<div class="navbtn toggle-list">
			<ul>
				<li><a href="">All tasks</a></li>
				<li class="active"><a href="">Desk 1 tasks</a></li>
				<li><a href="">Desk 2 tasks</a></li>
			</ul>
		</div>
    
    </div>

</div>

<section class="main-section with-subnav workspace-tasks">
	<div class="workspace-subnav">
		<div class="switch-view">
			<button ng-click="wsTasksView = true" ng-class="{active: wsTasksView}">
				<i class="icon-kanban-view"></i>
			</button>
			<button ng-click="wsTasksView = false" ng-class="{active: !wsTasksView}">
				<i class="icon-list-view"></i>
			</button>
		</div>
		<div class="flat-tabs">
			<button>To do</button>
			<button class="active">In progress</button>
			<button>Done</button>
		</div>
		
	</div>
	<div class="preview-layout">
		<div class="list-pane">
			list of tasks
		</div>
		<div class="preview-pane">
			preview of tasks
		</div>
	</div>
</section>
