<div class="subnav subnav-fixed">
	
	<div class="button-stack right-stack">
		<div class="navbtn dropdown views-settings">
    		<button class="dropdown-toggle condensed"><i class="svg-icon-settings"></i></button>
			<ul class="dropdown-menu sf-dropdown-simple sf-right">
				<li><span>View 1<i class="icon-pencil"></i></span></li>
				<li><span>View 2<i class="icon-pencil"></i></span></li>
				<li><span>View 3<i class="icon-pencil"></i></span></li>
				<li><button class="full" ng-click="edit()"><i class="svg-icon-add"></i><span translate>Create new view</span></button></li>
			</ul>
    	</div>

        <button class="navbtn navbtn-info">
            <i class="svg-icon-add inverse"></i>
        </button>
        <button class="navbtn">
            <span class="title">Create highlight</span>
        </button>
        <button class="navbtn">
        	<i class="arrow-icon-right"></i>
        </button>
    </div>


	<div class="button-stack">
	
    	<div class="navbtn dropdown">
    		<button class="dropdown-toggle">My Content <b class="caret"></b></button>
			<ul class="dropdown-menu sf-dropdown-simple">
				<li><a href="">My Content</a></li>
				<li><a href="">News desk Content</a></li>
				<li><a href="">Sports desk Content</a></li>
				<li><a href="">Finance desk Content</a></li>
				<li><a href="">Photo desk Content</a></li>
			</ul>
    	</div>
		
		<div class="navbtn toggle-list">
			<ul>
				<li class="active"><a href="">Basket one<b>(347)</b></a></li>
				<li><a href="">Basket two<b>(411)</b></a></li>
				<li><a href="">Basket three<b>(253)</b></a></li>
			</ul>
		</div>
    
    </div>
</div>
<section class="main-section with-subnav">
	<div class="workspace-subnav">
		
	</div>
	<div class="preview-layout">
		<div class="list-pane">
			list of content items
		</div>
		<div class="preview-pane">
			preview of content items
		</div>
	</div>
</section>
<div sd-modal-view data-model="view" class="add-view-modal responsive-popup">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 translate ng-show="provider._id">Edit View {{ origView.name }}</h3>
        <h3 translate ng-hide="provider._id">Add New View</h3>
    </div>

    <div class="modal-body">
        <form name="editForm" ng-submit="save()" ng-init="general=true">
        	<div class="popup-subnav">
        		<ul class="nav nav-tabs">
        			<li ng-class="{'active': general}"><button ng-click="general=true">General</button></li>
        			<li ng-class="{'active': !general}"><button ng-click="general=false">Filters</button> </li>
        		</ul>     
	        </div>
	        <div class="modal-screen" ng-if="general">General content</div>
	        <div class="modal-screen" ng-if="!general">Filters content</div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" translate>Save</button>
    </div>
</div>