<ul class="top-links">
    <li ng-class="{selected: currentRoute.href == '/workspace/tasks'}">
        <a href="#/workspace/tasks" sd-beta translate>Tasks</a>
    </li>
    <li ng-class="{selected: currentRoute.href == '/workspace/ingest'}">
        <a href="#/workspace/ingest" translate>Ingest</a>
    </li>
    <li ng-class="{selected: currentRoute.href == '/workspace/content'}">
        <a href="#/workspace/content" translate>Content</a>
    </li>
    <li ng-class="{selected: currentRoute.href == '/workspace/stream'}">
        <a href="#/workspace/stream" sd-beta translate>Activity Stream</a>
    </li>
</ul>
