<div class="subnav">

	<div class="button-stack right-stack">
        <button class="navbtn" ng-click="create()">
            <i class="svg-icon-add"></i>
        </button>
    </div>

    <div class="button-stack">
    	
    	<div class="navbtn dropdown">
    		<button class="dropdown-toggle">My Tasks <b class="caret"></b></button>
			<ul class="dropdown-menu">
				<li><a href="">My Tasks</a></li>
				<li><a href="">News desk Tasks</a></li>
				<li><a href="">Sports desk Tasks</a></li>
				<li><a href="">Finance desk Tasks</a></li>
				<li><a href="">Photo desk Tasks</a></li>
			</ul>
    	</div>
		
		<div class="navbtn toggle-list">
			<ul>
				<li><a href="">All tasks</a></li>
				<li class="active"><a href="">Desk 1 tasks</a></li>
				<li><a href="">Desk 2 tasks</a></li>
			</ul>
		</div>
    
    </div>

</div>

<section class="main-section workspace-tasks">
	<div class="preview-layout">
		<div class="list-pane task-list">
			<header>
				<div class="switch-view">
					<button ng-click="wsTasksView = true" ng-class="{active: wsTasksView}">
						<i class="icon-kanban-view"></i>
					</button>
					<button ng-click="wsTasksView = false" ng-class="{active: !wsTasksView}">
						<i class="icon-list-view"></i>
					</button>
				</div>
				<div class="flat-tabs">
					<button>To do</button>
					<button class="active">In progress</button>
					<button>Done</button>
				</div>
			</header>
			<div class="content">
				<div sd-shadow>
					<div 
		            	sd-list-view
		                data-items="tasks"
		                data-select="preview(item)">
		                <div class="card" ng-class="{selected: item === selected}">
							<div class="header">
								<figure class="avatar small"></figure>
								<div class="title">{{item.title}}</div>
							</div>
		                	<div class="info">
		                		<ul class="task-labels clearfix">
									<li><i class="icon-desk-time"></i> {{ item.due_date | reldate }}</li>
								</ul>
		                	</div>
		                </div>
		            </div>
				</div>
			</div>
		</div>
		<div class="preview-pane">
			<header>
				<button ng-click="selected.preview = null" class="close-preview">
                    <i class="icon-close-small"></i>
                </button>
			</header>
			<div class="content" ng-if="selected">
				{{selected.preview.title}}
			</div>
		</div>
	</div>
	<div sd-workqueue></div>
</section>

<div sd-modal-view data-model="newtask" class="create-task responsive-popup split-popup">
    <div class="modal-header"> <button class="close" ng-click="close()"><i class="icon-close-small"></i></button>
        <h3 translate>Create New Task</h3>
    </div>

    <div class="modal-body task-details">
       <div class="main">
			<div class="content">
				<ul class="task-labels clearfix">
					<li><i class="icon-desk-time"></i> Today at 15:30</li>
				</ul>
				<textarea class="title" sd-auto-height ng-model="newtask.title" placeholder="{{'Add task title' | translate}}" required></textarea>
				<textarea class="description" sd-auto-height ng-model="newtask.description" placeholder="{{'Add task description' | translate}}"></textarea>
			</div>
       </div>
       <aside class="sidebar">
       		<header translate>Assignee</header>
       		<section class="assignee-container">
				<div sd-assignee-box></div>
				<div class="assignee-name">
					<span>Vladimir Stefanovic</span>
				</div>
			</section>
			<header translate>Action</header>
			<section>
				<form>
					<fieldset>
						<div class="field">
							<label>Due date:</label>
							<input type="date" ng-model="newtask.due_date">
						</div>
						<div class="field">
							<label>Due time:</label>
							<input type="time" ng-model="newtask.due_time">
						</div>
					</fieldset>
				</form>
								
			</section>
       </aside>
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" translate>Save</button>
    </div>
</div>
