<div class="subnav">

	<div class="button-stack">
    	
    	<div class="navbtn dropdown">
    		<button class="dropdown-toggle">My Activity Stream <b class="caret"></b></button>
			<ul class="dropdown-menu">
				<li><a href="">My Activity Stream</a></li>
				<li><a href="">News Activity Stream</a></li>
				<li><a href="">Sports Activity Stream</a></li>
				<li><a href="">Finance Activity Stream</a></li>
				<li><a href="">Photo Activity Stream</a></li>
			</ul>
    	</div>
    
    </div>

</div>
<section class="main-section workspace-stream">

	<div class="activity-container">
		<div class="activity-log">
			<ul class="activity-list card-list">
				<li class="activity with-date"><div class="date"><span>10. June</span></div>
	                <div>
	                    <figure class="avatar">
	                        <img sd-user-avatar data-src="user.picture_url">
	                    </figure>
	                    <div class="activity-content">
	                        <p><b>Vladimir Stefanović</b> aproved article <i>“Ganz besonders, diese Elsässer”</i></p>
	                    </div>
	                    <div class="activity-date "><time datetime="2014-06-10T08:05:56.858Z" title="Tuesday, June 10 2014 10:05 AM" >a few seconds ago</time></div>
	                </div>
	            </li>
	            <li class="activity">
	                <div>
	                    <figure class="avatar">
	                        <img sd-user-avatar data-src="user.picture_url">
	                    </figure>
	                    <div class="activity-content">
	                        <p><b>admin</b> created desks</p>
	                    </div>
	                    <div class="activity-date "><time datetime="2014-06-10T08:05:56.858Z" title="Tuesday, June 10 2014 10:05 AM" >a few seconds ago</time></div>
	                </div>
	            </li>
	            <li class="activity with-date"><div class="date"><span>09. June</span></div>
	                <div>
	                    <figure class="avatar">
	                        <img sd-user-avatar data-src="user.picture_url" >
	                    </figure>
	                    <div class="activity-content">
	                        <p><b>admin</b> created desks</p>
	                    </div>
	                    <div class="activity-date "><time datetime="2014-06-10T08:05:56.858Z" title="Tuesday, June 10 2014 10:05 AM" >one day ago</time></div>
	                </div>
	            </li>
			</ul>
		</div>
		<button class="btn activity-load-more" translate>Load more</button>
	</div>

	<div sd-workqueue></div>
	
</section>