<div class="widget-container" ng-controller="AggregateCtrl as agg" ng-init="agg.setWidget(widget)">
    <div class="main-list" ng-class="{wrap: agg.selected}">
        <div class="search-box">
            <input type="text" placeholder="{{ :: 'Search' | translate }}"
                   ng-model="query"
                   ng-model-options="{debounce: 500}"
                   ng-change="agg.search(query)">
        </div>
        
        <div class="content-list-holder">
            <div sd-shadow>
                <div class="content-list" ng-if="!agg.state.solo">
                    <div class="desk" ng-repeat="group in agg.cards track by group._id">
                        <div class="stage" ng-show="total">
                            <div sd-stage-header></div>
                            <div class="stage-content" ng-style="agg.getMaxHeightStyle(group.max_items)" 
                                 ng-show="agg.getExpandedState(group._id) || agg.state.solo"
                                 sd-stage-items
                                 data-stage="group"
                                 data-total="total"
                                 data-allowed="true"
                                 data-show-empty="false"
                                 data-max-items="group.max_items"
                                 data-action="agg.preview(item)"
                                 data-selected="agg.selected"
                                 data-filter="group.query">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-list" ng-if="agg.state.solo">
                    <div class="desk" ng-init="group = agg.state.solo">
                        <div class="stage" ng-show="total">
                            <div sd-stage-header></div>
                            <div class="stage-content" ng-show="agg.getExpandedState(group._id) || agg.state.solo"
                                 sd-stage-items
                                 data-stage="group"
                                 data-total="total"
                                 data-allowed="true"
                                 data-show-empty="false"
                                 data-max-items="100"
                                 data-action="agg.preview(item)"
                                 data-selected="agg.selected"
                                 data-filter="group.query">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="preview preview-widget" ng-init="contenttab = true" ng-class="{wrap: !agg.selected}">
        <div class="nav">
            <button class="backlink" href="" ng-click="agg.preview()"><span class="ng-scope" translate>Back</span></button>
        </div>
        <ul class="nav nav-tabs">
            <li ng-class="{active: contenttab}">
                <button ng-click="contenttab = true" translate>Content</button>
            </li>
            <li ng-class="{active: !contenttab}">
                <button ng-click="contenttab = false" translate>Metadata</button>
            </li>
        </ul>
        <div class="content-item-preview" ng-if="agg.selected">
            <div class="content" ng-if="contenttab"
                 sd-media-preview-widget data-item="agg.selected"></div>
            <div ng-if="!contenttab"
                 sd-media-metadata data-item="agg.selected"></div>
        </div>
    </div>
</div>
