<div id="workspace-dropdown" class="dropdown navbtn">
    <button id="selected-desk" data-toggle="dropdown" class="dropdown-toggle {{workspaceType}} pull-left">
        <span class="name" ng-if="selected.name">{{ selected.name | uppercase }}</span>
        <span class="name" ng-if="!selected" translate>Select Workspace</span>
        <span class="name" ng-if="!selected.name && workspaceType">{{ :: 'Untitled' | translate }}</span>
        <span class="caret"></span>
    </button>

    <ul id="select-desk-menu" class="dropdown-menu" role="menu">
        <li class="menu-label"><div translate>DESKS</div></li>
        <li class="desk-item" ng-repeat="desk in desks track by desk._id">
            <button ng-click="selectDesk(desk)"
                    ng-disabled="desk._id === selected._id">
                {{ :: desk.name }}
            </button>
        </li>

        <li class="menu-label"><div translate>CUSTOM WORKSPACES</div></li>
        <li class="workspace-item" ng-repeat="workspace in wsList track by workspace._id">
            <button ng-click="selectWorkspace(workspace)"
                    ng-disabled="workspace._id === selected._id">
                {{ :: workspace.name }}
                <span ng-if="!workspace.name">{{ :: 'Untitled' | translate }}</span>
            </button>
        </li>
        <li>
            <button class="action-btn" ng-click="createWorkspace()">
                <i class="icon-plus-small icon-round icon-white"></i>
                <span class="circle"></span>
                {{ :: 'CREATE NEW WORKSPACE' | translate }}
            </button>
        </li>
    </ul>
</div>

<div sd-edit-workspace data-workspace="edited" data-done="afterSave"></div>
