<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Superdesk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- build:css styles/css/bootstrap.css -->
    <link rel="stylesheet" href="styles/css/bootstrap.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="scripts/bower_components/jcrop/css/jquery.Jcrop.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= ga %>', 'sourcefabric.org');
    </script>
  </head>
  <body>

    <div sd-superdesk-view></div>

    <script src="scripts/bower_components/requirejs/require.js"></script>

    <!-- build:js scripts/config.js -->
    <script src="scripts/config.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script>
        var config = {
            server: {url: '<%= server.url %>'},
            raven: {dsn: '<%= raven.dsn %>'},
            ga: '<%= ga %>'
        };

        require([
            'main',
            'superdesk-dashboard/module',
            'superdesk-users/module',
            'superdesk-planning/module',
            'superdesk-media/module'
        ], function(bootstrap) {
            bootstrap(config, arguments);
        });
    </script>
  </body>
</html>
