<div class="manage-filters-page">
    <div ng-hide="hideList">
    	<div class="split-content" >
        <div class="header">
            <h2 translate>Content Filters</h2>
            <button class="btn btn-info pull-right" ng-click="editFilter()">
                <i class="icon-plus-sign icon-white"></i> <span translate>Add New Content Filter</span>
            </button>
        </div>

        <div class="content">
            <ul class="pills-list provider-list">
                <li ng-repeat="filter in contentFilters track by filter._id" class="clearfix">
                    <div class="header">
    	                <h6>{{ filter.name }}</h6>
                        <i>{{ filter.is_global?'[Global]':'' }}</i>
                        <div class="actions">
                            <button ng-click="productionTest(filter)" title="{{:: 'Test Filter Against Content' | translate }}"><i class="svg-icon-ok"></i></button>
                            <button ng-click="editFilter(filter)" title="{{:: 'Edit Content Filter' | translate }}"><i class="icon-pencil"></i></button>
                            <button ng-click="remove(filter)" title="{{:: 'Remove Content Filter' | translate }}"><i class="icon-trash"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div sd-modal data-model="contentFilter" class="content-filter-modal modal-large">
        <div class="modal-header"> <a href="" class="close" ng-click="close()"><i class="icon-close-small"></i></a>
            <h3 translate ng-show="contentFilter._id">Edit Content Filter <span>"{{:: origContentFilter.name }}"</span></h3>
            <h3 translate ng-hide="contentFilter._id">Add New Content Filter</h3>
        </div>
        <div class="modal-body">
            <form name="editForm" ng-submit="saveFilter()">
                <fieldset>
                    <div class="field">
                        <label for="contentFilter-name" translate>Name</label>
                        <input type="text" id="contentFilter-name" required ng-model="contentFilter.name">
                    </div>

                    <div class="field">
                        <label class="right">
                            {{:: 'Global' | translate }}
                            <span tooltip="{{ contentFilter.is_global ? 'Global' : 'Parochial'  | translate }}" tooltip-placement="right">
                                <span class="pull-right" sd-switch ng-model="contentFilter.is_global"></span>
                            </span>
                        </label>
                    </div>

                    <div class="filter-tags" ng-repeat="filterRow in contentFilter.content_filter">
                        <div class="flex-header">
                            <div class="flex-header-name" translate>Filter Statement <span class="lighten-text">{{$index+1}}</span></div>
                            <div class="flex-space"></div>
                            <a href="" class="close" ng-click="removeStatement($index)"><i class="icon-close-small"></i></a>
                        </div>

                        <div class="row">
                            <div class="row-50">
                                <label translate>Filter Conditions</label>
                                <select class="input" ng-model="filterRow.selected" >
                                    <option value=""></option>
                                    <option value="{{filter._id}}" ng-repeat="filter in filterConditions track by filter._id">{{:: filter.name}}</option>
                                </select>
                                <button class="btn" type="button" ng-click="addFilter(filterRow, 'fc')"  translate>Add</button>
                            </div>
                            <div class="row-50">
                                <label translate>Content Filters</label>
                                <select class="input" ng-model="filterRow.selected">
                                    <option value=""></option>
                                    <option ng-if="filter._id!==contentFilter._id" value="{{filter._id}}" ng-repeat="filter in contentFilters track by filter._id">{{:: filter.name}}</option>
                                </select>
                                <button class="btn" type="button" ng-click="addFilter(filterRow, 'pf')" translate>Add</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="inline-tag-list">
                                <ul>
                                    <li ng-repeat="filter in filterRow.expression.fc">
                                        <div class="inline-tag">
                                            <span>FC:</span>{{filterConditionLookup[filter].name}}<button type="button" ng-click="removeFilter(filterRow, filter, 'fc')"><i class="icon-close-small"></i></button>
                                        </div>
                                    </li>
                                    <li ng-repeat="filter in filterRow.expression.pf">
                                        <div class="inline-tag tag-darker">
                                            <span>PF:</span>{{contentFiltersLookup[filter].name}}<button type="button" ng-click="removeFilter(filterRow, filter, 'pf')"><i class="icon-close-small"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="row">
                <label for="contentFilter-preview" translate>Filter Preview</label>
                <textarea id="contentFilter-preview" readonly ng-model="preview"></textarea>
            </div>
            <div class="test-row">
                <label for="contentFilter-test" translate>Filter Test</label>
                <input type="text" id="contentFilter-test" required ng-model="test.article_id" ng-change="test.test_result=null">
                <button type="button" class="btn btn-default" ng-click="test()" translate>Test</button>
                <span>{{test.test_result}}</span>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="addStatement()" translate>Add Filter Statement</button>
            <button class="btn btn-default" ng-click="close()" translate>Cancel</button>
            <button class="btn btn-primary" ng-click="saveFilter()" ng-disabled="!editForm.$valid" translate>Save</button>
        </div>
    </div>

    <div>
        <div ng-if="productionTest"
            ng-include="'scripts/superdesk-content-filters/views/production-test.html'"></div>
    </div>

</div>
