<div id="content-filters-settings" sd-settings-view>
  <div class="split-content">

    <ul class="nav nav-tabs">
        <li ng-class="{active: ctrl.activeTab === 'filters'}">
            <button
                ng-click="ctrl.changeTab('filters')"
                translate>Filters</button>
        </li>

        <li ng-class="{active: ctrl.activeTab === 'filter_conditions'}">
            <button
                ng-click="ctrl.changeTab('filter_conditions')"
                translate>Filter Conditions</button>
        </li>


        <li ng-class="{active: ctrl.activeTab === 'filter_search'}">
            <button
                ng-click="ctrl.changeTab('filter_search')"
                translate>Filter Search</button>
        </li>
    </ul>

    <div class="content" ng-switch="ctrl.activeTab">
        <div ng-switch-when="filter_conditions">
            <div ng-include="ctrl.TEMPLATES_DIR +
                             '/manage-filter-conditions.html'">
            </div>
        </div>

        <div ng-switch-when="filters">
            <div sd-manage-filters-tab></div>
        </div>

        <div ng-switch-when="filter_search">
            <div ng-include="ctrl.TEMPLATES_DIR + '/filter-search.html'"
                 data-search="search">
            </div>
        </div>
    </div>

  </div>
</div>
