honcho
celery-redbeat

git+https://github.com/superdesk/superdesk-core.git@develop#egg=superdesk-core
git+https://github.com/MarkLark86/superdesk-planning.git@SDBELGA-1126#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@develop#egg=superdesk-analytics
