honcho
celery-redbeat

git+https://github.com/superdesk/superdesk-core.git@v3.5.0#egg=superdesk-core
git+https://github.com/superdesk/superdesk-planning.git@v3.5.4#egg=superdesk-planning
git+https://github.com/superdesk/superdesk-analytics.git@v3.5.0#egg=superdesk-analytics
