beautifulsoup4==4.5.3
gunicorn==19.7.1
honcho==1.0.1
newrelic>=2.66,<2.67
flask==0.12.2
flask-babel==0.12.2
pymongo==3.8.0
werkzeug<1.0

git+git://github.com/superdesk/superdesk-core.git@release/1.34#egg=superdesk-core
git+git://github.com/superdesk/superdesk-planning.git@v1.33.1#egg=superdesk-planning
