<div class="multiple">

    <div class="field">
        <label for="desk" translate>Desk</label>
        <select
            id="desk" name="desk"
            ng-options="d._id as d.name for d in desks"
            ng-model="desk">
            <option value=""></option>
        </select>
    </div>

    <div class="field">
        <label for="stage" translate>Stage</label>
        <select
            id="stage" name="stage"
            ng-options="s._id as s.name for s in deskStages[desk]"
            ng-model="stage">
            <option value=""></option>
        </select>
    </div>

    <div class="field">
        <label for="macro" translate>Macro</label>
        <select
            id="macro" name="macro"
            ng-options="m.name as m.label for m in deskMacros"
            ng-model="macro">
            <option value=""></option>
        </select>
    </div>

</div>
