<div class="modal-header">
    <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
    <h3 translate>Monitoring settings</h3>
</div>

<div class="modal-body" sd-wizard data-name="aggregatesettings" data-current-step="step.current" data-finish="cancel()">

    <div sd-wizard-step data-title="{{ :: 'Desks' | translate }}" data-code="desks">
        <div class="content">

            <div class="legend" translate>Select desks for view</div>
            <div class="desk" ng-repeat="desk in desks">
                <div class="desk-title">
                    {{desk.name}}
                    <span sd-switch class="pull-right" ng-model="editGroups[desk._id].selected" ng-click="setDeskInfo(desk._id)"></span>
                </div>
                <ul class="stages clearfix" ng-if="editGroups[desk._id].selected">
                    <li ng-repeat="stage in deskStages[desk._id]">
                        <span sd-check ng-model="editGroups[stage._id].selected" ng-click="setStageInfo(stage._id)"></span> {{stage.name}}
                    </li>
                </ul>
            </div>
            <div class="desk">
                <div class="desk-title" translate>Personal
                    <span sd-switch class="pull-right" ng-model="editGroups['personal'].selected" ng-click="setPersonalInfo()"></span>
                </div>
            </div>
            <div ng-show="" class="legend" translate>Select saved searches to view</div>

        </div>
        
        <div class="modal-footer">
            <button id="nextStages" class="btn btn-primary" ng-click="next()" translate>Next</button>
        </div>
    </div>

    <div sd-wizard-step data-title="{{ :: 'Saved Searches' | translate }}" data-code="searches">
        <div class="content">
            <div class="legend" translate>Select saved searches for view</div>
            <div class="desk" ng-repeat="search in searches">
                <div class="desk-title">
                    {{search.name}}
                    <span sd-switch class="pull-right" ng-model="editGroups[search._id].selected" ng-click="setSearchInfo(search._id)"></span>
                </div>
            </div>
            <div ng-show="" class="legend" translate>Select saved searches for view</div>

        </div>
        <div class="modal-footer">
            <button id="previousSearches" class="btn pull-left" ng-click="previous()" translate>Previous</button>
            <button id="nextSearches" class="btn btn-primary" ng-click="next()" translate>Next</button>
        </div>
    </div>

    <div sd-wizard-step data-title="{{ :: 'Reorder Sections' | translate }}" data-code="reorder">
        <div class="content">
            <div class="legend" translate>Reorder stages and saved searches for view</div>
            <ul class="groups draggable-list" sd-sort-groups>
                <li class="sort-item clearfix" ng-repeat="item in getValues()">
                    <div class="group-title" ng-if="item.type === 'stage'">
                        {{deskLookup[stageLookup[item._id].desk].name}} : <span>{{stageLookup[item._id].name}}</span>
                    </div>
                    <div class="group-title" ng-if="item.type === 'search'">
                        {{searchLookup[item._id].name}}
                    </div>
                    <div class="group-title" ng-if="item.type === 'personal'" translate>Personal</div>  
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button id="previousReorder" class="btn pull-left" ng-click="previous()" translate>Previous</button>
            <button id="nextReorder" class="btn btn-primary" ng-click="next()" translate>Next</button>
        </div>  
    </div>

    <div sd-wizard-step data-title="{{ :: 'Items Count' | translate }}" data-code="maxitems">
        <div class="content">
            <div class="legend" translate>Set maximum items per stages and saved searches for view</div>
            <div class="groups">
                <div ng-repeat="max in getValues()" class="clearfix">
                    <div class="desk-title pull-left" ng-if="max.type === 'stage'">
                        {{deskLookup[stageLookup[max._id].desk].name}} : <span>{{stageLookup[max._id].name}}</span>
                    </div>
                    <div class="desk-title pull-left" ng-if="max.type === 'search'">
                        {{searchLookup[max._id].name}}
                    </div>
                    <div class="desk-title pull-left" ng-if="max.type === 'personal'" translate>Personal</div>
                    <div class="pull-right"><input type="number" id="maxItems" ng-model="max.max_items" min="1" max="25" required></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="previousMax" class="btn pull-left" ng-click="previous()" translate>Previous</button>
            <button class="btn btn-primary" ng-click="save()" translate>Done</button>
        </div>  
    </div>

</div>
