<div class="content-search" ng-class="{extended: agg.selected}" ng-controller="AggregateWidgetCtrl as agg">
    <div class="search-container">
        <div class="search-box">
            <input type="text" placeholder="{{ :: 'Search' | translate }}"
                ng-model="query"
                ng-model-options="{debounce: 500}"
                ng-change="agg.search(query)">

            <div class="dropdown more-actions" dropdown >
                <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                <div class="dropdown-menu pull-right">
                    <ul>
                        <li>
                            <button ng-click="agg.edit()">
                                <i class="icon-settings"></i> {{ :: 'Content settings' | translate }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="filter-list">
            <div class="btn-group">
                <button type="button" class="btn btn-light"
                    ng-class="{active: !agg.searchAll}"
                    ng-click="agg.searchAll = false"
                    translate>SELECTED STAGES</button>
                <button type="button" class="btn btn-light"
                    ng-class="{active: agg.searchAll}"
                    ng-click="agg.searchAll = true"
                    translate>ALL</button>
            </div>
        </div>

        <div class="content-list">
            <div class="desk" ng-repeat="desk in agg.desks._items | filter: agg.isActive | orderBy:'name' track by desk._id">
                <div class="stage" ng-repeat="stage in agg.deskStages[desk._id] | filter: agg.isActive | orderBy:'name' track by stage._id" ng-show="total" ng-init="open = true">
                    <div class="stage-header clearfix">
                        <div class="line"></div>
                        <button class="toggle pull-left" ng-class="{closed: !open}" ng-click="open = !open">
                            <i class="icon-chevron-down"></i>
                        </button>
                        <div class="stage-name pull-left">{{desk.name}} : <span>{{stage.name}}</span></div>
                        <span class="label pull-right">{{total}}</span>
                    </div>

                    <div class="stage-content" ng-show="open"
                        sd-stage-items
                        data-stage="stage._id"
                        data-total="total"
                        data-allowed="true"
                        data-show-empty="false"
                        data-action="agg.preview(item)"
                        data-selected="agg.selected"
                        data-filter="agg.query">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'scripts/superdesk-packaging/views/search-widget-preview.html'"></div>

    <div sd-modal data-model="agg.modalActive" class="aggregate-widget-config">
        <div class="modal-header">
            <button class="close" ng-click="agg.cancel()"><i class="icon-close-small"></i></button>
            <h3 translate>Configure content</h3>
        </div>

        <div class="modal-body">
            <div class="content">
                <div class="legend" translate>Select desks to view</div>
                <div class="desk" ng-repeat="desk in agg.desks._items">
                    <div class="desk-title">
                        {{desk.name}}
                        <span sd-switch class="pull-right" ng-model="agg.active[desk._id]"></span>
                    </div>
                    <ul class="stages clearfix" ng-if="agg.active[desk._id]">
                        <li ng-repeat="stage in agg.deskStages[desk._id]">
                            <span sd-check ng-model="agg.active[stage._id]"></span> {{stage.name}}
                        </li>
                    </ul>
                </div>
                <div ng-show="" class="legend" translate>Select saved searches to view</div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" ng-click="agg.cancel()" translate>Cancel</button>
            <button class="btn btn-primary" ng-click="agg.save()" translate>SAVE</button>
        </div>

    </div>

</div>
