<label ng-if="preview">{{ContentExpiry.Header | translate}}
	{{ ContentExpiry.Hours}} <span translate>hr</span>
	{{ ContentExpiry.Minutes}} <span translate>min</span>
</label>
<div class="field" ng-if="!preview">
    <label>{{ContentExpiry.Header | translate}}</label>
    <input type="number" class="input-mini" ng-model="ContentExpiry.Hours" min ="0" required>
    <span translate>hr</span>
    <input type="number" class="input-mini" ng-model="ContentExpiry.Minutes" min ="0" max="59" required>
    <span translate>min</span>
</div>