<div class="desk-header">
	<div class="desk-name pull-left">{{ desk.name }} 
		<span class="view" ng-if="isMemberOf(desk)" ng-click="openDeskView(desk, 'task')" title="{{ :: 'Open desk content' | translate }}"><i class="icon-external"></i></span>
	</div>
	<div class="desk-action pull-right dropdown" dropdown ng-if="privileges.desks">
		<button class="dropdown-toggle" dropdown-toggle><i class="icon-dots"></i></button>
		<ul class="dropdown-menu">
			<li><button ng-click="openDesk('general', desk)"><i class="icon-pencil"></i> {{ :: 'Edit desk' | translate }}</button></li>
		</ul>
	</div>
</div>
<div class="desk-content">

	<div class="stage tasks" ng-repeat="role in roles" ng-show="total">
		<div class="stage-header clearfix">
			<div class="stage-name pull-left {{ :: role._id}}">{{ :: role.name}}</div>
			<span class="label pull-right">{{total}}</span>
		</div>
		<div class="stage-content" sd-user-role-items
			data-role="role._id"
			data-desk="desk._id"
			data-total="total"
			data-online="online_users"
			data-privilege="privileges.users"
		></div>
    </div>

</div>
