<div class="desk-header">
	<div class="desk-name pull-left">{{ desk.name }} 
		<span class="view" ng-if="isMemberOf(desk)" ng-click="openDeskView(desk)" title="{{ 'Open desk content' | translate}}"><i class="icon-external"></i></span>
	</div>
	<div class="desk-action pull-right" dropdown>
		<button class="dropdown-toggle" dropdown-toggle><i class="icon-dots"></i></button>
	</div>
</div>
<div class="desk-content">
	
	<div class="stage" ng-repeat="stage in deskStages[desk._id]">
		<div class="stage-header clearfix">
			<div class="stage-name pull-left">{{stage.name}}</div>
			<span class="label pull-right">{{total}}</span>
		</div>
		<div class="stage-content" sd-stage-items data-stage="stage._id" data-total="total"></div>
	</div>

</div>
