<div class="preview-container" ng-init="contenttab = true">
    <header>
        <ul class="nav nav-tabs">
            <li ng-class="{active: contenttab}">
                <button ng-click="contenttab = true" translate>Content</button>
            </li>
            <li ng-class="{active: !contenttab}">
                <button ng-click="contenttab = false" translate>Metadata</button>
            </li>
        </ul>
        <button ng-click="agg.preview()" class="close-preview">
            <i class="icon-close-small"></i>
        </button>
    </header>
    <div class="content-item-preview" ng-if="agg.selected">
        <div class="content" ng-if="contenttab"
            sd-media-preview-widget data-item="agg.selected"></div>
        <div ng-if="!contenttab"
            sd-media-metadata data-item="agg.selected"></div>
    </div>
</div>