<div class="subnav">
    <div class="navbtn toggle-list desk-tabs">
    	<ul>
	    	<li ng-repeat="v in views" ng-class="{active: v === view}">
	    		<a href="" id="{{v}}" ng-click="setView(v)" translate>{{v}}</a>
                        <div class="online-users" ng-if="v === view && view === 'users'">
                            <p><span sd-check ng-model="online_users" name="online_users" id="online_users" ng-change="changeOnlineUsers(online_users)"></span></p>
                            <label translate>show only online users</label>
                        </div>
	    	</li>
        </ul>
    </div>
</div>

<section class="main-section master-desk-view" sd-desk-config>

	<div class="main-desk-container">

		<div class="desk-container" ng-if="view === 'content'" ng-repeat="desk in desks._items | orderBy: 'name'">
			<div class="desk" ng-include="'scripts/superdesk-desks/views/desk.html'"></div>
		</div>

		<div class="desk-container" ng-if="view === 'tasks'" ng-repeat="desk in desks._items | orderBy: 'name'">
			<div class="desk" ng-include="'scripts/superdesk-desks/views/desk-tasks.html'"></div>
		</div>

		<div class="desk-container" ng-if="view === 'users'" ng-repeat="desk in desks._items | orderBy: 'name'">
			<div class="desk" ng-include="'scripts/superdesk-desks/views/desk_users.html'"></div>
		</div>
	</div>

	<div sd-desk-config-modal 
		data-active="modalActive" 
		data-desk="desk" 
		data-desks="desks" 
		data-step="step"
		data-cancel="cancel()"
	></div>

</section>