<div sd-settings-view>

	<div class="split-content" sd-desk-config>
		
		<div class="header">
			<h2 translate>Desk management</h2>
			<button class="btn btn-info pull-right" ng-click="openDesk('general')">
		        <i class="icon-plus-sign icon-white"></i> {{ 'Add New Desk' | translate }}
		    </button>
		</div>
		
	    <div class="content desk-settings">
	    	<div sd-shadow>
	    		<ul class="pills-list">
					<li ng-repeat="desk in desks._items">
					
						<h6 class="pull-left">{{ desk.name }}</h6>

						<div class="actions">
							<button ng-click="openDesk('general', desk)" title="{{:: 'Edit desk' | translate }}"><i class="icon-pencil"></i></button>
							<button ng-click="remove(desk)" title="{{:: 'Remove desk' | translate }}"><i class="icon-trash"></i></button>
						</div>
	                </li>
				</ul>
			</div>
	    </div>

		<div sd-desk-config-modal 
			data-active="modalActive" 
			data-desk="desk" 
			data-desks="desks" 
			data-step="step"
			data-cancel="cancel()"
		></div>
	</div>

</div>
