<div ng-if="loading" class="loading"></div>

<div ng-if="!loading && !items.length" class="no-items" translate>No items with this published</div>

<ul ng-if="!loading && items.length" class="inline-content-items content-tasks" >
	<li ng-repeat="item in items" class="item">
		<span ng-show="item.name !== '-'">
			{{item.name}}
		</span>
		<span ng-show="item.slugline !== '-'">
			{{item.slugline}}
		</span>
		<span>{{item.headline}}</span>
		<span ng-show="item.old_sluglines.length !== 0">
			<label>Old sluglines : </label>{{item.old_sluglines}}
		<span>
	</li>
</ul>