<div class="stage-header clearfix">
    <button class="toggle" 
            ng-if="agg.state.solo._id !== group._id"
            ng-class="{closed: !agg.getExpandedState(group._id)}" 
            ng-click="agg.switchExpandedState(group._id)">
        <i class="icon-chevron-down-thin"></i>
    </button>
    <span class="stage-name">
        <a href="" ng-show="agg.state.solo._id !== group._id" ng-click="agg.setSoloGroup(group)">
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} {{ :: group.type}}</span>
        </a>
        <a href="" ng-click="agg.setSoloGroup()" ng-show="agg.state.solo._id === group._id">
            <i class="backlink"></i>
            {{ :: group.header }} <span ng-show="group.subheader">/ {{ :: group.subheader }} {{ :: group.type}}</span>
        </a>
    </span>
    <div class="line" ng-if="agg.state.solo._id !== group._id"></div>
    <span class="label label-total">{{ total}}</span>
</div>
