<div ng-if="loading" class="loading"></div>
<div ng-if="!loading && !total && showEmpty" class="no-items" translate>No items in this stage</div>

<div ng-show="newItemsCount" class="new">
	<button ng-click="renderNew()" translate>{{ newItemsCount }} new</button>
</div>

<ul ng-if="total" class="inline-content-items" tabindex="0">
	<li class="item-container"
		ng-repeat="item in viewitems track by item._id">
		<div id="{{ :: item._id }}" class="item"
			ng-click="action({item: item})"
			ng-class="{
				shifted: allowed,
				deleted: item._deleted,
				locked: item.lock_user,
				active: item === selected}">
			<div class="type"><i class="filetype-icon-{{ :: item.type }}"></i></div>
			<div class="urgency"><i class="urgency-icon-{{ :: item.urgency }}"></i></div>
			<div class="text">
				<span>{{ :: item.slugline }}</span>{{ :: item.headline }}
			</div>
			<div class="action" ng-if="allowed">
				<button ng-click="preview(item); $event.stopPropagation();">
					<i class="icon-external"></i>
				</button>
			 	<button ng-click="edit(item); $event.stopPropagation();">
			 		<i class="icon-pencil"></i>
			 	</button>
			</div>
		</div>
	</li>
</ul>
