// search.less
// Styling for search page, and search functionalities
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.search-page-container {
        .archive-content {
            height: 100%;
        }
	.search-page-header {
		display: flex;
		position: relative;
		> div {
			flex: 0 0 auto;
		}
		.searchbar-flex-handler {
			flex: 1 0 auto;
		}
	}
}

.multi-action-bar {
	.border-box();
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 48px;
	background-color: #fff;
	padding-left: 16px;

	.navbtn {
		border: none;
	}
                
    #multi-select-count {
        margin-left: 15px;
    }
}

.item-searchbar {
	border-left: 1px solid #dfdfdf;
	position: relative;

	&.focused {
		border-right: 1px solid #dfdfdf;
		background: @white;
	}
	.search-icon {
		.user-select(none);
		width: 28px;
		height: 28px;
		display: inline-block;
		background: url(../../images/search-icon.png) no-repeat 5px 5px;
		.opacity(85);
		&:hover {
			cursor: pointer;
			.opacity(100);
		}
	}

	.button {
		position: absolute;
		width: @nav-height;
		height: @nav-height;
		background-position: center;
		top: 0;
		border: 0;
		margin: 0;
	}
	
	input {
		height: @nav-height;
		line-height: 100%;
		font-size: 14px;
		border: 0 !important;
		padding: 0 @nav-height;
		
		background: none;
		&:focus, &:active {
			.box-shadow(none) !important;
		}
		&::-webkit-input-placeholder {
			line-height: 22px;
		}
	}
	
	.trigger {
		right: 0;
		background: none;
	}

	.search-cancel {
		position: absolute;
		top: 20px; right: 65px;
		background: #d0d0d0;
		.border-radius(50%);
		border: 0;
		padding: 0px 5px 2px 4px;
  		zoom: 0.8;
		i {
			margin: -1px 1px 0 -2px;
		}
		&:hover {
			background: #ababab;
		}
	}

}


.search-tags {
	.clearfix();
	padding: 10px 20px 0;
	li {
		div {
			line-height: 26px;
			background: @sd-blue;
			.border-radius(3px);
			padding: 0px 0px 0px 5px;
			color: @white;
			margin: 0 5px 5px 0;
			float: left;
			span {
				color: darken(@white,10%);
				margin-right: 5px;
				text-transform: capitalize;
			}
			button {
				background: none;
				border: 0;
				float: right;
				height: 26px;
				margin-left: 5px;
				padding-left: 2px;
				.border-radius(0 3px 3px 0);
				i {
					.opacity(70);
					margin-top: -4px;
				}
				&:hover {
					.opacity(100);
					background: darken(@sd-blue, 10%);
				}
			}
		}
	}
}

.item-globalsearch {
	float: left;
	.popup {
		position: fixed;
		top: 100px;
		left: 50%;
		width: 670px;
		margin-left: -335px;
		.border-radius(6px);
		background: rgba(0,0,0,0.3);
		.border-box();
		padding: 12px;
		.box-shadow(0 0 20px 0 rgba(0,0,0,0.25));
		z-index: 11112000;
		> .content {
			background: #fff;
		}
	}
	.trigger-popup {
		height: @nav-height - 1;
		padding: 10px 10px 10px 15px;
		.box-sizing(border-box);
		float: left;
	}
	.separator-handler {
		margin: 9px 0 0 0;
		border-right: 2px dotted #bcbcbc;
		height: 30px;
		float: left;
	}
	&.extended {
		.popup {
			display: block;
		}
	}
}
// Item global search dialog
.advanced-globalsearch {

	form {
		.clearfix();
	}

	.advanced {
		&:before {
			display: none;
		}
		margin-top: 0;
		position: static;
		.border-box();
		.box-shadow(0 3px 5px 0 #aaa);
		.border-radius(0px);
		border: 0;
		width: 100%;
		border-top: 1px solid #e6e6e6;
		.box-shadow(inset 0 1px 3px 0 #eee);

		.close {
			padding: 0 5px;
			float: right;
			width: auto;
			background: none;
			margin: 5px 5px 0 0;
		}

		.content {
			padding: 25px 10px 10px;
		}
		.actions {
			.clearfix();
			padding: 10px 0;
			button {
				width: auto;
				clear: none;
			}
		}
	}
}