<section class="main-section">
    <div class="preview-layout" ng-class="{closed: !selected.preview}">
        <div class="list-pane">
            <header>
                <div class="sortbar pull-left">
                    <span class="lab pull-left" translate>Criteria:</span>
                    <input type="radio" ng-click="fetchResults(selectedfilter)" ng-model="result_type" ng-value="true"><span translate>Matching</span>
                    <input type="radio" ng-click="fetchResults(selectedfilter)" ng-model="result_type" ng-value ="false"><span translate>Non-Matching</span>
                    <!-- <div class="dropdown pull-left" dropdown>
                        <button class="dropdown-toggle" dropdown-toggle> {{ selectedFilterTest }} <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" ng-click="filterResult(true)">{{ :: 'Matching' | translate}}</a>
                            </li>
                            <li>
                                <a href="" ng-click="filterResult(false)">{{ :: 'Non-Matching' | translate}}</a>
                            </li>
                        </ul>
                    </div> -->
                </div>

            </header>
            <div class="content">
                <div sd-shadow>
                    <table class="table styled-table">
                        <thead>
                            <tr>
                                <th></th>
                                <!-- Id, Headline, Source and Keyword, Desk -->
                                <th translate>Id</th>
                                <th translate>Headline</th>
                                <th class="align-right" translate>Source</th>
                                <th class="align-right" translate>Keyword</th>
                                <th class="align-right" translate>Destination</th>
                                <th class="align-right" translate>Desk</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result_item in testResult track by result_item._id" ng-click="preview(result_item);">
                                <td>{{ result_item.id}}</td>
                                <td>{{ result_item.headline}}</td>
                                <td class="align-right">{{ result_item.source}}</td>
                                <td class="align-right">{{ result_item.keyword}}</td>
                                <td class="align-right">{{queue_item.destination}}</td>
                                <td class="align-right">{{queue_item.location}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div sd-item-preview data-item="selected.preview" data-close="preview(null)"></div>
    </div>
</section>

