<div ng-controller="FilterSearchController">
    <div class="panel-search" ng-if="filterCondition">
        <form name="searchForm" ng-submit="search()">
        <fieldset>
            <div class="field">
                <label translate>Field</label>
                <select class="input" ng-change="resetValues()" required ng-model="filterCondition.field">
                    <option value="{{parameter.field}}" ng-selected="parameter.field === filterCondition.field" ng-repeat="parameter in filterConditionParameters track by $index">{{:: parameter.field | translate}}</option>
                </select>
            </div>
            <div class="field">
                <label translate>Operator</label>
                <select class="input" ng-change="resetValues()" required ng-model="filterCondition.operator" >
                    <option value="{{operator}}" ng-selected="operator === filterCondition.operator" ng-repeat="operator in operatorLookup[filterCondition.field] track by $index">{{:: operator | translate}}</option>
                </select>
            </div>
            <div class="field">
                <label translate>Values</label>
                <input ng-if="!isListValue()" required ng-model="filterCondition.value">
                <div ng-if="isListValue()">
                    <div class="term-editor" ng-keypress="handleKey($event)" sd-meta-terms data-item="filterCondition" data-field="values" data-unique="qcode" data-list="valueLookup[filterCondition.field]"></div>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary" ng-disabled="!(filterCondition.value || filterCondition.values.length > 0)" ng-click="search()" translate>Search</button>
            </div>
        </fieldset>
        </form>
    </div>
    <div class="panel-search-result" ng-if="searchResult">
        <div sd-filtersearch-result></div>
        <div sd-admin-pub-subscribers></div>
        <div sd-publish-filter></div>
    </div>
</div>