<div class="clock-box">
    <header>{{ wtime.city }}</header>
    <div class="wclock">
        <div class="clock-circle">
            <div class="clock-hands">
                <div class="hour" style="-webkit-transform: rotate({{ ((wtime.hrs-9)%12) * 30 +  wtime.min/2 }}deg);"></div>
                <div class="minute" style="-webkit-transform: rotate({{ wtime.min * 6 }}deg);"></div>
                <div class="second" style="-webkit-transform: rotate({{ wtime.sec * 6 }}deg);"></div>
           </div>
        </div>
    </div>
    <time>{{ wtime.full }}</time>
    <span class="date">Today</span>
</div>
