// menu.less
// Styling for the superdesk top menu and sidebar main menu
// ----------------------------------------------------------------------------------------
@import 'variables.less';
@import 'mixins.less';


/*
====================================================
	Main navigation
====================================================
*/

//beta switch button
.beta-switch {
	background: none !important;
	border-right: none !important;
	span {
		height: 10px;
		font-size: 10px;
		padding: 2px 5px;
		.border-radius(2px);
		&.stable {
			background: #111;
			color: #777;
		}
		&.beta {
			background: #009360;
			color: #fff;
		}
	}
}

// top menu
#top-menu {
	background: #2c2c2c;
	height: @nav-height;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: @zindexFixedNavbar;
	margin-bottom: 0; // remove 18px margin for static navbar

	.transition( all 0.3s ease);
	&.menu-open {
		left: @sf-main-menu-width !important;
		right: 0 !important;
	}

	a, button {
		height: @nav-height;
		display: inline-block;
		line-height: @nav-height;
		padding: 0 25px;
		background: #202020;
		border:0;
		border-right: 1px solid #333;
		//.box-shadow(inset -1px 0 0 #111);
		.text-normal();

		&:hover {
			text-decoration: none;
			background: #000;
		}

		&.main-link {
			font-size: 15px;
			color: #aaa;
		}

		//main nav toggle button
		&.collapse-nav {
			width: @nav-height !important;
			text-align: center;
			padding: 0;
			&:hover {
				background: #101010;
				cursor: pointer;
			}
		}

		&.current-user {
			position: relative;
			padding: 0 10px;
			.box-shadow(none);
			.avatar {
				.border-radius(2px);
			}
			.label {
				position: absolute;
				top: 3px;
				left: 1px;
				text-shadow: none;
			}
		}
	}

	.top-nav {
		height: @nav-height;
		float: left;
	}

	.dropdown {
		float: left;
		position: relative;
		.dropdown-toggle .caret {
			border-top-color: #fff;
		}
		&.open {
			.dropdown-toggle {
				background-color: #fff;
				color: #5aa1bf;
				.caret {
					border-top-color: #595959;
				}
			}
		}
		&.navbtn, button {
			border-right: none;
		}

		.name {
			display: block;
			float: left;
			width: 100px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-align: left;
			text-transform: uppercase;
		}

		.dropdown-toggle {
			background-color: #5ea9c8;
			color: #fff;
			font-size: 12px;
			overflow: hidden;
		}

		.dropdown-menu {
			button {
				background-color: #fff;
				color: #626262;
				border: none;
				height: auto;
				line-height: 1.3em;
				margin: 0 10px;
				padding: 9px;
				text-transform: uppercase;

				&:hover {
					background-color: #deecf2;
					color: #000;
					border-radius: 3px;
				}
			}
		}
	}
}

#side-menu {
    position: absolute;
    width: @sidebar-width;
    top: @nav-height;
    left: 0;
    bottom: @authoring-opened-articles;
    background-color: @sidebar-background;
    z-index: @zindexFixedNavbar - 1;
    .box-shadow(2px 0 5px 0 rgba(0,0,0,0.25));
    .transition( all 0.3s ease);
    &.menu-open {
        left: @sf-main-menu-width !important;
        right: 0 !important;
    }
    hr {
        width: @sidebar-width / 2;
        margin: 18px @sidebar-width / 4;
        border-top: 1px dotted #9b9b9b;
        border-bottom: 0;
    }
    li {
        text-align: center;
        line-height: @sidebar-width;
        a {
            opacity: .5;
            &.big-icon-view {
                background-size: 24px;
            }
        }
        &.active {
            a {
                opacity: 1;
            }
        }

        &.text {
        	line-height: 96px;
        	transform: rotate(90deg);
        	a {
        		color: #9b9b9b;
        		opacity: 1;
        	}
        }
    }
}

#main-menu {
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	width: @sf-main-menu-width;
	background: #272727;
	.user-select(none);
	.box-shadow(inset -5px 0 6px -0px #181818);
	.header {
		height: @nav-height;
		width: 100%;
		.box-sizing(border-box);
		.box-shadow-both(inset -13px 0px 10px -10px #070707, 0 2px 3px 0px #202020);
		border-bottom: 1px solid #121212;
	}
	.content {
		position: absolute;
		bottom: 100px;
		left:0; right: 0;
		top:@nav-height;
		.box-sizing(border-box);
		overflow: auto;
		> ul {
			list-style-type: none;
			margin:0;
			padding: 0;
			> li {
				> a {
					.user-select(none);
					display: block;
					position: relative;
					height: 100%;
					.box-sizing(border-box);
					border-bottom:1px solid #353535;
					border-top: 1px solid #272727; //fake border - same as bg
					.box-shadow(inset 0 -1px 0px 0px #1b1b1b);
					padding-left: 30px;
					height: 37px;
					line-height: 33px;
					font-size: 14px;
					color: #f0f0f0;
					text-decoration: none;
					text-transform: capitalize;
					i {
						position: absolute;
						top:8px;
						right:10px;
						.opacity(30);
					}
					&:hover {
						background: #283032;
						border-top-color: #283032;
						color:#3299b7;
						cursor: pointer;
					}
				}
				ul {
					display: none;
				}
				&.open {
					> a {
						border-bottom:1px solid #1b1b1b;
						.box-shadow(none);
						i {
							background-position: -313px -119px;
						}
					}
					ul {
						display: block;
						list-style-type: none;
						margin:0;
						padding: 0;
						.box-shadow(inset 0 7px 5px -5px #202020);
						.user-select(none);
						li a {
							color: #9e9e9e;
							font-size: 13px;
							line-height: 32px;
							height: 32px;
							padding-left: 30px;
							text-decoration: none;
							display: block;
							&:hover {
								color: #c8c8c8;
							}
						}
					}
					+ li {
						> a {
							border-top-color: #353535;
							.box-shadow-both(inset 0 -1px 0px 0px #1b1b1b,0 -2px 2px 0px #202020);
						}
						&.open {
							> a {
								.box-shadow(0 -2px 2px 0px #202020);
							}
						}
					}
				}

				&.active > a {
					background: #1f1f1f;
					color:#3299b7;
				}
			}
		}
	}
	.footer {
		position: absolute;
		height: 100px;
		.box-sizing(border-box);
		left:0; right:0; bottom: 0;
		border-top: 1px solid #1f1f1f;
		.box-shadow-both(inset 0 1px 0px 0px #353535,0 -2px 3px 0px #232323);
		text-align: center;
		.icon-superdesk {
			background: url(../../images/superdesk-icon.png) no-repeat 0 0;
			width: 154px;
			height: 45px;
			margin-top: 15px;
		}
		span {
			display: block;
			color: #505050;
			font-size: 11px;
			margin-top: 8px;
		}
	}
}



@media screen and (max-width: 1180px) {
	.top-menu {
		&.menu-open {
			left: @sf-main-menu-width !important;
			right: -@sf-main-menu-width !important;
		}
	}

}

@media screen and (max-width: 320px) {

	.sf-main-menu {
		width:260px;
	}
	.top-menu {
		max-height: 40px;
		overflow: hidden;
		&.menu-open {
			left: 260px !important;
			right: -260px !important;
		}
	}
}