<div class="auth-screen">
	<div class="subnav" ng-class="{'auth-sendto': viewSendTo}">
	    <div class="page-title-wrapper clearfix pull-left">
	    	<button class="stage stageclr-1 pull-left" ng-show="stage">{{stage.name}}</button>
	    	<span class="lock-info pull-left" ng-show="item._locked"><i class="icon-lock-red"></i></span>
            <h3 class="page-nav-title" ng-show="item.headline">{{ item.headline }}</h3>
	    	<h3 class="page-nav-title" ng-show="!item.headline" translate>Untitled</h3>
	    	<span class="lock-text pull-left" ng-show="item._locked" translate>This article is locked by <b>{{ item.lock_user | username }}</b></span>
	    </div>

	    <div class="button-stack right-stack">
	    	<button class="btn btn-medium pull-left" ng-click="close()" translate>Close</button>

    	    <button class="btn btn-medium btn-info pull-left" type="submit" ng-click="save()"
                ng-show="_editable"
                ng-disabled="(!dirty && !item._autosave) || charLimitHit"
                translate>Save</button>

	    	<button class="navbtn navbtn-hover" ng-show="_editable" ng-click="viewSendTo = !viewSendTo">
	            <i class="svg-icon-sendto"></i>
	        </button>
        </div>
	</div>

	<section class="main-section" ng-class="{'auth-sendto': viewSendTo}">

		<div sd-authoring-widgets data-item="item" ng-class="{'widget-active': active}">

            <div class="main-article-container" ng-click="viewSendTo = false;">
                <div id="theme-container">
                <article class="main-article" ng-if="item._id" ng-class="{preview: !_editable}">
                    <span sd-theme-select></span>
                	<form>
                		<fieldset>
                			<div class="field">
                				<label translate>Keyword</label>
                                <span sd-character-count data-item="item.slugline" data-limit="sluglineSoftLimit" data-limit-callback="checkLimit"></span>
                				<input type="text" class="keyword" maxlength="{{sluglineHardLimit}}" ng-model="item.slugline" ng-if="_editable">
                				<div ng-if="!_editable">{{item.slugline}}</div>
                			</div>
                			<div class="field" >
                				<label translate>Headline</label>
                                <span sd-character-count data-item="item.headline" data-limit="headlineSoftLimit" data-limit-callback="checkLimit"></span>
                				<textarea class="headline" maxlength="{{headlineHardLimit}}" sd-auto-height ng-model="item.headline" ng-if="_editable"></textarea>
			                	<div class="headline" ng-if="!_editable">{{item.headline}}</div>
                			</div>
                			<div class="field" class="abstract">
                				<label translate>Abstract</label>
                                <span sd-character-count data-item="item.abstract" data-limit="abstractSoftLimit" data-limit-callback="checkLimit"></span>
                                <span sd-word-count data-item="item.abstract"></span>
                				<textarea class="abstract" maxlength="{{abstractHardLimit}}" sd-auto-height ng-model="item.abstract" ng-if="_editable"></textarea>
			                	<div class="abstract" ng-if="!_editable">{{item.abstract}}</div>
                			</div>
                			<div class="field">
                				<label translate>Body</label>
                                <span sd-character-count data-item="item.body_html" data-html="true"></span>
                                <span sd-word-count data-item="item.body_html" data-html="true"></span>
                				<div sd-text-editor class="text-editor" ng-model="item.body_html" ng-if="_editable"></div>
		                    	<div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
                			</div>
                		</fieldset>
		            </form>
		        </article>
                </div>
		    </div>

		    <div sd-workqueue data-active="item" data-update="articleSwitch()" data-close="close()"></div>
		</div>
	</section>

	<div sd-send-item data-item="item" data-view="viewSendTo" data-before-send="save"></div>
</div>
