<div class="auth-screen">
	<div class="subnav" ng-class="{'auth-sendto': viewSendTo}">
	    <div class="page-title-wrapper clearfix pull-left">
	    	<span class="lock-info pull-left" ng-show="item._locked"><i class="icon-lock-red"></i></span>
	    	<h3 class="page-nav-title" ng-show="item.headline">{{ item.headline }}</h3>
	    	<h3 class="page-nav-title" ng-show="!item.headline" translate>Untitled</h3>
	    	<span class="lock-text pull-left" ng-show="item._locked" translate>This article is locked by <b>{{ item.lock_user | username }}</b></span>
	    </div>

	    <div class="button-stack right-stack">
	    	<button class="btn btn-medium pull-left" ng-click="close()" translate>Close</button>

    	    <button class="btn btn-medium btn-info pull-left" type="submit" ng-click="save()"
                ng-show="_editable"
                ng-disabled="!dirty && !item._autosave"
                translate>Save</button>

	    	<button class="navbtn navbtn-hover" ng-show="_editable" ng-click="viewSendTo = !viewSendTo">
	            <i class="svg-icon-sendto"></i>
	        </button>
        </div>
	</div>

	<section class="main-section" ng-class="{'auth-sendto': viewSendTo}">
		<div sd-authoring-widgets data-item="item">

		    <div class="main-article-container" ng-click="viewSendTo = false;">

                <article class="main-article" ng-if="item._id" ng-class="{preview: !_editable}">
                    <section class="article-keyword">
                        <header>
                            <span class="edit-label" translate>Keyword</span>
                        </header>
                        <input type="text" class="keyword" ng-model="item.slugline" ng-if="_editable"></input>
                    </section>

		            <section class="article-title">
		                <header>
		                    <span class="edit-label" translate>Headline</span>
		                </header>
		                <textarea class="title" sd-auto-height ng-model="item.headline" ng-if="_editable"></textarea>
		                <div class="title" ng-if="!_editable">{{item.headline}}</div>
		            </section>

		            <section class="article-full-text">
		                <header>
		                    <span class="edit-label" translate>Body</span> 
		                </header>
	                    <div sd-text-editor class="text-editor" ng-model="item.body_html" ng-if="_editable"></div>
	                    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
		            </section>
		        </article>
		    </div>

		    <div sd-workqueue data-active="item" data-update="articleSwitch()" data-close="close()"></div>
		</div>
	</section>

	<div sd-send-item data-item="item" data-view="viewSendTo" data-before-send="save" ng-if="viewSendTo"></div>
</div>
