<div class="subnav">
    <h3 class="page-nav-title" translate>Authoring</h3>

    <div class="button-stack right-stack">
    	
    	<button class="btn btn-medium pull-left" ng-click="close()" ng-if="item">{{ 'Close' | translate }}</button>
    	<button class="btn btn-medium btn-info pull-left" type="submit" ng-click="save()" ng-show="item && editable" ng-disabled="!dirty">{{ 'Save' | translate }}</button>

    </div>

</div>

<section class="main-section">

	<div sd-authoring-widgets data-item="item">

	    <div class="main-article-container">

	        <article class="main-article" ng-if="item._id" ng-class="{preview: !editable}">
	            <section class="article-title">
	                <header>
	                    <span class="edit-label" translate>Headline</span>
	                </header>
	                <textarea class="title" sd-auto-height ng-model="item.headline" ng-if="editable"></textarea>
	                <div class="title" ng-if="!editable">{{item.headline}}</div>
	            </section>

	            <section class="article-full-text">
	                <header>
	                    <span class="edit-label" translate>Body</span> 
	                </header>
                    <div sd-text-editor class="text-editor" ng-model="item.body_html" ng-if="editable"></div>
                    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!editable"></div>
	            </section>
	        </article>
	    </div>

	    <div sd-workqueue data-active="item" data-update="update()" data-close="close()"></div>

	</div>
	
</section>
