<div class="subnav subnav-fixed">

	<div class="button-stack">
        <a class="navbtn navbtn-info navbtn-hover" href="" ng-click="intent('article', 'author')">
            <i class="arrow-icon-left"></i> <span class="title" translate>Back to article</span>
        </a>
    </div>

    <h3 class="page-nav-title" translate>Article versions</h3>
</div>

<section class="main-section article-versions">
	<div class="versions-list">
		<ul>
			<li class="item" ng-repeat="version in versions._items|orderBy:'_version':true" ng-click="$parent.selected = version">
				<div class="header">
					<time title="{{version.versioncreated|date:'medium'}}" datetime="{{version.versioncreated}}">{{version.versioncreated|reldate}}</time>
					<span class="user">by</span>
				</div>
				<h6>{{version.headline}}</h6>
			</li>
		</ul>
	</div>
	<div class="versions-preview">
		<div class="article">
			<div class="header">
				<time title="{{selected.versioncreated|date:'medium'}}" datetime="{{selected.versioncreated}}">{{selected.versioncreated|reldate}}</time>
				<span class="user">by</span>
			</div>
			<h2>{{selected.headline}}</h2>
			<div class="content" ng-bind-html="body"></div>
		</div>
	</div>	
</section>