<div class="subnav subnav-fixed">

	<div class="button-stack">
        <a class="navbtn navbtn-info navbtn-hover" href="" ng-click="intent('article', 'author')">
            <i class="arrow-icon-left"></i> <span class="title" translate>Back to article</span>
        </a>
    </div>

    <h3 class="page-nav-title" translate>Article versions</h3>
</div>

<section class="main-section article-versions">
	<div class="versions-list">
		<ul>
			<li class="item">
				<div class="header">
					<time>23.06.2014. 13:57:08</time>
					<span class="user">by Nikola Nikolic</span>
				</div>
				<h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h6>
				<div class="content">
					Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
				</div>
			</li>
			<li class="item">
				<div class="header">
					<time>23.06.2014. 13:53:44</time>
					<span class="user">by Nikola Nikolic</span>
				</div>
				<h6>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h6>
				<div class="content">
					Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
				</div>
			</li>
		</ul>
	</div>
	<div class="versions-preview">
		<div class="article">
			<div class="header">
				<time>23.06.2014. 13:57:08</time>
				<span class="user">by Nikola Nikolic</span>
			</div>
			<h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h2>
			<div class="content">
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
				<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
			</div>
		</div>
		
	</div>	
</section>