<div ng-controller="IngestConfigController">

    <div class="page-header">
        <h2>{{ 'General settings'|translate }}</h2>
    </div>

    <div>
        {{'Number of items'|translate}}: <input ng-model="configuration.maxItems" style="width: 30px;">
    </div>
    <div>
        {{'Search term'|translate}}: <input ng-model="configuration.search" class="form-control span2">
    </div>
    <div>
        {{'Update interval (minutes)'|translate}}: <input ng-model="configuration.updateInterval" class="form-control span2">
    </div>

    <div class="pull-left">
        <span class="btn-group pull-left">{{'Provider'|translate}}</span>
        <span class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-class="{'active': configuration.provider === ''}" ng-click="configuration.provider = '';">{{'all'|translate}}</button>
            <button ng-repeat="provider in availableProviders" type="button" class="btn btn-default" ng-class="{'active': configuration.provider === provider}" ng-click="configuration.provider = provider;">{{provider}}</button>
        </span>
    </div>

</div>