<div ng-controller="IngestConfigController">
    <form class="form-horizontal">
        <fieldset>
            <legend>{{ 'General settings'|translate }}</legend>
            <div class="control-group">
                <label class="control-label">{{'Number of items'|translate}}</label>
                <div class="controls">
                    <input ng-model="configuration.maxItems" type="text" class="input-mini">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{'Search term'|translate}}</label>
                <div class="controls">
                    <input ng-model="configuration.search"  type="text" class="input-large">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{'Update interval (minutes)'|translate}}</label>
                <div class="controls">
                    <input ng-model="configuration.updateInterval"  type="text" class="input-mini">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">{{'Provider'|translate}}</label>
                <div class="controls">
                    <span class="btn-group">
                        <button ng-repeat="provider in availableProviders" type="button" class="btn btn-default" ng-class="{'active': configuration.provider === provider}" ng-click="configuration.provider = provider;">{{provider}}</button>
                    </span>
                </div>
            </div>

        </fieldset>
        
    </form>

</div>