
@import 'mixins.less';
@import 'variables.less';

.vocabularyForm {
	button.del {
		width: 30px;
		padding: 8px 10px;
	}
}

.vocabularyField {
	display: inline;

	label {
		width: 140px;
		display: inline-block;
		padding-left: 6px;
	}
	input {
		width: 140px;
		margin: 3px;
	}
}

.vocabularyStatus {
    top: 5px;
    &.sd-toggle {
    	margin-top: 2px !important;
    }
}

.divider {
	.nav-divider();
}

.add-vocabulary-popup {
    .modal-dialog {
        width: auto !important;
        white-space: normal;
        max-width: 800px;
    }
}
