<div class="notification-pane" ng-class="{show: flags.notifications}">
    <div class="header">
        <figure class="avatar medium">
            <img sd-user-avatar data-src="currentUser.picture_url">
        </figure>
        <div class="user-info">
            <span class="name">{{ currentUser.display_name }}</span>
            <span class="displayname">{{ currentUser.username }}</span>
        </div>
        <div class="actions">
            <a href="#/profile" ng-click="flags.notifications = false" translate>Profile</a>
            <button ng-click="logout()" translate>Sign out</button>
        </div>
    </div>
    <div class="content">
        <section class="module" sd-beta>
            <header class="title" translate>Notifications</header>
            <ul class="notification-list">
                <li class="unread">
                    <figure class="avatar"></figure>
                    <div class="content">
                        <span class="date">Today at 13:05</span>
                        <p class="text"><b>Desa Bauer</b> aproved images for article “Gaza ceasefire munced in Cairo” </p>
                    </div>
                </li>
                <li>
                    <figure class="avatar"></figure>
                    <div class="content">
                        <span class="date">Today at 12:46</span>
                        <p class="text"><b>Desa Bauer</b> aproved images for article “Gaza ceasefire munced in Cairo” </p>
                    </div>
                </li>
                <li>
                    <figure class="avatar"></figure>
                    <div class="content">
                        <span class="date">Today at 12:39</span>
                        <p class="text"><b>Desa Bauer</b> aproved images for article “Gaza ceasefire munced in Cairo” </p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>