<div class="notification-pane" ng-class="{show: flags.notifications}">
    <div class="header">
        <figure class="avatar medium">
            <img sd-user-avatar data-src="currentUser.picture_url">
        </figure>
        <div class="user-info">
            <span class="name">{{ currentUser.display_name }}</span>
            <span class="displayname">{{ currentUser.username }}</span>
        </div>
        <div class="actions">
            <a href="#/profile" ng-click="flags.notifications = false" translate>Profile</a>
            <button ng-click="logout()" translate>Sign out</button>
        </div>
    </div>
    <div class="content">
        <section class="module" ng-if="flags.notifications" >
            <header class="title" translate>Notifications</header>
            <ul class="notification-list">
                <li ng-repeat="notification in notifications._items" ng-class="{unread: item._unread}" sd-mark-as-read>
                    <figure class="avatar">
                        <img sd-user-avatar data-src="notification.user.picture_url" />
                    </figure>
                    <div class="content">
                        <span class="date">{{ notification._created|reldate }}</span>
                        <p class="text"><b>{{ notification.user.display_name || notification.user.username }}</b> <span translate>commented</span><br />{{ notification.data.comment }}</p>
                    </div>
                </li>
                <li ng-show="notifications._items.length === 0" translate>All good so far.</li>
                <li ng-show="notifications._items == null" translate>loading..</li>
            </ul>
        </section>
    </div>
</div>