<div class="assignee-box" ng-click="open = true;">
	<div class="assignee" ng-class="{'open': open}" ng-init="hoveractive = false">
		<div class="toggle" ng-mouseenter="hoveractive = true" ng-mouseleave="hoveractive = false">
			<div class="avatar" ng-class="{desk : desk && !user }">
				<img sd-user-avatar data-src="user.picture_url">
			</div>
			<div class="add">
				<i class="icon-plus-large icon-white"></i>
			</div>
		</div>
		<div class="tooltip right fade in" ng-show="hoveractive && !open">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner" ng-show="user || desk">
				<p class="dark" translate>Assigned to:</p>
				<p class="name">{{desk.name}}<span ng-show="user"> / {{user.display_name}}</span></p>
				<p translate>Click to reassign</p>
			</div>
			<div class="tooltip-inner simple" ng-show="!user && !desk">
				<p translate>Click to assign</p>
			</div>
		</div>
		<div class="dropdown-content" ng-show="open" ng-click=" $event.stopPropagation();">
			<div class="dropdown desk-select" dropdown>
				<button class="dropdown-toggle" dropdown-toggle>
					<span ng-show="!desk.name" translate>Select desk</span>
					<span ng-show="desk.name">{{desk.name}}</span>
					<b class="caret"></b>
				</button>
				<div class="dropdown-menu">
					<ul>
						<li ng-show="desk"><button ng-click="desk = null; user = null" translate>Select desk</button></li>
						<li ng-repeat="desk in desksService.desks._items"><button ng-click="$parent.desk = desk; $parent.user = null;">{{desk.name}}</button></li>
					</ul>
				</div>
			</div>
			<div class="user-select">
				<div ng-show="desk">
					<form>
						<label for="assignee-search" translate>Person</label>
						<input type="text" name="assignee-search" ng-model="search" class="input-large searchbox">
					</form>
					<div class="search-result">
						<ul class="users-list-embed">
							<li ng-repeat="user in desksService.deskMembers[desk._id] | filter:search" ng-click="$parent.user = user" ng-class="{'active': $parent.user === user}">
								<figure class="avatar small"><img sd-user-avatar data-src="user.picture_url"></figure>
								<div class="name">{{user.display_name}}</div>
								<i ng-show="$parent.user === user" class="icon-close-small icon-white" ng-click="$parent.user = null; $event.stopPropagation();"></i>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="footer">
				<span class="clear pull-left" ng-click="desk = null; user = null" ng-show="desk || user" translate>Clear</span>
				<button class="btn btn-info pull-right" ng-disabled="!desk" ng-click="assign()" translate>Assign</button>
				<button class="btn pull-right" ng-click="open = false;  $event.stopPropagation();" translate>Cancel</button>
			</div>
		</div>
	</div>
	<div class="assignee-name" ng-hide="hideAssignee">
        <span ng-show="desk">{{desk.name}} : </span>
        <span ng-show="user">{{user.display_name}}</span>
        <span ng-hide="user" translate>Unassigned</span>
    </div>
</div>