<div class="assignee-box">
	<div class="assignee" ng-class="{'open': open}" ng-init="hoveractive = false">
		<div class="toggle" ng-click="open = !open" ng-mouseenter="hoveractive = true" ng-mouseleave="hoveractive = false">
			<div class="avatar">
				<img sd-user-avatar data-src="assignee.picture_url">
			</div>
			<div class="add">
				<i class="icon-plus-large icon-white"></i>
			</div>
		</div>
		<div class="tooltip right fade in" ng-show="hoveractive && !open">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner" ng-show="assignee">
				<p class="dark" translate>Assigned to:</p>
				<p class="name">{{assignee.display_name}}</p>
				<p translate>Click to reassign</p>
			</div>
			<div class="tooltip-inner simple" ng-show="!assignee">
				<p translate>Click to assign</p>
			</div>
		</div>
		<div class="dropdown-content" ng-show="open">
			<div class="dropdown desk-select">
				<button class="dropdown-toggle">{{'Select desk'|translate}} <b class="caret"></b></button>
				<div class="dropdown-menu">
					<ul>
						<li ng-repeat="desk in desks._items"><button ng-click="">{{desk.name}}</button></li>
					</ul>
				</div>
			</div>
			<form>
				<label for="assignee-search">Person</label>
				<input type="text" name="assignee-search" ng-model="search" class="input-large searchbox">
			</form>
			<div class="search-result">
				<ul class="users-list-embed">
					<li ng-repeat="user in (deskMembers[desk._id] || users._items) | filter:search" ng-click="selectUser(user)">
						<figure class="avatar small"><img sd-user-avatar data-src="user.picture_url"></figure>
						<div class="name">{{user.display_name}}</div>
					</li>
				</ul>
			</div>
			<div class="footer">
				<!--<button class="btn btn-info pull-right" ng-click="open = false">Assign</button>-->
				<button class="btn pull-right" ng-click="open = false">Cancel</button>
			</div>
		</div>
	</div>
</div>