<div sd-shadow>
		<div class="time-info">{{ 'Created' | translate }} <time>{{ item._created | reldate }}</time></div>
		<form name="itemEditForm" ng-submit="itemEditForm.$valid && save()">
			<div class="action-buttons clearfix" ng-class="{show: dirty}">
		        <button type="submit" class="btn btn-info pull-right" ng-disabled="itemEditForm.$invalid || !dirty" translate>Save</button>
		        <button type="button" class="btn pull-right" ng-click="cancel()" ng-disabled="!dirty" translate>Cancel</button>
		    </div>
			
			<textarea class="title" sd-auto-height ng-model="item.headline" placeholder="{{'Add title' | translate}}" required></textarea>
			<textarea class="description" sd-auto-height ng-model="item.description_text" placeholder="{{'Add description' | translate}}"></textarea>
		</form>
		<div class="coverage-box">
			<button class="toggle-add" ng-click="addCoverage()"><i class="icon-plus"></i><span translate>Add new</span></button>
			<div sd-toggle-box data-title="{{ 'Coverage' | translate }}" data-open="true">
				<div class="coverage" ng-show="coverage">
					<div class="info">
						<div sd-assignee-box data-desk-id="coverage.assigned_desk" data-user-id="coverage.assigned_user"></div>
						<div class="assignee-name"><span ng-show="coverage.assigned_user">{{userLookup[coverage.assigned_user].display_name}}</span><span ng-hide="coverage.assigned_user" translate>Unassigned</span></div>

						<div sd-coverage-type></div>

						<div class="dropdown more-actions">
							<button class="dropdown-toggle"><i class="icon-dots"></i></button>
							<ul class="dropdown-menu pull-right">
								<!--<li><button><i class="icon-trash"></i><span translate>Remove coverage</span></button></li>-->
							</ul>
						</div>
					</div>

					<textarea class="description" sd-auto-height ng-model="coverage.ed_note" placeholder="{{'Add description' | translate}}"></textarea>
					<button class="btn" ng-click="saveCoverage()" ng-disabled="!isDirty(coverage)">Save</button>
					<button class="btn" ng-click="cancelCoverage()">Cancel</button>
				</div>
				<div class="coverage" ng-repeat="coverage in coverages._items">
					<div class="info">
						<div sd-assignee-box data-desk-id="coverage.assigned_desk" data-user-id="coverage.assigned_user"></div>
						<div class="assignee-name"><span ng-show="coverage.assigned_user">{{userLookup[coverage.assigned_user].display_name}}</span><span ng-hide="coverage.assigned_user" translate>Unassigned</span></div>
						
						<div sd-coverage-type></div>
						
						<div class="dropdown more-actions">
							<button class="dropdown-toggle"><i class="icon-dots"></i></button>
							<ul class="dropdown-menu pull-right">
								<li><button ng-click="removeCoverage(coverage)"><i class="icon-trash"></i><span translate>Remove coverage</span></button></li>
							</ul>
						</div>
					</div>

					<textarea class="description" sd-auto-height ng-model="coverage.ed_note" placeholder="{{'Add description' | translate}}"></textarea>
					<button class="btn" ng-click="saveCoverage(coverage)" ng-disabled="!isDirty(coverage)">Save</button>
					<button class="btn" ng-click="cancelCoverage(coverage)" ng-disabled="!isDirty(coverage)">Cancel</button>
				</div>
	        </div>
		</div>
</div>