<div class="subnav subnav-fixed">

	<div class="button-stack">
		<div class="navbtn dropdown">
    		<button class="dropdown-toggle">{{currentDesk.name}} <b class="caret"></b></button>
			<ul class="dropdown-menu sf-dropdown-simple">
				<li ng-repeat="desk in userDesks._items"><a href="" ng-click="setCurrentDesk(desk)">
                    <span ng-if="desk._id === currentDesk._id">
                        <b>{{desk.name}}</b>
                    </span>
                    <span ng-if="desk._id !== currentDesk._id">
                        {{desk.name}}
                    </span>
                </a></li>
			</ul>
    	</div>
	</div>
    <div class="button-stack right-stack">
        <button class="navbtn">
			<i class="svg-icon-settings"></i>
        </button>
    </div>
</div>

<section class="main-section with-subnav planning">
    <div class="planning-subnav">
        <div sd-searchbar></div>
    </div>

    <div class="preview-layout">
        <div class="list-pane">
        	<form name="addItemForm" ng-submit="addItemForm.$valid && addItem()">
        		<input type="text" class="add-item" placeholder="{{ 'Add new item' | translate}}" ng-model="newItem.headline" required>
        	</form>
			
			<div class="items-list" ng-show="items.length">
                <div sd-list-view data-items="items" data-select="preview(item)">
                	<div class="planning-item">
	                    <div class="header">
	                    	<!--
							<div class="assignee">
								<span class="avatar"></span>
							</div>
							-->
							<h6>{{ item.headline }}</h6>
						</div>
						<div class="info">
							<span ng-show="item.duedate"><i class="icon-desk-time"></i>{{item.duedate}}</span>
							<span ng-show="item.tasks"><i class="icon-desk-task"></i>{{item.tasks}}</span>
							<span ng-show="item.attachments"><i class="icon-desk-attach"></i>{{item.attachments}}</span>
							<span ng-show="item.links"><i class="icon-desk-link"></i>{{item.links}}</span>
							<span ng-show="item.comments"><i class="icon-desk-comments"></i>{{item.comments}}</span>
						</div>
					</div>
                </div>
            </div>
        </div>

        <div class="preview-pane" sd-preview-item data-item="selectedItem">
          <div class="header" ng-show="selectedItem">
          	<time translate>Created 07:55:44, 26. June 2014</time>
          	<div class="dropdown more-actions">
	    		<button class="dropdown-toggle"><i class="icon-dots"></i></button>
				<ul class="dropdown-menu sf-dropdown-simple sf-right">
					<li><a href="">Add coverage</a></li>
					<li><a href="">Attach file</a></li>
					<li><a href="">Add Link</a></li>
					<li><a href="">Add comment</a></li>
				</ul>
	    	</div>
          </div>
          <div class="content" ng-show="selectedItem">
				<div class="title">{{selectedItem.headline}}</div>
				<div class="description" ng-show="selectedItem.description">{{selectedItem.description}}</div>
          </div>
        </div>

    </div>
</setion>