<div class="highlights-title" ng-mouseenter="openTooltip()" ng-mouseleave="closeTooltip()">
	<i ng-class="{'icon-star-color': highlights.length === 1, 'icon-multi-star-color': highlights.length > 1}"
		tooltip-html-unsafe="{{ htmlTooltip }}"
		tooltip-placement="{{ orientation }}"
		tooltip-trigger="toggle"></i>

	<div class="unmark">
		<h5 translate>MARKED FOR</h5>
		<ul class="marked">
			<li ng-repeat="highlight in highlights">
				{{ highlight.name }}
				<button class="btn btn-light btn-mini pull-right"
					data-highlight="{{ highlight._id }}" translate>REMOVE</button>
			</li>
			<li ng-show="highlights.length === 0" translate>None</li>
		</ul>
	</div>
</div>
