<ul>
	<li ng-if="highlights.length" ng-repeat="h in highlights"> 
	    <button ng-if="is_marked(h)" ng-disabled="true"  option="{{ h.name | uppercase  }}" ng-click="mark_item(h);">{{ h.name | uppercase  }}</button>
	    <button ng-if="!is_marked(h)" option="{{ h.name | uppercase  }}" ng-click="mark_item(h);">{{ h.name | uppercase  }}</button>
	</li>
	<li ng-if="!highlights.length">
	<span translate>No available highlights</span>
	   <button ng-disabled="true">{{::'No available highlights'|translate}}</button>
	</li>
</ul>