<div id="search-highlights" ng-show="highlights" ng-if="hasHighlights()">
	<div class="dropdown more-actions" dropdown>
	    <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
	    <ul class="dropdown-menu pull-right">
	    	<li> 
			    <button option="NO FILTER" ng-click="selectHighlight();" translate>No Filter</button>
			</li>
			<li ng-repeat="h in highlights"> 
			    <button option="{{ h.name | uppercase }}" ng-click="selectHighlight(h);">{{ h.name | uppercase }}</button>
			</li>
		</ul>
	</div>	
</div>
