<div sd-settings-view>

	<div class="split-content" sd-groups-config>
		<div class="header">
			<h2 translate>Group management</h2>
			<button class="btn btn-info pull-right" ng-click="openGroup('general')">
		        <i class="icon-plus-sign icon-white"></i> {{ :: 'Add New Group' | translate }}
		    </button>
		</div>

	    <div class="content">
	    	<div sd-shadow>
				<ul class="pills-list" >
					<li ng-repeat="group in groups._items">
						<h6 class="pull-left">{{ group.name }}</h6>
						<div class="actions">
							<button ng-click="openGroup('general', group)" title="{{:: 'Edit group' | translate }}"><i class="icon-pencil"></i></button>
							<button ng-click="remove(group)" title="{{:: 'Remove group' | translate }}"><i class="icon-trash"></i></button>
						</div>
					</li>
				</ul>
			</div>
	    </div>

    	<div sd-groups-config-modal ></div>
    </div>
</div>
