<li class="item-field"
    ng-repeat="activity in activities | limitTo:limit"
    sd-activity-item></li>

<li ng-if="activities.length > 6 && !preview" class="item-field">
    <div class="dropdown more-activity-dropdown" sd-dropdown-position dropdown>
        <a class="dropdown-toggle more-activity-toggle" dropdown-toggle>
            <i class="icon-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="item-field"
                ng-repeat="activity in activities | limitTo:-(activities.length-5)"
                sd-activity-item></li>
        </ul>
    </div>
</li>
