<li ng-repeat="activity in activities" class="item-field">
    <a title="{{ :: activity.label | translate }}" ng-href="{{ :: $root.link(activity._id, item) }}" ng-if=":: !activity.dropdown" ng-click="run(activity, $event)">
        <i class="icon-{{ :: activity.icon }} {{!activity.monitor || !item.actioning[activity._id] || 'actioning'}}" ng-show=":: activity.icon"></i>
        <span>{{ :: activity.label | translate }}</span>
    </a>
	<div ng-if=":: activity.dropdown" class="dropdown activity-dropdown" sd-dropdown-position dropdown>
	    <a title="{{ :: activity.label | translate }}" ng-href="{{ :: $root.link(activity._id, item) }}" class="dropdown-toggle" dropdown-toggle>
		    <i class="icon-{{ :: activity.icon }}" ng-show=":: activity.icon"></i>
	        <span>{{ :: activity.label | translate }}</span>
	    </a>
	    <ul class="dropdown-menu right-submenu" ng-include="activity.templateUrl">
	    </ul>
	</div>
</li>
