<a title="{{ :: activity.label | translate }}"
    ng-href="{{ :: $root.link(activity._id, item) }}"
    ng-if=":: !activity.dropdown"
    ng-click="run(activity, $event)">
    <i class="icon-{{ :: activity.icon }} {{!activity.monitor|| !item.actioning[activity._id] || 'actioning'}}" ng-show=":: activity.icon"></i>
    <span>{{ :: activity.label | translate }}</span>
</a>
<li class="divider" ng-if="activity._id === 'mark.item'"></li>
<div ng-if=":: activity.dropdown" class="dropdown dropdown-noarrow" dropdown>
    <a class="dropdown-toggle" title="{{ :: activity.label | translate }}" dropdown-toggle>
        <i class="icon-{{ :: activity.icon }}" ng-show=":: activity.icon"></i>
        <span>{{ :: activity.label | translate }} 
        <i class="icon-chevron-right-thin submenu-icon"></i></span>
    </a>
    <ul class="dropdown-menu right-submenu">
        <div ng-include="activity.templateUrl"></div>
    </ul>
</div>