<a title="{{ :: activity.label | translate }}"
    ng-href="{{ :: $root.link(activity._id, item) }}"
    ng-if=":: !activity.dropdown"
    ng-click="run(activity, $event)">
    <i class="icon-{{ :: activity.icon }} {{!activity.monitor|| !item.actioning[activity._id] || 'actioning'}}" ng-show=":: activity.icon"></i>
    <span>{{ :: activity.label | translate }}</span>
</a>
<div ng-if=":: activity.dropdown" class="dropdown activity-dropdown">
    <button class="dropdown-toggle" title="{{ :: activity.label | translate }}" ng-if="">
        <i class="icon-{{ :: activity.icon }}" ng-show=":: activity.icon"></i>
        <span>{{ :: activity.label | translate }} <i class="icon-chevron-bottom-thin submenu-icon"></i></span>
    </button>
    <div ng-include="activity.templateUrl"></div>
</div>