<div ng-controller="WorldClockConfigController"  class="widget-config world-clock">

    <form class="form-horizontal">
        <fieldset>

            <tabset>
                <tab heading="Your clock">
                    <div class="field">
                        <label >{{'Clock type'|translate}}</label>
                        <div class="control">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-class="{active: !configuration.digital}" ng-click="configuration.digital=false">Analog</button>
                                <button type="button" class="btn btn-default" ng-class="{active: configuration.digital}" ng-click="configuration.digital=true">Digital</button>
                            </div>
                        </div>
                    </div>


                    <div class="field">
                        <label>{{'Your clock'|translate}}</label>
                        <div class="control">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="zone in configuration.zones">
                                    <a href="">{{ zone.replace('_', ' ') }}</a>
                                    <a href="" class="pull-right" ng-click="configuration.zones.splice($index, 1);notify('remove', zone)"><i class="icon-close-small"></i></a>
                                </li>
                            </ul>
                            <div class="alert alert-info" ng-hide="configuration.zones.length" translate>No clock here!</div>
                        </div>
                    </div>
                </tab>
                <tab heading="Available clocks">
                    <div class="field">
                        <label>{{'Available clock'|translate}}</label>
                        <div class="control">
                            <div class="input-append" style="margin-bottom:10px;">
                                <input type="text" class="input-large" ng-model="search" placeholder="{{ 'Search for clock'|translate }}">
                                <button class="btn btn-default" ng-disabled="!search" ng-click="search=''" translate>Clear</button>
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="zone in availableZones|filter:notIn(configuration.zones)|filter:search" ng-click="configuration.zones.push(zone);notify('add', zone)">
                                    <a href="">{{ zone.replace('_', ' ') }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </tab>
            </tabset>




        </fieldset>

    </form>





</div>