<div>
    <div class="clock-container clearfix" ng-controller="WorldClockController">
        <div ng-repeat="zone in widget.configuration.zones track by $index">
            <div class="clock-box" ng-class="{digital: widget.configuration.digital}">
                <header>{{ zone.split('/')[1].replace('_', ' ') }}</header>
                <div class="wclock" sd-clock data-utc="utc" data-tz="{{ zone }}" ng-if="!widget.configuration.digital"></div>
                <time>{{ utc.tz(zone).format('HH:mm') }}</time>
                <div class="date">{{ utc.tz(zone).format('dddd') }}</div>
            </div>
        </div>
    </div>

    <div class="widget-footer"></div>
</div>
