<div id="scratchpad" sd-droppable data-update="drop" ng-class="{opened: flags['scratchpad-open'], left: flags['menu']}">
    <div class="header">
        <div class="title" translate>SCRATCHPAD</div>
        <div class="info">{{ items.length }} {{ :: 'items' | translate}}</span></div>
        <button class="trigger pull-right" ng-click="toggle()">
            <i class="svg-icon-top inverse"></i>
        </button>
    </div>
    <div class="content" ng-if="flags['scratchpad-open']">
        <div sd-sortable data-update="sort" data-placeholder="'media-box'" class="scratchpad-items">
            <div ng-repeat="item in items" data-index="{{$index}}" style="float: left;">
                <div sd-media-box></div>
            </div>
        </div>
    </div>
</div>