<div class="notification-list-box" ng-controller="CommentsWidgetCtrl">
    <ul class="notification-list white">
        <li ng-repeat="comment in comments">
            <figure class="avatar-holder">
                <img sd-user-picture data-src="comment.user.picture_url">
            </figure>
            <div class="content">
                <p class="text"><b>{{ comment.user.display_name }}</b>: {{ comment.text}}</p>
                <span class="date" sd-reldate ng-model="comment._created"></span>
            </div>
        </li>

        <li class="alert alert-info" ng-show="comments.length === 0" translate>No comments so far. Be the first..</li>
        <li class="alert alert-info" ng-show="comments === null" translate>Loading..</li>
    </ul>
    <div class="add-comment">
        <form name="commentsForm">
            <textarea class="new-comment" sd-auto-height ng-model="text" ng-keyup="saveOnEnter($event)"></textarea>
        </form>
    </div>
</div>
