<div ng-controller="IngestController">
    <div ng-show="!selected">
        <div class="search-box">
            <input type="text" placeholder="{{ 'Search'|translate }}" ng-model="query" class="searchbar"></li>
        </div>

        <div class="ingest-list"
            sd-list-view
            data-items="items._items"
            data-select="view(item)"
            data-extras="widget">
            <div class="urgency-{{ item.urgency}}">
                <ul class="top-line clearfix">
                    <li><span class="type-icon filetype-icon-{{item.type}}"></span><span class="urgency-label">{{ item.urgency }}</span></li>
                    <li>{{ item.versioncreated | reldate }}</li>
                    <li ng-show="item.byline"><em translate>by</em>{{ item.byline }}</li>
                    <li ng-show="item.provider && extras.sizex > 1"><em translate>source</em>{{ item.provider }}</li>
                </ul>

                <div class="main-line clearfix">
                    <figure class="media" ng-if="item.renditions.thumbnail">
                        <img ng-src="{{ item.renditions.thumbnail.href }}" title="{{ item.description }}" />
                    </figure>
                    <h5 title="{{ item.headline }}">{{ item.headline }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="selected">
        <header class="shadow-target">
            <a class="btn" ng-click="selected = null"><i class="icon-chevron-left"></i> <span translate>Back to list</span></a>
            <a class="btn pull-right" ng-click="go(selected)"><i class="icon-expand"></i> <span translate>Open</span></a>
        </header>
        <article class="shadow-source">
            <div sd-media-preview data-item="selected"></div>
        </article>
    </div>
</div>
