<div class="top-menu__info" ng-show="routingTo || routingFrom">
    <i class="top-menu__info-icon" ng-class="{
        'top-menu__info-icon--green': routingFrom,
        'icon-download': routingFrom,
        'top-menu__info-icon--red': routingTo,
        'icon-upload': routingTo,
}"></i>

    <span class="top-menu__info-label" ng-show="routingFrom" translate>Routed from:</span>
    <span class="top-menu__info-text" ng-show="routingFrom">{{ routingFrom }}</span>

    <span class="top-menu__info-label" ng-show="routingTo" translate>Routing to:</span>
    <span class="top-menu__info-text" ng-show="routingTo">{{ routingTo }}</span>
</div>