<div class="article-versions" ng-controller="HistoryWidgetCtrl">
    <ul class="history-list">
        <li class="item" ng-class="{selected: selected === version}" ng-repeat="version in versions track by version._current_version">
            <div ng-if="version.operation == 'create'" ng-click="openVersion(version)">
                {{ :: version.typeName }} <b>{{ :: version.unique_id }}</b>
                <span ng-if='version.stage'>({{version.desk}}/{{version.stage}})</span>
                {{ :: 'Created by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'duplicate'" ng-click="openVersion(version)">
                {{ :: 'Copied to' | translate }} <b>{{ :: version.unique_id }}</b>
                <span ng-if='version.stage'>({{version.desk}}/{{version.stage}})</span>
                {{ :: 'by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'update'" ng-click="openVersion(version)">
                {{ :: 'Updated by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'restore'" ng-click="openVersion(version)">
                {{ :: 'Restored by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'send' || version.operation === 'move'" ng-click="openVersion(version)">
                {{ :: 'Moved to' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'spike'" ng-click="openVersion(version)">
                {{ :: 'Spiked from' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'unspike'" ng-click="openVersion(version)">
                {{ :: 'Unspiked to' | translate }} {{ version.desk }}/{{ version.stage }} by {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'fetch'" ng-click="openVersion(version)">
                {{ :: 'Fetched as' | translate }} <b>{{ :: version.unique_id }}</b> to {{ version.desk }}/{{ version.stage }}
                {{ :: 'by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
            </div>
            <div ng-if="version.operation == 'publish'" ng-click="openVersion(version)">
                {{ :: 'Published by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                <div sd-transmission-details data-item="version" class="queued"></div>
            </div>
            <div ng-if="version.operation == 'correct'" ng-click="openVersion(version)">
                {{ :: 'Correction issued by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                <div sd-transmission-details data-item="version" class="queued"></div>
            </div>
            <div ng-if="version.operation == 'kill'" ng-click="openVersion(version)">
                {{ :: 'Killed by' | translate }} {{ version.creator }}
                <em>on <time sd-absdate ng-model="version.versioncreated"></time></em>
                <div sd-transmission-details data-item="version" class="queued"></div>
            </div>
        </li>
    </ul>
</div>