<div class="widget-mode" ng-show="options.modeEnabled">
    <span class="text" translate>Mode: </span>
    <button class="btn btn-mini btn-light" ng-click="options.mode = 'detailed'" ng-show="options.mode === 'basic'" translate>Basic</button>
    <button class="btn btn-mini btn-light" ng-click="options.mode = 'basic'" ng-show="options.mode === 'detailed'" translate>Detailed</button>
</div>

<div class="main-list" ng-class="{wrap: selected}">

    <div class="search-box" ng-class="{blank: similar}" ng-show="options.searchEnabled">
        
        <input type="text" placeholder="{{ :: 'Search' | translate }}"
            ng-show="!options.similar"
            ng-model="itemListOptions.search"
            ng-model-options="{debounce: 500}">
        
        <div ng-if="options.similar" class="text" translate>Displaying similar items</div>
        
        <div class="dropdown more-actions" dropdown ng-if="options.item">
            <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
            <div class="dropdown-menu pull-right">
                <ul>
                    <li>
                        <button ng-if="options.item" ng-click="options.similar = !options.similar">
                            <i ng-if="options.similar" class="icon-ok"></i> {{ :: 'Display similar' | translate }}
                        </button>
                    </li>
                </ul>
            </div>
        </div> 

    </div>

    
    <div class="filter-box" ng-show="options.mode === 'detailed'">
        <span class="text" translate>View</span>
        <button class="btn btn-light pull-left" 
            ng-if="options.itemTypeEnabled"
            ng-repeat="itemType in options.itemTypes" 
            ng-click="toggleItemType(itemType)"
            ng-class="{active: isItemTypeEnabled(itemType)}">
                <i class="filetype-icon-{{itemType}}"></i>
        </button>
    </div>

    <div class="pagination-box" ng-class="{'mode-detailed': options.mode === 'detailed'}" sd-pagination-alt data-page="itemListOptions.page" data-max-page="maxPage" ></div>

    <div class="ingest-list-holder" ng-class="{'mode-detailed': options.mode === 'detailed'}">
        <div sd-shadow>
            <ul class="ingest-list list-view">
                <li ng-repeat="item in processedItems track by $index" class="list-item-view">
                    <div class="dropdown more-actions" dropdown>
                        <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                        <div class="dropdown-menu pull-right">
                            <span class="pin-info" ng-show="options.pinEnabled && item.pinnedInstance">{{ :: 'pinned from' | translate }} {{item._type}}</span>
                            <ul>
                                <li ng-show="options.pinEnabled"><button ng-show="!isPinned(item)" ng-click="pin(item)">
                                    <i class="icon-pin"></i> {{ :: 'Pin' | translate }}</button>
                                </li>
                                <li ng-show="options.pinEnabled"><button ng-show="item.pinnedInstance && isPinned(item)" ng-click="unpin(item)">
                                    <i class="icon-pin"></i> {{ :: 'Unpin' | translate }}</button>
                                </li>
                                <li ng-repeat="action in actions">
                                    <button ng-click="action.method(item)"><i class="icon-pencil"></i> {{ :: action.title | translate }}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="options.mode === 'basic'" class="basic item-block urgency-{{ item.urgency }}" 
                        ng-class="{pinned: options.pinEnabled && isPinned(item), 'pinned-instance': options.pinEnabled && item.pinnedInstance}" ng-click="view(item)">
                        <div class="content">
                            <p><i class="filetype-icon-{{item.type}}"></i><span class="keyword" ng-if="item.slugline">{{ item.slugline }}</span> {{item.headline || item.type}}</p>
                        </div>
                    </div>
                    <div ng-if="options.mode === 'detailed'" class="item-block urgency-{{ item.urgency }}" 
                        ng-class="{pinned: options.pinEnabled && isPinned(item), 'pinned-instance': options.pinEnabled && item.pinnedInstance}" ng-click="view(item)">
                        <div class="content">
                            <ul class="top-line clearfix">
                                <li>
                                    <span class="type-icon filetype-icon-{{item.type}}"></span>
                                    <span class="urgency-label">{{ item.urgency }}</span>
                                </li>
                                <li><time sd-datetime data-date="item.versioncreated"></time></li>
                                <li ng-show="item.byline"><em translate>by</em>{{ item.byline }}</li>
                                <li ng-show="item.provider && options.sizex > 1"><em translate>source</em>{{ item.provider }}</li>
                                <li><div class="state-label state-{{item.state}}">{{item.state}}</div></li>
                            </ul>

                            <div class="main-line clearfix">
                                <figure class="media" ng-if="item.renditions.thumbnail">
                                    <img ng-src="{{ item.renditions.thumbnail.href }}" title="{{ item.description }}" />
                                </figure>
                                <h5 title="{{ item.headline }}">{{ item.headline }}</h5>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="preview" ng-class="{wrap: !selected}">
    <div class="nav">
        <button class="backlink" href="" ng-click="view(null)" translate>Back</button>
        <button ng-repeat="action in actions" class="{{action.class}} pull-right" ng-click="actions.open.method(selected)">
            <i class="{{action.icon}}"></i> {{ action.title | translate }}
        </button>
    </div>
    <div class="content-item-preview">
        <div class="content">
            <div sd-media-preview-widget data-item="selected"></div>
        </div>
    </div>
</div>
