<div class="dropdown dropright dropdown-bigger dropdown-terms">
    <input class="line-input" type="text" ng-show="adding" ng-model="newTag" ng-disabled="disabled" ng-keyup="key($event)">
    <button class="dropdown-toggle" ng-show="!adding" ng-disabled="disabled" ng-click="adding = true"><i class="icon-white icon-plus-large"></i></button>
</div>

<div class="terms">
    <ul>
        <li ng-class="{selected: isSelected(t)}" ng-repeat="t in tags track by t" ng-click="toggle(t)">{{ t }}</li>
        <li tooltip="{{:: 'Refresh suggestions' | translate}}" tooltip-placement="left" ng-click="refresh()">
            <span ng-if="refreshing" translate>Refreshing...</span>
            <i ng-if="!refreshing" class="alt icon-refresh"></i>
        </li>
    </ul>
</div>