<div class="term-editor data visible" ng-show="header">
    <div sd-typeahead items="words" term="selectedTerm" search="search(term)" select="select(item)" data-disabled="disabled">
        <ul>
            <li typeahead-item="t" ng-repeat="t in words">
                {{ :: t.name }}
            </li>
        </ul>
    </div>
</div>

<div class="terms" ng-if="item[field].length">
    <ul>
        <li ng-if="!disabled" ng-repeat="t in item[field] track by t" ng-click="removeTerm(t)">{{ t }}<i class="icon-close-small"></i></li>
        <li ng-if="disabled" ng-repeat="t in item[field] track by t">{{ t }}</li>
    </ul>
</div>