<div class="metadata" ng-controller="MetadataWidgetCtrl">
	<ul class="basic-list">
		<li class="auto">
			<label translate>GUID</label>
			<div class="data">{{item.guid}}</div>
		</li>
                <li>
			<label translate>Unique name</label>
			<div class="data">
				<input type="text" ng-model="item.unique_name" ng-change="autosave(item)" ng-disabled="!_editable || !unique_name_editable">
			</div>
		</li>
		<li>
			<label translate>State</label>
			<div class="data">
				<div class="state-label state-{{item.state}}">{{item.state}}</div>
			</div>
		</li>
		<li ng-if="item.original_source">
			<label translate>Original source</label>
			<div class="data">{{ item.original_source}}</div>
		</li>
		<li ng-if="item.ingest_provider_sequence">
			<label translate>Provider sequence</label>
			<div class="data">{{item.ingest_provider_sequence}}</div>
		</li>
		<li ng-if="item.pubstatus">
			<label translate>Pubstatus</label>
			<div class="data">{{item.pubstatus}}</div>
		</li>
		<li ng-if="_isInProductionStates">
			<label ng-if="_editable" translate>Not For Publication</label>
			<span ng-if="_editable" tooltip="{{ item.marked_for_not_publication ? 'Not For Publication' : 'For Publication'  | translate }}" tooltip-placement="top">
				<span ng-if="_editable" sd-switch ng-model="item.marked_for_not_publication"></span>
			</span>
			<label ng-if="!_editable" translate>
				<span class="state-label not-for-publication" ng-show="item.marked_for_not_publication" translate>Not For Publication</span>
				<span class="state-label for-publication" ng-show="!item.marked_for_not_publication" translate>For Publication</span>
			</label>
		</li>
		<li ng-if="item.sign_off">
			<label translate>Sign-off</label>
			<div class="data">{{item.sign_off}}</div>
		</li>
		<li ng-if="item.expiry">
			<label translate>Expiry</label>
			<div class="data" sd-reldate-complex ng-model="item.expiry"></div>
		</li>
		<li>
			<label translate>Priority</label>
			<div class="data visible small" ng-if="metadata.priority">
				<div sd-meta-dropdown data-list="metadata.priority" data-item="item" data-field="priority" data-change="autosave(item)" ng-disabled="!_editable" ></div>
			</div>
		</li>
		<li class="terms-box">
			<label translate>Targeted For</label>
			<div ng-if="metadata.targeted_for">
				<span sd-check ng-model="item.negation" tooltip="Adds Negation" tooltip-placement="right" ng-disabled="!_editable"></span>
				<select id="targeted_for_list" ng-model="item.targeted_for_value" ng-disabled="!_editable">
					<option value=""></option>
					<option value="{{g.value}}" ng-repeat="g in metadata.targeted_for track by g.name">{{:: g.name}}</option>
				</select>
				<button class="btn btn-small btn-primary" type="button" ng-click="addTargeted()" ng-disabled="disableAddingTargetedFor()" translate>Add</button>
				<div class="terms" ng-if="item['targeted_for'].length">
					<ul>
						<li ng-repeat="t in item['targeted_for']" ng-click="removeTargeted(t)">{{ :: t['allow'] == false ? 'Not ' + t.name : t.name}}<i class="icon-close-small"></i></li>
					</ul>
				</div>
			</div>
		</li>
		<li>
			<label translate>Usageterms</label>
			<div class="data">
				<input type="text" ng-model="item.usageterms" ng-disabled="!_editable" ng-change="autosave(item)">
			</div>
		</li>
		<li class="terms-box">
			<label translate>Keywords</label>
			<div sd-meta-words-list data-item="item" data-field="keywords" data-change="autosave(item)" data-list="item.keywords" data-disabled="!_editable"></div>
		</li>
		<li>
			<label translate>Language</label>
			<div class="data">
				<input type="text" ng-model="item.language" ng-disabled="!_editable" ng-change="autosave(item)">
			</div>
		</li>
		<li>
			<label translate>Associated</label>
			<a ng-show="associatedItem != null" ng-href="#/authoring/{{item.related_to}}" title="{{ associatedItem.slugline || associatedItem.headline }}">
	            <div ng-show="associatedItem.slugline || associatedItem.headline">
	                {{ associatedItem.slugline || associatedItem.headline | uppercase}}
	            </div>
	            <div ng-hide="associatedItem.slugline || associatedItem.headline" translate>Blank headline received</div>
	        </a>
		</li>
		<li ng-if="item.copyrightholder">
			<label translate>Copyright</label>
			<div class="data">{{item.copyrightholder}}</div>
		</li>
		<li ng-if="item.creditline">
			<label translate>Credit</label>
			<div class="data">{{item.creditline}}</div>
		</li>
	</ul>

	<div sd-toggle-box data-title="Task details" data-open="true" ng-if="item.task">
		<ul class="basic-list task-info">
			<li ng-if="item.slugline" class="auto">
				<label translate>Title</label>
				<div class="data">{{item.slugline}}</div>
			</li>
			<li ng-if="item.description" class="auto">
				<label translate>Description</label>
				<div>{{item.description}}</div>
			</li>
			<li ng-if="item.task.status">
				<label translate>Status</label>
				<div class="data">{{item.task.status}}</div>
			</li>
			<li ng-if="item.task.due_date" class="wider">
				<label translate>Due date</label>
				<div class="data" sd-reldate-complex ng-model="item.task.due_date"></div>
			</li>
			<li ng-if="item.task.desk">
				<label translate>Desk</label>
				<div class="data">{{deskLookup[item.task.desk].name}}</div>
			</li>
			<li ng-if="item.task.user">
				<label translate>Assignee</label>
				<div class="data">{{userLookup[item.task.user].display_name}}</div>
			</li>
		</ul>
	</div>
	<div sd-toggle-box data-title="Publishing" data-open="true" ng-hide="['published', 'killed', 'corrected'].indexOf(item.state)!=-1">
		<ul class="basic-list">
			<li class="auto">
				<label translate>Publish Schedule</label>
				<div sd-datepicker ng-model="item.publish_schedule_date" ng-disabled="!_editable"></div>
				<div sd-timepicker ng-model="item.publish_schedule_time" ng-disabled="!_editable"></div>
			</li>
		</ul>
	</div>
</div>
