<div class="dropdown" ng-class="{'dropright': icon, 'dropdown-noarrow': !icon}" dropdown sd-dropdown-position>
    <button class="dropdown-toggle line-input" dropdown-toggle ng-if="(field !== 'place' && field !== 'genre') && !icon">
        {{ item[field].name || item[field] ? item[field].name || item[field] : "none" | translate }}
        <b class="caret"></b>
    </button>
    <button class="dropdown-toggle line-input" dropdown-toggle ng-if="(field === 'place' || field === 'genre') && !icon">
        {{ item[field].length > 0 ? item[field][0].name : "none" | translate }}
        <b class="caret"></b>
    </button>
    <button class="dropdown-toggle line-input" dropdown-toggle ng-if="icon">
        <i class="{{icon}}-{{item[field]}}">
            <span ng-if="field === 'urgency'">{{item[field] ? item[field] : 0}}</span>
        </i>
         <b class="caret"></b>
    </button>
    <ul class="dropdown-menu">
        <li ng-if="label"><div class="menu-label">{{label}}</div></li>
        <li ng-click="select()" translate><button ng-disabled="disabled">None</button></li>

        <li ng-repeat="item in list" ng-click="select(item)" ng-if="field !== 'place'">
            <button ng-disabled="disabled">
                <i ng-if="icon" class="{{icon}}-{{item.name}}">
                    <span ng-if="field === 'urgency'">{{item.name}}</span>
                </i> 
                {{::item.name}}
            </button>
        </li>

        <li class="place-dropdown" ng-repeat="(region, placelist) in places" ng-if="field === 'place'">
            {{ ::region }}
            <button ng-repeat="item in placelist" ng-click="select(item)">{{ ::item.name }}</button>
        </li>
    </ul>
</div>