<div>
	<div class="clocks-container clearfix">
	    <div sd-clock ng-repeat="clock in wclock" wtime="clock"></div>
	</div>

	<div class="widget-footer">
	    <div class="slider">
	        <span class="arrow left" ng-click="page = page - 1" ng-hide="page === 1"></span>
            
            <span class="arrow left" ng-show="page === 1" class="disable"></span>
	        
            <span class="arrow right" ng-click="page = page + 1" ng-hide="page === maxPage"></span>

            <span class="arrow right" ng-show="page === maxPage" class="disable"></span>
	    </div>
	</div>
</div>
