<div class="login-popup modal hide fade">
    <form name="login" class="form-horizontal" ng-submit="submit()">
    <div class="modal-header">
        <h3>Login required</h3>
    </div>
    <div class="modal-body">

            <p class="alert alert-error" ng-show="loginError">Login failed!</p>
            <p class="alert alert-warning" data-is="expired-warn" ng-show="">Login session expired!</p>
            <p class="alert alert-info" style="margin-bottom:0" ng-show=""></p>

            <fieldset>
                <input type="text" id="username" ng-model="username" placeholder="Username" class="fullwidth-input" />
                <input type="password" id="password" ng-model="password" placeholder="Password" class="fullwidth-input login-pass" />
          
                <!-- TODO(petr)
                <input type="checkbox" value="1" id="login-remember-me" ng-model="rememberMe">
                <label for="login-remember-me" class="checkbox" style="margin-top:10px">Remember login</label>
                -->
            </fieldset>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
    </form>
</div>