<div class="subnav">
    <h3 class="page-nav-title" translate>Ingest Dashboard</h3>

    <div class="button-stack right-stack">      
        <div id="ingest-dashboard-dropdown" class="navbtn dropdown strict" dropdown>
            <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
            <ul class="dropdown-menu pull-right source-list" sd-user-ingest-dashboard-drop-down 
            	data-items="items" data-set-user-preferences="setUserPreferences(true)"></ul>
        </div>
    </div>
</div>

<section class="main-section ingest-dashboard">
    <div sd-user-ingest-dashboard-list data-items="dashboard_items" data-set-user-preferences="setUserPreferences()"/>
</section>