<div class="ingest-dashboard-widget">
    <div class="header">
        <ul>
            <li>
                <div>
                    <span>{{item.name}}</span> 
                    <div class="dropdown" dropdown>
                        <button class="dropdown-toggle" dropdown-toggle><i class="icon-dots-vertical"></i></button>
                            <ul class="dropdown-menu condensed pull-right">
                                <li>
                                    <div>
                                        <span class="title" translate>Show</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span translate>Status</span> <span class="pull-right" sd-switch ng-model="item.show_status" ng-click="setUserPreferences()"></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span translate>Number of items</span> <span class="pull-right" sd-switch ng-model="item.show_ingest_count" ng-click="setUserPreferences()"></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span translate>Time</span> <span class="pull-right" sd-switch ng-model="item.show_time" ng-click="setUserPreferences()"></span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <span translate>Log Messages</span> <span class="pull-right" sd-switch ng-model="item.show_log_messages" ng-click="setUserPreferences()"></span>
                                    </div>
                                </li>                                
                            </ul>
                    </div>
                </div>
            </li>
            <li>
                <span translate>Source Type:</span> <span>{{item.source}}</span>
            </li>
            <li>
                <span translate>Update Cycle:</span> <span>{{item.update_schedule | scheduleFilter}}</span>
            </li>                                
        </ul>
    </div>
    <div class="status" ng-if="item.show_status">
        <span ng-if="item.is_closed" translate>CLOSED</span>
        <span ng-if="!item.is_closed" translate>OPEN</span>
    </div>
    <div class="ingest-count" ng-if="item.show_ingest_count">
        <span>{{ingested_count}}</span>
    </div>
    <div ng-if="item.show_time">
        <div class="update-time" ng-if="item.show_time">
            <label translate>Last Time Updated</label>
            <span>{{item.last_updated}} -- {{item.last_updated | reldate}}</span>
        </div>
        <div class="update-time" ng-if="item.last_item_update">
            <label translate>Last Item Arrived</label>
            <span>{{item.last_item_update}} -- {{item.last_item_update | reldate}}</span>
        </div>
        <div ng-if="isIdle()">
            <span translate>{{idle_message}}</span>
        </div>               
    </div>
    <div ng-if="item.show_log_messages">
        <label translate>Log Messages</label>
    </div>    
</div>



