<div class="header pad-left">
    <div class="title">{{item.name}}</div>
    <div class="sub-title"><span translate>Source Type:</span> <span class="text">{{item.source}}</span></div>
    <div class="sub-title"><span translate>Update Cycle:</span> <span class="text">{{item.update_schedule | scheduleFilter}}</span></div>
</div>

<div ng-show="item.show_status" ng-class="{closed: item.is_closed, status: true, open: !item.is_closed}">
    <div ng-show="item.is_closed" class="pad-left">
        <div><span class="text" translate>Closed</span><span> by {{item.last_closed.display_name}}</span></div>
        <div class="time" ng-show="item.last_closed">
            <span translate>on {{item.last_closed.closed_at | dateTimeString}}</span>
        </div>
    </div>
    <div ng-show="!item.is_closed" class="pad-left">
        <div class="text" translate>Open</div>
        <div class="time" ng-show="item.last_opened">
            <span translate>since {{item.last_opened.opened_at | dateTimeString}}</span>
        </div>
    </div>    
</div>
<div ng-show="item.show_ingest_count" class="ingested_count">
    <div class="count">{{ingested_count}}</div>
    <div class="text">items in last 24 hours.</div>    
</div>
<div class="divider"></div>
<div ng-show="item.show_time" class="pad-left">
    <div class="update-time" ng-show="item.show_time">
        <div class="text" translate>Last Time Updated</div>
        <div class="time">{{item.last_updated | reldate}}</div>
    </div>
    <div class="update-time" ng-show="item.last_item_update">
        <div class="text" translate>Last Item Arrived</div>
        <div class="time">{{item.last_item_update | reldate}}</div>
    </div>
    <div ng-show="isIdle()">
        <span class="error" translate>Channel has gone strangely quiet.</span>
    </div>               
</div>
<div class="divider"></div>    
<div sd-toggle-box data-title="{{ 'Log Messages' | translate }}" ng-if="item.show_log_messages" class="pad-left">
    <ul>
        <li ng-repeat="message in log_messages track by message._id">
            <div>{{message._created | reldate}}</div>
            <div ng-class="{true:'error'}[message.name == 'error']"><b>{{ message.user.display_name || 'System' }} </b><span sd-activity-message data-activity="message"></span></div>
            <div ng-if="!$last" class="divider"></div>
        </li>
    </ul>
</div>

<div class="dropdown strict" dropdown>
    <button class="dropdown-toggle" dropdown-toggle><i class="icon-white icon-dots-vertical"></i></button>
        <ul class="dropdown-menu pull-right">
            <li>
                <div>
                    <span class="title" translate>Show</span>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <span class="pull-right" sd-switch ng-model="item.show_status" ng-click="setUserPreferences()"></span>
                    <label translate>Status</label> 
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div>
                    <span class="pull-right" sd-switch ng-model="item.show_ingest_count" ng-click="setUserPreferences()"></span>
                    <label translate>Number of items</label>
                    <span translate>in the last 24 hours.</span>  
                </div>
            </li>
            <li class="divider"></li>            
            <li>
                <div>
                    <span class="pull-right" sd-switch ng-model="item.show_time" ng-click="setUserPreferences()"></span>
                    <label translate>Time</label>
                    <span translate>last update and last item arrived.</span> 
                </div>
            </li>
            <li class="divider"></li>            
            <li>
                <div>
                    <span class="pull-right" sd-switch ng-model="item.show_log_messages" ng-click="setUserPreferences()"></span>
                    <label translate>Log Messages</label>
                    <ul>
                        <li>
                            <div>
                                <label translate>
                                    <input type="radio" name="{{item._id}}_messages" value="all" ng-model="item.log_messages" ng-change="filterLogMessages()">
                                    Show all messages
                                </label>
                            </div>    
                        </li>
                        <li>
                            <div>
                                <label translate>
                                    <input type="radio" name="{{item._id}}_messages" value="error" ng-model="item.log_messages" ng-change="filterLogMessages()">
                                    Show error messages
                                </label>
                            </div>    
                        </li>
                    </ul>    
                </div>
            </li>
<!--             <li class="divider"></li>
            <li>Edit Ingest Source</li> -->
        </ul>
</div>




