<div class="header pad-left">
    <div class="title">{{item.name}}</div>
    <div class="sub-title"><span translate>Source Type:</span> <span class="text">{{item.source}}</span></div>
    <div class="sub-title"><span translate>Update Cycle:</span> <span class="text">{{item.update_schedule | scheduleFilter}}</span></div>
</div>

<div ng-show="item.show_status" ng-class="{closed: item.is_closed, status: true, open: !item.is_closed}">
    <div ng-show="item.is_closed" class="pad-left">
        <div class="text" translate>Closed</div>
        <div class="time" ng-show="{{item.last_closed}}">
            <span translate>on {{item.last_closed | dateTimeString}}</span>
        </div>
    </div>
    <div ng-show="!item.is_closed" class="pad-left">
        <div class="text" translate>Open</div>
        <div class="time" ng-show="{{item.last_open}}">
            <span translate>since {{item.last_open | dateTimeString}}</span>
        </div>
    </div>    
</div>
<div ng-show="item.show_ingest_count" class="ingested_count">
    <div class="count">{{ingested_count}}</div>
    <div class="text">items in last 24 hours.</div>    
</div>
<div class="divider"></div>
<div ng-show="item.show_time" class="pad-left">
    <div class="update-time" ng-show="item.show_time">
        <div class="text" translate>Last Time Updated</div>
        <div class="time">{{item.last_updated | reldate}}</div>
    </div>
    <div class="update-time" ng-show="item.last_item_update">
        <div class="text" translate>Last Item Arrived</div>
        <div class="time">{{item.last_item_update | reldate}}</div>
    </div>
    <div ng-show="isIdle()">
        <span class="error" translate>{{idle_message}}</span>
    </div>               
</div>
<div class="divider"></div>    
<div sd-toggle-box data-title="{{ 'Log Messages' | translate }}" ng-if="item.show_log_messages" class="pad-left">
    
</div>

<div class="dropdown" dropdown>
    <button class="dropdown-toggle" dropdown-toggle><i class="icon-white icon-dots-vertical"></i></button>
        <ul class="dropdown-menu condensed pull-right">
            <li>
                <div>
                    <span class="title" translate>Show</span>
                </div>
            </li>
            <li>
                <div>
                    <span translate>Status</span> <span class="pull-right" sd-switch ng-model="item.show_status" ng-click="setUserPreferences()"></span>
                </div>
            </li>
            <li>
                <div>
                    <span translate>Number of items</span> <span class="pull-right" sd-switch ng-model="item.show_ingest_count" ng-click="setUserPreferences()"></span>
                </div>
            </li>
            <li>
                <div>
                    <span translate>Time</span> <span class="pull-right" sd-switch ng-model="item.show_time" ng-click="setUserPreferences()"></span>
                </div>
            </li>
            <li>
                <div>
                    <span translate>Log Messages</span> <span class="pull-right" sd-switch ng-model="item.show_log_messages" ng-click="setUserPreferences()"></span>
                </div>
            </li>                                
        </ul>
</div>




