<div ng-if="!widget.custom" class="modal-header">
    <a class="close" ng-click="$close()"><i class="icon-close-small"></i></a>
    <h3>{{ widget.label|translate }} {{ 'Configuration'|translate }}</h3>
</div>
<div ng-if="!widget.custom" class="modal-body widget-config-modal">
    <div ng-include="widget.configurationTemplate"></div>
</div>
<div ng-if="!widget.custom" class="modal-footer">
    <button class="btn" ng-click="save()"><span translate>Save</span></button>
</div>
<div ng-if="widget.custom" ng-include="widget.configurationTemplate"></div>