<div class="sd-widget {{ widget._id }} gs_w" ng-class="{'remove-header': widget.removeHeader}">
	<div class="widget-line"></div>
	<div class="widget-header" ng-if="!widget.removeHeader">
		<span ng-show="widget.icon" class="widget-icon"><i class="icon-{{ widget.icon }}"></i></span>
		<div class="widget-title">{{ widget.configuration.label || widget.label | translate}}</div>
	</div>

	<div class="widget-content clearfix" ng-transclude></div>

    <div class="widget-settings" ng-if="widget.configurationTemplate">
        <a href="" class="single-btn" ng-click="openConfiguration()"><i class="icon-settings"></i></a>
    </div>
</div>
