<div class="sd-widget {{ widget._id }} gs_w">
	<div class="widget-line"></div>
	<div class="widget-header">
		<span ng-show="widget.icon" class="widget-icon"><i class="icon-{{ widget.icon }}"></i></span>
		<div class="widget-title" translate>{{ widget.configuration.label || widget.label }}</div>
	</div>

	<div class="widget-content clearfix" ng-transclude></div>

    <div class="widget-settings" ng-if="widget.configurationTemplate">
        <a href="" class="single-btn" ng-click="openConfiguration()"><i class="icon-settings"></i></a>
    </div>
</div>
