<ul>
    <li ng-class="{active: currentRoute.href == '/workspace'}">
        <a href="#/workspace" class="big-icon-dashboard"
            title="{{ :: 'Dashboard' | translate }}"></a>
    </li>
    <li ng-class="{active: currentRoute.href == '/workspace/monitoring'}">
        <a href="#/workspace/monitoring" class="big-icon-view"
            title="{{ :: 'Monitoring' | translate }}"></a>
    </li>
    <li>
        <a href="" class="big-icon-dynamic-list"
            title="{{ :: 'Highlights' | translate }}"></a>
    </li>
    <li ng-class="{active: currentRoute.href == '/workspace/tasks'}" ng-if="privileges.tasks">
        <a href="#/workspace/tasks" class="big-icon-tasks"
            title="{{ :: 'Tasks' | translate }}"></a>
    </li>
    <li ng-class="{active: currentRoute.href == '/workspace/spike-monitoring'}">
        <a href="#/workspace/spike-monitoring" class="big-icon-spiked"
            title="{{ :: 'Spike' | translate }}"></a>
    </li>

    <hr>
    <li>
        <a href="" class="big-icon-personal"
            title="{{ :: 'Personal' | translate }}"></a>
    </li>
    <li ng-class="{active: currentRoute.href == '/search'}">
        <a href="#/search" class="big-icon-global-search" 
            title="{{ :: 'Search' | translate }}"></a>
    </li>

    <hr><!-- this is something like deprecated.. don't add, only remove -->
    <li ng-class="{active: currentRoute.href == '/workspace/ingest'}" ng-if="privileges.ingest">
        <a href="#/workspace/ingest" class="big-icon-ingest"
             title="{{ :: 'Ingest' | translate }}"></a>
    </li>
    <li ng-class="{active: currentRoute.href == '/workspace/content'}" ng-if="privileges.archive">
        <a href="#/workspace/content" class="big-icon-archive"
             title="{{ :: 'Content' | translate }}"></a>
    </li>
</ul>
