<div class="subnav">
	<h3 class="page-nav-title" translate>Dashboard {{ dashboard.current.name }}</h3>

	<div class="button-stack right-stack">
		<button class="navbtn" ng-click="dashboard.edit = true" ng-show="dashboard.widgets.length && !dashboard.edit">
            <i class="svg-icon-move"></i> <span class="title" translate>Rearrange widgets</span>
        </button>

        <button class="navbtn navbtn-info" ng-click="dashboard.save()" ng-show="dashboard.edit">
            <i class="svg-icon-ok inverse"></i> <span class="title" translate>Save</span>
        </button>

        <button class="navbtn sd-create-btn" ng-disabled="dashboard.edit" ng-click="dashboard.add = true"></button>
    </div>
</div>

<div class="dashboard-container" ng-if="dashboard.current">
    <div class="content clearfix">
        <div sd-grid
            data-status="dashboard.edit"
            data-widgets="dashboard.widgets"
            data-save="dashboard.save()"
            ></div>
        <div class="empty-dashboard" ng-show="dashboard.widgets.length === 0" translate>Dashboard is empty.</div>
        <div class="empty-dashboard loading" ng-show="dashboard.widgets == null" translate>Loading..</div>
    </div>
</div>

<div ng-if="dashboard.add">
    <div class="modal-backdrop in"></div>
    <div class="widget-select modal-big modal in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="pull-left" translate>Add new widget</h3>
                    <button class="close" ng-click="dashboard.add = false"><i class="icon-close-small"></i></button>
                </div>

                <div class="modal-body" ng-if="!dashboard.selectedWidget">
                    <div class="nav-tabs">
                    </div>
                    <div class="modal-screen">
                    	<ul class="widget-list">
                            <li ng-repeat="widget in dashboard.availableWidgets" ng-click="dashboard.selectWidget(widget)" ng-class="{selected: dashboard.isSelected(widget)}" class="widget {{ widget._id }}">
                                <div class="thumbnail"><img ng-src="{{ :: widget.thumbnail }}"></div>
                                <div class="title">{{ :: widget.label }}</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-body" ng-if="dashboard.selectedWidget">
                    <div class="nav-tabs">
                        <button class="backlink" ng-click="dashboard.selectWidget()" translate>Back</button>
                    </div>
                    <div class="modal-screen widget-detail">
                    	<div class="thumbnail-box {{ dashboard.selectedWidget._id }}">
                            <img ng-src="{{ :: dashboard.selectedWidget.thumbnail }}">
                        </div>
                        <div class="content-box">
                            <div class="title">{{ :: dashboard.selectedWidget.label }}</div>
                            <div class="description">{{ :: dashboard.selectedWidget.description }}</div>
                            <button class="btn btn-primary btn-large"
                                ng-click="dashboard.addWidget(dashboard.selectedWidget)"
                                ng-disabled="!dashboard.selectedWidget"
                                translate>Add This Widget</button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" ng-if="!dashboard.selectedWidget">                
                    <button class="btn btn-primary" ng-click="dashboard.add = false" translate>Done</button>
                </div>

                <div class="modal-footer" ng-if="dashboard.selectedWidget">                
                </div>
            </div>
        </div>
    </div>
</div>
