<div class="flat-searchbar advanced-searchbar dropdown" ng-class="{extended: flags.extended}">
    <div class="search-handler">
        <label for="search-input" class="trigger-icon" ng-click="flags.extended = !flags.extended"></label>
        <input id="search-input"
        	type="text"
        	placeholder="{{ 'Search'|translate }}"
        	ng-keyup="searchOnEnter($event)"
        	ng-model="query" 
        	tabindex="1">
    </div>
    
    <button class="dropdown-toggle" tabindex="2">
    	<b class="caret"></b>
    </button>

    <button ng-click="search()" class="trigger pull-left" tabindex="3" translate>Go!</button>

    <div class="separator-handler"></div>

    <div class="dropdown-menu" ng-click="$event.stopPropagation();">
    	<button class="close" ng-click="focusOnSearch();"><i class="icon-close-small"></i></button>
		<div class="content">
			<form>
				<fieldset>
					<div class="field">
						<label for="search-headline">Headline</label>
						<input type="text" id="search-headline" ng-model="meta.headline" tabindex="4">
					</div>
					<div class="field">
						<label for="search-slugline">Slugline</label>
						<input type="text" id="search-slugline" ng-model="meta.slugline" tabindex="5">
					</div>
                    <div class="field">
                        <label for="search-storyname">Story Name</label>
                        <input type="text" id="search-storyname" ng-model="meta.storyname" tabindex="4">
                    </div>
                    <div class="field">
                        <label for="search-storytext">Story Text</label>
                        <input type="text" id="search-storytext" ng-model="meta.storytext" tabindex="4">
                    </div>
                    <div class="field">
                        <label for="search-subject">Subject</label>
                        <input type="text" id="search-subject" ng-model="meta.subject" tabindex="4">
                    </div>
                    <div class="field" ng-if="repo.archive">
                        <label for="search-creator">Creator</label>
                        <input type="text" id="search-creator" ng-model="meta.creator" tabindex="6">
                    </div>
                    <div class="field">
                        <label for="search-category">Category</label>
                        <select id="search-category" ng-model="meta.category" ng-options="category.name for category in categories"></select>
                    </div>
                    <div class="field">
                        <label for="search-source">Source</label>
                        <select id="search-source" ng-model="meta.source" ng-options="source.name for source in sources"></select>
                    </div>
                    <div class="field" ng-if="repo.archive">
                        <label for="search-desk">Desk</label>
                        <select id="search-desk" ng-model="meta.desk" ng-options="desk.name for desk in desks"></select>
                    </div>
                    <div class="field" ng-if="meta.desk">
                        <label for="search-stage">Stage</label>
                        <select id="search-stage" ng-model="meta.stage" ng-options="stage.name for stage in stages"></select>
                    </div>
                    <div class="field" ng-if="repo.archive">
                        <label for="search-spiked">Include Spiked Content</label>
                        <input type="checkbox" ng-model="meta.includeSpiked">
                    </div>
				</fieldset>
                <fieldset ng-if="context">
                    <legend translate>Collection</legend>
                    <ul>
                        <li>
                            <input class="pull-left" type="checkbox" id="ingest-collection" ng-model="repo.ingest" ng-checked="repo.ingest">
                            <label for="ingest-collection" translate>Ingest</label>
                        </li>
                        <li>
                            <input class="pull-left" type="checkbox" id="archive-collection" ng-model="repo.archive" ng-checked="repo.archive">
                            <label for="archive-collection" translate>Archive</label>
                        </li>
                    </ul>
                </fieldset>
			</form>
			<button class="trigger small" ng-click="search()" tabindex="6" translate>Go!</button>
		</div>
    </div>
</div>
