
<div class="header">
    <button class="btn btn-info" ng-click="edit()" translate>Save search</button>
</div>
<div class="list">
	<ul>
	    <li ng-repeat="view in views | orderBy:'name' " ng-click="select(view)" ng-class="{active: view == selected}">
	    	{{ view.name }}
	    	<button class="delete" ng-click="remove(view); $event.stopPropagation();"><i class="icon-trash"></i></button>
	    </li>
	</ul>
</div>

<div class="mini-modal edit-saved-searches" ng-if="editSearch">
	<div class="title" translate>Save search</div>
	<div class="close" ng-click="cancel()">
		<i class="icon-close-small"></i>
	</div>
	<div class="content">
		<form name="viewsForm">
			<fieldset>
				<div class="field">
					<label>Name</label>
                    <input type="text" class="fullwidth-input" ng-model="editSearch.name" required>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="footer">
		<button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
		<button class="btn btn-primary" ng-click="save(editSearch)" ng-disabled="!viewsForm.$valid" translate>Ok</button>
	</div>
</div>