// article-edit.less
// Styling for the superdesk article edit module
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

@send-to-pane-width: 445px;

.auth-screen {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	.main-section {
		.transition(all ease 0.3s);
		&.auth-sendto {
			right: @send-to-pane-width;
			left: -@send-to-pane-width;
		}
	}
}

.authoring-embedded {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	.embedded-list-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.embedded-auth-view {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 0;
	}

	&.opened {
		.embedded-list-view {
			right: 41%;
		}

		.embedded-auth-view {
			width: 41%;
		}
	}
}

.subnav {
	.button-stack > .btn {
		padding: 8px 25px;
		height: 28px;
	}
	.authoring-topbar {
		height: 30px;
		.lock-info {
			background: rgba(229,28,35,0.3);
			width: 30px;
			height: 30px;
			line-height: 26px;
			text-align: center;
			.border-radius(50%);
			margin-right: 10px;
		}
		.lock-text {
			color: #e51c23;
			font-size: 14px;
			line-height: 30px;
			.text-light();
			b {
				.text-semibold();
			}
		}
		.stage {
			height: 25px;
			line-height: 24px;
			background: #fff;
			border: 1px solid #505050;
			border-radius: 2px;
			box-sizing: border-box;
			padding: 0 10px;
			text-transform: uppercase;
			font-size: 11px;
			margin-right: 10px;
			&:hover {
				background: #505050;
				color: #fff;
			}
		}
		.state-label {
			font-size: 11px;
			line-height: 12px;
			padding: 4px 10px 3px;
			margin-top: 5px;
			margin-right: 20px;
			float: none;
		}
	}
	&.auth-sendto {
		right: @send-to-pane-width;
		left: -@send-to-pane-width;
	}
}

.auto-save {
	margin-right: 20px;
	line-height: 28px;
	.opacity(70);
	i {
		margin-top: -4px;
	}
}

.page-content-container {
	position: absolute;
	top:0;
	left: @tablist-width + @article-tabpane-padding;
	right: @tablist-width + @article-tabpane-padding;
	bottom: 0;
	overflow-y: auto;
}


// Medium editor
// -------------------------------------------------
.medium-editor-toolbar-actions {
	li button {
		height: 40px !important;
		min-width: 40px !important;
		padding-top: 10px !important;
	}
}
.medium-toolbar-arrow-under:after {
	top: 40px !important;
}

.text-editor-info {
	font-size: 89%;
}

.text-editor {
	.sderror {
		border-bottom: 1px dotted #cc0000;
		background-color: rgba(204, 0, 0, 0.08);
	}
}


// Opened articles
// -------------------------------------------------

.opened-articles {
	position: fixed;
	min-height: @authoring-opened-articles;
	left: 0; right: 0;
	bottom: @scratchpad-closed;
	background: rgba(0,0,0,0.85);
	z-index: @zindexFixedNavbar;
	ul > li {
		.border-box();
		padding: 0 25px 0 15px;
		max-width: 250px;
		position: relative;
		line-height: 30px;
		.close {
			color: #fff;
			border: none;
			background: none;
			position: absolute;
			right: 5px;
			top: 5px;
			padding: 0;
		}
		.title {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			color: #8bcaf7;
			font-size: 12px;
			.text-light();
			&:hover {
				color: #fff;
				text-decoration: none;
				cursor: pointer;
			}
		}
		&:active {
			background: #444;
		}
		&.active {
			background: darken(@sd-blue,10%) !important;
			margin-top: -1px;
			padding-top: 1px;
			&:hover {
				cursor: default;
			}
			.title {
				color: #fff;
			}
		}
	}
	.list {
		margin-left: 31px;
		margin-right: 250px;
		&.full-width {
			margin-right: 0;
		}
		> li {
			float: left;
			border-right: 1px solid #333;
		}
	}
	.multiedit-item {
		float: right;
		> li {
			border-left: 1px solid #333;
			width: 250px;
		}
	}
	.quick-actions {
		button {
			background: none;
			border: 0;
			height: 30px;
			line-height: 30px;
			width: 30px;
			text-align: center;
			&:hover {
				cursor: pointer;
				background: @sd-blue;
			}
		}
		i {
			margin: -5px 0 0 0;
		}
	}
}

&.scratchpad-open {
	.opened-articles {
		bottom: @scratchpad-closed + @scratchpad-content-height;
	}
}



// Article dashboard
// -------------------------------------------------

.authoring-dashboard {
	padding: 40px;
	overflow: auto;

	.card-list {
		width: 0;
		margin: 0 auto;
	}
	.card-list > li {
		width: 140px;
		height: 170px;
		float: left;
		margin: 10px;
		padding: 15px 20px;
		position: relative;
		.title {
			max-height: 135px;
			overflow: hidden;
			font-size: 14px;
			line-height: 22px;
			max-height: 110px;
			overflow: hidden;
			.text-semibold();
		}
		.created {
			position: absolute;
			bottom: 15px;
			left: 20px;
			color: #888;
			font-size: 12px;
			width: 80%;
			height:14%;
			float:left;
		}
		.text {
			font-size: 12px;
			color: @gray;
			line-height: 18px;
		}
		.close {
			position: absolute;
			right: 7px;
			top: 3px;
		}
        .type-icon {
			position: relative;
			bottom: 6px;
			margin: 0;
			float: left;
		}
		.state-label {
			position: relative;
			bottom: 1px;
			margin: auto;
			float: right;
		}
		.subInfo {
			position: absolute;
			right: 15px;
			bottom: 1px;
			float: right;
		}
		.container {
			.text-semibold();
			color: #216678;
			margin-right: 20px;
		}
	}
}

// Multiedit dropdown
// -------------------------------------------------

.multiedit-menu {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 4px;
	li button {
		width: 300px !important;
		padding-right: 20px !important;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		i {
			position: absolute;
			right: -5px;
			top: 9px;
		}
		&.disabled {
			background: #f0f0f0;
			i {
				.opacity(20);
			}
		}
	}
	li .msg {
		padding: 0 20px;
	}
}
.multiedit-dropdown {
	.dropdown-toggle {
		width: 48px;
		padding: 0 !important;
	}
	.dropdown-menu {
		.fieldset {
			border-top: 1px solid #dedede;
			margin-top: 10px;
			height: 32px;
			padding: 10px 10px 0;
			button {
				width: 100px;
			}
		}
	}
}

.terms-box {
	position: relative;
	.dropdown-menu.nested-menu {
		width: 100%;
	}
}

// Publish pane
// -------------------------------------------------

.send-to-pane {
	width: @send-to-pane-width;
	position: absolute;
	top: 0; bottom: 0;
        right: 0;
	
	header {
		height: @nav-height;
		border-bottom: 1px solid #424242;
		padding: 0 20px;
		h3 {
			color: @white;
			line-height: @nav-height;
			font-size: 20px;
			.text-light();
			float: left;
		}
		.close {
			margin-top: 16px;
		}
	}
	.content {
		padding: 20px;

		.desk-select {
			margin-bottom: 15px;
			.dropdown-toggle {
				width: 100%;
				text-align: left;
				background: #4f4f4f;
				padding: 10px 15px;
				border-radius: 2px;
				color: #fff;
				.caret {
					float: right;
					margin-top: 8px;
				}
			}
			.dropdown-menu ul {
				max-height: 290px;
				overflow: auto;
			}
		}
		.btn-list {
			height: 1%;
			overflow: hidden;
			margin-bottom: 30px;
			li {
				float: left;
				width: (@send-to-pane-width - 55)/2;
				padding: 0;
				padding: 0 0 15px;

				&:nth-child(2n) {
					margin-left: 15px;
				}

				button {
					width: 100%;
					padding: 10px 15px;
					color: #fff;
					background: #496773;
					.border-box();
					position: relative;
					border: none;
					.border-radius(3px);
					&:hover {
						cursor: pointer;
						background: #5ea9c8;
					}

					&.active, &:active {
						&:after {
							content: "";
							position: absolute;
							background: url(../../images/checkmark-big-full.png) no-repeat;
							background-size: 42px;
							background-position: 0 -2px;
							.opacity(30);
							top: 0;
							width: 42px;
							bottom: 0;
							right: 8px;
						}
					}
					&.active {
						background: #5ea9c8;
						.box-shadow-both(inset 0 3px 0 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.4));
					}
					&:active {
						background: darken(#5ea9c8, 5%);
						.box-shadow(inset 0 2px 2px 0 rgba(0, 0, 0, 0.2));
						&:after {
							.opacity(10);
						}
					}

					&.active:disabled {
						opacity: 0.8;
					}

					&.cancel {
						background: #4f4f4f;
						&:hover { background: #333; }
					}

					&.save {
						background: #5ea9c8;
					}

					&.actioning {
						background-image: url("../../images/loading-large.gif");
						background-repeat: no-repeat;
	    				background-position: center;
					}
					&.actioning:disabled {
						opacity: 0.5;
					}
					&:disabled {
						&:not(.active) {
							background: #496773 !important;
						}
						&:hover {
							cursor: default;
						}
						opacity: 0.5;
					}
				}
			}
		}
	}
}

.pane-holder {
    position: absolute;
    background: #3b3b3b;
    width: @send-to-pane-width;
    height: 100%;
    right: -@send-to-pane-width;
    .transition(all ease 0.3s);
    &.show {
        right: 0;
    }
}

.widget {
	padding: 12px;

	h3 {
		margin-bottom: 0.5em;
	}

	.link-list .btn {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
}

.modal-footer {
	.pagination-box {
		.page-info {
			float: left;
		}
	}
}

// Info header for authoring
// ---------------------
.main-article {
    header.header-info {
        height: 0px;
        margin: -60px -60px 20px -60px;
        padding: 22px 40px;
        overflow: hidden;
        .box-sizing(border-box);
        .box-shadow(0px 1px 2px 1px #e9e9e9);
        &.active {
            height: auto;
            overflow: visible;
        }
        + button {
            position: absolute;
            width: 23px;
            height: 23px;
            border: 0;
            padding: 0 5px;
            font-size: 0;
            left: 50%;
            margin-left: -11.5px;
            margin-top: -32px;
            background-color: @white;
            .border-radius(23px);
            .box-shadow(0px 0px 5px 0px @grayLight);
            .transition(transform 0.5s);
            &.active {
                .rotate(180deg);
            }
        }

        .metadata-list {
            .date-info {
                margin-top: -7px;
                margin-bottom: 15px;
                white-space: nowrap;
                * {
                    font-size: 12px;
                    color: #c0c0c0;
                    float: left;
                }
                b {
                    color: #575656;
                    font-weight: 400;
                }
                label { 
                    min-width: 0;
                    margin-bottom: 0;
                    padding-right: .3em;
                    span {
                        line-height: 19px;
                    }
                }
                time {
                    padding-right: .3em;
                }
                .modified {
                    margin-left: 15px;
                    padding-left: 10px;
                    border-left: 1px solid @grayLighter;
                }
            }
            .general-info {
                .item {
                    display: inline-flex;
                    vertical-align: middle;
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid @grayLighter;
                    &:last-of-type { 
                        margin-right: 0;
                        border-right: 0;
                    }
                    &.info-icons > * {
                        margin-left: 20px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    [class^="filetype-icon-"], [class*="filetype-icon-"] {
                        padding-left: 16px;
                        height: 14px;
                        .opacity(50);
                    }
                    .slider-icon {
                        height: 16px;
                        line-height: 10px;
                        .dropdown {
                            cursor: pointer;
                            &.open, &:hover {
                                padding: 5px;
                                margin-top: -5px;
                                margin-left: -5px;
                                margin-right: -5px;
                                .border-radius(23px);
                                .box-shadow(0px 0px 5px 0px @grayLight);
                            }
                        }
                        label { 
                            font-size: 11px;
                        }
                        .item { 
                            display: flex;
                            margin-top: 40px;
                            margin-bottom: 5px;
                            label {
                                margin-top: -9px;                                   
                            }
                        }
                        [class*="urgency-icon-"] {
                            margin: 2px 0;
                        }
                    }
                    label { 
                        min-width: 0;
                        margin-bottom: 0;
                        padding-right: 10px;
                        line-height: 18px;
                        white-space: nowrap; 
                        text-overflow: ellipsis; 
                        overflow: hidden;
                        b {
                            color: #575656;
                            font-size: 12px;
                            line-height: 12px;
                            margin-right: 3px;
                        }
                        &.word-count {
                            padding-right: 0;
                        }
                    }
                    .data {
                        font-size: 13px;
                        line-height: 15px;
                        text-transform: lowercase;
                    }
                }
            }
            > li {
                display: inline-flex;
                vertical-align: top;
                width: 45%;
                margin-right: 9%;
                margin-bottom: 10px;
                &:nth-of-type(2n+2) {
                    margin-right: 0;
                }
                &.full-width {
                    display: flex;
                    width: 100%;
                    margin-right: 0;
                }
                label, .data {
                    font-size: 10px;
                }
                label {
                    flex-grow: 0;
                    line-height: 27px;
                    min-width: 65px;
                    color: #c0c0c0;
                }
                .data {
                    flex-grow: 1;
                    color: #575656;
                }
                input, textarea {
                    width: 100%;
                    border: 0 !important;
                    border-bottom: 1px solid #e5e5e5 !important;
                    &:hover, &:focus {
                        .box-shadow(none) !important;
                        border-color: transparent !important; 
                        border-bottom: 1px solid #e5e5e5 !important;
                    }
                }
                &.ed-note {
                    input {
                        textarea: 12px;
                        color: #cf4925 !important;
                    }
                }
                &.keyword {
                    input {
                        font-size: 12px;
                        font-weight: 500;
                        color: #1e4a58 !important;
                    }
                }
                &.terms-box {
                    .dropdown {
                        button.dropdown-toggle {
                            width: 24px;
                            height: 24px;
                            background-color: #afd5e4;
                            .border-radius(2px);
                            i {
                                margin-bottom: 1px;
                                margin-left: -1px;
                            }
                            &:hover {
                                background-color: @sd-blue;
                            }
                        }
                        &.open {
                            button.dropdown-toggle {
                                background-color: @sd-blue;
                            }
                        }
                        .dropdown-menu {
                            max-height: 275px;
                            padding: 0;
                            .input-term {
                                padding: 5px 0 5px 25px;
                                background: url("../../images/search-icon.png") no-repeat left 10px center;
                                border-bottom: 1px solid #e5e5e5 !important;
                                input { border-bottom: 0 !important; }
                            }
                            .levelup {
                                display: flex;
                                padding: 4.5px;
                                margin-bottom: -1px;
                                border-bottom: 1px solid #e5e5e5 !important;
                                i.backlink {
                                    flex-grow: 0;
                                    cursor: pointer;
                                    height: 27px;
                                    margin-top: 0;
                                }
                                button {
                                    flex-grow: 1;
                                    min-width: 0;
                                    font-weight: 500;
                                    b {
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        &.category-hover {
                                            display: none;
                                        }
                                    }                              
                                    &:hover {
                                        b.category { display: none; }
                                        b.category-hover { display: block; }
                                    }
                                }
                            }
                            .main-list, .item-list {
                                padding: 8px;
                                max-height: 215px;
                                overflow: auto;
                                li {
                                    position: relative;
                                    i { 
                                        margin-right: 0;
                                        right: 0;
                                    }
                                }
                            }
                            .main-list {
                                margin-top: -16px;
                                &.active {
                                    margin-top: 0;
                                }
                            }
                        }
                        .sd-typeahead {
                            position: static;
                            .item-list {
                                position: static;
                                width: 230px;
                                min-height: 0;
                                border: 0;
                                top: 38px;
                                right: auto;
                                .box-shadow(none);
                            }
                        }
                    }
                    .terms {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(~'100% - 28px');
                        li {
                            position: relative;
                            font-size: 12px;;
                            color: @black;
                            background-color: #f3f3f3;
                            margin-right: 3px;
                            margin-bottom: 3px;
                            padding: 3px 6px;
                            cursor: pointer;
                            .transition(color .2s);
                            .border-radius(2px);
                            &:not(.disabled):hover {
                                text-align: center;
                                color: #f3f3f3;
                                .icon-close-small {
                                    opacity: .7;
                                }
                            }
                            &.disabled {
                                background-color: #f3f3f3;
                                cursor: default;
                            }
                            .icon-close-small {
                                position: absolute;
                                margin-left: -7px;
                                left: 50%;
                                top: 5px;
                                opacity: 0;
                                .transition(opacity .2s);
                            }
                        }
                    }
                }
            }
        }
    }
}