// themes.less
// Styling for authoring screen editor
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

@main-article-padding : 60px 60px @bottom-view-padding + 40;

// Themes color config
//-----------------------------------------------------------

// dark
@dark-theme-bg: rgba(34, 34, 34, 1);
@dark-theme-text: rgba(170, 204, 209, 1); 

//natural
@natural-theme-bg: rgba(239, 233, 197, 1);
@natural-theme-text: rgba(50, 50, 50, 1);

//mono
@monoFontFamily: "Roboto Mono", Consolas, Courier, monospace;

//dark-khaki
@dark-khaki-theme-bg: rgba(148, 158, 95, 1);
@dark-khaki-theme-text: rgba(37, 40, 24, 1); 

//dark-turquise
@dark-turquoise-theme-bg: rgba(0, 206, 209, 1);
@dark-turquoise-theme-text: rgba(18, 34, 53, 1);

//dark-blue
@dark-blue-theme-bg: rgba(6, 53, 106, 1);
@dark-blue-theme-text: rgba(255, 255, 255, 1);

//pale-yellow
@pale-yellow-theme-bg: rgba(247, 250, 152, 1);
@pale-yellow-theme-text: rgba(50, 50, 50, 1);    

.dark-theme() {
	background: @dark-theme-bg;
	color: @dark-theme-text !important;
}

.natural-theme() {
	background: @natural-theme-bg;
	color: @natural-theme-text !important;
}

.dark-theme-mono() {
	background: @dark-theme-bg;
	color: @dark-theme-text !important;
}

.dark-khaki-theme() {
	background: @dark-khaki-theme-bg;
	color: @dark-khaki-theme-text !important;
}

.dark-turquoise-theme() {
	background: @dark-turquoise-theme-bg;
	color: @dark-turquoise-theme-text !important;
}

.dark-blue-theme() {
	background: @dark-blue-theme-bg;
	color: @dark-blue-theme-text !important;
}

.pale-yellow-theme() {
	background: @pale-yellow-theme-bg;
	color: @pale-yellow-theme-text !important;
}

body, html {
	height: 100%;
}

.modal-body {
	.main-article {
		border-width: 0;
		padding: 10px;
	}
}

.theme-controls {
    position: relative;
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    z-index: 4;
    &:hover {
        .proofread-toggle {
            background-color: @grayLighter;
        }
        .theme-select {
            background-color: @grayLighter;
        }
    }
    .proofread-toggle {
            position: absolute;
            top: 12px;
            right: 52px;
            color: #666;
            height: 22px;
            padding: 4px 6px;
            font-size: 11px;
            letter-spacing: 0.06em;
            box-shadow: none;
            border-radius: 0px;
            background-color: transparent;
            z-index: 10;
            i {
                margin-top: -3px;
                margin-right: 0;
            }
            &:hover {
                background-color: rgba(152, 152, 152, 0.3);                        
            }
            &.active {
                .box-shadow(inset 0 2px 0 rgba(55, 55, 55, 0.1));
                background-color: rgba(152, 152, 152, 0.3);
            }
	}

	.theme-select {
		position: absolute;
		top: 12px;
		right: 30px;
                .dropdown-toggle {
                    height: 22px;
                    padding: 1px 4px;
                    i {
                        margin-bottom: 1px;
                    }
                    &:hover {
                        background-color: rgba(152, 152, 152, 0.3);                        
                    }
                }
                &.open {
                    .dropdown-toggle {
                        .box-shadow(inset 0 2px 0 rgba(55, 55, 55, 0.1));
                        background-color: rgba(152, 152, 152, 0.3);
                    }
                }
		.dropdown-menu {
			min-width: 416px;
			padding: 10px;
            right: -9px;
            .theme-status {
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                margin-top: 4px;
                margin-left: 3px;
                background-color: #ccc;
                &.active {
                    background-color: #107401;
                }
            }
            .menu-label {
                padding-left: 18px;
                margin-bottom: 6px;
            }
            > ul {
                display: inline-block;
                vertical-align: top;
                &.normal-theme-list {
                    padding-right: 9px;
                    border-right: 1px solid #e5e5e5;
                    margin-right: 9px;
                }
            }
            .btn-group {
            	margin-bottom: 20px;
            	display: flex;
            	.btn {
            		border:none !important;
            		text-transform: none;
            		font-size: 12px;
            		text-align: center;
            		padding: 2px 0;
            		height: 22px;
            		box-sizing: border-box;
            		background: rgba(0,0,0,0.07);
            		&.active {
            			background: rgba(0,0,0,0.6);
            			color: #fff;
            			border: none;
            		}
            	}
            }
			.theme-btn {
				.border-radius(2px);
				margin-bottom: 6px;
				border: 1px solid #e9e9e9;
				position: relative;
				padding-right: 20px;
				padding-left: 12px;
				width: 186px;
				text-overflow: ellipsis;
				overflow: hidden;
				i {
					margin: 0;
					position: absolute;
					top:7px;
					right: 2px;
				}
				&.large-text {
					font-size: 15px;
				}
				&.dark-theme {
					border: 0;
					.dark-theme();
					i {
						background-image: url(@iconWhiteSpritePath);
					}
				}
				&.dark-blue-theme {
					border: 0;
					.dark-blue-theme();
					i {
						background-image: url(@iconWhiteSpritePath);
					}
				}
				&.dark-theme-mono {
					border: 0;
					.dark-theme();
					font-family: @monoFontFamily;
					i {
						background-image: url(@iconWhiteSpritePath);
					}
				}
				&.natural-theme {
					border: 0;
					.natural-theme();
				}
				&.pale-yellow-theme {
					border: 0;
					.pale-yellow-theme();
				}
				&.dark-khaki-theme {
					border: 0;
					.dark-khaki-theme();
				}
				&.dark-turquoise-theme {
					border: 0;
					.dark-turquoise-theme();
				}
			}
		}
	}
}

.main-article {
	width:auto;
	background: @white;
	border: 1px solid #cacaca;
	border-width:0 1px;
	position:relative;
	z-index:1;
	padding: @main-article-padding;
	margin:0 auto;
	min-height:100%;
	.box-sizing(border-box);
	max-width: 900px;

	.field {
		margin-bottom: 10px;

		.full-preview{
			display: inline-block;
		}

	  	.dateline {
		  	display: flex;
            input {
              text-transform: uppercase;
            }

		  	input, select, option {
			  	color: #333 !important;
                font-size: 16px;
                font-weight: 300 !important;
			}

            select {
              width: 20%;
            }

            .dateline-city {
                display: flex;
                font-size: 16px;
                line-height: 27px;
                padding-right: 20px;
            }

		  	.dateline-date {
                width: 100%;
			}
		}
	}

	//labels
	.field label {
		.text-normal();
		background: rgba(0, 0, 0, 0.2);
		.border-radius(2px);
		color: #fff;
		display: inline-block;
		padding: 0 5px;
		font-size: 10px;
		line-height: 15px;
		height: 15px;
		.transition(all ease 0.2s);
		opacity: 0;

	}

	// inputs
	.text-editor {
		border: 1px solid #e0e0e0;
		padding: 5px 0;
		&:focus {
			outline:none;
		}
		h1, h2, h3, h4, h5, h6 {
			font-size: 16px;
			line-height: 18px;
			margin-bottom: 9px;
		}
	}

	.field.body {
		.text-editor {
			min-height: 300px;
		}
	}

	.text-editor, .headline, .abstract, input, select {
		border-color: transparent !important;
		background-color: transparent !important;
	}

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
    }

	.text-editor:hover, .headline:hover, .abstract:hover, input:hover, select:hover {
		border-color: rgba(150, 150, 150, 0.25) !important;
	}

    select:hover {
      -moz-appearance: menulist-button;
      -webkit-appearance: menulist-button;
    }

	.text-editor:focus, .headline:focus, .abstract:focus, input:focus, select:focus {
		.box-shadow(none) !important;
		border-color: rgba(94, 169, 200, 0.4) !important;
	}

	&.preview {
		.text-editor {
			border-color: #fff !important;
		}
	}


	// character and word counting

	.char-count {
		font-size: 11px;
		font-style: italic;
		color: rgba(120, 120, 120, 1);
		margin-left: 5px;
		float: right;
		.opacity(0);
		.transition(all ease 0.2s);
		&.error {
			.text-semibold();
			color: #D33C30;
		}
	}
	&:hover, &:focus {
		.char-count, .field label {
			.opacity(100);
		}

	}

	.field.limit-error {
		.char-count {
			.opacity(100);
		}
		input, textarea {
			border-color: rgba(210, 60, 50, 0.15) !important;
		} 
	}

	.field.limit-error input, .field.limit-error textarea {
		.text-semibold();
		color: #D33C30 !important;
	}

	// images
	figure {
		width: 100%;
		display: table;
		table-layout: fixed;
	}

	figure img {
		display: block;
		max-width: 100%;
		margin: 10px 0;
	}


	// text styles
	
	color: rgba(51, 51, 51, 1);
	.text-editor, .headline, .abstract, input {
		color: rgba(51, 51, 51, 1) !important;
		padding-left: 0;
		padding-right: 0;
	}

	.keyword {
		text-transform: uppercase;
		.text-semibold();
	}

	.byline {
		font-size: 16px;
		.keyword;
		text-transform: none;
	}

	.text-editor {
		font-size: 16px;
		line-height: 150%;
		p {
			padding: 0 !important;
			margin-bottom: 10px !important;
			font-size:16px !important;
			line-height: 150% !important;
			.text-light();
		}
		p:last-child {
			margin-bottom: 0 !important;
		}
	}

	.headline {
		.text-editor {
			min-height: 33px;
			font-size:28px;
			line-height: 120%;
			.text-semibold();
			padding: 6px 0;
		}
	}

	.abstract {
		.text-editor {
			min-height: 24px;
			font-style: italic;
		}
	}

    .body {
      clear: left;
    }
    .sd-typeahead .item-list ul li {
    	color: #333;
    	font-size: 14px;
    	.text-normal();
    }
}

//themes
.large-text {
	&.main-article {
		.abstract {
			.text-editor {
				font-size: 18px;
			}
		}
		.text-editor {
			font-size: 18px !important;
			p {
				font-size: 18px !important;
			}
		}
		.headline {
		.text-editor {
			font-size:28px;
		}
	}
	}
}


.dark-theme {
	&.main-article {
		.dark-theme();
		.text-editor, 
		.headline, 
		.abstract, 
		.dateline input,
        .dateline select,
		input, 
		.text-editor p {
			color: @dark-theme-text !important;
		}
		.field label {
			background: rgba(73, 73, 73, 0.7);
			color: rgba(255, 255, 255, 0.6);
		}
	}

	.sderror {
		border-bottom-color: #FF3D3D;
		background-color: rgba(255, 61, 61, 0.25);
	}
}

.dark-theme-mono {
	&.main-article {
		.dark-theme-mono();
		.text-editor, 
		.headline, 
		.abstract, 
		.dateline input,
        .dateline select,
		input, 
		.text-editor p {
			color: @dark-theme-text !important;
			font-family: @monoFontFamily;
		}
		.field label {
			background: rgba(73, 73, 73, 0.7);
			color: rgba(255, 255, 255, 0.6);
		}
	}


	.sderror {
		border-bottom-color: #FF3D3D;
		background-color: rgba(255, 61, 61, 0.25);
	}
}

.dark-blue-theme {
	&.main-article {
		.dark-blue-theme();
		.text-editor, 
		.headline, 
		.abstract, 
		.dateline input,
        .dateline select,
		input, 
		.text-editor p {
			color: @dark-blue-theme-text !important;
		}
		.field label {
			background: rgba(73, 73, 73, 0.7);
			color: rgba(255, 255, 255, 0.6);
		}
	}

	.sderror {
		border-bottom-color: #FF3D3D;
		background-color: rgba(255, 61, 61, 0.25);
	}
}

.natural-theme {
	&.main-article {
		.natural-theme();
		.text-editor,
		.headline,
		.abstract,
		.dateline input,
        .dateline select,
		input {
			color: @natural-theme-text !important;
		}
	}
}

.dark-khaki-theme {
	&.main-article {
		.dark-khaki-theme();
		.text-editor,
		.headline,
		.abstract,
		.dateline input,
        .dateline select,
		input {
			color: @dark-khaki-theme-text !important;
		}
	}
}

.dark-turquoise-theme {
	&.main-article {
		.dark-turquoise-theme();
		.text-editor,
		.headline,
		.abstract,
		.dateline input,
        .dateline select,
		input {
			color: @dark-turquoise-theme-text !important;
		}
	}
}

.pale-yellow-theme {
	&.main-article {
		.pale-yellow-theme();
		.text-editor,
		.headline,
		.abstract,
		.dateline input,
        .dateline select,
		input {
			color: @pale-yellow-theme-text !important;
		}
	}
}
