<div class="modal-header"> <a class="close" ng-click="closeModal()">×</a>
	<h3 translate>Add New Source</h3>
</div>

<div class="modal-body">
	<div class="control-group">
		<input type="text" class="large-text-input blue-text" placeholder="Feed Source Name">
	</div>
	<div class="control-group">
		<input type="text" placeholder="Feed Source Url">
	</div>
	<div class="control-group credentials">
		<label trnaslate>Credentials</label>
		<input type="text" class="first" placeholder="Username">
		<input type="text" placeholder="Password">
	</div>
</div>

<div class="modal-footer"> 
	<a class="btn" ng-click="closeModal()" translate>Cancel</a> 
	<a class="btn btn-primary" translate>Add Source</a>
</div>
