<div class="subnav subnav-fixed">

	<h3 class="page-nav-title" translate>Settings</h3>
	<button class="btn btn-info btn-medium pull-right" ng-click="save()" translate >Save</button>	
</div>

<div class="settingsPage">

  <tabset vertical="true">
    <tab heading="General">
    	<h4 translate>General</h4>
    	<div class="settings-tab-content">

    	</div>
    </tab>
    <tab heading="Live Blog">
    	<h4 translate>Live Blog</h4>
    	<div class="settings-tab-content">

    	</div>
    </tab>
    <tab heading="Users">
    	<h4 translate>Users</h4>
    	<div class="settings-tab-content">

    	</div>
    </tab>
    <tab heading="Desks">
    	<h4 translate>Desks</h4>
    	<div class="settings-tab-content">

    	</div>
    </tab>
    <tab heading="Ingest" ng-controller="IngestSettingsCtrl">
        <button class="btn btn-info pull-right" ng-click="edit()"><i class="icon-plus-sign icon-white"></i> <span translate>Add New Provider</span></button>
        <h4 translate>Providers</h4>
        <ul class="settings-tab-content">
            <li ng-repeat="provider in providers._items" class="settings-module">
                <header>
                    <h6 ng-click="toggle()">{{ provider.name }}</h6>
                    <div class="count-selected"><span>{{ provider.ingested_count || 0 }}</span></div>
                    <div class="last-updated">
                        <span translate>Last updated</span> <time title="{{ provider.updated }}">{{ provider.updated|reldate }}</time>
                    </div>
                </header>
                <div class="content">
                    <div class="dropdown dropdown-simple pull-right">
                        <a href="#" class="dropdown-toggle"><i class="icon-cog"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu pull-right sf-dropdown-simple">
                            <li><a href="" ng-click="edit(provider)"><i class="icon-cog"></i> <span translate>Edit provider</span></a></li>
                            <li><a href="" ng-click="remove(provider)"><i class="icon-trash"></i> <span translate>Delete provider</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </tab>
    <tab heading="System">
        <h4 translate>System</h4>
        <div class="settings-tab-content">

        </div>
    </tab>
    <tab heading="Plugins">
        <h4 translate>Plugins</h4>
        <div class="settings-tab-content">

        </div>
    </tab>
  </tabset>


</div>