<div class="add-embed__plus" ng-if="!vm.extended" sd-text-editor-drop-zone>
    <div class="add-embed__drop-zone"></div>
</div>
<div class="add-embed__body" ng-if="vm.extended">
    <form class="form-inline">
        <div class="form-group add-embed__input">
            <input type="text"
                   class="line-input"
                   placeholder="Paste url or embed code"
                   ng-change="vm.updatePreview()"
                   ng-model="vm.input"/>
        </div>
        <div class="form-group add-embed__actions">
            <button type="reset" class="btn btn-small btn-default" ng-click="vm.toggle()">
                <i class="icon-close-small"></i>
            </button>
            <button type="submit" class="btn btn-small btn-info" ng-click="vm.createBlockFromEmbed()">
                <i class="icon-white icon-ok"></i>
            </button>
        </div>
        <div ng-if="vm.previewLoading">{{:: 'loading' | translate }} ...</div>
        <div class="preview"></div>
    </form>
</div>
