<div class="editor" ng-show="vm.editable">
    <textarea ng-model="vm.embedCode" class="editor--embed"></textarea>
    <div class="editor--caption">
        <div translate>Caption</div>
        <div ng-model="vm.caption" contenteditable="true"></div>
    </div>
    <a class="btn btn-default btn-small" ng-click="vm.cancel(); vm.toggleEdition()" translate>Cancel</a>
    <a class="btn btn-default btn-small" ng-click="vm.save(); vm.toggleEdition()" translate>Save</a>
</div>
<div class="preview" ng-show="!vm.editable">
    <div ng-show="!vm.editable" class="preview--embed"></div>
    <div ng-show="!vm.editable" class="preview--caption" sd-html-preview="vm.model.caption"></div>
    <a class="btn btn-default btn-small" ng-show="!vm.editable" ng-click="vm.toggleEdition()" translate>Edit the code</a>
</div>
