// packaging.less
// Styling for making packages - editor widget
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.packaging-screen {

	.page-content-container {
        
        > .content {
            width: auto;
            max-width: 800px;
            min-height: 100%;
            max-height: 100%;
            margin: 0 auto;
            border: 1px solid #ebebeb;
            border-width: 0 1px;
            background: #fcfcfc;
            padding: 30px 60px @scratchpad-closed + 20px;
            .border-box();
            overflow: auto;
        }

        .toggle-box h6 {
            background: #fcfcfc;
        }

        .item.picture {
            background: @white;
            box-shadow: @block-shadow-depth-2;
            padding: 10px;
        }

        .package-header {

            margin-bottom: 30px;
            position: relative;
            min-height: 52px;
            
            .title {
                .text-semibold();
                font-size: 18px;
            }

            input, textarea {
                border-color: #fff !important;
                &:hover, &:focus {
                    border-color: #d0d0d0 !important;
                }
            }
        }
    }

}

.placeholder {
    margin: 20px 0;
}

.item.composite {
    .package-details {
        display: none;
    }
}

.package-edit {
    padding: 10px 0 100px;
    > li {
        margin: 0;
        padding: 0;
        .group-info {
            position: relative;
            &:before {
                content: " ";
                position: absolute;
                border-bottom: 1px solid #dcdcdc;
                height: 1px;
                top: 9px;
                left: 20px;
                right: 0px;
            }
            h6 {
                background: #fcfcfc;
                padding: 0 5px;
                font-size: 11px;
                text-transform: uppercase;
                color: #666;
                position: relative;
                display: inline-block;
            }

        }
    }
    .package-edit-items {
        min-height: 80px;
        .fake {
            div {
                padding: 10px 0;
            }
        }
        > li:not(.placeholder):not(.fake):first-child {
            .item-container {
                margin-top: 30px;
            }
            margin-top: -15px;
        }
        > li.fake:first-child {
            div {
                padding: 40px 0;
            }
        }
        .item-container {
            margin: 10px 0;
            position: relative;
            .item {
                margin: 0;
            }
            .remove {
                background: none;
                border: 0;
                position: absolute;
                right: 25px;
                top: 4px;
            }
        }
    }
}