// packaging.less
// Styling for making packages - editor widget
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.packaging-screen {
    .content-items-container, 
    .package-edit-container {
        position: absolute;
        top: 0; bottom: 0;
        .border-box();
        padding: 20px;
    }
    .content-items-container {
        left: 0;
        right: 0;
        .search-box {
            position: absolute;
            left: 0; right: 0; top: 0;
            height: 40px;
            border-bottom: 1px solid #efefef;
            background: #fff url(../../images/search-icon.png) no-repeat 15px 12px;
            input {
                position: absolute;
                width: calc(~"100% - 80px");
                height: 40px;
                border: 0 !important;
                left: 50px;
                right: 30px;
                top:0px;
                &:focus {
                    .box-shadow(none) !important;
                }
            }
        }
        .content-list {
            position: absolute;
            top: 60px;
            bottom: @scratchpad-closed + 20px;
            overflow: auto;
            left: 20px; right: 10px;
            > ul {
                padding-right: 10px;
                > li {
                    position: relative;
                    background: @white;
                    border-bottom: 1px solid #ededed;
                    .border-box();
                    height: 32px;
                    padding: 7px 10px;
                    line-height: 12px;
                    .item-functions {
                        display: none;
                        position: absolute;
                        right: 0; top: 0;
                        li {
                            padding: 6px;
                        }
                    }
                    &:hover {
                        background: @sd-hover;
                        cursor: pointer;
                        padding-right: 40px;
                        .item-functions {
                            display: block;
                        }
                    }
                    [class^="filetype-icon-"] {
                        margin: -1px 4px 0 -4px;
                        .opacity(80);
                    }
                    p {
                        overflow: hidden;
                        height: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left: 0;
                        .keyword {
                            .text-semibold();
                            text-transform: uppercase;
                            color: #216278;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
	.package-edit-container {
        right: @tablist-width;
        border-left: 1px solid #ddd;
        background: @white;
        left: 30%;

        > .header {
            height: @nav-height;
        }

        > .content {
            position: absolute;
            top: @nav-height;
            left: 20px; right: 20px; 
            bottom: @scratchpad-closed + 20px;
            overflow: auto;
            .title {
                .text-semibold();
                padding: 10px 0 15px;
                font-size: 18px;
            }
        }

        .toggle-box h6 {
            background: @white;
        }
    }
}

.package-group-modal {
    position: absolute;
}
