<div class="sd-pagination">
    <em class="page-info" ng-show="page <= maxPage">{{'Page' | translate}} {{page}} {{'of' | translate}} {{maxPage}}</em>
    <div class="btn-group">
        <button class="btn btn-light" ng-disabled="page <= 1" ng-click="page = 1">
            <i class="icon-backward-thin"></i>
        </button>

        <button class="btn btn-light" ng-disabled="page <= 1" ng-click="page = page - 1">
            <i class="icon-chevron-left-thin"></i>
        </button>

        <button class="btn btn-light" ng-disabled="page >= maxPage" ng-click="page = page + 1">
            <i class="icon-chevron-right-thin"></i>
        </button>
        
        <button class="btn btn-light" ng-disabled="page >= maxPage" ng-click="page = maxPage">
            <i class="icon-forward-thin"></i>
        </button>
    </div>
    
</div>