// Styling for the ingest dashboard
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';


// Ingest dashboard
// -------------------------------------------------

.ingest-dashboard {
    padding: 40px;
    overflow: auto;
    .card-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .card-list > li {
        width: 240px;
        margin: 10px;
        padding: 0px;
        position: relative;
        flex: 0 0 auto;
        &:hover {
            cursor: default;
        }
        .dropdown {
            position: absolute;
            top: 7px;
            right: 1px;
            .dropdown-toggle {
                .opacity(60);
            }
            .dropdown-menu{
                &:before {
                    display: none;
                }
                width: 238px;
                .info {
                    color: @grayLight;
                    font-style: italic;
                }
                .menu-label {
                    padding-left: 6px;
                }
                > li {
                    padding-left: 10px;
                    &:last-child {
                        padding-left: 0;
                    }
                }
            }

        }
        .header {
            height: 90px;
            background: #2c2c2c;
            padding: 15px;
            color: @white;
            .border-box();
            .border-radius(2px 2px 0 0);
            .title {
                padding-bottom: 6px;
                .text-semibold();
            }
            .sub-title {
                color: @gray;
                .text {
                    color: @grayLight;
                    .text-semibold();
                }    
            }
        }
        .status {
            color: @white;
            font-size: 14px;
            padding: 10px 15px;
            height: 36px;
            .time {
                font-size: 11px;
            }
            &.opened {
                background: #107401;
            }
            &.closed {
                background: #970000;

            }
        }
        .ingested-count {
            padding: 10px 15px;
            text-align: center;
            border-bottom: 1px  solid #e3e3e3;
            .count {
                font-size: 30px;
                line-height: 34px;
                .text-bold();
            }
            .text {
                font-size: 11px;
                color: @gray;
            }
        }        
        .update-time {
            padding: 0 15px 10px 15px;
             border-bottom: 1px  solid #e3e3e3;
            .text {
                margin-top: 10px;
                font-size: 12px;
                text-transform: uppercase;   
                color: @gray;
                .text-semibold();
            }
            .time {
                font-size: 11px;
            }
        }
        .error {
            word-wrap: break-word;
            color: @red;
            padding: 5px;    
        }
        .toggle-box {
            margin: 10px;
            header {
                &:before {
                    display: none;
                }
                h6 {
                    background: none;
                }
                i {
                    .opacity(60);
                }
                .chevron {
                    background-color: #fff;
                }
            }
        }            
    }
}