// Styling for the ingest dashboard
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';


.ingest-dashboard {
    .source-list {
        li {
            padding: 0px 15px 5px 10px;
            color: #999999;
            &:first-child {
                text-transform: uppercase;
                padding-top: 10px;
            }
            &:last-child {
                padding-top: 5px;
                text-transform: uppercase;    
            }
        }
    }
}