// settings.less
// Styling for the superdesk ingest settings
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

// Ingest sources
// -------------------------------------

.provider-list {

	> li {
		.ingest-count {
			float: left;
			margin-top: 1px;
		}
		.last-updated {
			float: left;
			font-size: 12px;
			color: #777;
			padding: 0 10px;
			span {
				color: #aaa;
			}
		}
		.label.offProvider {
			font-size: 10px;
			font-weight: normal;
			padding: 0px 5px;
			line-height: 12px;
			margin-left: 5px;
		}
		.link {
			margin-right: 15px;
			font-size: 12px;
		}
	}
}

.addSource.modal {
	input {
		height: 31px;
		line-height: 19px;
		&.blue-text {
			&::-webkit-input-placeholder {
				font-style:normal !important;
			}
			&:-moz-placeholder {
				font-style:normal !important;
			}
			&::-moz-placeholder {
				font-style:normal !important;
			}
			&::-ms-input-placeholder {
				font-style:normal !important;
			}
		}
		&::-webkit-input-placeholder {
			font-style:italic;
		}
	}
	.credentials {
		margin-top: 20px;
		label {
			font-size: 16px;
		}
		input {
			float: left;
			width: 49%;
			&.first {
				margin-right: 2%;
			}
		}
	}
}

.ingestsource-modal {
	.modal-body {
		.popup-subnav {
			padding-left: 10px;
			label {
				color: #989898;
			}
			.TabContent {
				margin-bottom: 20px;
			}
			.field {
				padding-left: 10px;
				float: left;
				.field {
					padding-left: 0 !important;
				}
			}
		}
		.rss-config {
			.empty {
				width: 64px;
			}
			.btn-remove {
				padding-right: 14px;
			}
			.multiple .field {
				padding-right: 10px;
			}
		}
	}
}

// Ruleset settings
// -------------------------------------

.ruleset-modal {

	header {
		padding: 10px;
	}
	.rule-list {

		>li {
			position: relative;
			.order {
				position: absolute;
				left: 0;
				top: 0;
				line-height: 28px;
				color: #aaa;
			}
			.actions {
				position: absolute;
				right: 0; top: 0;
				button {
					border: 0;
					background: none;
				}
			}
			fieldset {
				padding: 0 40px;
				.field:first-child {
					padding-right: 3%;
				}
				.field:last-child {
					padding-left: 3%;
				}
			}
		}
	}
}

/* Scheme create/edit modal */

.add-scheme-modal {

	.modal-body {
		.split-content {
			> .header {
				padding: 10px;
				height: 78px;
			}
			> .content {
				top: 78px;
			}
		}
	}
	.col-left {
		position: absolute;
		left:0; top: 0; bottom: 0; width: 250px;
		border-right: 1px solid #e0e0e0;
		padding: 10px;
		.border-box();
	}
	.col-right {
		position: absolute;
		left:250px; top: 0; bottom: 0; right: 0;
		.border-box();
		.content {
			position: absolute;
			top: 48px; left: 0;
			right: 0; bottom: 0;
			overflow: auto;
			padding: 20px;
		}
	}
	.half-input {
		width: 60%;
	}
	.sd-typeahead {
		width: 60%;
		float: left;
		margin-right: 10px;
	}
	.general-tab {
		.summary {
			.field {
				background-color: @sd-background;
				padding: 5px;
				font-size: 12px;
				.title {
					.text-bold();
				}
			}
		}
	}

	.pills-list {
		margin-top: 10px;
		max-width: 100%;
		li {
			margin: 0 5px 5px 0;
		}
	}

	.filter-tab {
		.type-filter-box {
			.btn {
				padding: 0;
				margin-right: 10px;
			}
		}
	}

	.action-tab {
		.pills-list {
			li {
				padding-right: 35px;
			}
		}
	}

	.schedule-tab {
		.day-filter-box {
			.btn {
				margin: 4px;
				padding: 6px;
				font-size: 0.9em;
			}
		}
	}

	.add {
		margin-top: -3px;
		position: absolute;
		padding: 0;
		margin-left: 10px;
		height: 22px;
		width: 22px;
		.border-radius(50%);
		line-height: 20px;
		i {
			margin: 0;
		}
	}
}
