<!-- Top navigation bar -->
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Super Desk</a>

      <div class="nav-collapse">
        <ul class="nav main" sd-menu></ul>
        
        <ul class="nav pull-right" ng-controller="UserController">
            <li class="divider-vertical"></li>

            <li class="dropdown ipad-show">
                <a class="dropdown-toggle">
                  <span class="user-profile">{{ currentUser.username }}</span> <b class="caret"></b>
                </a>
              <ul class="dropdown-menu ">
                <li><a ng-click="logout()">{{ _("Logout") }}</a></li>
                <li><a>{{ _("Help") }}</a></li>
              </ul>
            </li>
    
            <li class="ipad-hide">
              <a href="#/my-profile" class="user-profile">{{ currentUser.username }}</a>
            </li>
            <li class="divider-vertical ipad-hide"></li>
            <li><a href="" ng-click="logout()" class="blink ipad-hide">{{ _("Logout") }}</a></li>
            <li class="divider-vertical ipad-hide"></li>
            <li><a href="#" class="ipad-hide">{{ _("Help") }}</a></li>
       
        </ul>

      </div>
    </div>
  </div>
