<div>
  <div class="navbar navbar-inverse navbar-fixed-top sf-top-menu" ng-class="{'sf-menu-open' : displayMenu}">
    <!-- Top navigation bar -->
    <div class="navbar-inner">
      <div class="container">
        
        <div class="nav-collapse">

          <div class="navigation-header">
            <span class="collapse-navigation" ng-click="toggleSideNav()">
              <i class="icon-collapse"></i>
            </span>
            <span class="navigation-selected" translate>{{ currentRoute.label }}</span>
          </div>

          <ul class="nav pull-right" ng-controller="UserController">
              <li class="divider-vertical"></li>
              <li>
                <a href="#/profile" class="user-profile"><img sd-user-avatar data-src="currentUser.Avatar.href" class="avatar"> {{ currentUser.UserName }}</a>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="" ng-click="logout()" class="blink ipad-hide blue-text" translate>Logout</a></li>
              <li class="divider-vertical"></li>
              <li ng-show=""><a href="" translate>Help</a></li>
          </ul>

        </div>

      </div>
    </div>

  </div>
  
  <div class="sf-main-menu">
    <div class="sf-menu-header-bar"></div>
    <div class="sf-menu-content">
      <ul sd-menu data-items="menu"></ul>
    </div>
    <div class="sf-menu-footer">
      <i class="icon-superdesk"></i>
      <span>Powered by Superdesk technology</span>
    </div>
  </div>

</div>