<div>
  <div class="navbar navbar-inverse navbar-fixed-top sf-top-menu" ng-class="{'sf-menu-open' : displayMenu}">
    <!-- Top navigation bar -->
    <div class="navbar-inner">
      <div class="container">
        
        <div class="nav-collapse">

          <div class="navigation-header">
            <span class="collapse-navigation" ng-click="toggleSideNav()">
              <i class="icon-collapse"></i>
            </span>
            <span class="navigation-selected" translate>{{ currentRoute.label }}</span>
          </div>

          <ul class="nav pull-right">
              
              <li>
                <a href="" ng-click="toggleBeta()">
                    <span class="version stable" ng-show="!beta" tooltip="{{'Switch to beta preview' | translate }}" tooltip-placement="left">stable</span>
                    <span class="version beta" ng-show="beta" tooltip="{{'Turn off beta' | translate }}" tooltip-placement="left">beta</span>
                </a>
              </li>
              <li class="divider-vertical"></li>
              <li>
                <a href="" ng-click="openNotifications()" class="user-profile">
                  <span sd-beta class="notifications-count">3</span>
                  <img sd-user-avatar data-src="currentUser.Avatar.href" class="avatar"> {{ currentUser.UserName }}
                </a>
              </li>
              <li class="divider-vertical"></li>
              <li ng-show=""><a href="" translate>Help</a></li>
          </ul>

        </div>

      </div>
    </div>

  </div>
  
  <div class="sf-main-menu">
    <div class="sf-menu-header-bar"></div>
    <div class="sf-menu-content">
      <ul sd-menu data-items="menu"></ul>
    </div>
    <div class="sf-menu-footer">
      <i class="icon-superdesk"></i>
      <span>Powered by Superdesk technology</span>
    </div>
  </div>

</div>