<header>
	<p class="pull-left">{{ 'Created on' | translate}} <span sd-reldate-complex ng-model="task._created"></span> {{ 'by' | translate}} {{ users[task.original_creator].display_name }}</p>
	<button ng-click="task = null" class="close-preview">
        <i class="icon-close-small"></i>
    </button>
</header>
<div class="content" ng-if="task">
	<form name="taskForm">
		<div class="action-bar clearfix" ng-class="{show: taskForm.$dirty}">
	        <button class="btn btn-info pull-right" ng-click="save(taskForm)" translate>Save</button>
	        <button class="btn pull-right" ng-click="cancel(taskForm)"  translate>Cancel</button>
	    </div>
		<div class="action-menu">
			<div class="dropdown dropdown-big pull-right">
	            <button class="dropdown-toggle condensed"><i class="icon-dots-vertical"></i></button>
	            <div class="dropdown-menu pull-right"
	                sd-activity-list
	                data-data="{item: task}"
	                data-type="task">
	            </div>
	        </div>
		</div>
		
		<ul class="task-labels clearfix">
			<li><i class="icon-desk-time"></i> {{ task.task.due_date | reldate }}</li>
		</ul>
		<div sd-assignee-view data-item="task" class="assignee"></div>

		<textarea class="title" sd-auto-height ng-model="task.slugline" placeholder="{{'Add title' | translate}}" required></textarea>
		<textarea class="description" sd-auto-height ng-model="task.description_text" placeholder="{{'Add description' | translate}}"></textarea>
	</form>

</div>