<div class="subnav subnav-fixed">
	<h3 class="page-nav-title">{{ 'Profile:'|translate }} <span>{{ user.display_name || user.username }}</span></h3>

	<p class="alert alert-success" ng-show="msg=='success'"  translate>Saved.</p>
	<p class="alert alert-info" ng-show="msg=='info'" translate>Saving...</p>
</div>

<div sd-upload-popup ></div>


<div class="my-profile-container user-details-pane">
	<div class="content">
		<div class="profile">
			<div class="profile-pic">
				<figure>
					<img src="images/sample/profileimg.jpg">
				</figure>
				<a class="change-photo" translate>Change Photo</a>
			</div>

			<div class="profile-info user-profile-edit">
				<div class="header-info">

					<button class="btn btn-info pull-right" ng-click="save.status = save()">Save</button>

					<h2>{{ user.display_name || user.username }}</h2>
					<ul class="user-roles">
						<li ng-repeat="role in user.role">{{role}}</li>
					</ul>
	            </div>
				<div class="details-info">
	              <div class="details-section">

	                <div class="details-section-header" translate>General</div>

	                <div sd-info-item>
	                  <label for="display-name" translate>display name</label>
	                  <input type="text" id="display-name" ng-model="user.display_name">
	                </div>

	                <div sd-info-item>
	                  <label for="first-name" translate>first name</label>
	                  <input type="text" id="first-name" ng-model="user.first_name">
	                </div>

					<div sd-info-item>
	                  <label for="last-name" translate>last name</label>
	                  <input type="text" id="last-name" ng-model="user.last_name">
	                </div>

	                <div sd-info-item>
	                  <label for="username" translate>username</label>
	                  <input type="text" id="username" class="info-value info-editable" ng-model="user.username" readonly="readonly">
	                </div>

	                <div sd-info-item>
	                  <label for="email">email</label>
	                  <input type="text" id="email" ng-model="user.email">
	                </div>

	                <div sd-info-item class="password">
	                  <label for="password" translate>password</label>
	                  <input type="password" id="password" ng-model="user.password">
	                </div>

	                <div sd-info-item>
	                  <label for="created" translate>member since</label>
	                  <span class="info-value" sd-reldate ng-model="user.created"></span>
	                </div>

	                <div sd-info-item>
	                  <label for="company">company</label>
	                  <input type="text" id="company" ng-model="user.user_info.company">
	                </div>

	                </div>
	              </div>
	          </div>
			</div>
		</div>

		<div class="profile-activity-container">
			<div sd-activity-feed ng-model="user"></div>
		</div>
	</div>
</div>