<div class="upload-avatar modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 translate>Upload avatar</h3>
            </div>
            <div class="modal-body">
                <div sd-uploader></div> 
            </div>
        
            <div class="modal-footer">
                <button type="submit" class="btn" translate ng-click="close()">Cancel</button>
                <button type="submit" class="btn btn-primary" translate ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>