<div class="subnav subnav-fixed" sd-workflow>

    <div class="button-stack">
        <a class="navbtn navbtn-info" href="">
            <i class="arrow-icon-left"></i>
        </a>
    </div>


    <div class="button-stack right-stack">
    	<a class="navbtn navbtn-info" href="" ng-click="openUpload()">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Upload media</span>
        </a>
        <a class="navbtn navbtn-info" ng-class="{active: isActive}" href="" ng-click="next()">
            <i class="arrow-icon-right"></i>
        </a>
    </div>

</div>

<div sd-media-view data-item="viewItem" data-items="items" ng-if="viewItem"></div>

<section sd-sidebar-layout class="archive main-section">
    <div class="archive-content-topnav">
        <ul class="basket-tabs pull-left clearfix">
            <li><a href="" class="active">Basket one <b>(108)</b></a></li>
            <li><a href="">Basket two <b>(223)</b><i>19</i></a></li>
            <li><a href="">Basket three <b>(141)</b><i>23</i></a></li>
        </ul>

        <div class="flat-field dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu sf-dropdown sf-right">
                <li><a href="" ng-click="view='mgrid'"><i class="icon-th"></i> {{ 'grid view' | translate}}</a></li>
                <li><a href="" ng-click="view='mlist'"><i class="icon-th-list"></i> {{ 'list view' | translate}}</a></li>
                <li><a href="" ng-click="view='compact'"><i class="icon-th-list"></i> {{ 'compact view' | translate}}</a></li>
                <li><a href="" ng-click="view='stats'"><i class="icon-signal"></i> {{ 'statistics' | translate}}</a></li>
            </ul>
        </div>

        <div class="flat-field pull-right">
            <a href=""><i class="icon-plus"></i></a>
        </div>
    </div>

    <div class="archive-content-subnav" ng-show="view !== 'stats'">
        <div sd-searchbar></div>
        <div sd-pagination data-total="items.hits.total" data-limit="25"></div>
    </div>

    <div class="preview-layout">
        <div class="archive-content-inner list-pane {{ view }}-view"
            ng-if="view !== 'stats'"
            sd-list-view
            data-adapter="items"
            data-select="preview(item)"
            data-extras="{view: view}"
            sd-shadow
        >
            <div sd-media-box></div>
        </div>

        <div class="preview-pane item-preview">
            <div class="actions" ng-if="previewItem">
                <a ng-href="" ng-click="display(previewItem)" class="btn btn-light pull-right"><i class="icon-search"></i></a>
                <div class="close" ng-click="preview(null)"><i class="icon-remove"></i></div>
            </div>
            
            <div ng-if="previewItem">
                <div sd-media-preview data-item="previewItem"></div>
            </div>
            
        </div>
    </div>
</section>