<div class="modal lightbox-preview">
    <section class="lightbox-top">
        <a ng-show class="btn btn-inverse" href="" ><i class="icon-pencil icon-white"></i> {{ 'Edit'|translate }}</a>
        <a ng-show class="btn btn-inverse" href="" ><i class="icon-download-alt icon-white"></i> {{ 'Download'|translate }}</a>
        <a ng-show class="btn btn-inverse" href="" ><i class="icon-trash icon-white"></i> {{ 'Delete'|translate }}</a>

        <a class="lightbox-close" href="" ng-click="item = null"><i class="icon-close-small icon-white"></i></a>
    </section>

    <!-- preview pane -->

        <div ng-class="{'lightbox-composite-preview' : item.type == 'composite'}">

            <section class="lightbox-left">

                <!-- picture preview -->
                <div class="lightbox-large-preview" sd-item-rendition data-item="item" data-rendition="baseImage"></div>
                <div class="lightbox-caption">{{ item.headline }}</div>

                <!-- text preview -->
                <div class="lightbox-paper" ng-show="item.type == 'text'">
                    <div class="lightbox-text">
                        <div class="lightbox-title">{{ item.headline }}</div>
                        <div class="lightbox-fulltext">
                            <small ng-show="item.slugline">{{ item.slugline || item.headline }}</small>
                            <div ng-show="item.body_html" class="lightbox-fullcontent" sd-html-preview="item.body_html"></div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    <!-- end of preview pane -->

    <section class="lightbox-right">
        <header>
            <h5 class="lightbox-title">{{ item.headline }}</h5>
            <span class="lightbox-modified-info">{{ 'Created:'|translate }} {{ item.firstcreated|date:'medium' }}</span>
            <span class="lightbox-modified-info">{{ 'Modified:'|translate }} {{ item.versioncreated|date:'medium' }}</span>
            
            <span class="lightbox-media-type filetype-icon-{{item.type}}"></span>

            <div class="lightbox-actions">
                <button class="btn pull-left" ng-show><i class="icon-list-alt"></i> {{ 'Edit metadata'|translate }}</button>
                <div class="btn-group pull-right">
                    <button class="btn" ng-click="prev()" ng-disabled="!prevEnabled" translate>previous</button>
                    <button class="btn" ng-click="next()" ng-disabled="!nextEnabled" translate>next</button>
                </div>
            </div>
            
        </header>
        <div class="lightbox-media-data" >
            <div class="lightbox-descritpion">
            </div>
            <div class="tabmodule" ng-class="{'tabmodule-open':toggleDetails}" ng-init="toggleDetails=false">
                <div class="tabmodule-header" ng-click="toggleDetails=!toggleDetails">
                    <i class="icon-chevron-down toggle-module-close" ng-show="toggleDetails"></i>
                    <i class="icon-chevron-right toggle-module-open" ng-show="!toggleDetails"></i>
                    <span class="tabmodule-title" translate>Details</span>
                </div>
                <div ng-show="toggleDetails">
                    <dl class="metadata-details-new clearfix">
                        <dt translate>GUID</dt><dd>{{ item.guid }}</dd>
                        <dt translate>provider</dt><dd>{{ item.provider }}</dd>
                        <dt translate ng-show="item.version">version</dt><dd ng-show="item.version">{{ item.version }}</dd>
                        <dt translate ng-show="item.byline">by</dt><dd ng-show="item.byline">{{ item.byline }}</dd>
                    </dl>
                    <dl class="metadata-details-new clearfix">
                        <dt translate>aperture</dt><dd>{{ item.FileMeta.Aperture }}</dd>
                        <dt translate>exposure time</dt><dd>{{ item.FileMeta['Exposure time'] }}</dd>
                        <dt translate>focal length</dt><dd>{{ item.FileMeta['Focal length'] }}</dd>
                        <dt translate>iso</dt><dd>{{ item.FileMeta['ISO speed'] }}</dd>
                        <dt translate>flash</dt><dd>{{ item.FileMeta.Flash }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
</div>