<div class="widget-config">
    <form class="form-horizontal">
        <fieldset>
            <div class="field">
                <label translate>Widget label</label>
                <div class="control">
                    <input type="text" ng-model="configuration.label">
                </div>
            </div>

            <div class="field">
                <label translate>Search</label>
                <div class="control" sd-saved-search-select>
                    <select class="input-medium"
                        ng-model="configuration.savedSearch"
                        ng-options="item.name for item in searches track by item._id">
                        <option value="" translate>Choose saved search</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label>{{'Number of items'|translate}}</label>
                <div class="control">
                    <select ng-model="configuration.maxItems" class="input-mini">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>