<div class="split-content">
  <div class="header">
    <h2 translate>Templates</h2>
    <button class="btn btn-info pull-right" ng-click="edit()">
      <i class="icon-plus-sign icon-white"></i> <span translate>Add New Template</span>
    </button>
  </div>

  <div class="content">
    <ul class="pills-list provider-list">
      <li ng-repeat="template in content_templates._items" class="clearfix">
        <div class="header">
          <h6>{{ template.template_name }}</h6>
          <div class="actions">
            <button ng-click="edit(template)" title="{{:: 'Edit Template' | translate }}"><i class="icon-pencil"></i></button>
            <button ng-click="remove(template)" title="{{:: 'Remove Template' | translate }}"><i class="icon-trash"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div sd-modal data-model="template" class="modal-responsive">
  <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
    <h3 translate ng-show="template._id" translate>Edit Template "{{ origTemplate.template_name }}"</h3>
    <h3 translate ng-hide="template._id" translate>Add New Template</h3>
  </div>
  <div class="modal-body">
    <form name="templateForm">
    <div class="main-article">
      <div class="fieldset">
        <div class="field">
            <label for="template-name" translate>Template Name</label>
            <input id="template-name" required
              ng-model="template.template_name">
        </div>
        <div class="field">
            <label for="template-type" translate>Template Type</label>
            <select id="template-type" required
              ng-model="template.template_type"
              ng-options="type._id as type.label for type in types"></select>
        </div>
        <div class="field">
              <label for="template-desk" translate>Desk</label>
              <div class="control">
                  <select id="template-desk" ng-model="template.template_desk" ng-options="desk._id as desk.name for desk in desks._items">
                      <option value="" translate>None</option>
                  </select>
              </div>
          </div>

      </div>
      <div class="fieldset" sd-article-edit></div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
    <button class="btn btn-primary"
      ng-click="save()"
      ng-disabled="templateForm.$invalid"
      translate>Save</button>
  </div>
</div>
