// planning.less
// Styling for the superdesk content planing modules
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.planning {	//page styles

	.add-item {
		background: #fff;
		border: 2px solid #c0c0c0 !important;
		padding: 10px 10px 8px;
		.border-radius(3px);
		border: 0;
		display: block;
		width: 100%;
		text-align: left;
		height: 40px;
		color: #333;
		font-size: 14px;
		line-height: 20px;
		.transition(all 0.2s ease);
		&:hover {
			.box-shadow(inset 0 50px 0 0 #828282);
		}
		&:focus {
			.box-shadow(none) !important;
			border-color: #aaa !important;
		}
	}

	.task-label {
	 	float: left;
	    margin-right: 4px;
	    background: #eee;
	    .border-radius(3px);
	    height: 18px;
	    line-height: 18px;
	    color: #333;
	    padding: 2px 5px;
	    font-size: 11px;
	    i {
	       margin-right: 3px;
	      .opacity(80);
	      vertical-align: text-top;
	    }
	}


	.items-list {
		margin-top: 15px;
		.planning-item {
			.header {
				min-height: 24px;
				margin-bottom: 8px;
				.assignee {
					.clearfix();
					margin-right: 6px;
					float: left;
				}
				h6 {
					color: #444;
					font-size: 13px;
					text-transform: none;
					line-height: 24px;
				}
			}
			.info {
				.clearfix();
				span {
					.task-label;
				}
			}
			
		}
	} //list view


	.preview-pane {
		.more-actions {
			.dropdown-toggle {
				border: 0;
				background:none;
				i {
					vertical-align: sub;
				}
			}
		}

		.content {

			.shadow-list-holder {
				padding: 15px 20px 40px 20px;
			} 
			
			.labels-info {
				.clearfix();
				span {
					.task-label;
				}
			}
			.action-buttons {
				position: absolute;
				top: -80px;
				right: 0;
				height: 37px;
				background: #fff;
				box-sizing: border-box;
				padding: 4px 5px 0 0;
				.transition(top ease 0.2s);
				&.show {
					top:-40px;
				}
			}

			textarea {
				height: 32px;
				border-color: #fff !important;
				&:hover {
					border-color: #ddd !important;
				}
				&:focus {
					border-color: #ddd !important;
					.box-shadow(none) !important;
				}
			}

			.title {
				font-size: 16px;
				.text-semibold();
				line-height: 24px;
				color: #444;
				margin: 0 0 15px 0;
			}

			.description {
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 22px;
				color:#444;
			}
			.coverage-box {
				position: relative;
				.toggle-add {
					position: absolute;
					right: 0;
					top:0;
					z-index: 1;
					border: 0;
					background: #fff;
					i {
						margin-right: 5px;
						margin-top: -3px; 
					}
					span {
						display: none;
					}
					&:hover {
						span {
							display: inline-block;
						}
					}
				}
			}
			.toggle-box {
				h6 {
					background: #fff;
					padding: 0 10px 0 5px;
					text-transform: none;
					font-size: 18px;
					.text-normal();
				}
				i {
					vertical-align: text-top;
				}
			}

			.coverage {
				margin: 10px 0;
				.info {
					background: #ececec;
					padding: 10px;
					.border-radius(2px);
					position: relative;
					.clearfix();
				}
				.assignee-box {
					width: 32px;
					
					float: left;
					margin-right: 10px;
				}
				.assignee-name {
					font-size: 12px;
					color: #939393;
				}
				.coverage-type {
					margin-left: 42px;
					margin-top: -2px;
					> button {
						border: 0;
						background: none;
					}
					.dropdown-toggle {
						color: #000 !important;
						font-size: 13px;
						padding: 0;
						.caret {
							margin-left: 5px;
						}
					}
				}
				.more-actions {
					position: absolute;
					right: 15px; top: 20px;
					.dropdown-menu {
						right: -15px;
						i {
							vertical-align: sub;
						}
					}
				}
				.description {
					font-size: 13px;
					margin-top: 5px; 
				}
			}
		}

	}
}


.assignee-focus {
	&:focus {
		outline: none;
		.assignee-box {
			.box-shadow(inset 0 0 10px #ccc);
		}
	}
}
.assignee-box {
	height: 32px;
	margin: 0;
	background: #eaeaea;
	padding: 8px;
	.border-radius(4px);

	.assignee {
		position: relative;
		float: left;
		margin-right: 10px;
		.toggle {
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			padding: 0;
			display: block;
			position: relative;
			background: none !important;
			.add {
				.border-radius(50%);
				background-color: #212121;
				.transition(all ease 0.2s);
				width: 30px;
				height: 30px;
				.scale(0);
				position: absolute;
				top: 0; left: 0;
				.opacity(90);
				i {
					vertical-align: text-top;
				}
			}
			&:hover {
				cursor: pointer;
				.add {
					.scale(1);
				}
			}
		}
		.tooltip {
			top:-3px;
			left:30px;
			.tooltip-arrow {
				top: 19px;
			}
			.tooltip-inner {
				text-align: left;
				min-height: 20px;
				p {
					white-space: nowrap;
					line-height: 16px;
					font-size: 11px;
					margin: 0;
					&.dark {
						font-size: 10px;
						color: #a4a4a4;
					}
					&.name {
						.text-semibold();
					}
				}
				&.simple {
					p {
						line-height: 20px;
					}
				}
			}
		}
		&.open {
			.toggle {
				.add {
					background-color: #67b461;
					.scale(1);
				}
			}
		}
		> .dropdown-content {
			position: absolute;
			top: -16px;
			left: 45px;
			width: 290px;
			padding: 10px;
			z-index: 1;
			background-color: @dropdownBackground;
			border: @dropdownBorder;
			.box-shadow(0 3px 5px rgba(0,0,0,.2));
			.border-radius(3px);

			&:before {
				width: 15px;
				height: 22px;
				display: block;
				z-index: 100;
				position: absolute;
				left: -15px;
				top: 18px;
				background: url(../../images/dropdown-arrow-side.png) no-repeat;
				content: " ";
			}

			.desk-select {
				margin-bottom: 10px;
				.dropdown-toggle {
					width: 100%;
					text-align: left;
					background: #ededed;
					padding: 5px 10px;
					.border-radius(2px);
				}
				&.open {
					.dropdown-toggle {
						background: #e0e0e0;
					}
				}
				.caret {
					float: right;
					margin-top: 8px;
				}
				.dropdown-menu {
					right: 0;
					padding: 5px 5px 10px;
					ul {
						max-height: 180px;
						overflow: auto;
							li {
							margin-right: 5px;
						}
					}
					
				}
			}

			.user-select {
				height: 196px;
			}

			form {
				margin: 0;
				label {
					font-size: 13px;
					color: #7e7e7e;
				}
				input {
					width: 100%;
					background: #fff url('../../images/search-icon.png') no-repeat 5px 5px;
					padding-left: 25px;
				}
			}

			.search-result {
				height: 136px;
				margin: 10px 0;
				ul {
					max-height: 136px;
					overflow: auto;
					li {
						position: relative;
						i {
							position: absolute;
							right: 9px;
							top: 9px;
						}
					}
				}
			}

			.footer {
				background: #f8f8f8;
				border-top: 1px solid #e8e8e8;
				padding: 10px;
				margin: 0 -10px -10px;
				.clearfix();
				.border-radius(0 0 5px 5px);

				.clear {
					color: @sd-blue;
					line-height: 26px;
					&:hover {
						color: darken(@sd-blue, 10%);
						cursor: pointer;
					}
				}
			}

		}
	}
	.assignee-name {
		line-height: 32px;
	}
}