// planning.less
// Styling for the superdesk content planing modules
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.planning {	//page styles

	.add-item {
		background: #fff;
		border: 2px solid #c0c0c0 !important;
		padding: 10px 10px 8px;
		.border-radius(3px);
		border: 0;
		display: block;
		width: 100%;
		text-align: left;
		height: 40px;
		color: #333;
		font-size: 14px;
		line-height: 20px;
		.transition(all 0.2s ease);
		&:hover {
			.box-shadow(inset 0 50px 0 0 #828282);
		}
		&:focus {
			.box-shadow(none) !important;
			border-color: #aaa !important;
		}
	}

	.task-label {
	 	float: left;
	    margin-right: 4px;
	    background: #eee;
	    .border-radius(3px);
	    height: 18px;
	    line-height: 18px;
	    color: #333;
	    padding: 2px 5px;
	    font-size: 11px;
	    i {
	       margin-right: 3px;
	      .opacity(80);
	      vertical-align: text-top;
	    }
	}


	.items-list {
		margin-top: 15px;
		.planning-item {
			padding: 10px;
			border: 1px solid #fff;
			border-bottom-color: #dfdfdf;
			background: #fff;
			.border-radius(3px);
			margin-bottom: 6px;
			.header {
				min-height: 24px;
				margin-bottom: 8px;
				.assignee {
					.clearfix();
					margin-right: 6px;
					float: left;
				}
				h6 {
					color: #444;
					font-size: 13px;
					text-transform: none;
					line-height: 24px;
				}
			}
			.info {
				.clearfix();
				span {
					.task-label;
				}
			}
			&:hover {
				cursor: pointer;
				.box-shadow(0 0px 0px 1px #ddd);
			}
		}
	} //list view


	.preview-pane {
		.more-actions {
			.dropdown-toggle {
				border: 0;
				background:none;
				i {
					vertical-align: sub;
				}
			}
		}
		.header {
			.box-sizing(border-box);
			height: 38px;
			line-height: 38px;
			padding-left: 20px;
			border-bottom: 1px solid #ededed;
			.time-info {
				font-size: 12px;
				color: #a1a1a1;
				display: inline-block;
			}
			.dropdown {
				float: right;
				border-left: 1px solid #ededed;
				.dropdown-toggle {
					display: block;
					width: 51px;
					height: 38px;
					&:hover {
						background: #e0e0e0;
					}
				}
				&.open {
					.dropdown-toggle {
						background: #e0e0e0;
					}
				}
			}
		}

		.content {
			position: absolute;
			top: 40px; bottom: 0;
			left: 0; right: 0;
			padding: 15px 20px 40px 20px; 
			
			.labels-info {
				.clearfix();
				span {
					.task-label;
				}
			}
			.action-buttons {
				position: absolute;
				top: -80px;
				right: 0;
				height: 37px;
				background: #fff;
				box-sizing: border-box;
				padding: 4px 5px 0 0;
				.transition(top ease 0.2s);
				&.show {
					top:-40px;
				}
			}

			textarea {
				height: 32px;
				border-color: #fff !important;
				&:hover {
					border-color: #ddd !important;
				}
				&:focus {
					border-color: #ddd !important;
					.box-shadow(none) !important;
				}
			}

			.title {
				font-size: 16px;
				.text-semibold();
				line-height: 24px;
				color: #444;
				margin: 0 0 15px 0;
			}

			.description {
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 22px;
				color:#444;
			}
			.coverage-box {
				position: relative;
				.toggle-add {
					position: absolute;
					right: 0;
					top:0;
					z-index: 1;
					border: 0;
					background: #fff;
					i {
						margin-right: 5px;
						margin-top: -3px; 
					}
					span {
						display: none;
					}
					&:hover {
						span {
							display: inline-block;
						}
					}
				}
			}
			.toggle-box {
				h6 {
					background: #fff;
					padding: 0 10px 0 5px;
					text-transform: none;
					font-size: 18px;
					.text-normal();
				}
				i {
					vertical-align: text-top;
				}
			}

			.coverage {
				margin: 10px 0;
				.info {
					background: #ececec;
					padding: 10px;
					.border-radius(2px);
					position: relative;
					.clearfix();
				}
				.assignee-box {
					width: 32px;
					height: 32px;
					float: left;
					margin-right: 10px;
				}
				.assignee-name {
					font-size: 12px;
					color: #939393;
				}
				.coverage-type {
					margin-left: 42px;
					margin-top: -2px;
					> button {
						border: 0;
						background: none;
					}
					.dropdown-toggle {
						color: #000 !important;
						font-size: 13px;
						padding: 0;
						.caret {
							margin-left: 5px;
						}
					}
				}
				.more-actions {
					position: absolute;
					right: 15px; top: 20px;
					.dropdown-menu {
						right: -15px;
						i {
							vertical-align: sub;
						}
					}
				}
				.description {
					font-size: 13px;
					margin-top: 5px; 
				}
			}
		}

	}
}

.assignee {
	position: relative;
	.toggle {
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		padding: 0;
		display: block;
		position: relative;
		background: none !important;
		.add {
			.border-radius(50%);
			background-color: #212121;
			.transition(all ease 0.2s);
			width: 30px;
			height: 30px;
			.scale(0);
			position: absolute;
			top: 0; left: 0;
			.opacity(90);
		}
		&:hover {
			cursor: pointer;
			.add {
				.scale(1);
			}
		}
	}
	.tooltip {
		top:-3px;
		left:30px;
		.tooltip-arrow {
			top: 19px;
		}
		.tooltip-inner {
			text-align: left;
			min-height: 20px;
			p {
				white-space: nowrap;
				line-height: 16px;
				font-size: 11px;
				margin: 0;
				&.dark {
					font-size: 10px;
					color: #a4a4a4;
				}
				&.name {
					.text-semibold();
				}
			}
			&.simple {
				p {
					line-height: 20px;
				}
			}
		}
	}
	&.open {
		.toggle {
			.add {
				background-color: #67b461;
				.scale(1);
			}
		}
	}
	> .dropdown-content {
		position: absolute;
		top: -16px;
		left: 45px;
		width: 290px;
		padding: 10px;
		z-index: 1;
		background-color: @dropdownBackground;
		border: @dropdownBorder;
		.box-shadow(0 3px 5px rgba(0,0,0,.2));
		.border-radius(3px);

		&:before {
			.rotate(-90deg);
			width:23px;
			height:16px;
			display: block;
			z-index: 100;
			position: absolute;
			left: -19px;
			top: 22px;
			background: url(../../images/dropdown-arrow-top.png) no-repeat;
			content: " ";
		}

		.desk-select {
			margin-bottom: 10px;
			.dropdown-toggle {
				width: 100%;
				text-align: left;
				background: #ededed;
				padding: 5px 10px;
				.border-radius(2px);
			}
			&.open {
				.dropdown-toggle {
					background: #e0e0e0;
				}
			}
			.caret {
				float: right;
				margin-top: 8px;
			}
			.dropdown-menu {
				right: 0;
				padding: 5px 5px 10px;
				ul {
					max-height: 180px;
					overflow: auto;
						li {
						margin-right: 5px;
					}
				}
				
			}
		}

		form {
			margin: 0;
			label {
				font-size: 13px;
				color: #7e7e7e;
			}
			input {
				width: 100%;
				background: #fff url('../../images/search-icon.png') no-repeat 5px 5px;
				padding-left: 25px;
			}
		}

		.search-result {
			height: 136px;
			margin: 10px 0;
			ul {
				max-height: 136px;
				overflow: auto;
				li {
					height: 32px;
					line-height: 32px;
					margin-right: 5px;
					.avatar {
						margin: 4px 10px 4px 4px;
					}
					&:hover {
						background: @sd-hover;
						cursor: pointer;
					}
				}
			}
		}

		.footer {
			background: #f8f8f8;
			border-top: 1px solid #e8e8e8;
			padding: 10px;
			margin: 0 -10px -10px;
			.clearfix();
			.border-radius(0 0 5px 5px);
		}

	}
}