@import 'mixins.less';
@import 'variables.less';

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}
ol.linenums li .pln:first-child {
    // width: 0;
    display: inline-block;
}
ol.linenums li:last-child {
    display: none;
}

#documentation {
    code {
        padding: 0px 4px;
        margin: 0 2px;
        white-space: nowrap;
        border: 1px solid #e7dab2;
        background: #f3eedf;
        color: #2b230b;
        border-radius: 2px;
    }
    .badge {
        padding: 3px 7px;
        border-radius: 2px;
        background: #4285f4;
        color: #fff;
        font-weight: bold;
    }
    .docs-header {
        text-shadow: 0 1px 0 #fff;
        border-bottom: 1px solid #e0e0e0;
        background-color: #f3f3f3;
        background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
        background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
        background-image: linear-gradient(#f9f9f9, #f3f3f3);
        background-repeat: repeat-x;
        height: 45px;
        position: fixed;
        left: 0; right: 0; top: 0;
        z-index: 10;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 0 4px 0 #d0d0d0;
        h1 {
            font-size: 16px;
            font-weight: 400;
            color: #787878;
            float:left;
            line-height: 30px;
            margin: 8px 0 0 10px;
            span{
                color:#009360;
                font-weight: 600;
            }
        }
        nav {
            margin-left: 100px;
            height: 45px;
            line-height: 45px;
            float: left;
            a {
                margin-right: 20px;
                font-size: 13px;
                font-weight: 600;
                color: #444;
                text-decoration: none;
                text-shadow: 1px 1px 1px #fff;
                &.active {
                    font-weight: 700;
                }
                &:hover {
                    color: #888;
                }
            }
        }
    }
    .docs-content-left {
        position: fixed;
        left: 0; bottom: 0; top: 45px;
        width: 250px;
        border-right: 1px solid #e5e5e5;
        z-index: 9;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        h1 {
            padding: 5px 15px;
            border-bottom: 1px solid #e5e5e5;
            font-size: 13px;
            color:#989898;
            text-transform: uppercase;
        }
    }
    .docs-content-main {
        position: fixed;
        bottom: 0; right: 0; top: 45px; left:250px;
        z-index: 8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        background: #fff;
        &.classic-page {
           bottom: 0; right: 0; top: 45px; left:0;
        }
    }
    .classic-page .docs-content-scroller {
        max-width: 900px;
        margin: 20px auto;
    }
    .docs-topic-list {
        li {
            a {
                padding: 10px 15px;
                border-bottom: 1px solid #e5e5e5;
                color : #666;
                font-size: 13px;
                display: block;
                cursor: pointer;
                &:hover {
                    background: #fcf8e9;
                    text-decoration: none;
                }
            }
        }
    }
    .docs-content-scroller {
        position: absolute;
        bottom: 0; right: 0; top: 0; left:0;
        padding: 20px;
        z-index: 8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
    }
    pre {
        margin: 5px 0;
    }
    .docs-main-list {
        > li {
            margin-bottom: 30px;
            p {
                font-size: 14px;
                code {
                    font-size: 13px;
                }
            }
        }
        .link-holder {
            margin-bottom: 20px;
            display: block;
            height: 1px;
        }
        .docs-title {
            font-weight: 700;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #d0d0d0;
            font-size: 24px;
            line-height: 30px;
            color:#444;
        }
        .docs-subtitle {
            font-weight: 600;
            padding-bottom: 8px;
            margin-bottom: 15px;
            margin-top: 30px;
            border-bottom: 1px solid #d0d0d0;
            font-size: 18px;
            line-height: 25px;
            color:#333;
        }
    }
    .docs-preview {
        margin: 15px 0;
        .preview-area{
            border: 1px solid #ccc;
            border-bottom: 0;
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            background: #fff;
            padding: 10px;
        }
         pre {
            margin-top: 0;
            border-radius:  5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px ;
            -webkit-border-radius: 5px 5px 5px 5px ;
            border: 1px solid #d0d0d0;
            padding: 10px 0;
            background: #f8f8f8;
        }
        .preview-area + pre {
            border-radius:  0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px ;
            -webkit-border-radius: 0 0 5px 5px ;
        }
    }
    .description-list {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 300px;
            max-width: 25%;
            flex: 0 0 auto;
            padding: 0 15px 15px 0;
            .border-box();
            img {
                margin-bottom: 10px;
                .border-radius(3px);
                max-width: 100%;
            }
            p {
                padding: 0 2px 7px 2px;
                line-height: 22px;
            }
        }
    }
    .simple-list {
        li {
            line-height: 22px;
        }
    }
    .docs-navbar {
        padding: 10px 20px !important;
        min-height: 28px;
    }
    .avatar-docs {
        .avatar-types {
            .preview-area {
                > div {
                    margin-bottom: 12px;
                    .clearfix();
                    > figure {
                        margin-right: 10px;
                    }
                    > span {
                        vertical-align: sub;
                    }
                }
            }
        }
    }
    .iconFont-list {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 240px;
            max-width: 25%;
            flex: 0 0 auto;
            padding: 10px 0;
            margin: 0 40px 30px 20px;
            .border-box();
            .box-shadow(inset 0 -1px #e7e7e7);
            span {
                font-size: 16px;
            }
            i {
                vertical-align: text-bottom;
                margin-right: 12px;
            }
        }
    }
    form {
        fieldset {
            .field {
                > .inline-label {
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}