<div class="field" ng-class="{'limit-error': item.headline.length > limits.headline}">
	<label translate>Headline</label>
    <span sd-character-count data-item="item.headline" data-html="true" data-limit="limits.headline"></span>
    <div id="title" class="headline"
        sd-text-editor
        data-config="{disableToolbar: true, disableReturn: true}"
        data-language="item.language"
        ng-model="item.headline"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
	<div class="headline" ng-if="!_editable">{{item.headline}}</div>
</div>

<div class="field" class="abstract" ng-class="{'limit-error': item.abstract.length > limits.abstract}">
	<label translate>Abstract</label>
    <span sd-character-count data-item="item.abstract" data-html="true" data-limit="limits.abstract"></span>
    <div id="abstract" class="abstract"
        sd-text-editor
        data-config="{disableToolbar: true}"
        data-language="item.language"
        ng-model="item.abstract"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></div>
	<div class="abstract" ng-if="!_editable">{{item.abstract}}</div>
</div>

<div class="field">
  <label translate>By</label>
  <input type="text"
         class="byline"
         id="byline"
         ng-model="item.byline"
         ng-change="autosave(item)"
         ng-if="_editable"
         >
  <div ng-if="!_editable">{{item.byline}}</div>
</div>

<div class="field">
    <label translate>Dateline</label>
    <div sd-meta-locators class="dateline-info" ng-show="_editable && !proofread"
         data-list="metadata.cities" data-item="item" data-fieldprefix="dateline" data-field="located"
         data-postprocessing="updateDateline(item, city)" data-change="autosave(item)">
    </div>
    <div class="dateline-info" ng-show="_editable && !proofread"> {{item._datelinedate}} </div>

    <div ng-show="!_editable || proofread">{{ item.dateline.text }}</div>
</div>

<div class="field body" ng-if="!isMediaType">
	<label translate>Body</label>
    <span sd-word-count data-item="item.body_html" data-html="true"></span>
    <div id="bodyhtml" sd-text-editor
        ng-model="item.body_html"
        ng-if="_editable"
        ng-change="autosave(item)"
        data-language="item.language"
        data-type="item.type"></div>
    <div class="text-editor" sd-html-preview="item.body_html" ng-if="!_editable"></div>
</div>

<div ng-if="isMediaType" class="field abstract">
  <label translate>Description</label>
  <textarea class="abstract"
        sd-auto-height
        ng-model="item.description"
        ng-change="autosave(item)"
        ng-if="_editable"
        ng-trim="false"></textarea>
	<div class="abstract" ng-if="!_editable">{{item.description}}</div>
</div>

<div class="field" ng-if="isMediaType">
  <div class="full-preview" ng-if="item.type == 'picture'" sd-ratio-calc>
    <div class="rendition" sd-item-rendition data-item="item" data-ratio="ratio" data-rendition="baseImage"></div>
  </div>
  <div ng-if="item.type == 'audio'">
    <audio controls="controls" sd-sources data-renditions="item.renditions"></audio>
  </div>

  <div ng-if="item.type == 'video'">
    <video controls="controls" sd-sources data-renditions="item.renditions"></video>
  </div>
</div>

<div class="composite-preview" ng-if="item.type === 'composite'">
    <div sd-package data-item="item"></div>
</div>
