<div sd-authoring class="auth-screen" ng-if="origItem">
    <div sd-authoring-topbar></div>
    <section class="main-section" ng-class="{'auth-sendto': views.send, 'packaging-screen': item.type === 'composite'}">
        <div sd-authoring-widgets data-item="item">
            <div class="authoring-sticky">
                <div class="authoring-sticky__detailed">
                    <label translate>Created</label><time sd-datetime data-date="item.firstcreated"></time>
                    <label ng-if="userLookup[item.original_creator]" translate>by</label><b>{{userLookup[item.original_creator].display_name}}</b>
                    <div ng-if="item.versioncreated">
                        <label translate>Modified</label>
                        <time sd-datetime data-date="item.versioncreated"></time>
                    </div>
                </div>

                <div class="authoring-sticky__theme-controls pull-right">
                    <button class="proofread-toggle btn"
                            ng-class="{active: proofread}"
                            ng-click="proofread = !proofread"
                            title="{{:: 'Toggle theme' | translate}}">
                        <i class="icon-adjust"></i>
                    </button>
                    <span sd-theme-select ng-if="proofread" data-key="proofreadTheme"></span>
                    <span sd-theme-select ng-if="!proofread" data-key="theme"></span>
                </div>
            </div>
            
            <div class="page-content-container" ng-click="views.send = false">
                <header sd-authoring-header class="authoring-header" ng-class="{active: !toggleHeader}"></header>

                <article class="theme-container " ng-class="{preview: !_editable}">                   
                    <div ng-if="item.type !== 'composite'" class="fieldset" sd-article-edit></div>
                    <div ng-if="item.type === 'composite'" sd-package-edit></div>
                </article>
            </div>
        </div>
    </section>

    <div sd-send-item
        id="send-item-container"
        ng-if="views.send"
        data-item="item"
        data-view="views.send"
        data-before-send="beforeSend"
        data-editable="_editable"
        data-publish="publish"
        data-action="action"
        data-mode="authoring">
    </div>

</div>
