<div class="authoring-header__holder" ng-controller="MetadataWidgetCtrl" ng-if="loaded">
    <div class="authoring-header__general-info">
        <div>
            <i class="filetype-icon-{{ :: item.type }}" title="{{ :: 'Article Type' | translate }}"></i>
        </div>
        <div ng-if="item.profile">
            <label translate>PROFILE</label>
            <div class="data">{{ :: item.profile }}</div>
        </div> 
        <div ng-if="item.type === 'text'">
            <label class="word-count"><b>{{ item.word_count || 0 }}</b> <span translate translate-n="item.word_count" translate-plural="WORDS">WORD</span></label>
        </div>
        <div ng-if="item.signal">
            <span class="signal">{{ item.signal}}</span>
        </div>
        <div>
            <label translate>SOURCE</label>
            <div class="data" sd-meta-ingest data-item="item"></div>
        </div>
        <div>
            <label translate>RELATED</label>
            <div class="data"><a href="" ng-click="activateWidget()">{{relatedItems._items.length}}</a></div>
        </div>
        <div>
            <span class="state-label legal" ng-if="item.flags.marked_for_legal" translate>Legal</span>
            <span class="state-label not-for-publication" ng-if="item.flags.marked_for_not_publication" translate>Not For Publication</span>
        </div>
        <div ng-if="item.broadcast.master_id">
            <label ng-class="{'broadcast-status': item.broadcast.status !== ''}" tooltip="{{item.broadcast.status}}"><span translate>MASTER</span><b ng-if="item.broadcast.status"> !</b></label>
            <div class="data"><a id="preview-master" ng-click="previewMasterStory()" title="{{ :: 'Preview master story' | translate }}"
            class="open-item"><i class="icon-external"></i></a></div>
        </div>
    </div>

    <div class="authoring-header__detailed" sd-media-query min-width="550">
        <div class="authoring-header__row authoring-header__row--2">
            <div class="authoring-header__item" ng-if="schema.genre && !metadata.genre_service">
              <label class="authoring-header__item-label" translate>GENRE</label>
              <div class="authoring-header__input-holder">
                <div sd-meta-dropdown
                     class="data"
                     data-item="item"
                     data-field="genre"
                     data-list="metadata.genre"
                     ng-disabled="!_editable || item.broadcast.master_id"
                     data-change="autosave(item)">
                </div>
              </div>
            </div>

            <div class="authoring-header__item" ng-if="schema.anpa_take_key">
              <label class="authoring-header__item-label" translate>TAKEKEY</label>
              <div class="authoring-header__input-holder">
                <input type="text"
                       class="line-input"
                       id="anpa_take_key"
                       ng-model="item.anpa_take_key"
                       ng-change="autosave(item)"
                       ng-disabled="!_editable"
                       ng-trim="false">
              </div>
          </div>
        </div>

        <div class="authoring-header__row authoring-header__row--2-1-1">
          <div class="authoring-header__item" ng-if="metadata.locators && schema.place">
            <label class="authoring-header__item-label" translate>PLACE</label>
            <div class="authoring-header__input-holder">
              <div sd-meta-dropdown
                   class="data"
                   data-item="item"
                   data-field="place"
                   data-list="metadata.locators"
                   ng-disabled="!_editable"
                   data-change="autosave(item)">
              </div>
            </div>
          </div>
          <div class="authoring-header__item" ng-if="schema.priority">
            <label class="authoring-header__item-label" translate>PRIORITY</label>
            <div class="authoring-header__input-holder">
              <div sd-meta-dropdown
                   data-item="item"
                   data-field="priority"
                   data-list="metadata.priority"
                   data-icon="priority-label priority-label-"
                   data-label="Priority"
                   ng-disabled="!_editable"
                   data-change="autosave(item)">
              </div>
            </div>
          </div>
          <div class="authoring-header__item" ng-if="schema.urgency">
            <label class="authoring-header__item-label" translate>URGENCY</label>
            <div class="authoring-header__input-holder">
              <div sd-meta-dropdown
                   data-item="item"
                   data-field="urgency"
                   data-list="metadata.urgency"
                   data-icon="urgency-label urgency-label-"
                   data-label="Urgency"
                   ng-disabled="!_editable"
                   data-change="autosave(item)">
              </div>
            </div>
          </div>
        </div>

        <div class="authoring-header__row" ng-if="metadata.categories && schema.anpa_category" id="category-setting">
          <div class="authoring-header__item">
            <label class="authoring-header__item-label" translate>CATEGORY</label>
            <div sd-meta-terms
                 class="data"
                 ng-disabled="!_editable"
                 data-item="item"
                 data-field="anpa_category"
                 data-dependent="subject"
                 data-unique="qcode"
                 data-list="availableCategories"
                 data-header="true"
                 data-change="autosave(item)"
                 data-reload-list="false">
            </div>
          </div>
        </div>

        <div class="authoring-header__row" ng-if="schema.slugline">
          <div class="authoring-header__item">
            <label class="authoring-header__item-label" translate>SLUGLINE</label>
            <div class="authoring-header__input-holder">
              <input type="text"
                     sd-autofocus
                     class="line-input slugline"
                     id="slugline"
                     ng-model="item.slugline"
                     ng-change="autosave(item)"
                     ng-disabled="!_editable"
                     ng-trim="false">
              <span ng-if="schema.slugline.maxlength" sd-character-count data-item="item.slugline" data-html="true" data-limit="schema.slugline.maxlength"></span>
            </div>
          </div>
        </div>

        <div class="authoring-header__row" ng-repeat="cv in cvs track by cv._id">
          <div class="authoring-header__item">
            <label>{{ cv.display_name }}</label>
            <div sd-meta-terms
                class="data"
                data-item="item"
                data-field="subject"
                data-unique="qcode"
                data-list="cv.terms"
                data-cv="cv"
                ng-disabled="!_editable"
                data-header="true"
                data-change="autosave(item)">
            </div>
          </div>
        </div>
        

        <div class="authoring-header__row" ng-if="shouldDisplayCompanyCodes()">
          <div class="authoring-header__item">
            <label class="authoring-header__item-label" translate>COMPANY</label>
            <div sd-meta-terms
                 class="data"
                 data-item="item"
                 data-field="company_codes"
                 data-unique="qcode"
                 data-list="metadata.company_codes"
                 ng-disabled="!_editable"
                 data-header="true"
                 data-change="autosave(item)"
                 data-reload-list="false">
            </div>
          </div>
        </div>

        <div class="authoring-header__row" ng-if="schema.ednote">
          <div class="authoring-header__item">
            <label class="authoring-header__item-label" translate>ED. NOTE</label>
            <div class="authoring-header__input-holder">
              <textarea class="line-input ed-note" ng-model="item.ednote" ng-disabled="!_editable" ng-change="autosave(item)"></textarea>
            </div>
          </div>
        </div>

    </div>
</div>
<button class="authoring-header__toggle" ng-class="{active: toggleHeader}" ng-click="toggleHeader = !toggleHeader" tabindex="-1"><i class="icon-chevron-up-thin"></i></button>
