<div id="subnav" class="subnav" ng-class="{'auth-sendto': views.send}">
    <div class="authoring-topbar clearfix pull-left">
        <button class="stage stage-label" ng-show="stage" ng-click="openStage()">{{deskName}} / {{ stage.name }}</button>
        <div class="state-label state-{{item.state}}">{{item.state}}</div>
        <div ng-if="item.more_coming === true" class="state-label state-in_progress" translate>More coming</div>
        <span class="lock-info" ng-show="item._locked && item.lock_user"><i class="icon-lock-red"></i></span>
        <span class="lock-text" ng-show="item._locked && isLockedByMe()" translate>This article is locked by you in another session.</span>
        <span class="lock-text" ng-show="item._locked && !isLockedByMe() && item.lock_user" translate>This article is locked by <b>{{ item.lock_user | username }}</b></span>
        <span ng-if="item.highlights" sd-highlights-title data-item="item" data-orientation="'bottom'"></span>
    </div>

    <div class="button-stack right-stack">
        <button class="btn btn-medium pull-left" ng-if="action === 'view' && item._locked && can_unlock() && itemActions.save" ng-click="unlock()" ng-disabled="unlockClicked" translate>Unlock</button>

        <button class="btn btn-medium pull-left"
            ng-show="action === 'view' && !item._locked && itemActions.edit"
            ng-click="lock()"
            translate>Edit</button>

        <button class="btn btn-medium pull-left"
            ng-show="action === 'view' && !item._locked && itemActions.deschedule"
            ng-click="deschedule()"
            translate>Deschedule</button>

        <button class="btn btn-medium btn-info pull-left"
            ng-show="action === 'view' && !item._locked && itemActions.correct"
            ng-click="openAction('correct')"
            translate>Correct</button>

        <button class="btn btn-medium btn-info pull-left"
            ng-show="action === 'view' && !item._locked && itemActions.kill"
            ng-click="openAction('kill')"
            translate>Kill</button>

        <button class="btn btn-medium pull-left" ng-click="close()" translate>Close</button>

        <button class="btn btn-medium btn-info pull-left" type="submit"
            ng-click="save(item)"
            ng-show="_editable"
            ng-if = "itemActions.save && action === 'edit'"
            ng-disabled="!save_enabled()"
            translate>SAVE</button>

        <button id="export" class="btn btn-medium btn-info pull-left"
			 ng-click="exportHighlight(item)"
			 ng-disabled="!_editable"
			 ng-if="highlight"
			 translate>Export</button>

        <button class="btn btn-medium btn-info pull-left" type="submit"
            ng-click="publish()"
            ng-if = "(itemActions.publish || itemActions.kill || itemActions.correct) && action !== 'view'"
            ng-show="_editable"
            translate>{{action === "edit" ? "Publish": action}}</button>

        <div class="navbtn dropdown strict pull-left" title="{{ :: 'Create' | translate }}" dropdown>
            <button class="dropdown-toggle sd-create-btn" dropdown-toggle></button>
            <ul class="dropdown-menu pull-right" sd-content-create></ul>
        </div>

       <div class="navbtn dropdown strict highlights-dropdown pull-left" ng-if="item.task && item.task.desk && itemActions.mark_item"
            title="{{ :: 'Mark item' | translate }}" dropdown>
			<button class="dropdown-toggle" dropdown-toggle>
			<i class="svg-icon-add-to-list"></i>
			</button>
			<ul class="dropdown-menu pull-right" sd-mark-highlights-dropdown></ul>
	   </div>

        <div ng-if="itemActions.multi_edit" class="navbtn dropdown strict multiedit-dropdown pull-left" title="{{ :: 'Multiedit' | translate }}" dropdown>
            <button class="dropdown-toggle" dropdown-toggle>
                <i class="big-icon-multiedit"></i>
            </button>
            <div class="dropdown-menu pull-right" sd-multiedit-dropdown></div>
        </div>

        <div class="navbtn dropdown pull-left" dropdown>
            <button class="dropdown-toggle" dropdown-toggle>
                <i class="icon-dots-vertical"></i>
            </button>
            <div class="dropdown-menu pull-right">
                <ul ng-controller="TemplateMenu as templateMenu">
                    <li><span class="menu-label" translate>Templates</span></li>
                    <li>
                        <button type="button"
                            ng-click="templateMenu.create(item)"
                            translate>Save as template</button>
                    </li>
                </ul>

                <ul ng-if="_editable"><li class="divider"></li></ul>

                <ul ng-if="_editable" ng-controller="SpellcheckMenu as spellcheckMenu">
                    <li><span class="menu-label" translate>Spell Checker</span></li>
                    <li>
                        <span>
                            <span class="pull-right"
                                sd-switch
                                ng-model="spellcheckMenu.isAuto"
                                ng-change="spellcheckMenu.pushSettings()"></span>
                            <span translate>Run automatically</span>
                        </span>
                    </li>
                    <li>
                        <button type="button"
                            ng-click="spellcheckMenu.spellcheck()"
                            ng-disabled="spellcheckMenu.isAuto"
                            translate>
                                <span class="shortcut pull-right">Ctrl+Shift+S</span>
                                Check spelling</button>
                    </li>
                </ul>
            </div>
        </div>

        <button id="send-to-btn" ng-show="privileges.move == 1 && _editable && isActionAllowed(item, 'move')"
            class="navbtn navbtn-hover" title="{{ :: 'Send to desk' | translate }}"
            ng-click="views.send = !views.send">
            <i class="svg-icon-sendto"></i>
        </button>

    </div>
</div>
