<div id="subnav" class="subnav" ng-class="{'auth-sendto': views.send}">
    <div class="authoring-topbar clearfix pull-left" ng-class="{'has-highlights': item.highlights}">
        <button class="stage" ng-show="stage" ng-if="item._type !== 'legal_archive'" ng-click="openStage()"><b>{{deskName}}</b> / {{ stage.name }}</button>
        <span class="stage" ng-show="stage" ng-if="item._type === 'legal_archive'"><b>{{deskName}}</b> / {{ stage }}</span>
        <div ng-if="item.more_coming === true" class="state-label state-in_progress" translate>More coming</div>
        <span class="lock-info" ng-show="item._locked && item.lock_user"><i class="icon-lock-red"></i></span>
        <span class="lock-text" ng-show="item._locked && isLockedByMe()" translate>Locked by you in another session.</span>
        <span class="lock-text" ng-show="item._locked && !isLockedByMe() && item.lock_user" translate>Locked by <b>{{ item.lock_user | username }}</b></span>
        <span ng-if="item.highlights" sd-highlights-title data-item="item" data-orientation="'bottom'"></span>
    </div>

    <div class="button-stack right-stack">
        <button class="btn btn-medium pull-left" ng-if="item._locked && !item.sendTo && can_unlock() && itemActions.save" ng-click="unlock()" ng-disabled="unlockClicked" translate>Unlock</button>

        <button id="Edit" class="btn btn-medium pull-left" ng-if="item._type !== 'legal_archive'"
            ng-show="action === 'view' && !item._locked && itemActions.edit"
            ng-click="edit()"
            translate>Edit</button>

        <button class="btn btn-medium pull-left"
            ng-show="action === 'view' && !item._locked && itemActions.deschedule"
            ng-click="deschedule()"
            translate>Deschedule</button>

        <button class="btn btn-medium btn-info pull-left" ng-if="item._type !== 'legal_archive'"
            ng-show="action === 'view' && !item._locked && itemActions.correct"
            ng-click="openAction('correct')"
            translate>Edit and Correct</button>

        <button class="btn btn-medium btn-info pull-left" ng-if="item._type !== 'legal_archive'"
            ng-show="action === 'view' && !item._locked && itemActions.kill"
            ng-click="openAction('kill')"
            translate>Edit and Kill</button>

        <button class="btn btn-medium pull-left" id="closeAuthoringBtn" ng-click="close()" translate>CLOSE</button>

        <button class="btn btn-medium btn-info pull-left" type="submit"
            ng-click="saveTopbar(item)"
            ng-show="_editable"
            ng-if = "itemActions.save && action === 'edit'"
            ng-disabled="!save_enabled() || saveDisabled"
            translate>SAVE</button>

        <button id="export" class="btn btn-medium btn-info pull-left"
			 ng-click="exportHighlight(item)"
			 ng-disabled="!_editable"
			 ng-if="highlight"
			 translate>Export</button>

        <button class="navbtn navbtn-hover strict"
                ng-if="!item._locked"
                title="{{ :: 'Minimize' | translate }}"
                ng-click="minimize()">
            <i class="big-icon-minimize"></i>
        </button>

        <div ng-if="item._type !== 'legal_archive' && itemActions.multi_edit"
             class="navbtn dropdown strict multiedit-dropdown pull-left strict"
             title="{{ :: 'Multiedit' | translate }}" dropdown>
            <button class="dropdown-toggle" dropdown-toggle>
                <i class="big-icon-multiedit"></i>
            </button>
            <div class="dropdown-menu pull-right" sd-multiedit-dropdown></div>
        </div>

        <div id="authoring-extra-dropdown"
             ng-if="item._type !== 'legal_archive'"
             class="navbtn dropdown pull-left strict"
             title="{{ :: 'More actions' | translate }}" dropdown>
            <button class="dropdown-toggle" dropdown-toggle>
                <i class="icon-dots-vertical"></i>
            </button>
            <div class="dropdown-menu pull-right">
                <ul ng-controller="TemplateMenu as templateMenu">
                    <li><span class="menu-label" translate>Templates</span></li>
                    <li>
                        <button type="button"
                            ng-click="templateMenu.create(item)"
                            translate>Save as template</button>
                    </li>
                </ul>

                <ul ng-if="item.task.desk && itemActions.mark_item"
                     title="{{ :: 'Mark item' | translate }}">
                    <li class="divider"></li>
                    <li><span class="menu-label" translate>Highlights</span></li>
                    <li>
                        <div class="dropdown highlights-toggle" dropdown>
                            <button class="dropdown-toggle" dropdown-toggle>
                                {{ :: 'Mark item' | translate }}
                                <i class="icon-chevron-right-thin submenu-icon"></i>
                            </button>
                            <ul class="dropdown-menu right-submenu" sd-mark-highlights-dropdown></ul>
                        </div>
                    </li>
                </ul>

                <ul ng-if="_editable" ng-controller="SpellcheckMenu as spellcheckMenu">
                    <li class="divider"></li>
                    <li><span class="menu-label" translate>Spell Checker</span></li>
                    <li>
                        <span>
                            <span class="pull-right"
                                sd-switch
                                ng-model="spellcheckMenu.isAuto"
                                ng-change="spellcheckMenu.pushSettings()"></span>
                            <span translate>Run automatically</span>
                        </span>
                    </li>
                    <li>
                        <button type="button"
                            ng-click="spellcheckMenu.spellcheck()"
                            ng-disabled="spellcheckMenu.isAuto"
                            translate>
                                <span class="shortcut pull-right">Ctrl+Shift+S</span>
                                Check spelling
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <button id="send-to-btn" ng-show="_editable"
            class="navbtn navbtn-hover" title="{{ :: 'Send to / Publish' | translate }}"
            ng-click="views.send = !views.send">
            <i class="svg-icon-sendto"></i>
        </button>
    </div>
</div>
