<div class="modal-header">
    <h3 class="pull-left">{{ activity.label|translate }}</h3>
    <button type="button" class="close" ng-click="close()"><i class="icon-close-small"></i></button>
</div>

<div class="modal-body">
    <section class="main">
        <div id="dynBoxId2" class="preview">
          <div class="original">
            <div class="crop-area image">
                <ul> 
                    <li ng-repeat="rendition in data.renditions track by rendition.name">
                    <label class="field-label">{{ rendition.name }}</label>
                    <div sd-image-crop
                        data-show-Min-Size-Error="true"
                        data-box-width="600" 
                        data-box-height="400"
                        data-src="data.item.renditions.viewImage.href"
                        data-original="data.item.renditions.original"
                        data-rendition="rendition"
                        data-crop-init="data.item.renditions[rendition.name]"
                        data-crop-data="data.cropData[rendition.name]"
                        data-on-change="data.isDirty = true">
                    </div>
                    <br />
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </section>
</div>

<div class="modal-footer">
    <button type="button"
        class="btn btn-medium btn-info"
        ng-click="done()"
        ng-disabled="!data.isDirty"
        translate>Save</button>
</div>
