<div class="modal-header">
    <h3 class="pull-left">{{ activity.label|translate }}</h3>
    <button type="button" class="close" ng-click="close()"><i class="icon-close-small"></i></button>
</div>

<div class="modal-body">
    <div>
        <label translate>Make sure you're looking the best</label>
        <div><label class="cords-label">{{preview.cords}}</label></div>
    </div>
    <section class="main">
        <div class="preview">
            <div class="crop-area image" ng-hide="false">
                <div class="original">
                    <div sd-image-crop data-src="data.renditions.original.href" data-show-Min-Size-Error="true" data-cords="preview.cords" data-box-width="data.cropsize.width" data-box-height="data.cropsize.height" data-aspect-ratio="data.aspectR" data-minimum-size="[data.cropsize.width, data.cropsize.height]" data-crop-select="data.renditions[data.cropsize.name]" data-progress-width="progress.width"></div>
                </div>
                <div class="preview">
                    <div class="preview-large-4-3-small" ng-if="data.cropsize.name === '4-3'">
                        <img ng-src="{{data.renditions.original.href}}" class="preview-target-1">
                    </div>
                    <div class="preview-large-16-9-small" ng-if="data.cropsize.name === '16-9'">
                        <img ng-src="{{data.renditions.original.href}}" class="preview-target-1">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal-footer">
    <a href="{{data.picture_url || data.renditions[data.cropsize.name].href}}" class="pull-left" target="_blank">View Last Cropped Image</a>
    <button type="button" class="btn submit" ng-click="done()" ng-disabled="!preview.cords || !preview.progress" translate>Done</button>
</div>
