<div class="workqueue-list">
	<ul class="card-list">
		<li ng-repeat="article in workqueue.items track by article._id" sd-dashboard-card>
            <a ng-href="{{ $root.link('edit.text', article) }}">
    			<div class="title" ng-show="article.headline">{{ article.headline }}</div>
    			<div class="title" ng-show="!article.headline">{{ 'Untitled' | translate }}</div>
                <div>
                    <div class="created" sd-reldate-complex ng-model="article.versioncreated"></div>
                    <div class="subInfo">
                        <div class="type-icon">
                            <i title = "{{article.type}}" class="filetype-icon-{{article.type}}"></i>
                        </div>
                        <div class="state-label state-{{article.state}}">{{article.state}}</div>
                    </div>
                </div>                    
    			<span sd-item-container data-item="article" class="container"></span>
            </a>

            <span class="close" ng-click="closeItem(article)"><i class="icon-close-small"></i></span>
		</li>
	</ul>
</div>
