<div sd-modal data-model="item" data-full="true" class="modal-preview">
    <div class="modal-header">
        <div class="btn-group">
            <button ng-click="" title="{{'Print'|translate}}"><i class="icon-print"></i></button>
            <button ng-if="closeAction" ng-click="closeAction()" title="{{'Close'|translate}}"><i class="icon-close-small"></i></button>
        </div>
    </div>
    <div class="modal-body" sd-shadow>
        <div class="preview-content">
            <div class="metadata">
                <div>
                    <div class="preview-label">
                        <label translate>Service</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="service in item.anpa_category">
                            {{service.name}}
                        </span>
                    </div>
                </div>
                <div>
                    <div class="preview-label">
                        <label translate>Topic</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="topic in item.subject|filter:'patopic'">
                            {{topic.name}}
                        </span>
                    </div>
                </div>
                <div>
                    <div class="preview-label">
                        <label translate>Keyword</label>
                    </div>
                    <div class="preview-data" ng-if="item.slugline">
                        <span>{{item.slugline}}</span>
                    </div>
                </div>
            </div>
            <div class="headline">{{item.headline}}</div>
            <div ng-repeat="association in item.associations" class="association">
                <img src="{{association.renditions.viewImage.href}}">
            </div>
            <div class="byline">{{item.byline}}</div>
            <div sd-html-preview="item.body_html" class="body"></div>
            <div class="metadata">
                <div>
                    <div class="preview-label">
                        <label translate>Tag</label>
                    </div>
                    <div class="preview-data">
                        <span ng-repeat="keyword in item.keywords">
                            {{keyword}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>