<div class="authoring-header__holder" ng-controller="MetadataWidgetCtrl" ng-if="loaded">
    <div class="authoring-header__short">
        <label translate>Created</label><time sd-datetime data-date="item.firstcreated"></time>
        <label ng-if="userLookup[item.original_creator]" translate>by</label><b>{{userLookup[item.original_creator].display_name}}</b>
        <div ng-if="item.versioncreated">
            <label translate>Modified</label>
            <time sd-datetime data-date="item.versioncreated"></time>
        </div>
    </div>

    <div class="authoring-header__general-info">
        <div>
            <i class="filetype-icon-{{ :: item.type }}" title="{{ :: 'Article Type' | translate }}"></i>
        </div>
        <div ng-if="item.type === 'text'">
            <label class="word-count"><b>{{ item.word_count || 0 }}</b> <span translate translate-n="item.word_count" translate-plural="WORDS">WORD</span></label>
        </div>
        <div ng-if="item.signal">
            <span class="signal">{{ item.signal}}</span>
        </div>
        <div>
            <label translate>SOURCE</label>
            <div class="data" sd-meta-ingest data-item="item"></div>
        </div>
        <div>
            <label translate>RELATED</label>
            <div class="data"><a href="" ng-click="activateWidget()">{{relatedItems._items.length}}</a></div>
        </div>
        <div>
            <label translate>GENRE</label>
            <div sd-meta-dropdown
                 class="data"
                 data-item="item"
                 data-field="genre"
                 data-list="metadata.genre"
                 ng-disabled="!_editable"
                 data-change="autosave(item)">
            </div>
        </div>
    </div>

    <div class="authoring-header__detailed">
        <div class="item-wrapper">
            <div class="item">
                <label translate>SLUGLINE</label>
                <input type="text"
                       sd-autofocus
                       class="line-input slugline"
                       id="slugline"
                       ng-model="item.slugline"
                       ng-change="autosave(item)"
                       ng-disabled="!_editable"
                       ng-trim="false">
            </div>
            <div class="item">
                <label translate>TAKEKEY</label>
                <input type="text"
                       class="line-input"
                       id="anpa_take_key"
                       ng-model="item.anpa_take_key"
                       ng-change="autosave(item)"
                       ng-disabled="!_editable"
                       ng-trim="false">
            </div>
        </div>

        <div class="item-wrapper">
            <div class="item" ng-if="metadata.locators">
                <label translate>PLACE</label>
                <div sd-meta-dropdown
                     class="data"
                     data-item="item"
                     data-field="place"
                     data-list="metadata.locators"
                     ng-disabled="!_editable"
                     data-change="autosave(item)">
                </div>
            </div>
            <div class="item">
                <div class="item">
                    <label translate>PRIORITY</label>
                    <div sd-meta-dropdown
                         data-item="item"
                         data-field="priority"
                         data-list="metadata.priority"
                         data-icon="urgency-icon"
                         data-label="Priority"
                         ng-disabled="!_editable"
                         data-change="autosave(item)">
                    </div>
                </div>

                <div class="item">
                    <label translate>URGENCY</label>
                    <div sd-meta-dropdown
                         data-item="item"
                         data-field="urgency"
                         data-list="metadata.urgency"
                         data-icon="output-item-label label"
                         data-label="Urgency"
                         ng-disabled="!_editable"
                         data-change="autosave(item)">
                    </div>
                </div>
            </div>
        </div>

        <div class="item-wrapper" ng-if="metadata.categories" id="category-setting">
            <label translate>CATEGORY</label>
            <div sd-meta-terms
                 class="data"
                 ng-disabled="!_editable"
                 data-item="item" 
                 data-field="anpa_category" 
                 data-unique="qcode"
                 data-list="availableCategories" 
                 data-header="true"
                 data-change="autosave(item)">
            </div>
        </div>

        <div class="item-wrapper" ng-if="metadata.subjectcodes">
            <label translate>SUBJECT</label>
            <div sd-meta-terms
                 class="data"
                 data-item="item" 
                 data-field="subject" 
                 data-unique="qcode" 
                 data-list="metadata.subjectcodes" 
                 ng-disabled="!_editable" 
                 data-header="true" 
                 data-change="autosave(item)">
            </div>
        </div>

        <div class="item-wrapper">
            <label translate>ED. NOTE</label>
            <textarea class="line-input ed-note" ng-model="item.ednote" ng-disabled="!_editable" ng-change="autosave(item)"></textarea>
        </div>

    </div>
</div>
<button ng-class="{active: toggleHeader}" ng-click="toggleHeader = !toggleHeader" tabindex="-1"><i class="icon-chevron-up-thin"></i></button>