<ul class="metadata-list form-flat" ng-controller="MetadataWidgetCtrl" ng-if="loaded">
    <li class="date-info full-width clearfix">
        <label translate>Created</label>
        <time sd-datetime data-date="item.firstcreated"></time>
        <label translate>by</label>
        <b>{{userLookup[item.original_creator].display_name}}</b>
        <div class="modified" ng-if="item.versioncreated">
            <label translate>Modified</label>
            <time sd-datetime data-date="item.versioncreated"></time>
        </div>
    </li>

    <li class="full-width general-info">
        <div class="item info-icons">
            <i class="filetype-icon-{{ :: item.type }}" ng-hide="hover || item.selected"
               tooltip="Article Type" tooltip-placement="middle"></i>

            <div class="slider-icon pull-left">
                <div class="dropdown dropright" dropdown>
                    <i class="urgency-icon-{{item.priority}} dropdown-toggle" dropdown-toggle
                       tooltip="Priority" tooltip-placement="middle"></i>
                    <div class="dropdown-menu">
                        <label translate>PRIORITY</label>
                        <div class="item">
                            <label><i class="urgency-icon-{{item.priority}}"></i></label>
                            <div class="data">
                                <div sd-slider 
                                     data-value="item.priority"
                                     data-list="metadata.priority"
                                     data-unique="value"
                                     data-field="priority"
                                     data-invert="true"
                                     data-disabled="!_editable"
                                     data-update="sliderUpdate(item, field)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-icon pull-left">
                <div class="dropdown dropright" dropdown>
                    <i class="output-item-label label-{{ item.urgency ? item.urgency: '0' }} dropdown-toggle"
                       tooltip="{{ :: 'NewsValue / Urgency' | translate }}" tooltip-placement="middle" dropdown-toggle>{{ item.urgency}}</i>
                    <div class="dropdown-menu">
                        <label translate>URGENCY</label>
                        <div class="item">
                            <div class="data">
                                <div sd-slider 
                                     data-value="item.urgency"
                                     data-list="metadata.urgency"
                                     data-unique="value"
                                     data-field="urgency"
                                     data-invert="true"
                                     data-disabled="!_editable"
                                     data-update="sliderUpdate(item, field)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" ng-if="item.type === 'text'">
            <label class="word-count"><b>{{ item.word_count || 0 }}</b> <span translate translate-n="item.word_count" translate-plural="{{ $count }} WORDS">1 WORD</span></label>
        </div>
        <div class="item" ng-if="item.signal">
            <span class="signal">{{ item.signal }}</span>
        </div>
        <div class="item">
            <label translate>SOURCE</label>
            <div class="data" sd-meta-ingest data-item="item"></div>
        </div>
        <div class="item">
            <label translate>RELATED</label>
            <div class="data"><a href="" ng-click="activateWidget()">{{relatedItems._items.length}}</a></div>
        </div>
    </li>

    <li class="keyword">
        <label translate>SLUGLINE</label>
        <div class="data">
            <input type="text"
                   id="slugline"
                   ng-model="item.slugline"
                   ng-change="autosave(item)"
                   ng-disabled="!_editable"
                   ng-trim="false">
        </div>
    </li>

    <li>
        <label translate>TAKEKEY</label>
        <div class="data">
            <input type="text"
                   id="anpa_take_key"
                   ng-model="item.anpa_take_key"
                   ng-change="autosave(item)"
                   ng-disabled="!_editable"
                   ng-trim="false">
        </div>
    </li>

    <li ng-if="metadata.locators">
        <label tooltip="AKA Locator" tooltip-placement="middle" translate>PLACE</label>
        <div sd-meta-dropdown data-item="item" data-field="place" data-list="metadata.locators" ng-disabled="!_editable" data-change="autosave(item)"></div>
    </li>

    <li class="terms-box" ng-if="metadata.categories" id="category-setting">
        <label translate>CATEGORY</label>
        <div
            sd-meta-terms class="data"
            ng-disabled="!_editable"
            data-item="item" data-field="anpa_category" data-unique="qcode"
            data-list="availableCategories" data-header="true"
            data-change="autosave(item)"></div>
    </li>

    <li class="full-width terms-box" ng-if="metadata.subjectcodes">
        <label translate>SUBJECT</label>
        <div class="data" sd-meta-terms data-item="item" data-field="subject" data-unique="qcode" data-list="metadata.subjectcodes" ng-disabled="!_editable" data-header="true" data-change="autosave(item)"></div>
    </li>

    <li class="full-width ed-note">
        <label translate>ED. NOTE</label>
        <div class="data">
            <textarea ng-model="item.ednote" ng-disabled="!_editable" ng-change="autosave(item)"></textarea>
        </div>
    </li>
</ul>

<button ng-class="{active: toggleHeader}" ng-click="toggleHeader = !toggleHeader"><i class="icon-chevron-up-thin"></i></button>