<li>
    <button id="create_text_article" ng-click="content.create()">
        <i class="icon-plus-small icon-round icon-white"></i> {{ :: 'Plain text' | translate }}
    </button>
</li>
<li>
    <button id="create_preformatted_article" ng-click="content.create('preformatted')">
        <i class="icon-plus-small icon-round icon-white"></i> {{ :: 'Preformatted' | translate }}
    </button>
</li>
<li class="divider"></li>
<li>
    <button id="create_package"  ng-click="content.createPackage()">
        <i class="icon-plus-small icon-round icon-white"></i> {{ :: 'Empty Package' | translate }}
    </button>
</li>
<li ng-if="item">    
    <button id="package_item" ng-click="content.createPackage(item)">
        <i class="icon-plus-small icon-round icon-white"></i> {{ :: 'Package current item' | translate }}
    </button>
</li>
<li class="divider"></li>
<div ng-show="contentTemplates._items.length">
    <li translate>From template:</li>
    <li ng-repeat="template in contentTemplates._items">
        <button ng-click="content.createFromTemplate(template)">
            <i class="icon-plus-small icon-round icon-white"></i> {{ :: template.template_name }}
        </button>
    </li>
</div>
<div ng-hide="contentTemplates._items.length">
    <li translate>No recent templates.</li>
</div>
<li>
    <button ng-click="displayTemplateSelect = true;" translate>More templates...</button>
</li>
<li class="divider" ng-if="openUpload"></li>
<li ng-if="openUpload">
    <button ng-click="openUpload()">
        <i class="icon-upload-blue"></i> {{ :: 'UPLOAD' | translate }}
    </button>
</li>

<div sd-template-select data-select-action="content.createFromTemplate" data-open="displayTemplateSelect"></div>
