<div class="send-to-pane" sd-click-close>
    <header>
        <h3 translate ng-show="desk">Transform and Send</h3>
        <h3 translate ng-show="!desk">Submit to</h3>
        <div class="close" ng-click="view = !view"><i class="icon-close-small icon-white"></i></div>
    </header>
    <div class="content">
        <div class="dropdown desk-select" dropdown>
            <button class="dropdown-toggle" dropdown-toggle>
                <span ng-show="!desk" translate>Select desk</span>
                <span ng-show="desk">{{desk.name}}</span>
                <b class="caret white"></b>
            </button>
            <div class="dropdown-menu">
                <ul>
                    <li ng-repeat="desk in desks._items">
                        <button ng-click="selectDesk(desk)">{{desk.name}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="btn-list" ng-if="stages">
            <li ng-repeat="stage in stages">
                <button
                    ng-class="{active: stage._id === selectedStage._id}"
                    ng-disabled="stage._id === item.task.stage"
                    ng-click="selectStage(stage)">{{stage.name}}</button>
            </li>
        </ul>
        <div>
            <header>
                <h3 translate ng-show="macros">Fetch As</h3>
            </header>
            <br />
            <ul class="btn-list" ng-if="macros">
                <li ng-repeat="macro in macros">
                    <button 
                        ng-class="{actioning: loading === true && currentMacro === macro.label}" 
                        ng-disabled="loading === true"
                        ng-click="transform(macro)">{{macro.label}}</button>
                </li>
            </ul>
        </div>
        <ul class="btn-list">
            <li><button class="cancel" ng-click="view = !view" translate>cancel</button></li>
            <li><button class="send" ng-click="send()"
                ng-disabled="!desk || selectedStage._id === item.task.stage"
                translate>send</button></li>
        </ul>
    </div>
</div>