<div class="slide-pane slide-pane--dark content-item-preview" ng-show="isActive" ng-class="{open: isActive, 'slide-pane--inset': mode === 'authoring'}">

    <div class="slide-pane__header">
        <h3 ng-show="mode === 'authoring' && itemActions.publish" translate>Send to / Publish</h3>
        <h3 ng-show="mode === 'authoring' && !itemActions.publish" translate>Send to</h3>
        <h3 ng-show="mode !== 'authoring'" translate>Fetch To</h3>
        <div class="close" ng-click="close()"><i class="icon-close-small icon-white"></i></div>
    </div>

    <div class="slide-pane__content">
        <div sd-toggle-box ng-if="showSendButtonAndDestination()" data-title="{{ :: 'Destination' | translate }}" data-open="true" data-style="dark">
            <div class="dropdown dropdown-noarrow dropdown--dark" dropdown>
                <button class="dropdown-toggle" dropdown-toggle>
                    <span ng-show="!selectedDesk" translate>Select desk</span>
                    <span ng-show="selectedDesk">{{selectedDesk.name}}</span>
                    <b class="caret white"></b>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="desk in desks._items track by desk._id">
                        <button ng-click="selectDesk(desk)">{{::desk.name}}</button>
                    </li>
                </ul>
            </div>
            <ul class="btn-list" ng-if="stages">
                <li ng-repeat="stage in stages track by stage._id">
                    <button class="btn__check"
                            ng-class="{active: stage._id === selectedStage._id}"
                            ng-disabled="stage._id === item.task.stage"
                            ng-click="selectStage(stage)">
                        {{::stage.name}}
                    </button>
                </li>
            </ul>
        </div>

        <div sd-toggle-box ng-if="showEmbargo()" data-title="Embargo" data-open="true" data-style="dark">
            <label class="label-lite" translate>Embargo</label>
            <ul class="btn-list">
                <li class="datepicker-input--dark">
                    <div sd-datepicker ng-model="item.embargo_date" ng-disabled="!isEmbargoEditable()"></div>
                </li>
                <li class="timepicker-input--dark">
                    <div sd-timepicker ng-model="item.embargo_time" ng-disabled="!isEmbargoEditable()"></div>
                </li>
            </ul>
        </div>
        
        <div sd-toggle-box ng-if="showPublishSchedule()" data-title="Publishing" data-open="true" data-style="dark">
            <label class="label-lite" translate>Publish Schedule</label>
            <ul class="btn-list">
                <li class="datepicker-input--dark">
                    <div sd-datepicker ng-model="item.publish_schedule_date" ng-disabled="!_editable"></div>
                </li>
                <li class="timepicker-input--dark">
                    <div sd-timepicker ng-model="item.publish_schedule_time" ng-disabled="!_editable"></div>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="slide-pane__footer">
        <ul class="btn-list">
            <li ng-if="mode === 'authoring' && canSendAndContinue() && itemActions.send">
                <button class="btn btn-info"
                        ng-click="sendAndContinue()"
                        ng-disabled="item.embargo || disableSendButton()"
                        translate>
                    send and continue
                </button>
            </li>
            <li ng-if="showSendButtonAndDestination()">
                <button class="btn btn-info"
                        ng-click="send()"
                        ng-disabled="disableSendButton()"
                        translate>
                    {{mode !== 'authoring' ? 'fetch' : 'send'}}
                </button>
            </li>
            <li ng-if="showSendButtonAndDestination() && mode !== 'authoring'">
                <button class="btn btn-info"
                        ng-click="send(true)"
                        translate>
                    fetch and open
                </button>
            </li>
            <li class="full-width" ng-if="mode === 'authoring' && (itemActions.publish || itemActions.kill || itemActions.correct)">
                <button type="submit"
                        class="btn btn-info"
                        ng-show="_editable"
                        ng-click="_publish()"
                        translate>
                    {{_action === 'edit' ? 'publish' : _action}}
                </button>
            </li>
        </ul>
    </div>

</div>
