<p>Hi there,</p>
<p>Someone created a {{app_name}} user account for you. Please go to {{url}} and complete your profile.</p>
<p>This link expires after {{expires}} hours.</p>
<p>Please ignore this email if you think your {{app_name}} account was created in error.</p>

<p>Thanks,</p>
<p>The <em>{{app_name}}</em> Team</p>
<p>{{app_name}} is developed by Sourcefabric.</p>

<p>Sourcefabric GmbH / Prinzessinnenstr. 20 / 10969 Berlin</p>
<p>+49 (0) 30 616 29 281</p>
<p>contact@sourcefabric.org</p>
<p>Register: Amtsgericht Charlottenburg / HRB 149568 B</p>
<p>Managing Director: Sava Tatić, Fabienne Riener</p>
<p>VAT: DE288649893</p>
