// search.less
// Styling for search page, and search functionalities
// ----------------------------------------------------------------------------------------
@import 'mixins.less';
@import 'variables.less';

.search-page-container {
	.search-page-header {
		display: flex;
		position: relative;
		> div {
			flex: 0 0 auto;
		}
    }
}


