<div ng-hide="hideList" class="split-content">
    <div class="header">
        <h2 translate>Search Providers</h2>
        <button id="addSearchProvider" class="btn btn-info pull-right" ng-click="edit()">
            <i class="icon-plus-sign icon-white"></i> <span translate>Add New Search Provider</span>
        </button>
    </div>

    <div class="content">
        <ul class="pills-list provider-list">
            <li ng-repeat="provider in providers track by provider._id" class="clearfix">
                <div class="header">
                    <h6 id="providerType">{{ providerTypes[provider.search_provider] }}</h6>
                    <span class="label offProvider" ng-if="provider.is_closed" translate>Closed</span>
                    <div class="actions">
                        <button ng-click="edit(provider)" title="{{:: 'Edit Search Provider' | translate }}"><i class="icon-pencil"></i></button>
                        <button ng-click="remove(provider)" ng-show="!provider.last_item_update" title="{{:: 'Remove Search Provider' | translate }}"><i class="icon-trash"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div sd-modal data-model="provider" class="subscriber-modal modal-basic moz-scroll-fix">
    <div class="modal-header"> <a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
        <h3 ng-show="provider._id"><span translate>Edit Search Provider</span> "{{ origProvider.search_provider }}"</h3>
        <h3 translate ng-hide="provider._id">Add New Search Provider</h3>
    </div>
    <div class="modal-body">
        <form name="editForm">
            <fieldset>
                <div class="field">
                    <label class="right">
                        {{:: 'Status' | translate }}
                        <span title="{{ provider.is_closed ? 'Open' : 'Close'  | translate }}">
                            <span sd-switch-inverted ng-model="provider.is_closed"></span>
                        </span>
                    </label>
                </div>

                <div class="field">
                    <label for="provider-type" translate>Provider Type</label>
                    <select id="provider-type" ng-model="provider.search_provider" ng-options="key as val for (key, val) in providerTypes" required>
                        <option value=""></option>
                    </select>
                </div>

                <div class="field">
                    <label for="provider-source" translate>Source</label>
                    <input type="text" id="provider-source" placeholder="{{ source | translate }}" ng-model="provider.source" required>
                </div>

                <div class="field">
                    <label for="provider-username" translate>Username</label>
                    <input type="text" id="provider-username" placeholder="{{ username | translate }}" ng-model="provider.config.username">
                </div>

                <div class="field">
                    <label for="provider-password" translate>Password</label>
                    <input type="text" id="provider-password" placeholder="{{ password | translate }}" ng-model="provider.config.password">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
        <button class="btn btn-primary" ng-click="save()" ng-disabled="editForm.$invalid" translate>Save</button>
    </div>
</div>
