<form name="editForm">
<div sd-modal data-model="dictionary" class="add-dictionary-popup">
	<div class="modal-header">
		<a href="" class="close" ng-click="cancel()"><i class="icon-close-small"></i></a>
		<h3 ng-show="!dictionary._id" translate>Add New Dictionary</h3>
		<h3 ng-show="dictionary._id" translate>Edit Dictionary</h3>
	</div>

	<div class="modal-body">
		<ng-form name="dictionaryForm">
			<fieldset>
				<div class="field">
					<label for="dict-name" translate>Dictionary name</label>
					<input id="dict-name" type="text" ng-model="dictionary.name" required>
				</div>
				<div class="field">
					<label for="dict-lang-code" translate>Language code</label>
					<input id="dict-lang-code" type="text" ng-model="dictionary.language_id" required>
				</div>
				<div class="field">
					<label for="dict-file" translate>Dictionary file</label>
					<input id="dict-file" type="file" file-upload accept="text/*">
				</div>
			</fieldset>
			<p ng-if="message">{{ message }}</p>
			<span ng-show="_errorUniqueness" translate>Dictionary with name "{{ dictionary.name }}" already exists.</span>
			<p ng-show="_errorLimits" translate>Character limit exceeded, dictionary can not be created/updated.</p>
			<span ng-show="_error" translate>There was a problem, dictionary not created/updated.</span>
		</ng-form>

		<ng-form ng-if="dictionary._id">
	    <fieldset>
	    	<label for="words-search" translate>Search Words ({{ dictionary.content.length }} total)</label>
		    <div class="multiple">
		    	<div class="field">
			    	<input id="words-search"
			    		type="text"
			    		ng-model="search"
			    		ng-model-options="{debounce: 500}"
						ng-change="filterWords(search)" 
			    		/>
		    	</div>
		    	<button class="btn flex-field no-shrink"
		    		type="submit"
		    		ng-disabled="!isNew"
		    		ng-click="addWord(search)"
		    		translate>ADD WORD</button>
			</div>

		    <ul class="words-list" ng-show="words.length">
		    	<li ng-repeat="word in words track by word.word">
		    		<button class="btn btn-light btn-mini pull-right"
		    			ng-click="removeWord(word, search)"
		    			><i class="icon-small icon-trash"></i></button>
		    		{{ :: word.word }}
		    	</li>
		    </ul>
		</fieldset>
		</ng-form>
	</div>

	<div class="modal-footer">
		<button id="save-edit-btn" type="submit" class="btn btn-info pull-right" ng-click="save()" ng-disabled="editForm.$invalid" translate>Save</button>
		<button id="cancel-edit-btn" type="button" class="btn pull-right" ng-click="cancel()" translate>Cancel</button>
	</div>
</div>
</form>
