<div>
  <div id="top-menu" ng-class="{'menu-open': flags.menu}">
      <div class="nav pull-left">
        <button class="collapse-nav pull-left" ng-click="toggleMenu()">
          <i class="icon-collapse icon-white"></i>
        </button>
        <a class="main-link pull-left"
          ng-hide="currentRoute.topTemplateUrl"
          ng-href="{{currentRoute | menuGroup}}"
          translate>{{ currentRoute.label }}</a>
        <div class="top-nav pull-left" ng-include="currentRoute.topTemplateUrl"></div>
      </div>

      <div class="nav pull-right">
          <button class="current-user pull-right" ng-click="toggleNotifications()">
              <span class="label label-info circle small" ng-show="notifications.unread">{{ notifications.unread }}</span>
              <figure class="avatar">
                <img sd-user-avatar data-src="currentUser.picture_url" class="avatar" alt="{{currentUser.display_name || currentUser.username }}">
              </figure>
          </button>
          <button ng-click="toggleBeta()" class="beta-switch pull-right">
              <span class="stable" ng-if="!beta" tooltip="{{ :: 'Switch to feature preview' | translate }}" tooltip-placement="left">stable</span>
              <span class="beta" ng-if="beta" tooltip="{{ :: 'Turn off feature preview' | translate }}" tooltip-placement="left">feature preview</span>
          </button>
      </div>
  </div>
    
  <div id="side-menu" ng-class="{'menu-open': flags.menu}" ng-include="currentRoute.sideTemplateUrl"></div>

  <div id="main-menu">
    <div class="header"></div>
    <div class="content">
      <ul>
        <li ng-repeat="item in menu | orderBy:'priority'" ng-class="{active: item.isActive}">
          <a ng-href="#{{ :: item.href }}" title="{{ :: item.description | translate }}">{{ :: item.label | translate }}</a>
        </li>
      </ul>
    </div>
    <div class="footer">
      <i class="icon-superdesk"></i>
      <span>Powered by Superdesk technology</span>
    </div>
  </div>
</div>
