<div sd-menu-wrapper></div>
<div sd-notifications></div>

<!-- todo(vladimir): provide some loading indicator -->
<div class="loading" ng-if="loading"></div>

<div id="main-container" ng-class="superdesk.flags" ng-if="superdesk.flags.workspace === true">
    <div id="workspace-container" ng-view></div>
    <div id="authoring-container" ng-if="superdesk.flags.workspace" sd-authoring-container></div>
    <div id="superdesk-workqueue" ng-if="superdesk.flags.workspace" sd-workqueue></div>
    <div sd-item-preview-container></div>
</div>

<div id="main-container" ng-class="superdesk.flags" ng-if="superdesk.flags.workspace === false" ng-view></div>

<div sd-activity-modal></div>
<div sd-login-modal></div>
<div sd-notify></div>
<div sd-activity-chooser></div>

<div sd-item-globalsearch data-repo="repo" data-context="context" class="pull-left"></div>

<div class="hard-error" ng-if="serverStatus">
    <div class="alert alert-error" translate>Superdesk is experiencing network connection issues:/</div>
</div>
