<div ng-repeat="v in item" ng-if="v.childId !== '_items'">
    <div sd-package-item-proxy data-id="v.childId" data-item="v.childData[0]" data-setitem="setitem({selected: selected})" data-mode="mode"></div>
</div>

<div ng-if="id && id !== 'root' && mode === 'tree'" sd-toggle-box data-title="{{id}}" data-open="true">
    <ul>
        <li ng-repeat="child in item.childData">
            <div sd-package-ref data-item="child" data-setitem="setitem({selected: selected})"></div>
        </li>
    </ul>
</div>

<div ng-if="id && id !== 'root' && mode === 'flat'">
    <div ng-repeat="child in item.childData">
        <div sd-package-ref data-item="child" data-setitem="setitem({selected: selected})"></div>
    </div>
</div>
