<div class="user-details-content user-profile user-profile-edit">
<form name="userForm" ng-submit="userForm.$valid && save()">

  <div>
    <button type="submit" class="btn btn-info pull-right" ng-disabled="userForm.$invalid">Save</button>

    <div class="profile-pic">
        <figure>
            <img sd-user-picture data-src="user.Avatar.href" alt="{{ user.FullName }}">
        </figure>

        <a ng-show="" class="change-photo" href="" ng-click="editPicture()" translate>Change Photo</a>
    </div>

    <p class="alert alert-error" ng-show="error" translate>Please fix the issues below.</p>

    <div class="profile-info user-profile-edit">
        <div class="header-info">
            <h2>{{ user.FullName }}</h2>
            <h5>{{ user.UserName }}</h5>
        </div>
        <div class="details-info">
            <div class="details-section">

                <div class="details-section-header" translate>General</div>

                <div sd-info-item ng-show="user.Id">
                  <label for="display-name" translate>full name</label>
                  <input type="text" name="fullName" id="display-name" ng-model="user.FullName" readonly>
                </div>

                <div sd-info-item>
                  <label for="first-name" translate>first name</label>
                  <input type="text" name="firstName" id="first-name" ng-model="user.FirstName">
                </div>

                <div sd-info-item>
                  <label for="last-name" translate>last name</label>
                  <input type="text" name="lastName" id="last-name" ng-model="user.LastName">
                </div>

                <div sd-info-item>
                  <label for="username" translate>username</label>
                  <input type="text" name="userName" id="username" class="info-value info-editable"
                    ng-model="user.UserName"
                    ng-readonly="user.Id"
                    ng-pattern="usernamePattern"
                    sd-user-unique data-unique-field="userName" data-exclude="user"
                    required>
                  <div ng-show="userForm.userName.$error.required" translate>please provide a username.</div>
                  <div ng-show="userForm.userName.$error.unique || error.UserName.conflict" translate>sorry, this username is already taken.</div>
                  <div ng-show="userForm.userName.$error.pattern" translate>please use only letters (a-z), numbers (0-9), dashes (&mdash;), underscores (_), apostrophes (') and periods (.).</div>
                </div>

                <div sd-info-item>
                  <label for="email" translate>email</label>
                  <input type="email" name="email" id="email"
                    ng-model="user.EMail"
                    sd-user-unique data-unique-field="email" data-exclude="user"
                    required>
                  <div ng-show="userForm.email.$error.required" translate>please provide an email address.</div>
                  <div ng-show="userForm.email.$error.email" translate>please provide a valid email address.</div>
                  <div ng-show="userForm.email.$error.unique || error.EMail.conflict" translate>sorry, a user with this email already exists.</div>
                </div>

                <div sd-info-item>
                  <label for="phone" translate>phone number</label>
                  <input type="text" name="phone" id="phone" ng-model="user.PhoneNumber" ng-pattern="phonePattern">
                  <div ng-show="userForm.phone.$error.pattern" translate>please use 9+ numbers (with possible +).</div>
                </div>

                <div sd-info-item class="password" ng-if="!user.Id">
                  <label for="password" translate>password</label>
                  <input type="password" name="password" ng-minlength="5" id="password" ng-model="user.Password" required>
                  <div ng-show="userForm.password.$error.minlength" translate>password must have at least 5 characters.</div>
                </div>

                <div sd-info-item class="password" ng-if="!user.Id">
                  <label for="passwordConfirm" translate>password (again)</label>
                  <input type="password" name="passwordConfirm" ng-minlength="5" id="passwordConfirm" sd-password-confirm ng-model="user.passwordConfirm" data-password="user.Password" required>
                  <div ng-show="userForm.passwordConfirm.$error.confirm" translate>passwords must be same.</div>
                </div>

                <div sd-info-item ng-show="user.Id">
                  <label for="created" translate>member since</label>
                  <span class="info-value" sd-reldate ng-model="user.CreatedOn"></span>
                </div>

                <div sd-info-item ng-show="">
                  <label for="user_role" translate>user role</label>
                  <div sd-select class="info-value" ng-model="user.role" options="role._id as role.name for role in rolesList"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</form>
</div>
