<div class="subnav">
	
	<div class="button-stack">
        <a class="navbtn navbtn-info navbtn-hover" href="" ng-click="intent('list', 'user')">
            <i class="svg-icon-left inverse"></i> <span class="title" translate>Back to Users list</span>
        </a>
    </div>

	<h3 class="page-nav-title">{{ 'Users Profile:'|translate }} <span>{{ user.display_name }}</span></h3>
</div>

<section class="main-section user-profile-page">
	<div class="form-content">
		<div class="user-details-pane" ng-init="selectedTab = 'overview'">
			<header>
		        <ul class="nav nav-tabs">
		            <li ng-class="{active: selectedTab === 'overview'}" ng-click="selectedTab = 'overview'">
		                <button translate>Overview</button>
		            </li>
		            <li ng-class="{active: selectedTab === 'preferences'}" ng-click="$parent.selectedTab = 'preferences'" ng-if="profile">
		                <button translate>Preferences</button>
		            </li>
		            <li ng-class="{active: selectedTab === 'privileges'}" ng-click="selectedTab = 'privileges'">
		                <button translate>Privileges</button>
		            </li>
		        </ul>
		    </header>
		    <div class="content">
		    	<div sd-user-edit data-user="user" ng-if="selectedTab === 'overview'"></div>
		    	<div sd-user-preferences ng-if="selectedTab === 'preferences'"></div>
		    	<div sd-user-privileges data-user="user" ng-if="selectedTab === 'privileges'"></div>
		    </div>
		</div>
	</div>
	<!-- 
	<div class="other-content" sd-beta>
		<div class="tablist-container">
			<ul>
				<li class="active">Activity log</li>
				<li>Analytics</li>
				<li>Contributions</li>
				<li>Payment</li>
				<li>Biography</li>
			</ul>
		</div>
		<div class="tabcontent-container">
			<div class="profile-activity-container" data-user="user"></div>
		</div>
	</div>
	 -->
	<div class="other-content">
		<div sd-user-activity data-user="user"></div>
	</div>
</section>