<div class="subnav">
	
	<div class="button-stack">
        <a class="navbtn navbtn-info navbtn-hover" href="" ng-click="intent('list', 'user')">
            <i class="svg-icon-left inverse"></i> <span class="title" translate>Back to Users list</span>
        </a>
    </div>

	<h3 class="page-nav-title">{{ 'Users Profile:'|translate }} <span>{{ user.display_name }}</span></h3>
</div>

<section class="main-section user-profile-page">
	<div class="form-content">
		<div class="user-details-pane" ng-init="overview = true">
			<header>
		        <ul class="nav nav-tabs">
		            <li ng-class="{active: overview}" ng-click="overview = true">
		                <button translate>Overview</button>
		            </li>
		            <li ng-class="{active: !overview}" ng-click="overview = false">
		                <button translate>Preferences</button>
		            </li>
		        </ul>
		    </header>
		    <div class="content">
		    	<div sd-user-edit data-user="user" ng-if="overview"></div>
				<div class="preferences form-flat" ng-if="!overview" ng-init="val = true"> 
					<div class="title">Notification settings</div>
					<ul>
						<li class="fieldset">
							<div class="legend">User mentions</div>
							<div sd-info-item>
			                  <label translate>Send alert</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
			                <div sd-info-item>
			                  <label translate>Send email</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
			                <div sd-info-item>
			                  <label translate>Show in activity stream</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
						</li>
						<li class="fieldset">
							<div class="legend">User mentions</div>
							<div sd-info-item>
			                  <label translate>Send alert</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
			                <div sd-info-item>
			                  <label translate>Send email</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
			                <div sd-info-item>
			                  <label translate>Show in activity stream</label>
			                  <span sd-switch ng-model="val"></span>
			                </div>
						</li>
					</ul>
				</div>
		    </div>
		</div>
	</div>
	<!-- 
	<div class="other-content" sd-beta>
		<div class="tablist-container">
			<ul>
				<li class="active">Activity log</li>
				<li>Analytics</li>
				<li>Contributions</li>
				<li>Payment</li>
				<li>Biography</li>
			</ul>
		</div>
		<div class="tabcontent-container">
			<div class="profile-activity-container" data-user="user"></div>
		</div>
	</div>
	 -->
	<div class="other-content">
		<div sd-user-activity data-user="user"></div>
	</div>
</section>