<div class="user-profile user-profile-edit">
  <form name="userForm">
  <div sd-upload-modal></div>

  <div ng-controller="UserDetailCtrl">
    <button class="btn btn-info pull-right" ng-click="save()" ng-disabled="userForm.$invalid">Save</button>

    <div class="profile-pic">
        <figure>
            <img sd-user-picture data-src="user.Avatar.href" alt="{{ user.FullName }}">
        </figure>

        <a ng-show="" class="change-photo" href="" ng-click="editPicture()" translate>Change Photo</a>
    </div>

    <div class="profile-info user-profile-edit">
        <div class="header-info">
            <h2>{{ user.FullName }}</h2>
            <h5>{{ user.UserName }}</h5>
        </div>
        <div class="details-info">
            <div class="details-section">

                <div class="details-section-header" translate>General</div>

                <div sd-info-item>
                  <label for="display-name" translate>full name</label>
                  <input type="text" name="fullName" id="display-name" ng-model="user.FullName">
                </div>

                <div sd-info-item>
                  <label for="first-name" translate>first name</label>
                  <input type="text" name="firstName" id="first-name" ng-model="user.FirstName">
                </div>

                <div sd-info-item>
                  <label for="last-name" translate>last name</label>
                  <input type="text" name="lastName" id="last-name" ng-model="user.LastName">
                  <div ng-show="userForm.lastName.$error.minlength || userForm.lastName.$error.maxlength" translate>last name must be 2-20 characters.</div>
                </div>

                <div sd-info-item>
                  <label for="username" translate>username</label>
                  <input type="text" name="userName" id="username" class="info-value info-editable" ng-model="user.UserName" ng-readonly="user.Id" required sd-user-name>
                  <div ng-show="userForm.userName.$error.minlength || userForm.userName.$error.maxlength" translate>username must be 4-20 characters.</div>
                  <div ng-show="userForm.userName.$error.usernameavailable" translate>username is already taken.</div>
                </div>

                <div sd-info-item>
                  <label for="email" translate>email</label>
                  <input type="email" name="email" id="email" ng-model="user.EMail" required>
                  <div ng-show="userForm.email.$error.email" translate>email address must be valid.</div>
                </div>

                <div sd-info-item>
                  <label for="phone" translate>phone number</label>
                  <input type="text" name="phone" id="phone" ng-model="user.PhoneNumber">
                </div>

                <div sd-info-item class="password" ng-show="!user.Id">
                  <label for="password" translate>password</label>
                  <input type="password" name="password" ng-minlength="6" ng-maxlength="20" id="password" ng-model="user.password">
                  <div ng-show="userForm.password.$error.minlength || userForm.password.$error.maxlength" translate>password must be 6-20 characters.</div>
                </div>

                <div sd-info-item>
                  <label for="created" translate>member since</label>
                  <span class="info-value" sd-reldate ng-model="user.CreatedOn"></span>
                </div>

                <div sd-info-item ng-show="">
                  <label for="user_role" translate>user role</label>
                  <div sd-select class="info-value" ng-model="user.role" options="role._id as role.name for role in rolesList"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
  </form>
</div>
