<form name="userForm" class="flat" ng-submit="userForm.$valid && save()">
    <div class="action-bar clearfix" ng-class="{show:dirty}">
        <button id="save-edit-btn" type="submit" class="btn btn-info pull-right" ng-disabled="userForm.$invalid || !dirty" translate>Save</button>
        <button id="cancel-edit-btn" type="button" class="btn pull-right" ng-click="cancel()" ng-disabled="!dirty" translate>Cancel</button>
    </div>

    <div class="profile-pic">
        <figure class="avatar">
            <img sd-user-avatar data-src="user.picture_url" alt="{{ user.FullName }}">
        </figure>
        <span class="disabled-label" ng-if="!_active" translate>disabled</span>
        <a href="" class="change-photo" ng-click="editPicture()" translate>Change Photo</a>
    </div>

    <div class="profile-info editmode">
        <div class="header-info">
            <h2>{{ user.display_name }}</h2>
            <h5>{{ user.username }}</h5>
            <div class="active" ng-if="!profile && user._id && !dirty" tooltip="{{ _active ? 'Disable user' : 'Enable user' | translate }}" tooltip-placement="left">
              <span sd-switch ng-model="_active" ng-click="toggleStatus(_active)"></span>
            </div>
        </div>
        <div class="error-holder">
          <p class="alert alert-error" ng-show="error" translate>Please fix the issues below.</p>
        </div>
        
        <div class="details-info form-flat" ng-class="{shifted : error}">
            <div class="title">{{ 'General' | translate }} <span class="required-info" translate>* mandatory fields</span></div>
            <fieldset class="label-light">
                <div sd-info-item ng-show="user._id">
                  <label for="display-name" translate>full name</label>
                  <input type="text" name="fullName" id="display-name" ng-model="user.display_name" readonly>
                </div>

                <div sd-info-item>
                  <label for="first-name" translate>first name</label>
                  <input type="text" name="first_name" id="first-name" ng-model="user.first_name" required ng-readonly="user._readonly">
                  <i ng-show="userForm.first_name.$error.required" class="required-asteriks">*</i>
                </div>

                <div sd-info-item>
                  <label for="last-name" translate>last name</label>
                  <input type="text" name="last_name" id="last-name" ng-model="user.last_name" required ng-readonly="user._readonly">
                  <i ng-show="userForm.last_name.$error.required" class="required-asteriks">*</i>
                </div>

                <div sd-info-item>
                  <label for="username" translate>username</label>
                  <input type="text" name="username" id="username"
                    ng-model="user.username"
                    ng-readonly="user._id"
                    ng-pattern="usernamePattern"
                    sd-user-unique data-unique-field="username" data-exclude="user"
                    required>
                    <i ng-show="userForm.username.$error.required" class="required-asteriks">*</i>
                  <div ng-show="userForm.username.$error.unique || error.username.conflict" sd-valid-error translate>sorry, this username is already taken.</div>
                  <div ng-show="userForm.username.$error.pattern" sd-valid-info>
                    <i class="icon-info-sign-warning"></i>
                    <span translate>please use only letters (a-z), numbers (0-9), dashes (&mdash;), underscores (_), apostrophes (') and periods (.)</span>
                  </div>
                </div>

                <div sd-info-item class="password" ng-if="features.reset_user_password && user._id && !profile && _active" id="password-reset-trigger">
                  <label translate>password</label>
                  <i class="change-btn sd-blue" ng-click="show.reset_password = !show.reset_password" ng-show="!show.reset_password">reset password</i>
                </div>

                <div sd-info-item class="password" ng-if="features.reset_user_password && user._id && profile" id="password-change-trigger">
                  <label translate>password</label>
                  <i class="change-btn sd-blue" ng-click="show.change_password = !show.change_password" ng-show="!show.change_password">change password</i>
                </div>

                <div sd-info-item>
                  <label for="email" translate>email</label>
                  <input type="email" name="email" id="email"
                    ng-model="user.email"
                    sd-user-unique data-unique-field="email" data-exclude="user"
                    ng-readonly="user._readonly"
                    required>
                    <i ng-show="userForm.email.$error.required" class="required-asteriks">*</i>
                  <div ng-show="userForm.email.$error.email || error.email.format" sd-valid-info>
                    <i class="icon-info-sign-warning"></i>
                    <span translate>please provide a valid email address</span>
                  </div>
                  <div ng-show="userForm.email.$error.unique || error.email.unique" sd-valid-error translate>sorry, a user with this email already exists</div>
                </div>

                <div sd-info-item class="user_type" ng-if="privileges.users">
                  <label for="user_type" translate>administrator</label>
                  <input type="checkbox" ng-true-value="'administrator'" ng-false-value="'user'" ng-model="user.user_type" name="user_type" id="user_type">
                </div>

                <div sd-info-item class="user_role" ng-if="privileges.users">
                  <label for="user_role" translate>role</label>
                  <select ng-model="user.role" name="user_role" id="user_role" ng-options="role._id as role.name for role in roles"></select>
                </div>

                <div sd-info-item>
                  <label for="phone" translate>phone number</label>
                  <input type="text" name="phone" id="phone" ng-model="user.phone" ng-pattern="phonePattern" ng-readonly="user._readonly">
                  <div ng-show="userForm.phone.$error.pattern || error.phone.format" sd-valid-info>
                    <i class="icon-info-sign-warning"></i>
                    <span translate>please provide number in international format</span>
                  </div>
                </div>

                <div sd-info-item ng-show="user._id">
                  <label for="created" translate>member since</label>
                  <span class="info-value" sd-reldate ng-model="user._created"></span>
                </div>

                <div sd-info-item ng-show="">
                  <label for="user_role" translate>user role</label>
                  <div sd-select class="info-value" ng-model="user.role" options="role._id as role.name for role in rolesList"></div>
                </div>
            </fieldset>
        </div>
    </div>
</form>


<div sd-reset-password class="password-popup mini-modal" ng-if="features.reset_user_password && show.reset_password && user._id" ng-class="{shifted : error}">
    <div class="title">Reset password</div>
    <div class="close" ng-click="show.reset_password = false">
      <i class="icon-close-small"></i>
    </div>
    <div class="content">
        <p translate>Do you want to reset the password for user {{ user.full_name }} ?</p>
    </div>
    <div class="footer">
      <button class="btn btn-small" ng-click="show.reset_password = false" translate>Cancel</button>
      <button class="btn btn-info btn-small" ng-click="resetPassword()" translate>Reset password</button>
    </div>
</div>


<div sd-change-password class="password-popup mini-modal" ng-if="features.reset_user_password && show.change_password && user._id" ng-class="{shifted : error}">
    <div class="title">Change password</div>
    <div class="close" ng-click="show.change_password = false">
      <i class="icon-close-small"></i>
    </div>
    <form name="changePasswordForm">
      <div class="content">
          
        <div class="field">
          <label translate>current</label>
          <input name="old" type="password" ng-model="oldPwd" required>
          <p sd-valid-error ng-show="oldPasswordInvalid">sorry, but this is not the original password.</p>
        </div>

        <div class="field">
          <label translate>new</label>
          <input name="new" type="password" ng-model="newPwd" required ng-minlength="5">
          <p sd-valid-error ng-show="changePasswordForm.new.$error.minlength">please provide password at least 5 characters long.</p>
        </div>

        <div class="field">
          <label translate>confirm</label>
          <input name="confirm" type="password" ng-model="_confirm" required
            sd-password-confirm ng-model="_confirm" data-password="newPwd">
          <p sd-valid-error ng-show="changePasswordForm.confirm.$error.confirm">confirm doesn't match new password yet.</p>
        </div>
          
      </div>
      <div class="foooter">
          <button class="btn btn-small" ng-click="show.change_password = false" translate>Cancel</button>
          <button class="btn btn-info btn-small"
            ng-click="changePasswordForm.$valid && changePassword(oldPwd, newPwd)"
            ng-disabled="changePasswordForm.$invalid"
            translate>Save password</button>
      </div>
    </form>
</div>
