<div class="subnav subnav-fixed">

    <h3 class="page-nav-title" translate>Users</h3>

    <div class="button-stack pull-right">
        <a class="navbtn navbtn-info navbtn-hover" href="" ng-click="createUser()">
            <i class="svg-icon-add inverse"></i> <span class="title" translate>Add new<span>
        </a>

        <div class="dropdown navbtn">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="svg-icon-settings"></i></a>
        </div>
    </div>
</div>

<section class="main-section users">
    <div class="users-subnav">

        <div class="flat-searchbar" sd-trigger-search>
            <div class="search-handler">
                <div class="trigger-icon"></div>
                <input type="text" placeholder="{{ 'Search'|translate }}" sd-search-param="q">
            </div>
            <div class="separator-handler"></div>
        </div>

        <div sd-pagination data-cursor="users"></div>
    </div>

    <div class="preview-layout">
        <div class="list-pane">

            <div class="users-table">

                <ul class="table-newest"
                    sd-user-list
                    data-users="createdUsers"
                    data-selected="selected.user"
                    ng-show="createdUsers.length"
                ></ul>

                <ul class="table-body"
                    sd-user-list
                    data-users="users._items"
                    data-selected="selected.user"
                ></ul>

            </div>
        </div>

        <div class="preview-pane">
            <div class="actions" ng-if="selected.user">
                <a ng-href="#/users/{{ selected.user.Id }}" class="btn btn-light pull-left" ng-show="selected.user.href" translate>View full profile</a>
                <div class="close" ng-click="selected.user = null" ng-show="selected.user"><i class="icon-remove"></i></div>
            </div>

            <div sd-user-details-pane ng-if="selected.user">
                <div id="user-profile-edit" sd-user-edit data-user="selected.user" data-onsave="render(user)"></div>
            </div>
        </div>
    </div>
</setion>