<div class="subnav subnav-fixed">
    
    <h3 class="page-nav-title" translate>Users</h3>
    
    <div class="button-stack pull-right">
        <a class="navbtn navbtn-info navbtn-hover" href="" sd-with-params ng-click="createUser()">
            <i class="svg-icon-add inverse"></i>
            <span class="title" translate>Add new<span>
        </a>
        <div class="dropdown navbtn">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="svg-icon-settings"></i>
            </a>
            <ul class="dropdown-menu sf-dropdown-simple sf-right">
                <li><a href="">Settings 1</a></li>
                <li><a href="">Settings 2</a></li>
                <li><a href="">Settings 3</a></li>
            </ul>
        </div>
    </div>
   
</div>

<section class="main-section users">
    <div class="users-subnav">

        <div class="flat-searchbar" sd-trigger-search>
            <div class="search-handler">
                <div class="trigger-icon"></div>
                <input type="text" placeholder="{{ 'Search'|translate }}" ng-model="search" ng-change="locationParams.set('search', search)" sd-debounce>
            </div>
            <div class="separator-handler"></div>
        </div>
       

        <div class="btn-group multiple-action">
            
            <button ng-disabled="!(users._items|any:'_checked')" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'Multiple action' | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu sf-dropdown sf-right">
                <li><a href="" ng-click="deleteChecked();"><i class="icon-trash"></i> {{ 'Delete'|translate }}</a></li>
            </ul>
        </div>
 
        
        <div sd-pagination data-adapter="users"></div>
    </div>
    <div class="preview-layout">
        <div class="list-pane">

            <div class="users-table">
                <ul class="table-header">
                    <li>
                        <div class=" chckbx">
                            <input sd-check-all ng-model="users._items">
                        </div>
                        <div class="avatar"></div>
                        
                        <div class="row-wrapper" sd-col-width>
                            <div class="name">
                                <span
                                    sd-sort
                                    data-label="{{ 'Name'|translate }}"
                                    data-field="display_name">
                                </span>
                            </div>
                            <div class="username">
                                <span
                                    sd-sort
                                    data-label="{{ 'Username'|translate }}"
                                    data-field="username">
                                </span>
                            </div>
                            <div class="role">
                                <span
                                    sd-sort
                                    data-label="{{ 'User Role'|translate }}"
                                    data-field="user_role">
                                </span>
                            </div>
                            <div class="email">
                                <span
                                    sd-sort
                                    data-label="{{ 'Email'|translate }}"
                                    data-field="email">
                                </span>
                            </div>
                            <div class="created">
                                <span
                                    sd-sort
                                    data-label="{{ 'Created'|translate }}"
                                    data-field="created">
                                </span>
                            </div>
                        </div>
                        <div class="action">

                        </div>
                    </li>
                </ul>

                <ul class="table-newest" ng-hide="true">
                    
                </ul>
                <ul class="table-body">
                    <li ng-repeat="user in users._items" ng-click="preview(user)" ng-class="{selected: user._checked}">
                        <div class="chckbx">
                            <input sd-check ng-model="user._checked">
                        </div>
                        <div class="avatar">
                            <figure><img sd-user-picture data-src="user.picture_url"></figure>
                        </div>
                        <div class="row-wrapper" sd-col-width>
                            
                            <div class="name">{{ user.display_name }}</div>
                            <div class="username">{{ user.username }}</div>
                            <div class="role">{{ roles[user.role].name }}</div>
                            <div class="email">{{ user.email }}</div>
                            <div class="created">{{ user.created | reldate}}</div>
                        </div>
                        <div class="action">
                            <ul class="item-functions" 
                                sd-activity-list
                                data-data="user"
                                data-type="user"
                                data-action="{{ superdesk.ACTION_EDIT }}">
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="preview-pane">
            <div class="actions" ng-if="selectedUser">
                <a href="#/users/{{selectedUser._id}}" class="btn btn-light pull-left" ng-show="selectedUser._id" translate>View full profile</a>
                <div class="close" ng-click="closePreview()"><i class="icon-remove"></i></div>
            </div>
            <div sd-user-details-pane data-user="selectedUser"></div>
        </div>
    </div>
</setion>