<div class="privileges">
	<div class="header">
		<button class="btn btn-info pull-right" ng-click="saveAll(rolesForm)" ng-disabled="!rolesForm.$dirty" translate>Save</button>
	</div>
	<div>
		<form name="rolesForm">
			<div class="roles-list" ng-if="roles">
				
				<div class="action-line initial">
					<div class="td name"></div>
					<div ng-repeat="role in roles" class="td role-field">
						{{role.name}}<span class="label default" ng-if="role.is_default">default</span>
					</div>
					<div class="td blank"></div>
				</div>
				<div ng-repeat="p in privileges | orderBy:name" class="action-line">
					<div class="td name">{{p.label}}</div>
					<div ng-repeat="role in roles" class="td role-field">
						<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="role.privileges[p.name]">
					</div>
					<div class="td blank"></div>
				</div>
			</div>
		</form>
	</div>
</div>