<div sd-settings-view ng-init="rolesTab = true">

	<ul class="nav nav-tabs" >
        <li ng-class="{active: rolesTab}" class="active">
            <button ng-click="rolesTab = true">Roles</button>
        </li>
        <li ng-class="{active: !rolesTab}">
            <button ng-click="rolesTab = false">Privileges</button>
        </li>
    </ul>
    
    <div class="settings-tab-content user-roles">
    	<div sd-user-roles ng-if="rolesTab"></div>
    	<div sd-roles-privileges ng-if="!rolesTab"></div>
    </div>
    
</div>
