<form name="userPrivileges">
	<div class="action-bar clearfix" ng-class="{show: userPrivileges.$dirty }">
	    <button class="btn btn-info pull-right" ng-disabled="!userPrivileges.$dirty" ng-click="save(userPrivileges)" translate>Save</button>
	</div>
	<div class="privileges form-flat"> 
		<div class="title">User privileges</div>
		<ul class="fieldset">
			<li class="field" ng-repeat="p in privileges | orderBy:name">
				<label>{{ p.label }}</label>
				<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="role.permissions[p.name]" ng-disabled="true" ng-if="role.permissions[p.name]">
				<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="user.privileges[p.name]" ng-if="!role.permissions[p.name]">
			</li>
		</ul>
	</div>
</form>