<form name="userPrefs">
<div class="action-bar clearfix" ng-class="{show: userPrefs.$dirty }">
    <button class="btn btn-info pull-right" ng-disabled="!userPrefs.$dirty" ng-click="save()" translate>Save</button>
    <button class="btn pull-right" ng-click="cancel()" ng-disabled="!userPrefs.$dirty" translate>Cancel</button>
</div>
<div class="preferences form-flat"ng-init="val = true"> 
	<div class="title">Notification settings</div>
	<ul>
		<li class="fieldset" ng-repeat="p in preferences">
			<div class="legend">{{ p.category }}</div>
			<div sd-info-item >
              <label translate>{{ p.label }}</label>
              <span sd-switch ng-model="p.enabled"></span>
            </div>
		</li>
	</ul>
</div>
</form>