<div class="side-preview" ng-class="{active: item._id}">
    <div class="header">
        <ul class="info-list pull-left">
            <li>{{ 'Slug:' | translate }} <span>{{ item.slugline }}</span></li>
            <li ng-show="item.byline">{{ 'By:' | translate }} <span>{{ item.byline }}</span></li>
        </ul>
        <div ng-show="item.type == 'text'" class="word-count pull-right"><i>{{ item.body_html | wordCount }}</i> <span>words</span></div>
    </div>
    <div class="content" sd-shadow>
        <p class="date-info">{{ 'Created' | translate }} {{ item.firstcreated|reldate }}</p>
        <p class="title">{{ item.headline }}</p>
        <div class="core-content">
            <!-- picture preview -->
            <figure class="picture-preview" ng-show="item.type == 'picture'">
                <img sd-image-loader load-src="{{ item.renditions.viewImage.href }}" />
            </figure>

            <div class="text" ng-show="item.body_html" sd-html-preview="item.body_html"></div>
        </div>
    </div>
</div>