<div class="user-details-pane open" style="top: 50px" ng-if="user">

<a href="#/users/" class="close" sd-with-params><i class="icon-remove"></i></a>
<div class="user-details-header"></div>

<div class="user-details-content tab-content">
    
<div class="tab-pane user-profile user-profile-edit clearfix active" id="userd-profile-edit">
          <header>
                <figure class="small-user-avatar">
                  <img ng-src="{{user.picture_url}}">
                </figure>
                <button class="btn btn-info pull-right" ng-click="save()">{{ 'Save'|translate }}</button>
          </header>
          <div class="details-info">
              <div class="details-section">
                <div class="details-section-header">{{'General'|translate}}</div>
                <div class="info-item"> 
                  <span class="info-label">{{'User Name'|translate}}</span>
                  <span class="info-value info-editable"><input ng-model="user.username"></span>
                </div>
                <div class="info-item">
                  <span class="info-label">{{'First Name'|translate}}</span>
                  <span class="info-value info-editable"><input ng-model="user.first_name"></span>
                </div>
                <div class="info-item">
                  <span class="info-label">{{'Last Name'|translate}}</span>
                  <span class="info-value info-editable"><input ng-model="user.last_name"></span>
                </div>
                <div class="info-item" ng-if="!user._id">
                  <span class="info-label">{{'Password'|translate}}</span>
                  <span class="info-value info-editable"><input type="password" ng-model="user.password"></span>
                </div>
              </div>
              <div class="details-section">
                <div class="details-section-header">
                  {{ 'Contact Information'|translate }}
                </div>
                <div class="info-item">
                  <span class="info-label">{{'Email'|translate}}</span>
                  <span class="info-value info-editable"><input ng-model="user.email"></span>
                </div>
              </div>
          </div>

        </div>
</div>

</div>