<div class="subnav subnav-fixed">
    <input type="text" name="searchbar" class="searchbar-container" style="width:500px;" placeholder="Search">
    <a class="btn btn-medium btn-info pull-right" href="#"><span class="medium-icon-add"></span> Add New User</a>
</div>

<div class="tab-background-container" style="top: 50px;">
    <div class="tab-content user-tabs">
        <div class="tab-pane active" id="active_users">
            <div class="tab-submenu">
                <div class="btn-group pull-right" style="margin-left:20px;">
                    <a class="btn"><i class="icon-chevron-left"></i></a>
                    <a class="btn"><i class="icon-chevron-right"></i></a>
                </div>
                <div class="page-info pull-right">
                    Page <input type="text" value="1"> of 103
                </div>          
            </div>

            <div class="tab-table">
                <table class="sf_table user-table">
                    <thead>
                        <tr>
                            <th class="chckbx_col"><input type="checkbox" name="all"></th>
                            <th class="avatar_col"></th>
                            <th class="name_col">Name</th>
                            <th class="username_col">Username</th>
                            <th class="email_col resp-hide">Email</th>
                            <th class="resp-hide">User group</th>
                            <th class="small_col resp-hide">Contributor</th>
                            <th class="small_col resp-hide">Member since</th>
                            <th class="action_col">
                                <div class="dropdown" style="text-align:right;" >
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-switches"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu sf-dropdown-simple pull-right" id="columns-switches">
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1" checked="checked"> Avatar</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Name</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Username</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Email</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> User Group</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Contributor</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Member Since</li>
                                        <li><input type="checkbox" class="sf-checkbox" set-bg="1"> Permissions</li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>